In [82]:
import pandas as pd
import numpy as np
import re

In [83]:
pd.set_option('display.max_rows', None)

In [84]:
#df=pd.read_csv("./coronanet_release.csv", sep=",",usecols=[0,1,2,3,4,5,7,8,9,10,13,18,19])

In [85]:
df=pd.read_csv("./coronanet_release.csv", sep=",",usecols=[1,2,3,4,5,7,8,9,10,13,18,19])

In [86]:
df.head(50)

,policy_id,entry_type,correct_type,update_type,update_level,date_announced,date_start,date_end,country,init_country_level,type,type_sub_cat
0,2975738,new_entry,original,NaN,NaN,2020-03-06,2020-03-06,NaN,Afghanistan,National,Anti-Disinformation Measures,NaN
1,7024226,new_entry,original,NaN,NaN,2020-03-16,2020-03-16,NaN,Afghanistan,National,Anti-Disinformation Measures,NaN
2,889484,new_entry,original,NaN,NaN,2020-05-28,2020-05-28,NaN,Afghanistan,National,Anti-Disinformation Measures,NaN
3,129322,new_entry,original,NaN,NaN,2020-06-28,2020-06-28,NaN,Afghanistan,National,Anti-Disinformation Measures,NaN
4,6721435,new_entry,correction,NaN,NaN,2020-03-09,2020-03-09,NaN,Afghanistan,Municipal,Closure and Regulation of Schools,Preschool or childcare facilities (generally f...
5,6721435,new_entry,correction,NaN,NaN,2020-03-09,2020-03-09,NaN,Afghanistan,Municipal,Closure and Regulation of Schools,Primary Schools (generally for children ages 1...
6,6721435,new_entry,correction,NaN,NaN,2020-03-09,2020-03-09,NaN,Afghanistan,Municipal,Closure and Regulation of Schools,Secondary Schools (generally for children ages...
7,6018486,new_entry,original,NaN,NaN,2020-03-11,2020-03-11,NaN,Afghanistan,Provincial,Closure and Regulation of Schools,Primary Schools (generally for children ages 1...
8,6018486,new_entry,original,NaN,NaN,2020-03-11,2020-03-11,NaN,Afghanistan,Provincial,Closure and Regulation of Schools,Secondary Schools (generally for children ages...
9,6018486,new_entry,original,NaN,NaN,2020-03-11,2020-03-11,NaN,Afghanistan,Provincial,Closure and Regulation of Schools,Higher education institutions (i.e. degree gra...
10,3558044,new_entry,correction,NaN,NaN,2020-03-14,2020-03-14,2020-04-18,Afghanistan,National,Closure and Regulation of Schools,Preschool or childcare facilities (generally f...
11,3558044,new_entry,correction,NaN,NaN,2020-03-14,2020-03-14,2020-04-18,Afghanistan,National,Closure and Regulation of Schools,Primary Schools (generally for children ages 1...
12,3558044,new_entry,correction,NaN,NaN,2020-03-14,2020-03-14,2020-04-18,Afghanistan,National,Closure and Regulation of Schools,Secondary Schools (generally for children ages...
13,3558044,new_entry,correction,NaN,NaN,2020-03-14,2020-03-14,2020-04-18,Afghanistan,National,Closure and Regulation of Schools,Higher education institutions (i.e. degree gra...
14,1212064,new_entry,correction,NaN,NaN,2020-03-14,2020-03-14,2020-04-21,Afghanistan,National,Closure and Regulation of Schools,Preschool or childcare facilities (generally f...
15,1212064,new_entry,correction,NaN,NaN,2020-03-14,2020-03-14,2020-04-21,Afghanistan,National,Closure and Regulation of Schools,Primary Schools (generally for children ages 1...
16,1212064,new_entry,correction,NaN,NaN,2020-03-14,2020-03-14,2020-04-21,Afghanistan,National,Closure and Regulation of Schools,Secondary Schools (generally for children ages...
17,1212064,new_entry,correction,NaN,NaN,2020-03-14,2020-03-14,2020-04-21,Afghanistan,National,Closure and Regulation of Schools,Higher education institutions (i.e. degree gra...
18,3558044,update,original,Change of Policy,Strengthening,2020-03-14,2020-03-14,2020-04-21,Afghanistan,National,Closure and Regulation of Schools,Preschool or childcare facilities (generally f...
19,3558044,update,original,Change of Policy,Strengthening,2020-03-14,2020-03-14,2020-04-21,Afghanistan,National,Closure and Regulation of Schools,Primary Schools (generally for children ages 1...
20,3558044,update,original,Change of Policy,Strengthening,2020-03-14,2020-03-14,2020-04-21,Afghanistan,National,Closure and Regulation of Schools,Secondary Schools (generally for children ages...
21,3558044,update,original,Change of Policy,Strengthening,2020-03-14,2020-03-14,2020-04-21,Afghanistan,National,Closure and Regulation of Schools,Higher education institutions (i.e. degree gra...
22,2231982,new_entry,original,NaN,NaN,2020-04-11,2020-04-18,NaN,Afghanistan,National,Closure and Regulation of Schools,Primary Schools (generally for children ages 1...
23,2231982,new_entry,original,NaN,NaN,2020-04-11,2020-04-18,NaN,Afghanistan,National,Closure and Regulation of Schools,Secondary Schools (generally for children ages...
24,2231982,new_entry,original,NaN,NaN,2020-04-11,2020-04-18,NaN,Afghanistan,National,Closure and Regulation of Schools,Higher education institutions (i.e. degree gra...
25,1212064,update,original,Change of Policy,Strengthening,2020-06-03,2020-04-23,2020-05-23,Afghanistan,National,Closure and Regulation of Schools,Preschool or childcare facilities (generally f...
26,1212064,update,original,Change of Policy,Strengthening,2020-06-03,2020-04-23,2020-05-23,Afghanistan,National,Closure and Regulation of Schools,Primary Schools (generally for children ages 1...
27,1212064,update,original,Change of Policy,Strengthening,2020-06-03,2020-04-23,2020-05-23,Afghanistan,National,Closure and Regulation of Schools,Secondary Schools (generally for children ages...
28,1212064,update,original,Change of Policy,Strengthening,2020-06-03,2020-04-23,2020-05-23,Afghanistan,National,Closure and Regulation of Schools,Higher education institutions (i.e. degree gra...
29,2231982,update,original,Change of Policy,NaN,2020-05-07,2020-05-07,NaN,Afghanistan,National,Closure and Regulation of Schools,Primary Schools (generally for children ages 1...
30,2231982,update,original,Change of Policy,NaN,2020-05-07,2020-05-07,NaN,Afghanistan,National,Closure and Regulation of Schools,Secondary Schools (generally for children ages...
31,2231982,update,original,Change of Policy,NaN,2020-05-07,2020-05-07,NaN,Afghanistan,National,Closure and Regulation of Schools,Higher education institutions (i.e. degree gra...
32,1212064,update,original,Change of Policy,Strengthening,2020-06-07,2020-06-07,2020-09-08,Afghanistan,National,Closure and Regulation of Schools,Preschool or childcare facilities (generally f...
33,1212064,update,original,Change of Policy,Strengthening,2020-06-07,2020-06-07,2020-09-08,Afghanistan,National,Closure and Regulation of Schools,Primary Schools (generally for children ages 1...
34,1212064,update,original,Change of Policy,Strengthening,2020-06-07,2020-06-07,2020-09-08,Afghanistan,National,Closure and Regulation of Schools,Secondary Schools (generally for children ages...
35,1212064,update,original,Change of Policy,Strengthening,2020-06-07,2020-06-07,2020-09-08,Afghanistan,National,Closure and Regulation of Schools,Higher education institutions (i.e. degree gra...
36,1939072,new_entry,original,NaN,NaN,2020-08-04,2020-08-05,NaN,Afghanistan,National,Closure and Regulation of Schools,Higher education institutions (i.e. degree gra...
37,1212064,update,correction,NaN,Strengthening,2020-08-04,2020-08-05,2020-09-08,Afghanistan,National,Closure and Regulation of Schools,Preschool or childcare facilities (generally f...
38,1212064,update,correction,NaN,Strengthening,2020-08-04,2020-08-05,2020-09-08,Afghanistan,National,Closure and Regulation of Schools,Primary Schools (generally for children ages 1...
39,1212064,update,correction,NaN,Strengthening,2020-08-04,2020-08-05,2020-09-08,Afghanistan,National,Closure and Regulation of Schools,Secondary Schools (generally for children ages...
40,1212064,update,correction,NaN,Strengthening,2020-08-04,2020-08-05,2020-09-08,Afghanistan,National,Closure and Regulation of Schools,Higher education institutions (i.e. degree gra...
41,1369540,new_entry,original,NaN,NaN,2020-08-11,2020-08-22,NaN,Afghanistan,National,Closure and Regulation of Schools,Primary Schools (generally for children ages 1...
42,1369540,new_entry,original,NaN,NaN,2020-08-11,2020-08-22,NaN,Afghanistan,National,Closure and Regulation of Schools,Secondary Schools (generally for children ages...
43,6721435,update,original,End of Policy,NaN,2020-08-11,2020-08-22,NaN,Afghanistan,Municipal,Closure and Regulation of Schools,Preschool or childcare facilities (generally f...
44,6721435,update,original,End of Policy,NaN,2020-08-11,2020-08-22,NaN,Afghanistan,Municipal,Closure and Regulation of Schools,Primary Schools (generally for children ages 1...
45,6721435,update,original,End of Policy,NaN,2020-08-11,2020-08-22,NaN,Afghanistan,Municipal,Closure and Regulation of Schools,Secondary Schools (generally for children ages...
46,6408830,new_entry,original,NaN,NaN,2020-08-24,2020-08-24,NaN,Afghanistan,Provincial,Closure and Regulation of Schools,Primary Schools (generally for children ages 1...
47,6408830,new_entry,original,NaN,NaN,2020-08-24,2020-08-24,NaN,Afghanistan,Provincial,Closure and Regulation of Schools,Secondary Schools (generally for children ages...
48,452783,new_entry,original,NaN,NaN,2020-08-24,2020-08-24,NaN,Afghanistan,Provincial,Closure and Regulation of Schools,Primary Schools (generally for children ages 1...
49,452783,new_entry,original,NaN,NaN,2020-08-24,2020-08-24,NaN,Afghanistan,Provincial,Closure and Regulation of Schools,Secondary Schools (generally for children ages...

In [49]:
df.columns

Index(['policy_id', 'entry_type', 'correct_type', 'update_type',
       'update_level', 'date_announced', 'date_start', 'date_end', 'country',
       'init_country_level', 'type', 'type_sub_cat'],
      dtype='object')

# ANalysis Part

In [50]:
#Number of unique events
print(df["type"].unique())
print(df["type"].nunique())

['Anti-Disinformation Measures' 'Closure and Regulation of Schools'
 'Curfew' 'Declaration of Emergency' 'External Border Restrictions'
 'Health Monitoring' 'Health Resources' 'Health Testing' 'Hygiene'
 'Internal Border Restrictions' 'Lockdown'
 'New Task Force, Bureau or Administrative Configuration'
 'Other Policy Not Listed Above' 'Public Awareness Measures' 'Quarantine'
 'Restriction and Regulation of Businesses'
 'Restriction and Regulation of Government Services'
 'Restrictions of Mass Gatherings' 'Social Distancing' 'COVID-19 Vaccines']
20

In [51]:
#Number of uniique countries
print(df["country"].unique())
#df[df["Event name"].isin(['airwaytime'])]

['Afghanistan' 'Albania' 'Algeria' 'Andorra' 'Angola'
 'Antigua and Barbuda' 'Argentina' 'Armenia' 'Australia' 'Austria'
 'Azerbaijan' 'Bahamas' 'Bahrain' 'Bangladesh' 'Barbados' 'Belarus'
 'Belgium' 'Belize' 'Benin' 'Bhutan' 'Bolivia' 'Bosnia and Herzegovina'
 'Botswana' 'Brazil' 'Brunei' 'Bulgaria' 'Burkina Faso' 'Burundi'
 'Cambodia' 'Cameroon' 'Canada' 'Cape Verde' 'Central African Republic'
 'Chad' 'Chile' 'China' 'Colombia' 'Comoros' 'Costa Rica' 'Croatia' 'Cuba'
 'Cyprus' 'Czechia' 'Democratic Republic of the Congo' 'Denmark'
 'Djibouti' 'Dominica' 'Dominican Republic' 'Ecuador' 'Egypt'
 'El Salvador' 'Equatorial Guinea' 'Eritrea' 'Estonia' 'Eswatini'
 'Ethiopia' 'European Union' 'Fiji' 'Finland' 'France' 'Gabon' 'Gambia'
 'Georgia' 'Germany' 'Ghana' 'Greece' 'Grenada' 'Guatemala' 'Guinea'
 'Guinea-Bissau' 'Guyana' 'Haiti' 'Honduras' 'Hong Kong' 'Hungary'
 'Iceland' 'India' 'Indonesia' 'Iran' 'Iraq' 'Ireland' 'Israel' 'Italy'
 'Ivory Coast' 'Jamaica' 'Japan' 'Jordan' 'Kazakhstan' 'Kenya' 'Kiribati'
 'Kosovo' 'Kuwait' 'Kyrgyzstan' 'Laos' 'Latvia' 'Lebanon' 'Lesotho'
 'Liberia' 'Libya' 'Liechtenstein' 'Lithuania' 'Luxembourg' 'Macau'
 'Madagascar' 'Malawi' 'Malaysia' 'Maldives' 'Mali' 'Malta'
 'Marshall Islands' 'Mauritania' 'Mauritius' 'Mexico' 'Micronesia'
 'Moldova' 'Monaco' 'Mongolia' 'Montenegro' 'Morocco' 'Mozambique'
 'Myanmar' 'Namibia' 'Nauru' 'Nepal' 'Netherlands' 'New Zealand'
 'Nicaragua' 'Niger' 'Nigeria' 'North Korea' 'North Macedonia'
 'Northern Cyprus' 'Norway' 'Oman' 'Pakistan' 'Palau' 'Palestine' 'Panama'
 'Papua New Guinea' 'Paraguay' 'Peru' 'Philippines' 'Poland' 'Portugal'
 'Qatar' 'Republic of the Congo' 'Romania' 'Russia' 'Rwanda'
 'Saint Kitts and Nevis' 'Saint Lucia' 'Saint Vincent and the Grenadines'
 'Samoa' 'San Marino' 'Sao Tome and Principe' 'Saudi Arabia' 'Senegal'
 'Serbia' 'Seychelles' 'Sierra Leone' 'Singapore' 'Slovakia' 'Slovenia'
 'Solomon Islands' 'Somalia' 'South Africa' 'South Korea' 'South Sudan'
 'Spain' 'Sri Lanka' 'Sudan' 'Suriname' 'Sweden' 'Switzerland' 'Syria'
 'Taiwan' 'Tajikistan' 'Tanzania' 'Thailand' 'Timor Leste' 'Togo' 'Tonga'
 'Trinidad and Tobago' 'Tunisia' 'Turkey' 'Turkmenistan' 'Tuvalu' 'Uganda'
 'Ukraine' 'United Arab Emirates' 'United Kingdom'
 'United States of America' 'Uruguay' 'Uzbekistan' 'Vanuatu' 'Vatican'
 'Venezuela' 'Vietnam' 'Yemen' 'Zambia' 'Zimbabwe']

#Asia
India, Pakistan, Bangladesh, China, South Korea, Japan, Singapore
#Europe
Germany, Farnce, Italy, UK, Russia
#North America
Canada, US, Mexico
#South America
Brazil, Chili
#Australia
Australia
#Africa
Sudan, Ghana, Ethiopia, Nigeria

In [34]:
#Number of uniique countries
print(df["policy_id"].nunique())
#df[df["Event name"].isin(['airwaytime'])]

35684

In [8]:
temp=(df[['policy_id',"country"]].groupby('country').count())
print(temp)
print(temp.iloc[[temp["policy_id"].argmax()]])

print(temp.iloc[[temp["policy_id"].argmin()]])

print(temp["policy_id"].median())

                                  policy_id
country
Afghanistan                             348
Albania                                  69
Algeria                                 482
Andorra                                  63
Angola                                  178
Antigua and Barbuda                      70
Argentina                              1598
Armenia                                  70
Australia                               969
Austria                                1288
Azerbaijan                              329
Bahamas                                 161
Bahrain                                 184
Bangladesh                              582
Barbados                                 40
Belarus                                 183
Belgium                                 234
Belize                                  243
Benin                                   126
Bhutan                                   69
Bolivia                                 229
Bosnia and Herzegovina                  122
Botswana                                 78
Brazil                                 1239
Brunei                                  177
Bulgaria                                 86
Burkina Faso                             34
Burundi                                  43
Cambodia                                 59
Cameroon                                 88
Canada                                 1164
Cape Verde                               15
Central African Republic                 31
Chad                                    167
Chile                                   524
China                                  1716
Colombia                                196
Comoros                                  36
Costa Rica                              146
Croatia                                 114
Cuba                                     51
Cyprus                                  105
Czechia                                 130
Democratic Republic of the Congo         50
Denmark                                  73
Djibouti                                 32
Dominica                                 30
Dominican Republic                      164
Ecuador                                 233
Egypt                                   207
El Salvador                              80
Equatorial Guinea                        81
Eritrea                                  64
Estonia                                 129
Eswatini                                 86
Ethiopia                                224
European Union                           99
Fiji                                     53
Finland                                 400
France                                  581
Gabon                                   166
Gambia                                   90
Georgia                                  97
Germany                                4157
Ghana                                    55
Greece                                   66
Grenada                                 253
Guatemala                               279
Guinea                                   14
Guinea-Bissau                            44
Guyana                                  105
Haiti                                    22
Honduras                                289
Hong Kong                               162
Hungary                                 120
Iceland                                  98
India                                  2017
Indonesia                              1004
Iran                                    128
Iraq                                    251
Ireland                                 586
Israel                                  321
Italy                                  1641
Ivory Coast                             138
Jamaica                                 114
Japan                                  2620
Jordan                                   52
Kazakhstan                              412
Kenya                                   126
Kiribati                                 31
Kosovo                                   32
Kuwait                                   87
Kyrgyzstan                              206
Laos                                     85
Latvia                                   80
Lebanon                                 299
Lesotho                                  45
Liberia                                  18
Libya                                    89
Liechtenstein                           150
Lithuania                                45
Luxembourg                               83
Macau                                    41
Madagascar                               67
Malawi                                   22
Malaysia                                215
Maldives                                 42
Mali                                     50
Malta                                    65
Marshall Islands                         17
Mauritania                              106
Mauritius                               145
Mexico                                  380
Micronesia                               21
Moldova                                 103
Monaco                                   42
Mongolia                                 82
Montenegro                               69
Morocco                                 250
Mozambique                               16
Myanmar                                 359
Namibia                                  82
Nauru                                    83
Nepal                                   137
Netherlands                             163
New Zealand                             407
Nicaragua                                49
Niger                                    43
Nigeria                                1434
North Korea                              67
North Macedonia                          46
Northern Cyprus                         132
Norway                                  171
Oman                                    239
Pakistan                                188
Palau                                    93
Palestine                               141
Panama                                  121
Papua New Guinea                        149
Paraguay                                 40
Peru                                     72
Philippines                             103
Poland                                  102
Portugal                                119
Qatar                                   363
Republic of the Congo                   123
Romania                                 134
Russia                                 9862
Rwanda                                  105
Saint Kitts and Nevis                    94
Saint Lucia                              32
Saint Vincent and the Grenadines         45
Samoa                                   161
San Marino                              150
Sao Tome and Principe                    34
Saudi Arabia                            272
Senegal                                  41
Serbia                                   52
Seychelles                               86
Sierra Leone                             14
Singapore                               303
Slovakia                                 50
Slovenia                                 66
Solomon Islands                          58
Somalia                                  18
South Africa                            245
South Korea                             125
South Sudan                              78
Spain                                  1155
Sri Lanka                               274
Sudan                                   192
Suriname                                 78
Sweden                                  147
Switzerland                            2650
Syria                                    15
Taiwan                                  148
Tajikistan                              124
Tanzania                                 42
Thailand                                190
Timor Leste                             179
Togo                                     36
Tonga                                    56
Trinidad and Tobago                     119
Tunisia                                 140
Turkey                                  201
Turkmenistan                             75
Tuvalu                                   15
Uganda                                   57
Ukraine                                 128
United Arab Emirates                    316
United Kingdom                          487
United States of America               6638
Uruguay                                  78
Uzbekistan                              195
Vanuatu                                  41
Vatican                                  65
Venezuela                               546
Vietnam                                  95
Yemen                                   124
Zambia                                   58
Zimbabwe                                153
         policy_id
country
Russia        9862
         policy_id
country
Guinea          14
114.0

In [9]:
# for time interval
temp=df.dropna(subset=["date_end"])
temp.shape
temp['date_start']=pd.to_datetime(temp['date_start'], infer_datetime_format=True)
temp['date_end']=pd.to_datetime(temp['date_end'], infer_datetime_format=True)

<ipython-input-9-d18896520e7e>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  temp['date_start']=pd.to_datetime(temp['date_start'], infer_datetime_format=True)
<ipython-input-9-d18896520e7e>:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  temp['date_end']=pd.to_datetime(temp['date_end'], infer_datetime_format=True)

In [10]:
temp.dtypes

policy_id                     object
entry_type                    object
correct_type                  object
update_type                   object
update_level                  object
date_announced                object
date_start            datetime64[ns]
date_end              datetime64[ns]
country                       object
init_country_level            object
type                          object
type_sub_cat                  object
dtype: object

In [19]:
temp['diff']=(temp['date_end']-temp['date_start']).dt.days
#print(temp.iloc[[temp['diff'].max()]])
#print(temp.iloc[[temp['diff'].min()]])
#print(temp['diff'].median())
display(temp.head())
print(temp['diff'].max())
print(temp['diff'].min())
print(temp['diff'].median())

<ipython-input-19-6d207e196c9f>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  temp['diff']=(temp['date_end']-temp['date_start']).dt.days

,policy_id,entry_type,correct_type,update_type,update_level,date_announced,date_start,date_end,country,init_country_level,type,type_sub_cat,diff
10,3558044,new_entry,correction,NaN,NaN,2020-03-14,2020-03-14,2020-04-18,Afghanistan,National,Closure and Regulation of Schools,Preschool or childcare facilities (generally f...,35
11,3558044,new_entry,correction,NaN,NaN,2020-03-14,2020-03-14,2020-04-18,Afghanistan,National,Closure and Regulation of Schools,Primary Schools (generally for children ages 1...,35
12,3558044,new_entry,correction,NaN,NaN,2020-03-14,2020-03-14,2020-04-18,Afghanistan,National,Closure and Regulation of Schools,Secondary Schools (generally for children ages...,35
13,3558044,new_entry,correction,NaN,NaN,2020-03-14,2020-03-14,2020-04-18,Afghanistan,National,Closure and Regulation of Schools,Higher education institutions (i.e. degree gra...,35
14,1212064,new_entry,correction,NaN,NaN,2020-03-14,2020-03-14,2020-04-21,Afghanistan,National,Closure and Regulation of Schools,Preschool or childcare facilities (generally f...,38

936
-366
15.0

# Conversion Part

## Creating Subset

In [87]:
df['date_start']=pd.to_datetime(df['date_start'], infer_datetime_format=True)
df['date_end']=pd.to_datetime(df['date_end'], infer_datetime_format=True)

In [88]:
df.dropna(subset=["date_end"],inplace=True)

In [89]:
countries=["India", "Pakistan", "Bangladesh", "China", "South Korea", "Japan", "Singapore", "Germany", "France", "Italy", "United Kingdom",  "Canada", "United States of America", "Mexico", "Brazil", "Chile", "Australia", "Sudan", "Ghana", "Ethiopia", "Nigeria"]

In [90]:
df.fillna('', inplace=True)

In [91]:
# keeping only original entries for now, need to discuss

df.drop(df.loc[df['correct_type']=="correction"].index, inplace=True)

In [92]:
# Dropping erroneous entries

df.drop(df.loc[df["date_end"]<=df["date_start"]].index, inplace=True)

In [68]:
# Dropping entries before and after 2020

df.drop(df.loc[df["date_end"]>'2021-04-01'].index, inplace=True)

In [93]:
df.drop(df.loc[df["date_start"]>='2020-04-01'].index, inplace=True)

In [94]:
#subsetting Countries
subset_df=df[df["country"].isin(countries)]

In [95]:
subset_df.to_csv("coronanet_subset_shortened_Feb.csv",index=False)

In [80]:
len(subset_df)

114

In [65]:
min(df["date_end"])

Timestamp('2020-01-21 00:00:00')

## OTher attempts to tweak the data

In [55]:
df.groupby(["policy_id","entry_type","update_type"]).groups

{('0', 'update', ''): Int64Index([14405], dtype='int64'),
 ('1000140', 'new_entry', ''): Int64Index([36619, 36620], dtype='int64'),
 ('1000291',
  'new_entry',
  ''): Int64Index([51686, 51687, 51688], dtype='int64'),
 ('1000379', 'new_entry', ''): Int64Index([31952], dtype='int64'),
 ('1000509', 'new_entry', ''): Int64Index([13524, 13525], dtype='int64'),
 ('1000509',
  'update',
  'End of Policy'): Int64Index([13526, 13527, 13528, 13529], dtype='int64'),
 ('1000813', 'new_entry', ''): Int64Index([5934], dtype='int64'),
 ('1001132', 'new_entry', ''): Int64Index([57755], dtype='int64'),
 ('1001424', 'new_entry', ''): Int64Index([43157], dtype='int64'),
 ('1001636', 'new_entry', ''): Int64Index([30388], dtype='int64'),
 ('100182', 'new_entry', ''): Int64Index([39029], dtype='int64'),
 ('1001993', 'new_entry', ''): Int64Index([13227], dtype='int64'),
 ('1002370', 'new_entry', ''): Int64Index([26507, 26508], dtype='int64'),
 ('1003198', 'new_entry', ''): Int64Index([57970, 57971], dtype='int64'),
 ('100337',
  'new_entry',
  ''): Int64Index([5382, 5383, 5384, 5385, 5386], dtype='int64'),
 ('1003875', 'new_entry', ''): Int64Index([21563], dtype='int64'),
 ('1004103', 'new_entry', ''): Int64Index([57558], dtype='int64'),
 ('1004165', 'new_entry', ''): Int64Index([52071], dtype='int64'),
 ('1004165', 'update', 'End of Policy'): Int64Index([52083], dtype='int64'),
 ('100452', 'new_entry', ''): Int64Index([14483], dtype='int64'),
 ('1004697', 'new_entry', ''): Int64Index([8950], dtype='int64'),
 ('1004896', 'new_entry', ''): Int64Index([11531], dtype='int64'),
 ('1005064', 'new_entry', ''): Int64Index([48300], dtype='int64'),
 ('1005183', 'new_entry', ''): Int64Index([38103], dtype='int64'),
 ('100526', 'new_entry', ''): Int64Index([54621], dtype='int64'),
 ('100526', 'update', 'End of Policy'): Int64Index([54646], dtype='int64'),
 ('1005278', 'new_entry', ''): Int64Index([28031], dtype='int64'),
 ('1005278', 'update', 'End of Policy'): Int64Index([28033], dtype='int64'),
 ('1005610',
  'new_entry',
  ''): Int64Index([66285, 66286, 66287, 66288], dtype='int64'),
 ('1006918', 'new_entry', ''): Int64Index([19240], dtype='int64'),
 ('1006918', 'update', 'End of Policy'): Int64Index([19309], dtype='int64'),
 ('1006918Ma', 'new_entry', ''): Int64Index([20597], dtype='int64'),
 ('1006918Ma', 'update', 'End of Policy'): Int64Index([20726], dtype='int64'),
 ('1008432', 'new_entry', ''): Int64Index([55732], dtype='int64'),
 ('1008909', 'new_entry', ''): Int64Index([36804], dtype='int64'),
 ('1009317', 'new_entry', ''): Int64Index([330, 331, 332], dtype='int64'),
 ('100945',
  'new_entry',
  ''): Int64Index([40048, 40049, 40050, 40051], dtype='int64'),
 ('1009615', 'new_entry', ''): Int64Index([36670], dtype='int64'),
 ('1009899', 'new_entry', ''): Int64Index([27147], dtype='int64'),
 ('1010075', 'new_entry', ''): Int64Index([55928], dtype='int64'),
 ('1010075', 'update', 'End of Policy'): Int64Index([56024], dtype='int64'),
 ('1010328', 'new_entry', ''): Int64Index([30358], dtype='int64'),
 ('1010884', 'new_entry', ''): Int64Index([64095], dtype='int64'),
 ('1010930', 'new_entry', ''): Int64Index([22763, 22764], dtype='int64'),
 ('1011170', 'new_entry', ''): Int64Index([4720, 4721, 4722], dtype='int64'),
 ('1011223', 'new_entry', ''): Int64Index([30581], dtype='int64'),
 ('1011223', 'update', 'End of Policy'): Int64Index([30588], dtype='int64'),
 ('1011321', 'new_entry', ''): Int64Index([21831, 21832], dtype='int64'),
 ('1011328', 'new_entry', ''): Int64Index([39030], dtype='int64'),
 ('1011328', 'update', 'End of Policy'): Int64Index([39031], dtype='int64'),
 ('1011445', 'new_entry', ''): Int64Index([63779], dtype='int64'),
 ('1011788',
  'new_entry',
  ''): Int64Index([24471, 24472, 24473, 24474], dtype='int64'),
 ('1011788',
  'update',
  ''): Int64Index([24545, 24546, 24547, 24594, 24595, 24596], dtype='int64'),
 ('1011788',
  'update',
  'Change of Policy'): Int64Index([24637, 24638, 24639, 24646, 24647, 24648], dtype='int64'),
 ('101231', 'new_entry', ''): Int64Index([63900], dtype='int64'),
 ('1012387', 'new_entry', ''): Int64Index([57695], dtype='int64'),
 ('1012387', 'update', 'Change of Policy'): Int64Index([57696], dtype='int64'),
 ('1012524', 'new_entry', ''): Int64Index([23253], dtype='int64'),
 ('101272', 'new_entry', ''): Int64Index([58102], dtype='int64'),
 ('1012765', 'new_entry', ''): Int64Index([39004], dtype='int64'),
 ('1012770', 'new_entry', ''): Int64Index([63011, 63012], dtype='int64'),
 ('1012770',
  'update',
  'Change of Policy'): Int64Index([63029, 63030], dtype='int64'),
 ('101291', 'new_entry', ''): Int64Index([29984], dtype='int64'),
 ('1013379', 'new_entry', ''): Int64Index([19322, 19323], dtype='int64'),
 ('1013379',
  'update',
  'End of Policy'): Int64Index([19328, 19329], dtype='int64'),
 ('1013680', 'new_entry', ''): Int64Index([30624], dtype='int64'),
 ('1013688', 'new_entry', ''): Int64Index([52437], dtype='int64'),
 ('1013688', 'update', ''): Int64Index([52443], dtype='int64'),
 ('1014143', 'new_entry', ''): Int64Index([30526], dtype='int64'),
 ('1014171', 'new_entry', ''): Int64Index([26569], dtype='int64'),
 ('1014400', 'new_entry', ''): Int64Index([51587, 51588], dtype='int64'),
 ('1014400',
  'update',
  ''): Int64Index([51595, 51596, 51597, 51598, 51599, 51600], dtype='int64'),
 ('1014400',
  'update',
  'Change of Policy'): Int64Index([51618, 51619], dtype='int64'),
 ('1014952', 'new_entry', ''): Int64Index([37649], dtype='int64'),
 ('1014978', 'new_entry', ''): Int64Index([16773], dtype='int64'),
 ('1015442', 'new_entry', ''): Int64Index([27328], dtype='int64'),
 ('1015472',
  'new_entry',
  ''): Int64Index([64789, 64790, 64791], dtype='int64'),
 ('1016323', 'new_entry', ''): Int64Index([24369, 24370], dtype='int64'),
 ('1016408', 'new_entry', ''): Int64Index([63803], dtype='int64'),
 ('1017081', 'new_entry', ''): Int64Index([10517, 10518], dtype='int64'),
 ('1017208', 'new_entry', ''): Int64Index([32646], dtype='int64'),
 ('1017233', 'new_entry', ''): Int64Index([3740], dtype='int64'),
 ('1017328', 'new_entry', ''): Int64Index([33065], dtype='int64'),
 ('101749', 'new_entry', ''): Int64Index([13618], dtype='int64'),
 ('1017640', 'new_entry', ''): Int64Index([64638], dtype='int64'),
 ('1017749', 'new_entry', ''): Int64Index([12904], dtype='int64'),
 ('101775', 'new_entry', ''): Int64Index([61277], dtype='int64'),
 ('1018444', 'new_entry', ''): Int64Index([65473, 65474], dtype='int64'),
 ('1018458', 'new_entry', ''): Int64Index([26456], dtype='int64'),
 ('1018465', 'new_entry', ''): Int64Index([57968], dtype='int64'),
 ('1019297', 'new_entry', ''): Int64Index([60735], dtype='int64'),
 ('1019686', 'new_entry', ''): Int64Index([41380], dtype='int64'),
 ('1019686', 'update', 'End of Policy'): Int64Index([41393], dtype='int64'),
 ('1020189', 'new_entry', ''): Int64Index([18807, 18808], dtype='int64'),
 ('1021092', 'new_entry', ''): Int64Index([8369], dtype='int64'),
 ('1021614', 'new_entry', ''): Int64Index([32462], dtype='int64'),
 ('1021723', 'new_entry', ''): Int64Index([61362], dtype='int64'),
 ('1022288', 'new_entry', ''): Int64Index([45371], dtype='int64'),
 ('1022697', 'new_entry', ''): Int64Index([49457], dtype='int64'),
 ('1023914', 'new_entry', ''): Int64Index([64564], dtype='int64'),
 ('1024036', 'new_entry', ''): Int64Index([40930], dtype='int64'),
 ('1024755', 'new_entry', ''): Int64Index([42470], dtype='int64'),
 ('1024919', 'new_entry', ''): Int64Index([56841], dtype='int64'),
 ('102503', 'new_entry', ''): Int64Index([52655], dtype='int64'),
 ('1025036', 'new_entry', ''): Int64Index([17101], dtype='int64'),
 ('1025414', 'new_entry', ''): Int64Index([49991], dtype='int64'),
 ('1025414',
  'update',
  ''): Int64Index([49992, 49993, 49994, 49995], dtype='int64'),
 ('1025414',
  'update',
  'Change of Policy'): Int64Index([49996, 49997, 49998], dtype='int64'),
 ('1025558', 'new_entry', ''): Int64Index([9085, 9086], dtype='int64'),
 ('1025575', 'new_entry', ''): Int64Index([31517], dtype='int64'),
 ('1025827', 'new_entry', ''): Int64Index([9911, 9912], dtype='int64'),
 ('1026477', 'new_entry', ''): Int64Index([14467], dtype='int64'),
 ('1026838', 'new_entry', ''): Int64Index([3349], dtype='int64'),
 ('102766', 'new_entry', ''): Int64Index([37891], dtype='int64'),
 ('1027868', 'new_entry', ''): Int64Index([8159], dtype='int64'),
 ('1028425', 'new_entry', ''): Int64Index([58300], dtype='int64'),
 ('1028516', 'new_entry', ''): Int64Index([17991], dtype='int64'),
 ('102862', 'new_entry', ''): Int64Index([42049], dtype='int64'),
 ('102903', 'new_entry', ''): Int64Index([36635, 36636], dtype='int64'),
 ('1029048', 'new_entry', ''): Int64Index([22823], dtype='int64'),
 ('1029507', 'new_entry', ''): Int64Index([56628], dtype='int64'),
 ('1030099', 'new_entry', ''): Int64Index([15503], dtype='int64'),
 ('1030099', 'update', 'End of Policy'): Int64Index([15518], dtype='int64'),
 ('1030785', 'new_entry', ''): Int64Index([59861], dtype='int64'),
 ('1031097', 'new_entry', ''): Int64Index([44368], dtype='int64'),
 ('103152', 'new_entry', ''): Int64Index([28599], dtype='int64'),
 ('103152', 'update', ''): Int64Index([28604], dtype='int64'),
 ('1031656', 'new_entry', ''): Int64Index([61218], dtype='int64'),
 ('103207', 'new_entry', ''): Int64Index([64298], dtype='int64'),
 ('1032108', 'new_entry', ''): Int64Index([42760], dtype='int64'),
 ('1032122', 'new_entry', ''): Int64Index([35453], dtype='int64'),
 ('103261', 'new_entry', ''): Int64Index([48813], dtype='int64'),
 ('1032798', 'new_entry', ''): Int64Index([11195], dtype='int64'),
 ('1033139', 'new_entry', ''): Int64Index([43844], dtype='int64'),
 ('1033139',
  'update',
  ''): Int64Index([43974, 44025, 44059, 44085], dtype='int64'),
 ('1033784', 'new_entry', ''): Int64Index([11423], dtype='int64'),
 ('1033867', 'new_entry', ''): Int64Index([52337], dtype='int64'),
 ('1033867', 'update', 'End of Policy'): Int64Index([52338], dtype='int64'),
 ('1033960', 'new_entry', ''): Int64Index([29377, 29378], dtype='int64'),
 ('1034085', 'new_entry', ''): Int64Index([63954], dtype='int64'),
 ('1034199', 'new_entry', ''): Int64Index([46362], dtype='int64'),
 ('1034381', 'new_entry', ''): Int64Index([29214], dtype='int64'),
 ('1034566', 'new_entry', ''): Int64Index([12852], dtype='int64'),
 ('1034717', 'new_entry', ''): Int64Index([53804, 53805], dtype='int64'),
 ('1034717', 'update', ''): Int64Index([54062, 54063], dtype='int64'),
 ('1034745', 'new_entry', ''): Int64Index([15406], dtype='int64'),
 ('1034804', 'new_entry', ''): Int64Index([38153], dtype='int64'),
 ('1034864', 'new_entry', ''): Int64Index([23220], dtype='int64'),
 ('1035269', 'new_entry', ''): Int64Index([62437], dtype='int64'),
 ('103582',
  'new_entry',
  ''): Int64Index([7730, 7731, 7732, 7733], dtype='int64'),
 ('1036863', 'new_entry', ''): Int64Index([51304], dtype='int64'),
 ('103689', 'new_entry', ''): Int64Index([6344], dtype='int64'),
 ('1037050', 'new_entry', ''): Int64Index([61617], dtype='int64'),
 ('103739', 'new_entry', ''): Int64Index([53064], dtype='int64'),
 ('1037665', 'new_entry', ''): Int64Index([6128], dtype='int64'),
 ('103832', 'new_entry', ''): Int64Index([41566], dtype='int64'),
 ('1038369', 'new_entry', ''): Int64Index([43850], dtype='int64'),
 ('1038660', 'new_entry', ''): Int64Index([31474], dtype='int64'),
 ('1038772', 'new_entry', ''): Int64Index([38518], dtype='int64'),
 ('1038772', 'update', 'End of Policy'): Int64Index([38519], dtype='int64'),
 ('1038866', 'new_entry', ''): Int64Index([991], dtype='int64'),
 ('1038985', 'new_entry', ''): Int64Index([50839], dtype='int64'),
 ('1039188', 'new_entry', ''): Int64Index([24930], dtype='int64'),
 ('1039233', 'new_entry', ''): Int64Index([4718, 4719], dtype='int64'),
 ('1039233',
  'update',
  'End of Policy'): Int64Index([4723, 4724], dtype='int64'),
 ('1039277',
  'new_entry',
  ''): Int64Index([66274, 66275, 66276], dtype='int64'),
 ('1039456', 'new_entry', ''): Int64Index([38424], dtype='int64'),
 ('1039534', 'update', 'Change of Policy'): Int64Index([15812], dtype='int64'),
 ('1039537', 'new_entry', ''): Int64Index([42587], dtype='int64'),
 ('1039638', 'new_entry', ''): Int64Index([61323], dtype='int64'),
 ('1039803', 'new_entry', ''): Int64Index([45268], dtype='int64'),
 ('1039803',
  'update',
  'Change of Policy'): Int64Index([45315, 45316], dtype='int64'),
 ('1039803', 'update', 'End of Policy'): Int64Index([45321], dtype='int64'),
 ('1039926',
  'new_entry',
  ''): Int64Index([43364, 43365, 43366], dtype='int64'),
 ('1040134',
  'new_entry',
  ''): Int64Index([28779, 28780, 28781], dtype='int64'),
 ('1040165', 'new_entry', ''): Int64Index([17352], dtype='int64'),
 ('1040165', 'update', 'End of Policy'): Int64Index([17357], dtype='int64'),
 ('1040179', 'new_entry', ''): Int64Index([37044], dtype='int64'),
 ('1040483', 'new_entry', ''): Int64Index([43111], dtype='int64'),
 ('1040597', 'new_entry', ''): Int64Index([39830], dtype='int64'),
 ('1040597Ma', 'new_entry', ''): Int64Index([39849], dtype='int64'),
 ('1040682', 'new_entry', ''): Int64Index([50115], dtype='int64'),
 ('1041075', 'new_entry', ''): Int64Index([31766], dtype='int64'),
 ('1041520', 'new_entry', ''): Int64Index([5735], dtype='int64'),
 ('1041733', 'new_entry', ''): Int64Index([12670], dtype='int64'),
 ('1041898', 'new_entry', ''): Int64Index([29390], dtype='int64'),
 ('1042631', 'new_entry', ''): Int64Index([15234], dtype='int64'),
 ('1043167', 'new_entry', ''): Int64Index([61907], dtype='int64'),
 ('1043355',
  'new_entry',
  ''): Int64Index([57077, 57078, 57079, 57080], dtype='int64'),
 ('1043355',
  'update',
  'Change of Policy'): Int64Index([57081, 57082, 57083, 57084], dtype='int64'),
 ('1043621', 'new_entry', ''): Int64Index([14397], dtype='int64'),
 ('1043819', 'new_entry', ''): Int64Index([5211], dtype='int64'),
 ('1043819',
  'update',
  'Change of Policy'): Int64Index([5220, 5222], dtype='int64'),
 ('1044281', 'new_entry', ''): Int64Index([27193], dtype='int64'),
 ('1044281',
  'update',
  'Change of Policy'): Int64Index([27194, 27198, 27206], dtype='int64'),
 ('1044281', 'update', 'End of Policy'): Int64Index([27212], dtype='int64'),
 ('1044703', 'new_entry', ''): Int64Index([58107], dtype='int64'),
 ('1044776', 'new_entry', ''): Int64Index([55168], dtype='int64'),
 ('1045491', 'new_entry', ''): Int64Index([58393], dtype='int64'),
 ('1045752', 'new_entry', ''): Int64Index([21567], dtype='int64'),
 ('1045978',
  'new_entry',
  ''): Int64Index([26101, 26102, 26103], dtype='int64'),
 ('1045978',
  'update',
  'Change of Policy'): Int64Index([26111, 26112, 26113, 26115, 26116, 26117, 26124, 26125, 26126], dtype='int64'),
 ('1046213', 'new_entry', ''): Int64Index([54580], dtype='int64'),
 ('1046216', 'new_entry', ''): Int64Index([61011], dtype='int64'),
 ('1046434', 'new_entry', ''): Int64Index([12340], dtype='int64'),
 ('1046568', 'new_entry', ''): Int64Index([48886], dtype='int64'),
 ('1046644', 'new_entry', ''): Int64Index([52710], dtype='int64'),
 ('1047062', 'new_entry', ''): Int64Index([34456], dtype='int64'),
 ('1047062', 'update', ''): Int64Index([34455], dtype='int64'),
 ('1047400',
  'new_entry',
  ''): Int64Index([57719, 57720, 57721, 57722], dtype='int64'),
 ('1047515', 'new_entry', ''): Int64Index([3158], dtype='int64'),
 ('1047586', 'new_entry', ''): Int64Index([63755], dtype='int64'),
 ('1047707', 'new_entry', ''): Int64Index([38221], dtype='int64'),
 ('1048232', 'new_entry', ''): Int64Index([65511], dtype='int64'),
 ('1048232',
  'update',
  'Change of Policy'): Int64Index([65515, 65520], dtype='int64'),
 ('1048232',
  'update',
  'End of Policy'): Int64Index([65513, 65517], dtype='int64'),
 ('1048321', 'new_entry', ''): Int64Index([57950], dtype='int64'),
 ('1048321', 'update', 'End of Policy'): Int64Index([57951], dtype='int64'),
 ('1048574', 'new_entry', ''): Int64Index([38351], dtype='int64'),
 ('1048854', 'new_entry', ''): Int64Index([196, 38570], dtype='int64'),
 ('1048872',
  'new_entry',
  ''): Int64Index([16489, 16490, 16491, 16492, 16493], dtype='int64'),
 ('1049744', 'new_entry', ''): Int64Index([29782], dtype='int64'),
 ('1049827', 'new_entry', ''): Int64Index([16363], dtype='int64'),
 ('1049860',
  'new_entry',
  ''): Int64Index([36188, 36189, 36190, 36191], dtype='int64'),
 ('1049860',
  'update',
  'End of Policy'): Int64Index([36370, 36371, 36372, 36373], dtype='int64'),
 ('104987', 'new_entry', ''): Int64Index([23657], dtype='int64'),
 ('1050327', 'new_entry', ''): Int64Index([8171], dtype='int64'),
 ('1050762', 'new_entry', ''): Int64Index([48165], dtype='int64'),
 ('1050880', 'update', ''): Int64Index([21477], dtype='int64'),
 ('1050922', 'new_entry', ''): Int64Index([21451], dtype='int64'),
 ('1051204', 'new_entry', ''): Int64Index([11511], dtype='int64'),
 ('105144', 'new_entry', ''): Int64Index([9033], dtype='int64'),
 ('1052101', 'new_entry', ''): Int64Index([55559], dtype='int64'),
 ('1052150', 'new_entry', ''): Int64Index([53607], dtype='int64'),
 ('1052164', 'new_entry', ''): Int64Index([27274], dtype='int64'),
 ('1052164', 'update', 'Change of Policy'): Int64Index([27291], dtype='int64'),
 ('1052186', 'new_entry', ''): Int64Index([14170], dtype='int64'),
 ('1052186',
  'update',
  'Change of Policy'): Int64Index([14173, 14175], dtype='int64'),
 ('1052467', 'new_entry', ''): Int64Index([38881], dtype='int64'),
 ('1052467', 'update', ''): Int64Index([38882, 38912], dtype='int64'),
 ('1052467', 'update', 'End of Policy'): Int64Index([38890], dtype='int64'),
 ('1052569', 'new_entry', ''): Int64Index([27923], dtype='int64'),
 ('1052569', 'update', 'Change of Policy'): Int64Index([27936], dtype='int64'),
 ('105289', 'new_entry', ''): Int64Index([13061, 13062, 13063], dtype='int64'),
 ('105313', 'new_entry', ''): Int64Index([53283], dtype='int64'),
 ('105313',
  'update',
  'Change of Policy'): Int64Index([53285, 53287], dtype='int64'),
 ('105313', 'update', 'End of Policy'): Int64Index([53290], dtype='int64'),
 ('1053189', 'new_entry', ''): Int64Index([33604], dtype='int64'),
 ('1053332', 'new_entry', ''): Int64Index([53172], dtype='int64'),
 ('1053453', 'new_entry', ''): Int64Index([26226], dtype='int64'),
 ('1053453', 'update', ''): Int64Index([26223], dtype='int64'),
 ('1053453',
  'update',
  'Change of Policy'): Int64Index([26228, 26233], dtype='int64'),
 ('1053961', 'new_entry', ''): Int64Index([31799], dtype='int64'),
 ('105440', 'new_entry', ''): Int64Index([24797, 24798, 24799], dtype='int64'),
 ('105449', 'new_entry', ''): Int64Index([62334], dtype='int64'),
 ('105449', 'update', ''): Int64Index([62740, 62813, 63337], dtype='int64'),
 ('105449',
  'update',
  'Change of Policy'): Int64Index([62559, 63048, 63151, 63198, 63270, 63408, 63438, 64451], dtype='int64'),
 ('1054776',
  'new_entry',
  ''): Int64Index([24298, 24299, 24300, 24301, 24302, 24303], dtype='int64'),
 ('1054864', 'new_entry', ''): Int64Index([6581], dtype='int64'),
 ('1055195',
  'new_entry',
  ''): Int64Index([14971, 14972, 14973], dtype='int64'),
 ('1055510', 'new_entry', ''): Int64Index([23509], dtype='int64'),
 ('1055795', 'new_entry', ''): Int64Index([57699], dtype='int64'),
 ('1055830', 'new_entry', ''): Int64Index([16456], dtype='int64'),
 ('1056110',
  'new_entry',
  ''): Int64Index([26288, 26289, 26290, 26291, 26292], dtype='int64'),
 ('1056110',
  'update',
  'Change of Policy'): Int64Index([26310, 26311, 26312, 26313, 26314, 26335, 26336, 26337, 26338,
             26339, 26345, 26346, 26347, 26348, 26349],
            dtype='int64'),
 ('1056134', 'new_entry', ''): Int64Index([56765], dtype='int64'),
 ('1056154', 'new_entry', ''): Int64Index([10727], dtype='int64'),
 ('1056368', 'new_entry', ''): Int64Index([34009], dtype='int64'),
 ('1056531', 'new_entry', ''): Int64Index([57638], dtype='int64'),
 ('1056689', 'new_entry', ''): Int64Index([8148], dtype='int64'),
 ('105704', 'new_entry', ''): Int64Index([27236], dtype='int64'),
 ('105704', 'update', 'Change of Policy'): Int64Index([27238], dtype='int64'),
 ('1057045', 'new_entry', ''): Int64Index([32271], dtype='int64'),

In [65]:
temp=df.groupby(["policy_id","entry_type","update_type"]).tail(1)#.sort_values(["country","policy_id","update_type"])

In [46]:
df["record_id"].nunique()

66700

In [61]:
temp.head(50)

,record_id,policy_id,entry_type,correct_type,update_type,update_level,date_announced,date_start,date_end,country,init_country_level,type,type_sub_cat
0,R_3nCudDknlhUIjpONA,2975738,new_entry,original,,,2020-03-06,2020-03-06,,Afghanistan,National,Anti-Disinformation Measures,
1,R_3OoySQxTamo89oXNA,7024226,new_entry,original,,,2020-03-16,2020-03-16,,Afghanistan,National,Anti-Disinformation Measures,
2,R_3kLn6IU4rQGHtCbNA,889484,new_entry,original,,,2020-05-28,2020-05-28,,Afghanistan,National,Anti-Disinformation Measures,
3,R_1rAmwrNMSZPgFhrNA,129322,new_entry,original,,,2020-06-28,2020-06-28,,Afghanistan,National,Anti-Disinformation Measures,
6,R_21oIyCpRWpNISIDFi,6721435,new_entry,correction,,,2020-03-09,2020-03-09,,Afghanistan,Municipal,Closure and Regulation of Schools,Secondary Schools (generally for children ages...
9,R_vCayDsDGFAA6EBbCe,6018486,new_entry,original,,,2020-03-11,2020-03-11,,Afghanistan,Provincial,Closure and Regulation of Schools,Higher education institutions (i.e. degree gra...
13,R_2B4LxySA0eoHKmKCe,3558044,new_entry,correction,,,2020-03-14,2020-03-14,2020-04-18,Afghanistan,National,Closure and Regulation of Schools,Higher education institutions (i.e. degree gra...
17,R_1Key4FXwBm9VB0tCe,1212064,new_entry,correction,,,2020-03-14,2020-03-14,2020-04-21,Afghanistan,National,Closure and Regulation of Schools,Higher education institutions (i.e. degree gra...
21,R_6LjvNqntB193VTzCe,3558044,update,original,Change of Policy,Strengthening,2020-03-14,2020-03-14,2020-04-21,Afghanistan,National,Closure and Regulation of Schools,Higher education institutions (i.e. degree gra...
24,R_1ietyp5BXA3M6clCe,2231982,new_entry,original,,,2020-04-11,2020-04-18,,Afghanistan,National,Closure and Regulation of Schools,Higher education institutions (i.e. degree gra...
31,R_1Cdn4jJ3uMDrA6QCe,2231982,update,original,Change of Policy,,2020-05-07,2020-05-07,,Afghanistan,National,Closure and Regulation of Schools,Higher education institutions (i.e. degree gra...
35,R_3DuVP16EgXT3ITNCe,1212064,update,original,Change of Policy,Strengthening,2020-06-07,2020-06-07,2020-09-08,Afghanistan,National,Closure and Regulation of Schools,Higher education institutions (i.e. degree gra...
36,R_2CKuYvvPx35lwb9Ce,1939072,new_entry,original,,,2020-08-04,2020-08-05,,Afghanistan,National,Closure and Regulation of Schools,Higher education institutions (i.e. degree gra...
40,R_AL5OvuPBzGPSOWtCe,1212064,update,correction,,Strengthening,2020-08-04,2020-08-05,2020-09-08,Afghanistan,National,Closure and Regulation of Schools,Higher education institutions (i.e. degree gra...
42,R_3dTay0PsGRHV5oQFi,1369540,new_entry,original,,,2020-08-11,2020-08-22,,Afghanistan,National,Closure and Regulation of Schools,Secondary Schools (generally for children ages...
45,R_1rGipmvWVoDF0vMFi,6721435,update,original,End of Policy,,2020-08-11,2020-08-22,,Afghanistan,Municipal,Closure and Regulation of Schools,Secondary Schools (generally for children ages...
47,R_2fGOrKJlI0fwhGGFi,6408830,new_entry,original,,,2020-08-24,2020-08-24,,Afghanistan,Provincial,Closure and Regulation of Schools,Secondary Schools (generally for children ages...
49,R_u7XjFFsj0g94b1nFi,452783,new_entry,original,,,2020-08-24,2020-08-24,,Afghanistan,Provincial,Closure and Regulation of Schools,Secondary Schools (generally for children ages...
51,R_2ZChj5YjrXHGymfFi,3170315,new_entry,original,,,2020-08-24,2020-08-24,,Afghanistan,Provincial,Closure and Regulation of Schools,Secondary Schools (generally for children ages...
52,R_2SBK4ZBzWlfoehIFi,8479417,new_entry,original,,,2020-08-24,2020-08-24,,Afghanistan,Provincial,Closure and Regulation of Schools,Secondary Schools (generally for children ages...
53,R_2s7IRuWAeGF1VUwFi,2539381,new_entry,original,,,2020-08-24,2020-08-24,,Afghanistan,Provincial,Closure and Regulation of Schools,Secondary Schools (generally for children ages...
54,R_3ls1pL2dXktJafoFi,9091385,new_entry,original,,,2020-08-24,2020-08-24,,Afghanistan,Provincial,Closure and Regulation of Schools,Secondary Schools (generally for children ages...
57,R_1IT6V5ryOh2gQdICe,6018486,update,original,End of Policy,,2020-08-24,2020-08-24,,Afghanistan,Provincial,Closure and Regulation of Schools,Higher education institutions (i.e. degree gra...
59,R_z8SrYS9qBtkXXPzFi,6053124,new_entry,original,,,2020-09-05,2020-09-05,,Afghanistan,Provincial,Closure and Regulation of Schools,Secondary Schools (generally for children ages...
61,R_1qenmPNhfg7XkFcFi,4804690,new_entry,original,,,2020-09-05,2020-09-05,,Afghanistan,Provincial,Closure and Regulation of Schools,Secondary Schools (generally for children ages...
63,R_2ONoRbGwjkKTBdGFi,8576315,new_entry,original,,,2020-09-29,2020-10-03,,Afghanistan,National,Closure and Regulation of Schools,Secondary Schools (generally for children ages...
67,R_28LDpTZ3SrbarDrFi,1369540,update,original,End of Policy,,2020-09-29,2020-10-03,,Afghanistan,National,Closure and Regulation of Schools,Secondary Schools (generally for children ages...
68,R_29m2P54ic7bX8giNA,8376644,new_entry,correction,,,2020-03-30,2020-03-24,2020-04-18,Afghanistan,Provincial,Curfew,
69,R_2EtRJLA9BaZ9QZKNA,2874945,new_entry,correction,,,2020-03-27,2020-03-28,2020-04-18,Afghanistan,National,Curfew,
70,R_2X7FvnxpHBhBAUnNA,5114451,new_entry,original,,,2020-04-03,2020-04-04,2020-04-25,Afghanistan,Provincial,Curfew,
72,R_3r06KCoWDLtzQqZNA,8713995,new_entry,original,,,2020-06-02,2020-04-23,2020-05-13,Afghanistan,Provincial,Curfew,
73,R_2SCAuD3ZaW0crBLNA,2874945,update,original,End of Policy,Strengthening,2020-05-21,2020-05-21,2020-05-24,Afghanistan,National,Curfew,
74,R_1jKbdmtrOjrzEQ5NA,8399676,new_entry,correction,,,2020-05-22,2020-05-23,,Afghanistan,Provincial,Curfew,
75,R_rkgkE1vvNhin2mdNA,8399676,update,original,End of Policy,,2020-05-21,2020-05-27,,Afghanistan,Provincial,Curfew,
76,R_e5PkCjlhAfUzfpvNA,7051574,new_entry,original,,,2020-02-22,2020-02-22,,Afghanistan,Provincial,Declaration of Emergency,
77,R_2U3dIintNWOT4IENA,1533339,new_entry,original,,,2020-02-24,2020-02-24,,Afghanistan,National,Declaration of Emergency,
78,R_1HipyEAIvXK7sYXNA,9862821,new_entry,original,,,2020-03-25,2020-03-25,,Afghanistan,National,Declaration of Emergency,
79,R_3dWDElNOR0YWWluNA,3877643,new_entry,original,,,2020-03-26,2020-03-26,,Afghanistan,Provincial,Declaration of Emergency,
80,R_1gter0puiLd5Ep7NA,2776864,new_entry,original,,,2020-04-15,2020-04-15,,Afghanistan,Provincial,Declaration of Emergency,
81,R_23UC0wYE0VclkxeDc,9805340,new_entry,original,,,2020-01-27,2020-01-27,,Afghanistan,National,External Border Restrictions,Other External Border Restriction
82,R_6EhrBac7nlMPg8VDc,9392993,new_entry,original,,,2020-02-03,2020-02-03,,Afghanistan,National,External Border Restrictions,Other External Border Restriction
83,R_31vzmhgGlNwwdLXDc,4056752,new_entry,original,,,2020-02-23,2020-02-23,,Afghanistan,National,External Border Restrictions,Other External Border Restriction
85,R_1LZgfHu2KzTqwlrNA,2917567,new_entry,correction,,,2020-02-24,2020-02-24,,Afghanistan,National,External Border Restrictions,
86,R_2QKwXybRJBgFBT5Bx,2035814,new_entry,original,,,2020-03-21,2020-03-21,,Afghanistan,National,External Border Restrictions,Health Certificates
87,R_2AF5UQt9j8LqGvsDc,9392993,update,original,End of Policy,,2020-05-12,2020-05-12,,Afghanistan,National,External Border Restrictions,Other External Border Restriction
88,R_1EaCEAbscuegtopNA,2917567,update,correction,,,2020-05-14,2020-05-14,2020-02-24,Afghanistan,National,External Border Restrictions,
89,R_TpJaIiDyXfhN249Dc,1983323,new_entry,original,,,2020-06-24,2020-06-24,2020-06-30,Afghanistan,National,External Border Restrictions,Other External Border Restriction
91,R_2D66xTJYkzndfIPBx,2035814,update,original,End of Policy,,2020-06-24,2020-06-24,2020-06-30,Afghanistan,National,External Border Restrictions,Health Certificates
92,R_W1fnUOvgkjk8f2pDc,9505608,new_entry,original,,,2020-09-09,2020-09-09,,Afghanistan,National,External Border Restrictions,Other External Border Restriction
93,R_qDW1q7wG5lkSL6hDc,6247123,new_entry,original,,,2020-10-04,2020-10-04,2020-10-17,Afghanistan,Provincial,External Border Restrictions,Other External Border Restriction

In [75]:
for policies in temp["policy_id"].unique():
    temp_df=temp.loc[temp["policy_id"]==policies]
    end=temp_df.loc[temp["update_type"]=="End of Policy"]
    if not end.empty:
        if(end['date_end']==""):
            temp_df.head(1)["date_end"]=end['date_start']
        else:
            temp_df.head(1)["date_end"]=end['date_start']
        print(end['date_start'])
        print(end['date_end'])

45    2020-08-22
Name: date_start, dtype: object
45
Name: date_end, dtype: object
57    2020-08-24
Name: date_start, dtype: object
57
Name: date_end, dtype: object
67    2020-10-03
Name: date_start, dtype: object
67
Name: date_end, dtype: object
73    2020-05-21
Name: date_start, dtype: object
73    2020-05-24
Name: date_end, dtype: object
75    2020-05-27
Name: date_start, dtype: object
75
Name: date_end, dtype: object
87    2020-05-12
Name: date_start, dtype: object
87
Name: date_end, dtype: object
91    2020-06-24
Name: date_start, dtype: object
91    2020-06-30
Name: date_end, dtype: object
102    2020-09-06
Name: date_start, dtype: object
102
Name: date_end, dtype: object
96    2020-01-27
Name: date_start, dtype: object
96
Name: date_end, dtype: object
199    2020-06-24
Name: date_start, dtype: object
199
Name: date_end, dtype: object
213    2020-05-21
Name: date_start, dtype: object
213    2020-05-24
Name: date_end, dtype: object
209    2020-04-23
Name: date_start, dtype: object
209
Name: date_end, dtype: object
207    2020-04-10
Name: date_start, dtype: object
207
Name: date_end, dtype: object
264    2020-08-07
Name: date_start, dtype: object
264
Name: date_end, dtype: object
288    2020-05-09
Name: date_start, dtype: object
288
Name: date_end, dtype: object
283    2020-04-23
Name: date_start, dtype: object
283
Name: date_end, dtype: object
328    2020-09-01
Name: date_start, dtype: object
328
Name: date_end, dtype: object
455    2020-10-04
Name: date_start, dtype: object
455    2020-10-21
Name: date_end, dtype: object
477    2020-04-24
Name: date_start, dtype: object
477    2020-04-29
Name: date_end, dtype: object
479    2020-05-28
Name: date_start, dtype: object
479    2020-05-28
Name: date_end, dtype: object
491    2020-07-14
Name: date_start, dtype: object
491    2020-08-08
Name: date_end, dtype: object
609    2020-03-19
Name: date_start, dtype: object
609    2020-12-06
Name: date_end, dtype: object
612    2020-04-24
Name: date_start, dtype: object
612    2020-05-29
Name: date_end, dtype: object
620    2020-07-18
Name: date_start, dtype: object
620    2020-08-08
Name: date_end, dtype: object
661    2020-04-18
Name: date_start, dtype: object
661    2020-04-24
Name: date_end, dtype: object
727    2020-09-30
Name: date_start, dtype: object
727    2020-09-30
Name: date_end, dtype: object
707    2020-07-18
Name: date_start, dtype: object
707    2020-08-08
Name: date_end, dtype: object
773    2020-09-01
Name: date_start, dtype: object
773    2020-09-01
Name: date_end, dtype: object
772    2020-09-01
Name: date_start, dtype: object
772    2020-09-01
Name: date_end, dtype: object
760    2020-05-30
Name: date_start, dtype: object
760    2020-08-15
Name: date_end, dtype: object
763    2020-05-31
Name: date_start, dtype: object
763    2020-08-15
Name: date_end, dtype: object
764    2020-05-31
Name: date_start, dtype: object
764    2020-08-15
Name: date_end, dtype: object
782    2020-03-10
Name: date_start, dtype: object
782    2020-07-09
Name: date_end, dtype: object
783    2020-03-10
Name: date_start, dtype: object
783    2020-08-31
Name: date_end, dtype: object
785    2020-03-16
Name: date_start, dtype: object
785    2020-09-15
Name: date_end, dtype: object
789    2020-03-18
Name: date_start, dtype: object
789    2020-08-15
Name: date_end, dtype: object
965    2020-03-24
Name: date_start, dtype: object
965
Name: date_end, dtype: object
972    2020-03-03
Name: date_start, dtype: object
972    2020-03-26
Name: date_end, dtype: object
974    2020-03-04
Name: date_start, dtype: object
974    2020-03-26
Name: date_end, dtype: object
977    2020-03-12
Name: date_start, dtype: object
977    2020-03-26
Name: date_end, dtype: object
1116    2020-03-22
Name: date_start, dtype: object
1116    2020-05-11
Name: date_end, dtype: object
1154    2020-06-01
Name: date_start, dtype: object
1154    2020-04-09
Name: date_end, dtype: object
1264    2020-06-08
Name: date_start, dtype: object
1264    2020-06-28
Name: date_end, dtype: object
1263    2020-06-08
Name: date_start, dtype: object
1263    2020-06-28
Name: date_end, dtype: object
1321    2020-03-19
Name: date_start, dtype: object
1321    2020-05-10
Name: date_end, dtype: object
1887    2020-06-08
Name: date_start, dtype: object
1887    2020-07-18
Name: date_end, dtype: object
2854    2020-04-03
Name: date_start, dtype: object
2854    2020-05-18
Name: date_end, dtype: object
2869    2020-04-11
Name: date_start, dtype: object
2869    2020-05-18
Name: date_end, dtype: object
2877    2020-05-25
Name: date_start, dtype: object
2877
Name: date_end, dtype: object
2888    2020-05-25
Name: date_start, dtype: object
2888
Name: date_end, dtype: object
2944    2020-01-24
Name: date_start, dtype: object
2944    2020-01-24
Name: date_end, dtype: object
2963    2020-03-05
Name: date_start, dtype: object
2963    2020-03-05
Name: date_end, dtype: object
2962    2020-03-05
Name: date_start, dtype: object
2962    2020-03-05
Name: date_end, dtype: object
2964    2020-03-05
Name: date_start, dtype: object
2964    2020-03-05
Name: date_end, dtype: object
2968    2020-03-15
Name: date_start, dtype: object
2968    2020-03-15
Name: date_end, dtype: object
2972    2020-03-18
Name: date_start, dtype: object
2972    2020-03-18
Name: date_end, dtype: object
2981    2020-03-25
Name: date_start, dtype: object
2981    2020-03-25
Name: date_end, dtype: object
3006    2020-07-13
Name: date_start, dtype: object
3006    2020-08-07
Name: date_end, dtype: object
3130    2020-05-29
Name: date_start, dtype: object
3130    2020-05-29
Name: date_end, dtype: object
3076    2020-03-31
Name: date_start, dtype: object
3076    2020-04-01
Name: date_end, dtype: object
3088    2020-04-01
Name: date_start, dtype: object
3088    2020-07-21
Name: date_end, dtype: object
3111    2020-04-27
Name: date_start, dtype: object
3111    2020-05-13
Name: date_end, dtype: object
3145    2020-08-14
Name: date_start, dtype: object
3145    2020-09-22
Name: date_end, dtype: object
3219    2020-10-02
Name: date_start, dtype: object
3219    2020-10-02
Name: date_end, dtype: object
3247    2020-07-10
Name: date_start, dtype: object
3247
Name: date_end, dtype: object
3248    2020-07-10
Name: date_start, dtype: object
3248
Name: date_end, dtype: object
3236    2020-05-15
Name: date_start, dtype: object
3236    2020-05-15
Name: date_end, dtype: object
3267    2020-05-08
Name: date_start, dtype: object
3267    2020-06-12
Name: date_end, dtype: object
3282    2020-04-20
Name: date_start, dtype: object
3282
Name: date_end, dtype: object
3335    2020-01-30
Name: date_start, dtype: object
3335    2020-03-15
Name: date_end, dtype: object
3337    2020-02-01
Name: date_start, dtype: object
3337    2020-03-15
Name: date_end, dtype: object
3341    2020-03-01
Name: date_start, dtype: object
3341    2020-03-15
Name: date_end, dtype: object
3343    2020-03-05
Name: date_start, dtype: object
3343    2020-03-15
Name: date_end, dtype: object
3345    2020-03-16
Name: date_start, dtype: object
3345    2020-03-28
Name: date_end, dtype: object
3368    2020-03-29
Name: date_start, dtype: object
3368    2020-06-25
Name: date_end, dtype: object
3371    2020-04-02
Name: date_start, dtype: object
3371
Name: date_end, dtype: object
3365    2020-03-28
Name: date_start, dtype: object
3365    2020-06-26
Name: date_end, dtype: object
3373    2020-04-07
Name: date_start, dtype: object
3373
Name: date_end, dtype: object
3386    2020-07-08
Name: date_start, dtype: object
3386    2020-08-06
Name: date_end, dtype: object
3400    2020-08-07
Name: date_start, dtype: object
3400    2020-10-02
Name: date_end, dtype: object
3446    2020-03-23
Name: date_start, dtype: object
3446    2020-05-29
Name: date_end, dtype: object
3487    2020-03-27
Name: date_start, dtype: object
3487    2020-03-25
Name: date_end, dtype: object
3554    2020-05-15
Name: date_start, dtype: object
3554    2020-08-14
Name: date_end, dtype: object
3517    2020-03-31
Name: date_start, dtype: object
3517
Name: date_end, dtype: object
3483    2020-03-26
Name: date_start, dtype: object
3483    2020-05-17
Name: date_end, dtype: object
3598    2020-06-01
Name: date_start, dtype: object
3598    2020-08-14
Name: date_end, dtype: object
3615    2020-06-13
Name: date_start, dtype: object
3615
Name: date_end, dtype: object
3605    2020-06-06
Name: date_start, dtype: object
3605    2020-06-27
Name: date_end, dtype: object
3645    2020-07-01
Name: date_start, dtype: object
3645
Name: date_end, dtype: object
3656    2020-07-24
Name: date_start, dtype: object
3656
Name: date_end, dtype: object

3696    2020-06-01
Name: date_start, dtype: object
3696    2020-06-01
Name: date_end, dtype: object
3709    2020-03-18
Name: date_start, dtype: object
3709    2020-06-16
Name: date_end, dtype: object
3708    2020-03-18
Name: date_start, dtype: object
3708    2020-03-23
Name: date_end, dtype: object
3718    2020-03-21
Name: date_start, dtype: object
3718    2020-03-21
Name: date_end, dtype: object
3779    2020-10-09
Name: date_start, dtype: object
3779    2020-08-10
Name: date_end, dtype: object
3745    2020-03-31
Name: date_start, dtype: object
3745    2020-06-29
Name: date_end, dtype: object
3729    2020-03-25
Name: date_start, dtype: object
3729    2020-05-20
Name: date_end, dtype: object
3738    2020-03-27
Name: date_start, dtype: object
3738    2020-05-20
Name: date_end, dtype: object
3747    2020-04-01
Name: date_start, dtype: object
3747    2020-06-05
Name: date_end, dtype: object
3752    2020-04-27
Name: date_start, dtype: object
3752    2020-05-17
Name: date_end, dtype: object
3767    2020-06-06
Name: date_start, dtype: object
3767    2020-06-26
Name: date_end, dtype: object
3788    2020-03-19
Name: date_start, dtype: object
3788    2020-08-28
Name: date_end, dtype: object
3843    2020-07-01
Name: date_start, dtype: object
3843    2020-07-01
Name: date_end, dtype: object
3852    2020-03-18
Name: date_start, dtype: object
3852    2020-04-15
Name: date_end, dtype: object
3865    2020-05-18
Name: date_start, dtype: object
3865    2020-05-18
Name: date_end, dtype: object
3873    2020-10-02
Name: date_start, dtype: object
3873    2020-10-02
Name: date_end, dtype: object
3890    2020-04-23
Name: date_start, dtype: object
3890    2020-04-23
Name: date_end, dtype: object
3892    2020-09-21
Name: date_start, dtype: object
3892    2020-11-03
Name: date_end, dtype: object
3896    2020-11-16
Name: date_start, dtype: object
3896    2020-11-16
Name: date_end, dtype: object
3983    2020-06-16
Name: date_start, dtype: object
3983    2020-06-16
Name: date_end, dtype: object
3927    2020-03-18
Name: date_start, dtype: object
3927    2020-03-18
Name: date_end, dtype: object
3917    2020-03-16
Name: date_start, dtype: object
3917    2020-03-16
Name: date_end, dtype: object
3913    2020-03-14
Name: date_start, dtype: object
3913    2020-03-14
Name: date_end, dtype: object
3938    2020-03-20
Name: date_start, dtype: object
3938    2020-03-20
Name: date_end, dtype: object
3928    2020-03-18
Name: date_start, dtype: object
3928    2020-03-18
Name: date_end, dtype: object
3964    2020-05-23
Name: date_start, dtype: object
3964    2020-05-23
Name: date_end, dtype: object
3947    2020-04-09
Name: date_start, dtype: object
3947    2020-04-09
Name: date_end, dtype: object
3950    2020-04-14
Name: date_start, dtype: object
3950    2020-04-14
Name: date_end, dtype: object
3959    2020-05-15
Name: date_start, dtype: object
3959    2020-05-15
Name: date_end, dtype: object
3967    2020-05-28
Name: date_start, dtype: object
3967    2020-05-28
Name: date_end, dtype: object
3963    2020-05-23
Name: date_start, dtype: object
3963    2020-05-23
Name: date_end, dtype: object
3980    2020-06-15
Name: date_start, dtype: object
3980    2020-06-15
Name: date_end, dtype: object
3975    2020-06-14
Name: date_start, dtype: object
3975    2020-06-14
Name: date_end, dtype: object
3973    2020-06-04
Name: date_start, dtype: object
3973    2020-06-04
Name: date_end, dtype: object
4003    2020-08-01
Name: date_start, dtype: object
4003    2020-08-01
Name: date_end, dtype: object
3978    2020-06-15
Name: date_start, dtype: object
3978    2020-06-15
Name: date_end, dtype: object
3979    2020-06-15
Name: date_start, dtype: object
3979    2020-06-15
Name: date_end, dtype: object
3989    2020-06-21
Name: date_start, dtype: object
3989    2020-06-21
Name: date_end, dtype: object
4011    2020-12-19
Name: date_start, dtype: object
4011    2020-12-19
Name: date_end, dtype: object
3987    2020-06-17
Name: date_start, dtype: object
3987    2020-11-03
Name: date_end, dtype: object
3998    2020-07-16
Name: date_start, dtype: object
3998    2020-07-16
Name: date_end, dtype: object
3994    2020-07-14
Name: date_start, dtype: object
3994    2020-07-14
Name: date_end, dtype: object
4001    2020-07-31
Name: date_start, dtype: object
4001    2020-07-31
Name: date_end, dtype: object
3999    2020-07-31
Name: date_start, dtype: object
3999    2020-07-31
Name: date_end, dtype: object
4052    2020-12-19
Name: date_start, dtype: object
4052    2020-12-19
Name: date_end, dtype: object
4072    2020-05-08
Name: date_start, dtype: object
4072    2020-05-08
Name: date_end, dtype: object
4071    2020-05-04
Name: date_start, dtype: object
4071    2020-05-04
Name: date_end, dtype: object
4106    2021-01-18
Name: date_start, dtype: object
4106    2021-01-18
Name: date_end, dtype: object
4107    2020-03-16
Name: date_start, dtype: object
4107    2020-05-01
Name: date_end, dtype: object
4111    2020-05-15
Name: date_start, dtype: object
4111    2020-06-15
Name: date_end, dtype: object
4134    2020-04-21
Name: date_start, dtype: object
4134    2020-04-21
Name: date_end, dtype: object
4147    2020-04-30
Name: date_start, dtype: object
4147    2020-04-30
Name: date_end, dtype: object
4155    2020-12-06
Name: date_start, dtype: object
4155    2020-12-06
Name: date_end, dtype: object
4178    2020-07-01
Name: date_start, dtype: object
4178    2020-11-03
Name: date_end, dtype: object
4179    2020-07-08
Name: date_start, dtype: object
4179    2020-11-03
Name: date_end, dtype: object
4182    2020-08-04
Name: date_start, dtype: object
4182    2020-11-03
Name: date_end, dtype: object
4226    2020-03-16
Name: date_start, dtype: object
4226    2020-03-30
Name: date_end, dtype: object
4224    2020-03-16
Name: date_start, dtype: object
4224    2020-03-30
Name: date_end, dtype: object
4225    2020-03-16
Name: date_start, dtype: object
4225    2020-03-30
Name: date_end, dtype: object
4364    2020-05-29
Name: date_start, dtype: object
4364    2020-05-29
Name: date_end, dtype: object
4218    2020-03-16
Name: date_start, dtype: object
4218    2020-05-01
Name: date_end, dtype: object
4317    2020-05-01
Name: date_start, dtype: object
4317    2020-05-01
Name: date_end, dtype: object
4249    2020-03-17
Name: date_start, dtype: object
4249    2020-05-28
Name: date_end, dtype: object
4340    2020-05-28
Name: date_start, dtype: object
4340    2021-05-28
Name: date_end, dtype: object
4243    2020-03-17
Name: date_start, dtype: object
4243    2020-05-29
Name: date_end, dtype: object
4336    2020-05-15
Name: date_start, dtype: object
4336    2020-05-15
Name: date_end, dtype: object
4275    2020-04-06
Name: date_start, dtype: object
4275    2020-06-15
Name: date_end, dtype: object
4363    2020-05-29
Name: date_start, dtype: object
4363    2020-05-29
Name: date_end, dtype: object
4339    2020-05-15
Name: date_start, dtype: object
4339    2020-05-15
Name: date_end, dtype: object
4355    2020-05-29
Name: date_start, dtype: object
4355    2020-05-29
Name: date_end, dtype: object
4398    2020-06-15
Name: date_start, dtype: object
4398    2020-06-15
Name: date_end, dtype: object
4382    2020-05-30
Name: date_start, dtype: object
4382    2020-05-30
Name: date_end, dtype: object
4406    2020-06-15
Name: date_start, dtype: object
4406    2020-06-15
Name: date_end, dtype: object
4600    2020-11-03
Name: date_start, dtype: object
4600    2020-11-03
Name: date_end, dtype: object
4425    2020-07-01
Name: date_start, dtype: object
4425    2020-07-01
Name: date_end, dtype: object
4435    2020-07-01
Name: date_start, dtype: object
4435    2020-07-01
Name: date_end, dtype: object
4487    2020-09-14
Name: date_start, dtype: object
4487    2020-09-14
Name: date_end, dtype: object
4451    2020-07-03
Name: date_start, dtype: object
4451    2020-07-03
Name: date_end, dtype: object
4467    2020-07-24
Name: date_start, dtype: object
4467    2020-07-24
Name: date_end, dtype: object
4495    2020-09-14
Name: date_start, dtype: object
4495    2020-09-14
Name: date_end, dtype: object
4473    2020-08-31
Name: date_start, dtype: object
4473    2020-11-03
Name: date_end, dtype: object
4509    2020-09-21
Name: date_start, dtype: object
4509    2020-09-21
Name: date_end, dtype: object
4519    2020-09-21
Name: date_start, dtype: object
4519    2020-09-21
Name: date_end, dtype: object
4533    2020-09-25
Name: date_start, dtype: object
4533    2020-09-25
Name: date_end, dtype: object
4562    2020-10-25
Name: date_start, dtype: object
4562    2020-10-25
Name: date_end, dtype: object
4568    2020-10-28
Name: date_start, dtype: object
4568    2020-10-28
Name: date_end, dtype: object
4622    2020-11-07
Name: date_start, dtype: object
4622    2020-11-07
Name: date_end, dtype: object
4574    2020-11-01
Name: date_start, dtype: object
4574    2020-11-01
Name: date_end, dtype: object
4614    2020-11-07
Name: date_start, dtype: object
4614    2020-11-07
Name: date_end, dtype: object
4638    2020-11-11
Name: date_start, dtype: object
4638    2020-11-11
Name: date_end, dtype: object
4595    2020-11-03
Name: date_start, dtype: object
4595    2020-11-03
Name: date_end, dtype: object
4670    2020-11-23
Name: date_start, dtype: object
4670    2020-11-23
Name: date_end, dtype: object
4664    2020-11-17
Name: date_start, dtype: object
4664    2020-11-17
Name: date_end, dtype: object
4695    2020-12-07
Name: date_start, dtype: object
4695    2020-12-07
Name: date_end, dtype: object

4724    2020-11-03
Name: date_start, dtype: object
4724    2020-11-03
Name: date_end, dtype: object
4755    2020-11-03
Name: date_start, dtype: object
4755    2020-11-03
Name: date_end, dtype: object
4759    2020-12-02
Name: date_start, dtype: object
4759    2020-12-02
Name: date_end, dtype: object
4798    2020-05-04
Name: date_start, dtype: object
4798    2020-05-04
Name: date_end, dtype: object
4767    2020-03-11
Name: date_start, dtype: object
4767    2020-06-04
Name: date_end, dtype: object
4795    2020-05-04
Name: date_start, dtype: object
4795
Name: date_end, dtype: object
4780    2020-03-13
Name: date_start, dtype: object
4780    2021-05-01
Name: date_end, dtype: object
4796    2020-05-04
Name: date_start, dtype: object
4796    2020-05-04
Name: date_end, dtype: object
4779    2020-03-13
Name: date_start, dtype: object
4779    2020-06-15
Name: date_end, dtype: object
4777    2020-03-13
Name: date_start, dtype: object
4777    2020-06-04
Name: date_end, dtype: object
4776    2020-03-13
Name: date_start, dtype: object
4776    2020-05-29
Name: date_end, dtype: object
4786    2020-04-06
Name: date_start, dtype: object
4786    2020-06-15
Name: date_end, dtype: object
4835    2020-05-29
Name: date_start, dtype: object
4835    2020-05-29
Name: date_end, dtype: object
4828    2020-05-29
Name: date_start, dtype: object
4828    2020-05-29
Name: date_end, dtype: object
4829    2020-05-29
Name: date_start, dtype: object
4829    2020-05-29
Name: date_end, dtype: object
4872    2020-06-15
Name: date_start, dtype: object
4872    2020-06-15
Name: date_end, dtype: object
4873    2020-06-15
Name: date_start, dtype: object
4873    2020-06-15
Name: date_end, dtype: object
4848    2020-05-30
Name: date_start, dtype: object
4848    2020-05-30
Name: date_end, dtype: object
5096    2020-11-17
Name: date_start, dtype: object
5096    2020-11-17
Name: date_end, dtype: object
4879    2020-06-15
Name: date_start, dtype: object
4879    2020-06-15
Name: date_end, dtype: object
4850    2020-06-01
Name: date_start, dtype: object
4850    2020-11-03
Name: date_end, dtype: object
4852    2020-06-04
Name: date_start, dtype: object
4852    2020-11-03
Name: date_end, dtype: object
4857    2020-06-05
Name: date_start, dtype: object
4857    2020-11-03
Name: date_end, dtype: object
4890    2020-07-01
Name: date_start, dtype: object
4890    2020-07-01
Name: date_end, dtype: object
4891    2020-07-01
Name: date_start, dtype: object
4891    2020-07-01
Name: date_end, dtype: object
4892    2020-07-01
Name: date_start, dtype: object
4892    2020-07-01
Name: date_end, dtype: object
4930    2020-09-14
Name: date_start, dtype: object
4930    2020-09-14
Name: date_end, dtype: object
4894    2020-07-03
Name: date_start, dtype: object
4894    2020-07-03
Name: date_end, dtype: object
4904    2020-07-24
Name: date_start, dtype: object
4904    2020-07-24
Name: date_end, dtype: object
4934    2020-09-14
Name: date_start, dtype: object
4934    2020-09-14
Name: date_end, dtype: object
4955    2020-09-21
Name: date_start, dtype: object
4955    2020-09-21
Name: date_end, dtype: object
4956    2020-09-21
Name: date_start, dtype: object
4956    2020-09-21
Name: date_end, dtype: object
4963    2020-09-21
Name: date_start, dtype: object
4963    2020-09-21
Name: date_end, dtype: object
4936    2020-09-17
Name: date_start, dtype: object
4936    2020-11-03
Name: date_end, dtype: object
4974    2020-09-25
Name: date_start, dtype: object
4974    2020-09-25
Name: date_end, dtype: object
4975    2020-09-25
Name: date_start, dtype: object
4975    2020-09-25
Name: date_end, dtype: object
5002    2020-10-25
Name: date_start, dtype: object
5002    2020-10-25
Name: date_end, dtype: object
5013    2020-10-28
Name: date_start, dtype: object
5013    2020-10-28
Name: date_end, dtype: object
5014    2020-10-28
Name: date_start, dtype: object
5014    2020-10-28
Name: date_end, dtype: object
5068    2020-11-07
Name: date_start, dtype: object
5068    2020-11-07
Name: date_end, dtype: object
5025    2020-11-01
Name: date_start, dtype: object
5025    2020-11-01
Name: date_end, dtype: object
5026    2020-11-01
Name: date_start, dtype: object
5026    2020-11-01
Name: date_end, dtype: object
5060    2020-11-07
Name: date_start, dtype: object
5060    2020-11-07
Name: date_end, dtype: object
5061    2020-11-07
Name: date_start, dtype: object
5061    2020-11-07
Name: date_end, dtype: object
5082    2020-11-11
Name: date_start, dtype: object
5082    2020-11-11
Name: date_end, dtype: object
5042    2020-11-03
Name: date_start, dtype: object
5042    2020-11-03
Name: date_end, dtype: object
5107    2020-11-23
Name: date_start, dtype: object
5107    2020-11-23
Name: date_end, dtype: object
5108    2020-11-23
Name: date_start, dtype: object
5108    2020-11-23
Name: date_end, dtype: object
5095    2020-11-17
Name: date_start, dtype: object
5095    2020-11-17
Name: date_end, dtype: object
5191    2020-09-15
Name: date_start, dtype: object
5191    2020-11-02
Name: date_end, dtype: object
5196    2020-05-18
Name: date_start, dtype: object
5196    2020-04-20
Name: date_end, dtype: object
5251    2020-05-04
Name: date_start, dtype: object
5251
Name: date_end, dtype: object
5250    2020-05-04
Name: date_start, dtype: object
5250
Name: date_end, dtype: object
5249    2020-05-04
Name: date_start, dtype: object
5249
Name: date_end, dtype: object
5252    2020-05-09
Name: date_start, dtype: object
5252    2020-05-10
Name: date_end, dtype: object
5271    2020-07-03
Name: date_start, dtype: object
5271    2020-07-05
Name: date_end, dtype: object
5273    2020-07-20
Name: date_start, dtype: object
5273    2020-07-20
Name: date_end, dtype: object
5289    2020-07-03
Name: date_start, dtype: object
5289    2020-07-05
Name: date_end, dtype: object
5290    2020-07-03
Name: date_start, dtype: object
5290    2020-07-05
Name: date_end, dtype: object
5292    2020-07-20
Name: date_start, dtype: object
5292    2020-07-20
Name: date_end, dtype: object
5293    2020-07-20
Name: date_start, dtype: object
5293    2020-07-20
Name: date_end, dtype: object
5330    2020-05-18
Name: date_start, dtype: object
5330
Name: date_end, dtype: object
5336    2020-05-31
Name: date_start, dtype: object
5336    2020-04-23
Name: date_end, dtype: object
5331    2020-05-18
Name: date_start, dtype: object
5331
Name: date_end, dtype: object
5329    2020-05-18
Name: date_start, dtype: object
5329
Name: date_end, dtype: object
5358    2020-07-03
Name: date_start, dtype: object
5358    2020-07-05
Name: date_end, dtype: object
5359    2020-07-03
Name: date_start, dtype: object
5359    2020-07-05
Name: date_end, dtype: object
5373    2020-07-20
Name: date_start, dtype: object
5373    2020-07-20
Name: date_end, dtype: object
5374    2020-07-20
Name: date_start, dtype: object
5374    2020-07-20
Name: date_end, dtype: object
5392    2020-08-18
Name: date_start, dtype: object
5392    2020-08-31
Name: date_end, dtype: object
5400    2020-05-09
Name: date_start, dtype: object
5400    2020-04-20
Name: date_end, dtype: object
5405    2020-05-31
Name: date_start, dtype: object
5405
Name: date_end, dtype: object
5406    2020-06-01
Name: date_start, dtype: object
5406    2020-05-31
Name: date_end, dtype: object
5414    2020-07-03
Name: date_start, dtype: object
5414    2020-07-05
Name: date_end, dtype: object
5419    2020-07-20
Name: date_start, dtype: object
5419    2020-07-20
Name: date_end, dtype: object
5436    2020-05-31
Name: date_start, dtype: object
5436
Name: date_end, dtype: object
5429    2020-05-04
Name: date_start, dtype: object
5429
Name: date_end, dtype: object
5434    2020-05-18
Name: date_start, dtype: object
5434
Name: date_end, dtype: object
5447    2020-07-03
Name: date_start, dtype: object
5447    2020-07-05
Name: date_end, dtype: object
5450    2020-07-20
Name: date_start, dtype: object
5450    2020-07-20
Name: date_end, dtype: object
5458    2020-08-10
Name: date_start, dtype: object
5458    2020-08-31
Name: date_end, dtype: object
5478    2020-03-20
Name: date_start, dtype: object
5478    2020-03-23
Name: date_end, dtype: object
5497    2020-03-24
Name: date_start, dtype: object
5497    2020-07-01
Name: date_end, dtype: object
5557    2020-01-29
Name: date_start, dtype: object
5557    2020-03-02
Name: date_end, dtype: object
5540    2020-08-17
Name: date_start, dtype: object
5540    2020-08-31
Name: date_end, dtype: object

5589    2020-08-17
Name: date_start, dtype: object
5589    2020-08-25
Name: date_end, dtype: object
5642    2020-02-26
Name: date_start, dtype: object
5642    2020-03-29
Name: date_end, dtype: object
5813    2020-03-25
Name: date_start, dtype: object
5813    2020-03-26
Name: date_end, dtype: object
5875    2020-10-07
Name: date_start, dtype: object
5875
Name: date_end, dtype: object
5863    2020-08-24
Name: date_start, dtype: object
5863    2020-08-31
Name: date_end, dtype: object
5911    2020-12-28
Name: date_start, dtype: object
5911    2021-01-09
Name: date_end, dtype: object
5921    2021-01-09
Name: date_start, dtype: object
5921    2021-01-25
Name: date_end, dtype: object
5971    2020-07-12
Name: date_start, dtype: object
5971    2020-07-30
Name: date_end, dtype: object
6116    2020-04-11
Name: date_start, dtype: object
6116    2020-05-30
Name: date_end, dtype: object
6126    2020-09-01
Name: date_start, dtype: object
6126
Name: date_end, dtype: object
6132    2020-03-20
Name: date_start, dtype: object
6132    2020-05-30
Name: date_end, dtype: object
6202    2020-04-01
Name: date_start, dtype: object
6202    2020-08-11
Name: date_end, dtype: object
6235    2020-03-18
Name: date_start, dtype: object
6235    2020-08-17
Name: date_end, dtype: object
6270    2020-10-16
Name: date_start, dtype: object
6270    2020-04-02
Name: date_end, dtype: object
6263    2020-06-21
Name: date_start, dtype: object
6263    2020-05-30
Name: date_end, dtype: object
6268    2020-09-04
Name: date_start, dtype: object
6268
Name: date_end, dtype: object
6319    2020-10-23
Name: date_start, dtype: object
6319    2020-03-31
Name: date_end, dtype: object
6287    2020-03-29
Name: date_start, dtype: object
6287    2020-04-02
Name: date_end, dtype: object
6302    2020-04-26
Name: date_start, dtype: object
6302    2020-05-05
Name: date_end, dtype: object
6300    2020-04-25
Name: date_start, dtype: object
6300
Name: date_end, dtype: object
6312    2020-06-01
Name: date_start, dtype: object
6312    2020-08-08
Name: date_end, dtype: object
6318    2020-08-19
Name: date_start, dtype: object
6318
Name: date_end, dtype: object
6333    2020-03-25
Name: date_start, dtype: object
6333    2020-04-06
Name: date_end, dtype: object
6343    2020-05-06
Name: date_start, dtype: object
6343
Name: date_end, dtype: object
6340    2020-04-24
Name: date_start, dtype: object
6340    2020-05-25
Name: date_end, dtype: object
6350    2020-05-25
Name: date_start, dtype: object
6350    2020-05-25
Name: date_end, dtype: object
6440    2020-04-10
Name: date_start, dtype: object
6440    2020-05-30
Name: date_end, dtype: object
6447    2020-02-24
Name: date_start, dtype: object
6447    2020-02-24
Name: date_end, dtype: object
6454    2020-03-25
Name: date_start, dtype: object
6454    2020-03-25
Name: date_end, dtype: object
6481    2020-03-08
Name: date_start, dtype: object
6481    2020-03-08
Name: date_end, dtype: object
6504    2020-04-16
Name: date_start, dtype: object
6504    2020-04-16
Name: date_end, dtype: object
6520    2020-06-11
Name: date_start, dtype: object
6520    2020-06-11
Name: date_end, dtype: object
6523    2020-06-25
Name: date_start, dtype: object
6523    2020-06-25
Name: date_end, dtype: object
6525    2020-07-15
Name: date_start, dtype: object
6525    2020-07-15
Name: date_end, dtype: object
6527    2020-08-04
Name: date_start, dtype: object
6527    2020-08-04
Name: date_end, dtype: object
6529    2020-09-10
Name: date_start, dtype: object
6529    2020-09-10
Name: date_end, dtype: object
6531    2020-10-08
Name: date_start, dtype: object
6531    2020-10-08
Name: date_end, dtype: object
6533    2020-10-13
Name: date_start, dtype: object
6533    2020-10-13
Name: date_end, dtype: object
6535    2020-10-21
Name: date_start, dtype: object
6535    2020-10-21
Name: date_end, dtype: object
6561    2020-07-11
Name: date_start, dtype: object
6561    2020-07-11
Name: date_end, dtype: object
6563    2020-07-13
Name: date_start, dtype: object
6563    2020-07-13
Name: date_end, dtype: object
6567    2020-07-31
Name: date_start, dtype: object
6567    2020-07-31
Name: date_end, dtype: object
6571    2020-08-16
Name: date_start, dtype: object
6571    2020-08-16
Name: date_end, dtype: object
6572    2020-08-16
Name: date_start, dtype: object
6572    2020-08-16
Name: date_end, dtype: object
6573    2020-08-16
Name: date_start, dtype: object
6573    2020-08-16
Name: date_end, dtype: object
6577    2020-08-29
Name: date_start, dtype: object
6577    2020-08-29
Name: date_end, dtype: object
6578    2020-08-29
Name: date_start, dtype: object
6578    2020-08-29
Name: date_end, dtype: object
6579    2020-08-29
Name: date_start, dtype: object
6579    2020-08-29
Name: date_end, dtype: object
6612    2020-09-25
Name: date_start, dtype: object
6612    2020-09-25
Name: date_end, dtype: object
6613    2020-09-25
Name: date_start, dtype: object
6613    2020-09-25
Name: date_end, dtype: object
6622    2020-06-02
Name: date_start, dtype: object
6622    2020-05-03
Name: date_end, dtype: object
6625    2020-08-07
Name: date_start, dtype: object
6625    2020-08-26
Name: date_end, dtype: object
6627    2020-08-12
Name: date_start, dtype: object
6627    2020-08-26
Name: date_end, dtype: object
6648    2020-06-15
Name: date_start, dtype: object
6648    2020-05-03
Name: date_end, dtype: object
6636    2020-03-18
Name: date_start, dtype: object
6636    2020-05-15
Name: date_end, dtype: object
6646    2020-05-30
Name: date_start, dtype: object
6646
Name: date_end, dtype: object
6649    2020-06-15
Name: date_start, dtype: object
6649
Name: date_end, dtype: object
6661    2020-09-23
Name: date_start, dtype: object
6661
Name: date_end, dtype: object
6681    2020-05-04
Name: date_start, dtype: object
6681    2020-05-04
Name: date_end, dtype: object
6712    2020-03-25
Name: date_start, dtype: object
6712    2020-08-01
Name: date_end, dtype: object
6747    2020-05-18
Name: date_start, dtype: object
6747    2020-05-03
Name: date_end, dtype: object
6737    2020-03-18
Name: date_start, dtype: object
6737    2020-04-03
Name: date_end, dtype: object
6759    2020-03-18
Name: date_start, dtype: object
6759    2020-04-05
Name: date_end, dtype: object
6782    2020-06-08
Name: date_start, dtype: object
6782    2020-06-08
Name: date_end, dtype: object
6778    2020-05-18
Name: date_start, dtype: object
6778    2020-07-01
Name: date_end, dtype: object
6792    2020-07-29
Name: date_start, dtype: object
6792    2020-07-29
Name: date_end, dtype: object
6794    2020-07-29
Name: date_start, dtype: object
6794    2020-07-29
Name: date_end, dtype: object
6847    2020-10-01
Name: date_start, dtype: object
6847    2020-10-01
Name: date_end, dtype: object
6868    2020-04-17
Name: date_start, dtype: object
6868    2020-04-17
Name: date_end, dtype: object
6887    2020-09-04
Name: date_start, dtype: object
6887    2020-09-04
Name: date_end, dtype: object
6888    2020-09-04
Name: date_start, dtype: object
6888    2020-09-04
Name: date_end, dtype: object
6898    2020-03-21
Name: date_start, dtype: object
6898    2020-03-21
Name: date_end, dtype: object
6900    2020-03-23
Name: date_start, dtype: object
6900    2020-03-23
Name: date_end, dtype: object
6907    2020-10-01
Name: date_start, dtype: object
6907    2020-10-01
Name: date_end, dtype: object
6926    2020-04-11
Name: date_start, dtype: object
6926    2020-04-30
Name: date_end, dtype: object
6935    2020-06-12
Name: date_start, dtype: object
6935    2020-06-12
Name: date_end, dtype: object
6950    2020-03-21
Name: date_start, dtype: object
6950    2020-03-21
Name: date_end, dtype: object
6957    2020-10-01
Name: date_start, dtype: object
6957    2020-10-01
Name: date_end, dtype: object
7196    2020-03-17
Name: date_start, dtype: object
7196    2020-06-02
Name: date_end, dtype: object
7230    2020-03-06
Name: date_start, dtype: object
7230    2020-07-01
Name: date_end, dtype: object
7261    2020-08-11
Name: date_start, dtype: object
7261    2020-09-01
Name: date_end, dtype: object
7273    2020-07-01
Name: date_start, dtype: object
7273
Name: date_end, dtype: object
7278    2020-09-11
Name: date_start, dtype: object
7278
Name: date_end, dtype: object
7341    2020-03-21
Name: date_start, dtype: object
7341
Name: date_end, dtype: object
7340    2020-03-21
Name: date_start, dtype: object
7340    2020-05-31
Name: date_end, dtype: object
7347    2020-04-29
Name: date_start, dtype: object
7347    2020-05-31
Name: date_end, dtype: object
7388    2020-03-21
Name: date_start, dtype: object
7388    2020-04-15
Name: date_end, dtype: object

7456    2020-03-21
Name: date_start, dtype: object
7456    2020-05-31
Name: date_end, dtype: object
7490    2020-03-26
Name: date_start, dtype: object
7490    2020-03-26
Name: date_end, dtype: object
7504    2020-03-26
Name: date_start, dtype: object
7504    2020-04-30
Name: date_end, dtype: object
7542    2020-03-16
Name: date_start, dtype: object
7542    2020-05-31
Name: date_end, dtype: object
7544    2020-05-29
Name: date_start, dtype: object
7544    2020-05-29
Name: date_end, dtype: object
7570    2020-03-16
Name: date_start, dtype: object
7570    2020-06-12
Name: date_end, dtype: object
7572    2020-03-21
Name: date_start, dtype: object
7572    2021-04-15
Name: date_end, dtype: object
7574    2020-03-22
Name: date_start, dtype: object
7574    2020-05-10
Name: date_end, dtype: object
7580    2020-11-22
Name: date_start, dtype: object
7580    2020-12-07
Name: date_end, dtype: object
7593    2020-03-16
Name: date_start, dtype: object
7593    2020-05-21
Name: date_end, dtype: object
7622    2020-03-18
Name: date_start, dtype: object
7622    2020-05-12
Name: date_end, dtype: object
7657    2020-05-20
Name: date_start, dtype: object
7657
Name: date_end, dtype: object
7660    2020-11-09
Name: date_start, dtype: object
7660
Name: date_end, dtype: object
7677    2020-05-13
Name: date_start, dtype: object
7677
Name: date_end, dtype: object
7681    2020-08-13
Name: date_start, dtype: object
7681    2020-08-13
Name: date_end, dtype: object
7754    2020-03-18
Name: date_start, dtype: object
7754    2020-03-19
Name: date_end, dtype: object
8137    2020-05-06
Name: date_start, dtype: object
8137    2020-06-24
Name: date_end, dtype: object
8280    2020-04-03
Name: date_start, dtype: object
8280
Name: date_end, dtype: object
8286    2020-04-13
Name: date_start, dtype: object
8286
Name: date_end, dtype: object
8412    2020-05-08
Name: date_start, dtype: object
8412    2020-05-13
Name: date_end, dtype: object
8414    2020-05-13
Name: date_start, dtype: object
8414    2020-05-20
Name: date_end, dtype: object
8417    2020-05-20
Name: date_start, dtype: object
8417    2020-05-28
Name: date_end, dtype: object
8420    2020-05-28
Name: date_start, dtype: object
8420    2020-06-10
Name: date_end, dtype: object
8501    2020-03-16
Name: date_start, dtype: object
8501    2020-06-06
Name: date_end, dtype: object
8495    2020-03-16
Name: date_start, dtype: object
8495    2020-06-05
Name: date_end, dtype: object
8510    2020-03-18
Name: date_start, dtype: object
8510    2020-07-31
Name: date_end, dtype: object
8551    2020-03-22
Name: date_start, dtype: object
8551    2020-03-26
Name: date_end, dtype: object
8624    2020-04-13
Name: date_start, dtype: object
8624
Name: date_end, dtype: object
8570    2020-03-26
Name: date_start, dtype: object
8570    2020-06-19
Name: date_end, dtype: object
8579    2020-03-26
Name: date_start, dtype: object
8579    2020-05-28
Name: date_end, dtype: object
8571    2020-03-26
Name: date_start, dtype: object
8571    2020-06-19
Name: date_end, dtype: object
8572    2020-03-26
Name: date_start, dtype: object
8572    2020-06-19
Name: date_end, dtype: object
8616    2020-04-07
Name: date_start, dtype: object
8616    2020-06-06
Name: date_end, dtype: object
8633    2020-04-14
Name: date_start, dtype: object
8633    2020-05-28
Name: date_end, dtype: object
8650    2020-04-29
Name: date_start, dtype: object
8650    2020-05-28
Name: date_end, dtype: object
8675    2020-06-06
Name: date_start, dtype: object
8675    2020-08-11
Name: date_end, dtype: object
8676    2020-06-06
Name: date_start, dtype: object
8676    2020-07-21
Name: date_end, dtype: object
8695    2020-06-19
Name: date_start, dtype: object
8695    2020-07-21
Name: date_end, dtype: object
8697    2020-06-19
Name: date_start, dtype: object
8697    2020-07-21
Name: date_end, dtype: object
8701    2020-07-06
Name: date_start, dtype: object
8701    2020-07-21
Name: date_end, dtype: object
8711    2020-07-21
Name: date_start, dtype: object
8711    2020-09-04
Name: date_end, dtype: object
8729    2020-03-13
Name: date_start, dtype: object
8729    2020-07-21
Name: date_end, dtype: object
8774    2020-03-27
Name: date_start, dtype: object
8774
Name: date_end, dtype: object
8854    2020-03-17
Name: date_start, dtype: object
8854    2020-03-19
Name: date_end, dtype: object
8853    2020-03-17
Name: date_start, dtype: object
8853    2020-03-17
Name: date_end, dtype: object
8868    2020-03-20
Name: date_start, dtype: object
8868    2020-08-12
Name: date_end, dtype: object
8894    2020-08-11
Name: date_start, dtype: object
8894    2020-08-19
Name: date_end, dtype: object
8939    2020-05-08
Name: date_start, dtype: object
8939    2020-06-05
Name: date_end, dtype: object
9066    2020-03-19
9080    2020-05-19
Name: date_start, dtype: object
9066    2020-05-19
9080    2020-05-19
Name: date_end, dtype: object
9081    2020-05-19
Name: date_start, dtype: object
9081    2020-06-15
Name: date_end, dtype: object
9121    2020-07-27
Name: date_start, dtype: object
9121
Name: date_end, dtype: object
9175    2020-04-17
Name: date_start, dtype: object
9175    2020-05-06
Name: date_end, dtype: object
9211    2020-03-13
Name: date_start, dtype: object
9211    2020-04-21
Name: date_end, dtype: object
9309    2020-07-22
Name: date_start, dtype: object
9309
Name: date_end, dtype: object
9337    2020-03-17
Name: date_start, dtype: object
9337    2020-09-11
Name: date_end, dtype: object
9364    2020-03-18
Name: date_start, dtype: object
9364    2020-06-01
Name: date_end, dtype: object
9408    2020-04-30
Name: date_start, dtype: object
9408
Name: date_end, dtype: object
9432    2020-05-01
Name: date_start, dtype: object
9432
Name: date_end, dtype: object
9595    2020-09-08
Name: date_start, dtype: object
9595    2020-05-31
Name: date_end, dtype: object
9545    2020-05-28
Name: date_start, dtype: object
9545
Name: date_end, dtype: object
9565    2020-06-15
Name: date_start, dtype: object
9565    2020-06-15
Name: date_end, dtype: object
9568    2020-07-20
Name: date_start, dtype: object
9568    2020-09-09
Name: date_end, dtype: object
9556    2020-06-01
Name: date_start, dtype: object
9556    2020-06-23
Name: date_end, dtype: object
9528    2020-05-11
Name: date_start, dtype: object
9528    2020-08-31
Name: date_end, dtype: object
9559    2020-06-01
Name: date_start, dtype: object
9559    2020-06-01
Name: date_end, dtype: object
9562    2020-06-01
Name: date_start, dtype: object
9562    2020-05-11
Name: date_end, dtype: object
9548    2020-06-01
Name: date_start, dtype: object
9548
Name: date_end, dtype: object
9604    2020-09-08
Name: date_start, dtype: object
9604    2020-10-08
Name: date_end, dtype: object
9618    2021-01-11
Name: date_start, dtype: object
9618    2021-01-30
Name: date_end, dtype: object
9625    2021-01-09
Name: date_start, dtype: object
9625    2021-02-08
Name: date_end, dtype: object
9721    2020-07-24
Name: date_start, dtype: object
9721    2020-07-29
Name: date_end, dtype: object
9744    2020-03-02
Name: date_start, dtype: object
9744    2020-03-02
Name: date_end, dtype: object
9747    2020-03-13
Name: date_start, dtype: object
9747    2020-03-13
Name: date_end, dtype: object
9754    2020-03-20
Name: date_start, dtype: object
9754    2020-03-20
Name: date_end, dtype: object
9783    2020-10-07
Name: date_start, dtype: object
9783    2020-10-07
Name: date_end, dtype: object
9766    2020-05-29
Name: date_start, dtype: object
9766
Name: date_end, dtype: object
9813    2020-07-23
Name: date_start, dtype: object
9813    2020-07-23
Name: date_end, dtype: object
9847    2020-05-03
Name: date_start, dtype: object
9847    2020-05-03
Name: date_end, dtype: object
9924    2020-03-24
Name: date_start, dtype: object
9924
Name: date_end, dtype: object
9936    2020-05-18
Name: date_start, dtype: object
9936    2020-05-18
Name: date_end, dtype: object
9937    2020-05-18
Name: date_start, dtype: object
9937    2020-05-18
Name: date_end, dtype: object
9934    2020-04-30
Name: date_start, dtype: object
9934
Name: date_end, dtype: object
10570    2020-06-18
Name: date_start, dtype: object
10570
Name: date_end, dtype: object
9962    2020-08-28
Name: date_start, dtype: object
9962
Name: date_end, dtype: object
9977    2020-02-29
Name: date_start, dtype: object
9977    2020-02-29
Name: date_end, dtype: object
9981    2020-03-20
Name: date_start, dtype: object
9981
Name: date_end, dtype: object
9998    2020-09-27
Name: date_start, dtype: object
9998    2020-10-03
Name: date_end, dtype: object

10023    2020-02-09
Name: date_start, dtype: object
10023    2020-02-09
Name: date_end, dtype: object
10028    2020-03-13
Name: date_start, dtype: object
10028    2020-07-03
Name: date_end, dtype: object
10065    2020-07-03
Name: date_start, dtype: object
10065    2020-11-24
Name: date_end, dtype: object
10068    2020-08-24
Name: date_start, dtype: object
10068    2020-09-07
Name: date_end, dtype: object
10418    2020-06-26
Name: date_start, dtype: object
10418
Name: date_end, dtype: object
10090    2020-03-15
Name: date_start, dtype: object
10090    2020-05-29
Name: date_end, dtype: object
10091    2020-03-15
Name: date_start, dtype: object
10091    2020-06-22
Name: date_end, dtype: object
10235    2020-05-16
Name: date_start, dtype: object
10235    2020-05-06
Name: date_end, dtype: object
10290    2020-06-12
Name: date_start, dtype: object
10290
Name: date_end, dtype: object
10250    2020-05-25
Name: date_start, dtype: object
10250
Name: date_end, dtype: object
10242    2020-05-19
Name: date_start, dtype: object
10242
Name: date_end, dtype: object
10494    2020-06-01
Name: date_start, dtype: object
10494    2020-06-25
Name: date_end, dtype: object
10240    2020-05-19
Name: date_start, dtype: object
10240
Name: date_end, dtype: object
10305    2020-06-19
Name: date_start, dtype: object
10305    2020-06-19
Name: date_end, dtype: object
10274    2020-06-05
Name: date_start, dtype: object
10274
Name: date_end, dtype: object
10241    2020-05-19
Name: date_start, dtype: object
10241
Name: date_end, dtype: object
10244    2020-05-19
Name: date_start, dtype: object
10244
Name: date_end, dtype: object
10259    2020-06-01
Name: date_start, dtype: object
10259
Name: date_end, dtype: object
10323    2020-07-01
Name: date_start, dtype: object
10323    2020-07-01
Name: date_end, dtype: object
10132    2020-03-23
Name: date_start, dtype: object
10132    2020-06-22
Name: date_end, dtype: object
10267    2020-06-01
Name: date_start, dtype: object
10267
Name: date_end, dtype: object
10265    2020-06-01
Name: date_start, dtype: object
10265    2020-06-01
Name: date_end, dtype: object
10230    2020-05-15
Name: date_start, dtype: object
10230
Name: date_end, dtype: object
10223    2020-05-11
Name: date_start, dtype: object
10223    2020-04-10
Name: date_end, dtype: object
10332    2020-07-13
Name: date_start, dtype: object
10332
Name: date_end, dtype: object
10348    2020-09-22
Name: date_start, dtype: object
10348    2020-09-22
Name: date_end, dtype: object
10395    2020-05-20
Name: date_start, dtype: object
10395    2020-05-20
Name: date_end, dtype: object
10406    2020-06-01
Name: date_start, dtype: object
10406    2020-06-01
Name: date_end, dtype: object
10499    2020-06-12
Name: date_start, dtype: object
10499    2020-05-06
Name: date_end, dtype: object
10393    2020-05-08
Name: date_start, dtype: object
10393
Name: date_end, dtype: object
10392    2020-05-04
Name: date_start, dtype: object
10392
Name: date_end, dtype: object
10422    2020-07-20
Name: date_start, dtype: object
10422    2020-07-20
Name: date_end, dtype: object
10405    2020-06-01
Name: date_start, dtype: object
10405    2020-05-11
Name: date_end, dtype: object
10383    2020-03-25
Name: date_start, dtype: object
10383    2020-03-25
Name: date_end, dtype: object
10407    2020-06-01
Name: date_start, dtype: object
10407    2020-06-01
Name: date_end, dtype: object
10415    2020-06-22
Name: date_start, dtype: object
10415    2020-12-26
Name: date_end, dtype: object
10487    2020-05-22
Name: date_start, dtype: object
10487    2020-06-01
Name: date_end, dtype: object
10484    2020-05-15
Name: date_start, dtype: object
10484
Name: date_end, dtype: object
10479    2020-05-08
Name: date_start, dtype: object
10479
Name: date_end, dtype: object
10477    2020-05-01
Name: date_start, dtype: object
10477
Name: date_end, dtype: object
10486    2020-05-22
Name: date_start, dtype: object
10486
Name: date_end, dtype: object
10476    2020-05-01
Name: date_start, dtype: object
10476
Name: date_end, dtype: object
10478    2020-05-08
Name: date_start, dtype: object
10478
Name: date_end, dtype: object
10483    2020-05-15
Name: date_start, dtype: object
10483
Name: date_end, dtype: object
10475    2020-05-01
Name: date_start, dtype: object
10475
Name: date_end, dtype: object
10513    2020-08-03
Name: date_start, dtype: object
10513    2020-08-31
Name: date_end, dtype: object
10520    2020-09-21
Name: date_start, dtype: object
10520
Name: date_end, dtype: object
10569    2020-06-15
Name: date_start, dtype: object
10569
Name: date_end, dtype: object
10573    2020-06-26
Name: date_start, dtype: object
10573
Name: date_end, dtype: object
10561    2020-06-05
Name: date_start, dtype: object
10561
Name: date_end, dtype: object
10607    2020-03-28
Name: date_start, dtype: object
10607    2020-04-16
Name: date_end, dtype: object
10645    2020-06-12
Name: date_start, dtype: object
10645    2020-06-12
Name: date_end, dtype: object
10666    2020-06-25
Name: date_start, dtype: object
10666    2020-09-15
Name: date_end, dtype: object
10787    2020-04-19
Name: date_start, dtype: object
10787    2020-08-01
Name: date_end, dtype: object
10810    2020-07-13
Name: date_start, dtype: object
10810
Name: date_end, dtype: object
10813    2020-04-14
Name: date_start, dtype: object
10813    2020-04-14
Name: date_end, dtype: object
10827    2020-03-16
Name: date_start, dtype: object
10827    2020-03-16
Name: date_end, dtype: object
10859    2020-03-16
Name: date_start, dtype: object
10859    2020-03-18
Name: date_end, dtype: object
10935    2020-09-25
Name: date_start, dtype: object
10935    2020-09-25
Name: date_end, dtype: object
11273    2020-09-28
Name: date_start, dtype: object
11273    2020-09-28
Name: date_end, dtype: object
11272    2020-09-28
Name: date_start, dtype: object
11272    2020-09-28
Name: date_end, dtype: object
11247    2020-09-14
Name: date_start, dtype: object
11247    2020-09-14
Name: date_end, dtype: object
11256    2020-09-21
Name: date_start, dtype: object
11256    2020-09-21
Name: date_end, dtype: object
11221    2020-08-24
Name: date_start, dtype: object
11221    2020-08-24
Name: date_end, dtype: object
11202    2020-08-10
Name: date_start, dtype: object
11202    2020-08-10
Name: date_end, dtype: object
11203    2020-08-10
Name: date_start, dtype: object
11203    2020-08-10
Name: date_end, dtype: object
11219    2020-08-24
Name: date_start, dtype: object
11219    2020-08-24
Name: date_end, dtype: object
11204    2020-08-10
Name: date_start, dtype: object
11204    2020-08-10
Name: date_end, dtype: object
11205    2020-08-10
Name: date_start, dtype: object
11205    2020-08-10
Name: date_end, dtype: object
11207    2020-08-10
Name: date_start, dtype: object
11207    2020-08-10
Name: date_end, dtype: object
11201    2020-08-10
Name: date_start, dtype: object
11201    2020-08-10
Name: date_end, dtype: object
11229    2020-08-31
Name: date_start, dtype: object
11229    2020-08-31
Name: date_end, dtype: object
11230    2020-08-31
Name: date_start, dtype: object
11230    2020-08-31
Name: date_end, dtype: object
11257    2020-09-21
Name: date_start, dtype: object
11257    2020-09-21
Name: date_end, dtype: object
11206    2020-08-10
Name: date_start, dtype: object
11206    2020-08-10
Name: date_end, dtype: object
11235    2020-09-02
Name: date_start, dtype: object
11235    2020-09-02
Name: date_end, dtype: object
11236    2020-09-02
Name: date_start, dtype: object
11236    2020-09-02
Name: date_end, dtype: object
11278    2020-09-28
Name: date_start, dtype: object
11278    2020-09-28
Name: date_end, dtype: object
11271    2020-09-28
Name: date_start, dtype: object
11271    2020-09-28
Name: date_end, dtype: object
11270    2020-09-28
Name: date_start, dtype: object
11270    2020-09-28
Name: date_end, dtype: object
11222    2020-08-24
Name: date_start, dtype: object
11222    2020-08-24
Name: date_end, dtype: object
11237    2020-09-02
Name: date_start, dtype: object
11237    2020-09-02
Name: date_end, dtype: object
11238    2020-09-02
Name: date_start, dtype: object
11238    2020-09-02
Name: date_end, dtype: object
11220    2020-08-24
Name: date_start, dtype: object
11220    2020-08-24
Name: date_end, dtype: object
11274    2020-09-28
Name: date_start, dtype: object
11274    2020-09-28
Name: date_end, dtype: object
11279    2020-09-28
Name: date_start, dtype: object
11279    2020-09-28
Name: date_end, dtype: object

11293    2020-03-16
Name: date_start, dtype: object
11293    2020-03-16
Name: date_end, dtype: object
11292    2020-03-16
Name: date_start, dtype: object
11292    2020-03-16
Name: date_end, dtype: object
11295    2020-03-17
Name: date_start, dtype: object
11295    2020-03-17
Name: date_end, dtype: object
11300    2020-03-23
Name: date_start, dtype: object
11300    2020-03-23
Name: date_end, dtype: object
11303    2020-05-15
Name: date_start, dtype: object
11303    2020-05-15
Name: date_end, dtype: object
11392    2020-01-27
Name: date_start, dtype: object
11392
Name: date_end, dtype: object
11445    2020-02-08
Name: date_start, dtype: object
11445    2020-03-02
Name: date_end, dtype: object
11418    2020-01-29
Name: date_start, dtype: object
11418    2020-04-26
Name: date_end, dtype: object
11532    2020-06-08
Name: date_start, dtype: object
11532    2020-06-08
Name: date_end, dtype: object
11498    2020-03-30
Name: date_start, dtype: object
11498    2020-04-06
Name: date_end, dtype: object
11462    2020-02-14
Name: date_start, dtype: object
11462    2020-02-28
Name: date_end, dtype: object
11483    2020-03-09
Name: date_start, dtype: object
11483    2021-04-15
Name: date_end, dtype: object
11503    2020-04-12
Name: date_start, dtype: object
11503    2020-05-01
Name: date_end, dtype: object
11508    2020-04-22
Name: date_start, dtype: object
11508    2020-04-23
Name: date_end, dtype: object
11510    2020-04-25
Name: date_start, dtype: object
11510    2020-04-26
Name: date_end, dtype: object
11596    2020-01-21
Name: date_start, dtype: object
11596    2020-01-24
Name: date_end, dtype: object
11602    2020-01-23
Name: date_start, dtype: object
11602    2021-03-02
Name: date_end, dtype: object
11619    2020-01-24
Name: date_start, dtype: object
11619    2020-02-24
Name: date_end, dtype: object
11618    2020-01-24
Name: date_start, dtype: object
11618    2020-02-24
Name: date_end, dtype: object
11665    2020-03-25
Name: date_start, dtype: object
11665    2020-04-08
Name: date_end, dtype: object
11633    2020-01-25
Name: date_start, dtype: object
11633
Name: date_end, dtype: object
11661    2020-03-21
Name: date_start, dtype: object
11661
Name: date_end, dtype: object
11636    2020-01-29
Name: date_start, dtype: object
11636    2020-03-07
Name: date_end, dtype: object
11654    2020-03-08
Name: date_start, dtype: object
11654    2020-03-09
Name: date_end, dtype: object
11694    2020-03-13
Name: date_start, dtype: object
11694    2020-03-13
Name: date_end, dtype: object
11695    2020-03-13
Name: date_start, dtype: object
11695
Name: date_end, dtype: object
11698    2020-03-20
Name: date_start, dtype: object
11698
Name: date_end, dtype: object
11722    2020-09-28
Name: date_start, dtype: object
11722
Name: date_end, dtype: object
11708    2020-04-06
Name: date_start, dtype: object
11708    2020-07-08
Name: date_end, dtype: object
11716    2020-04-15
Name: date_start, dtype: object
11716
Name: date_end, dtype: object
11746    2020-01-21
Name: date_start, dtype: object
11746    2020-01-22
Name: date_end, dtype: object
11761    2020-02-21
Name: date_start, dtype: object
11761    2021-04-15
Name: date_end, dtype: object
11766    2020-02-27
Name: date_start, dtype: object
11766    2021-04-15
Name: date_end, dtype: object
11769    2020-03-17
Name: date_start, dtype: object
11769    2021-04-15
Name: date_end, dtype: object
11779    2020-04-07
Name: date_start, dtype: object
11779    2021-04-15
Name: date_end, dtype: object
11820    2020-01-23
Name: date_start, dtype: object
11820    2020-01-24
Name: date_end, dtype: object
11834    2020-01-24
Name: date_start, dtype: object
11834    2020-01-25
Name: date_end, dtype: object
11846    2020-01-25
Name: date_start, dtype: object
11846    2020-04-03
Name: date_end, dtype: object
11909    2020-01-29
Name: date_start, dtype: object
11909    2021-04-15
Name: date_end, dtype: object
11982    2020-02-15
Name: date_start, dtype: object
11982    2020-02-29
Name: date_end, dtype: object
11980    2020-02-15
Name: date_start, dtype: object
11980    2021-04-15
Name: date_end, dtype: object
12080    2020-11-03
Name: date_start, dtype: object
12080
Name: date_end, dtype: object
12130    2020-03-29
Name: date_start, dtype: object
12130    2021-04-15
Name: date_end, dtype: object
12135    2020-04-07
Name: date_start, dtype: object
12135    2020-04-21
Name: date_end, dtype: object
12275    2020-03-13
Name: date_start, dtype: object
12275    2020-03-13
Name: date_end, dtype: object
12234    2020-01-23
Name: date_start, dtype: object
12234    2020-04-08
Name: date_end, dtype: object
12250    2020-01-26
Name: date_start, dtype: object
12250
Name: date_end, dtype: object
12253    2020-01-27
Name: date_start, dtype: object
12253
Name: date_end, dtype: object
12276    2020-03-13
Name: date_start, dtype: object
12276    2020-03-13
Name: date_end, dtype: object
12278    2020-03-19
Name: date_start, dtype: object
12278    2020-11-19
Name: date_end, dtype: object
12363    2021-01-29
Name: date_start, dtype: object
12363    2021-01-30
Name: date_end, dtype: object
12374    2020-02-10
Name: date_start, dtype: object
12374
Name: date_end, dtype: object
12418    2020-01-27
Name: date_start, dtype: object
12418    2020-01-28
Name: date_end, dtype: object
12461    2021-01-24
Name: date_start, dtype: object
12461    2021-03-09
Name: date_end, dtype: object
12496    2020-01-24
Name: date_start, dtype: object
12496    2020-01-25
Name: date_end, dtype: object
12501    2020-01-25
Name: date_start, dtype: object
12501
Name: date_end, dtype: object
12527    2020-02-02
Name: date_start, dtype: object
12527
Name: date_end, dtype: object
12561    2020-01-25
Name: date_start, dtype: object
12561    2020-02-17
Name: date_end, dtype: object
12565    2020-01-28
Name: date_start, dtype: object
12565    2020-01-30
Name: date_end, dtype: object
12612    2020-03-26
Name: date_start, dtype: object
12612    2021-01-28
Name: date_end, dtype: object
12642    2020-06-17
Name: date_start, dtype: object
12642    2021-04-15
Name: date_end, dtype: object
12646    2020-06-29
Name: date_start, dtype: object
12646    2020-07-20
Name: date_end, dtype: object
12761    2020-02-17
Name: date_start, dtype: object
12761    2021-04-15
Name: date_end, dtype: object
12779    2020-03-09
Name: date_start, dtype: object
12779    2020-03-09
Name: date_end, dtype: object
12786    2020-03-30
Name: date_start, dtype: object
12786    2021-04-15
Name: date_end, dtype: object
12789    2020-04-13
Name: date_start, dtype: object
12789    2021-04-15
Name: date_end, dtype: object
12798    2020-06-14
Name: date_start, dtype: object
12798    2020-06-28
Name: date_end, dtype: object
12801    2020-07-20
Name: date_start, dtype: object
12801    2021-03-12
Name: date_end, dtype: object
12807    2020-09-11
Name: date_start, dtype: object
12807    2020-09-25
Name: date_end, dtype: object
12817    2021-02-07
Name: date_start, dtype: object
12817
Name: date_end, dtype: object
12909    2020-01-24
Name: date_start, dtype: object
12909
Name: date_end, dtype: object
12911    2020-01-25
Name: date_start, dtype: object
12911    2020-02-25
Name: date_end, dtype: object
12920    2020-01-28
Name: date_start, dtype: object
12920    2020-03-23
Name: date_end, dtype: object
13044    2020-07-20
Name: date_start, dtype: object
13044    2021-03-12
Name: date_end, dtype: object
13243    2020-03-16
Name: date_start, dtype: object
13243    2020-08-01
Name: date_end, dtype: object
13106    2020-04-20
Name: date_start, dtype: object
13106    2020-04-26
Name: date_end, dtype: object
13270    2020-03-18
Name: date_start, dtype: object
13270    2021-07-08
Name: date_end, dtype: object
13453    2020-05-11
Name: date_start, dtype: object
13453    2020-05-11
Name: date_end, dtype: object
13456    2020-03-11
Name: date_start, dtype: object
13456    2020-03-11
Name: date_end, dtype: object
13484    2020-04-20
Name: date_start, dtype: object
13484    2020-04-20
Name: date_end, dtype: object
13488    2020-04-20
Name: date_start, dtype: object
13488    2020-04-20
Name: date_end, dtype: object
13499    2020-02-02
Name: date_start, dtype: object
13499    2020-02-03
Name: date_end, dtype: object

13522    2020-04-27
Name: date_start, dtype: object
13522
Name: date_end, dtype: object
13523    2020-05-11
Name: date_start, dtype: object
13523    2020-05-11
Name: date_end, dtype: object
13529    2020-04-27
Name: date_start, dtype: object
13529    2020-04-27
Name: date_end, dtype: object
13534    2020-03-19
Name: date_start, dtype: object
13534    2020-05-02
Name: date_end, dtype: object
13579    2020-04-03
Name: date_start, dtype: object
13579    2020-06-18
Name: date_end, dtype: object
13662    2020-03-16
Name: date_start, dtype: object
13662    2020-06-09
Name: date_end, dtype: object
13698    2020-05-20
Name: date_start, dtype: object
13698    2020-06-05
Name: date_end, dtype: object
13700    2020-05-21
Name: date_start, dtype: object
13700    2020-06-24
Name: date_end, dtype: object
13863    2020-03-27
Name: date_start, dtype: object
13863    2020-03-27
Name: date_end, dtype: object
13915    2020-06-27
Name: date_start, dtype: object
13915
Name: date_end, dtype: object
13994    2020-03-23
Name: date_start, dtype: object
13994
Name: date_end, dtype: object
14004    2020-06-30
Name: date_start, dtype: object
14004    2021-06-30
Name: date_end, dtype: object
14017    2020-03-25
Name: date_start, dtype: object
14017    2020-08-07
Name: date_end, dtype: object
14033    2020-08-24
Name: date_start, dtype: object
14033
Name: date_end, dtype: object
14057    2020-07-01
Name: date_start, dtype: object
14057    2020-06-30
Name: date_end, dtype: object
14208    2020-09-01
Name: date_start, dtype: object
14208    2020-04-05
Name: date_end, dtype: object
14228    2020-03-12
Name: date_start, dtype: object
14228    2020-09-11
Name: date_end, dtype: object
14456    2020-03-19
Name: date_start, dtype: object
14456    2020-07-01
Name: date_end, dtype: object
14537    2020-03-17
Name: date_start, dtype: object
14537    2020-05-15
Name: date_end, dtype: object
14574    2020-05-20
Name: date_start, dtype: object
14574
Name: date_end, dtype: object
14614    2020-03-21
Name: date_start, dtype: object
14614    2020-06-24
Name: date_end, dtype: object
14620    2020-09-01
Name: date_start, dtype: object
14620    2020-09-01
Name: date_end, dtype: object
14639    2020-02-25
Name: date_start, dtype: object
14639    2020-02-25
Name: date_end, dtype: object
14641    2020-02-28
Name: date_start, dtype: object
14641    2020-02-28
Name: date_end, dtype: object
14662    2020-06-14
Name: date_start, dtype: object
14662    2020-06-14
Name: date_end, dtype: object
14665    2020-09-20
Name: date_start, dtype: object
14665    2020-09-20
Name: date_end, dtype: object
14667    2020-09-27
Name: date_start, dtype: object
14667    2020-09-27
Name: date_end, dtype: object
14668    2020-09-27
Name: date_start, dtype: object
14668    2020-09-27
Name: date_end, dtype: object
14670    2020-10-16
Name: date_start, dtype: object
14670    2020-10-16
Name: date_end, dtype: object
14675    2020-02-25
Name: date_start, dtype: object
14675    2020-02-25
Name: date_end, dtype: object
14677    2020-02-28
Name: date_start, dtype: object
14677    2020-02-28
Name: date_end, dtype: object
14679    2020-03-16
Name: date_start, dtype: object
14679    2020-03-16
Name: date_end, dtype: object
14694    2020-08-06
Name: date_start, dtype: object
14694
Name: date_end, dtype: object
14720    2020-09-01
Name: date_start, dtype: object
14720    2020-09-01
Name: date_end, dtype: object
14757    2020-06-15
Name: date_start, dtype: object
14757    2021-06-15
Name: date_end, dtype: object
14775    2020-06-15
Name: date_start, dtype: object
14775    2020-06-15
Name: date_end, dtype: object
14793    2020-03-27
Name: date_start, dtype: object
14793    2020-06-28
Name: date_end, dtype: object
14862    2020-07-01
Name: date_start, dtype: object
14862    2020-05-01
Name: date_end, dtype: object
14925    2020-09-28
Name: date_start, dtype: object
14925
Name: date_end, dtype: object
15079    2020-03-16
Name: date_start, dtype: object
15079    2020-08-26
Name: date_end, dtype: object
15118    2020-04-01
Name: date_start, dtype: object
15118    2020-11-28
Name: date_end, dtype: object
15170    2020-03-26
Name: date_start, dtype: object
15170    2020-04-24
Name: date_end, dtype: object
15173    2020-03-30
Name: date_start, dtype: object
15173    2020-04-16
Name: date_end, dtype: object
15200    2020-03-30
Name: date_start, dtype: object
15200    2020-04-16
Name: date_end, dtype: object
15199    2020-03-30
Name: date_start, dtype: object
15199    2020-04-16
Name: date_end, dtype: object
15201    2020-03-30
Name: date_start, dtype: object
15201    2020-04-16
Name: date_end, dtype: object
15198    2020-03-30
Name: date_start, dtype: object
15198    2020-04-16
Name: date_end, dtype: object
15244    2020-03-20
Name: date_start, dtype: object
15244    2020-10-05
Name: date_end, dtype: object
15249    2020-03-26
Name: date_start, dtype: object
15249    2020-04-24
Name: date_end, dtype: object
15262    2020-03-26
Name: date_start, dtype: object
15262    2020-04-10
Name: date_end, dtype: object
15267    2020-05-27
Name: date_start, dtype: object
15267    2020-06-27
Name: date_end, dtype: object
15274    2020-03-20
Name: date_start, dtype: object
15274    2020-04-08
Name: date_end, dtype: object
15281    2020-09-23
Name: date_start, dtype: object
15281    2020-09-24
Name: date_end, dtype: object
15285    2020-04-11
Name: date_start, dtype: object
15285    2020-05-27
Name: date_end, dtype: object
15399    2020-03-29
Name: date_start, dtype: object
15399    2020-06-21
Name: date_end, dtype: object
15401    2020-04-03
Name: date_start, dtype: object
15401    2020-04-17
Name: date_end, dtype: object
15424    2020-04-17
Name: date_start, dtype: object
15424    2020-04-17
Name: date_end, dtype: object
15475    2020-03-16
Name: date_start, dtype: object
15475    2020-06-15
Name: date_end, dtype: object
15500    2020-07-10
Name: date_start, dtype: object
15500    2020-07-13
Name: date_end, dtype: object
15495    2020-06-01
Name: date_start, dtype: object
15495    2020-04-13
Name: date_end, dtype: object
15482    2020-03-19
Name: date_start, dtype: object
15482    2020-06-16
Name: date_end, dtype: object
15492    2020-05-14
Name: date_start, dtype: object
15492    2020-05-13
Name: date_end, dtype: object
15497    2020-06-15
Name: date_start, dtype: object
15497    2020-06-15
Name: date_end, dtype: object
15498    2020-06-15
Name: date_start, dtype: object
15498    2020-06-15
Name: date_end, dtype: object
15511    2020-08-28
Name: date_start, dtype: object
15511    2020-08-28
Name: date_end, dtype: object
15499    2020-07-08
Name: date_start, dtype: object
15499    2020-07-08
Name: date_end, dtype: object
15505    2020-07-27
Name: date_start, dtype: object
15505    2020-07-27
Name: date_end, dtype: object
15513    2020-09-11
Name: date_start, dtype: object
15513    2020-09-11
Name: date_end, dtype: object
15518    2020-09-19
Name: date_start, dtype: object
15518    2020-10-18
Name: date_end, dtype: object
15519    2020-09-19
Name: date_start, dtype: object
15519
Name: date_end, dtype: object
15516    2020-09-19
Name: date_start, dtype: object
15516
Name: date_end, dtype: object
15824    2020-06-23
Name: date_start, dtype: object
15824    2020-06-23
Name: date_end, dtype: object
15666    2020-03-17
Name: date_start, dtype: object
15666    2020-05-12
Name: date_end, dtype: object
15719    2020-06-15
Name: date_start, dtype: object
15719    2020-06-15
Name: date_end, dtype: object
15717    2020-06-15
Name: date_start, dtype: object
15717    2020-06-15
Name: date_end, dtype: object
15718    2020-06-15
Name: date_start, dtype: object
15718    2020-06-15
Name: date_end, dtype: object
15709    2020-05-07
Name: date_start, dtype: object
15709    2020-06-15
Name: date_end, dtype: object
15771    2020-05-19
Name: date_start, dtype: object
15771    2020-05-19
Name: date_end, dtype: object
15773    2020-05-31
Name: date_start, dtype: object
15773    2020-05-31
Name: date_end, dtype: object
15786    2020-06-22
Name: date_start, dtype: object
15786    2020-07-13
Name: date_end, dtype: object
15794    2020-09-30
Name: date_start, dtype: object
15794    2020-09-30
Name: date_end, dtype: object
15819    2020-05-19
Name: date_start, dtype: object
15819    2020-05-19
Name: date_end, dtype: object
15839    2020-09-30
Name: date_start, dtype: object
15839    2020-09-30
Name: date_end, dtype: object
15850    2020-03-06
Name: date_start, dtype: object
15850    2020-05-11
Name: date_end, dtype: object
15863    2020-03-12
Name: date_start, dtype: object
15863    2020-03-12
Name: date_end, dtype: object
15871    2020-03-29
Name: date_start, dtype: object
15871    2020-03-29
Name: date_end, dtype: object

15898    2020-03-25
Name: date_start, dtype: object
15898    2020-03-25
Name: date_end, dtype: object
15903    2020-04-03
Name: date_start, dtype: object
15903    2020-04-03
Name: date_end, dtype: object
15913    2020-09-16
Name: date_start, dtype: object
15913    2020-09-16
Name: date_end, dtype: object
15945    2020-07-01
Name: date_start, dtype: object
15945    2020-07-01
Name: date_end, dtype: object
15946    2020-07-10
Name: date_start, dtype: object
15946    2020-07-10
Name: date_end, dtype: object
15944    2020-06-15
Name: date_start, dtype: object
15944    2020-06-15
Name: date_end, dtype: object
15942    2020-06-02
Name: date_start, dtype: object
15942    2020-06-02
Name: date_end, dtype: object
15941    2020-05-31
Name: date_start, dtype: object
15941    2020-05-31
Name: date_end, dtype: object
16003    2020-04-21
Name: date_start, dtype: object
16003    2020-04-21
Name: date_end, dtype: object
16043    2020-06-02
Name: date_start, dtype: object
16043    2020-06-02
Name: date_end, dtype: object
16056    2020-04-20
Name: date_start, dtype: object
16056    2020-04-20
Name: date_end, dtype: object
16050    2020-03-19
Name: date_start, dtype: object
16050    2020-03-19
Name: date_end, dtype: object
16052    2020-03-23
Name: date_start, dtype: object
16052    2020-03-23
Name: date_end, dtype: object
16084    2020-10-20
Name: date_start, dtype: object
16084    2020-10-20
Name: date_end, dtype: object
16116    2020-05-04
Name: date_start, dtype: object
16116    2020-05-25
Name: date_end, dtype: object
16139    2020-03-25
Name: date_start, dtype: object
16139    2020-03-25
Name: date_end, dtype: object
16162    2020-10-28
Name: date_start, dtype: object
16162    2020-10-28
Name: date_end, dtype: object
16167    2020-11-09
Name: date_start, dtype: object
16167    2020-11-09
Name: date_end, dtype: object
16178    2020-03-12
Name: date_start, dtype: object
16178    2020-06-23
Name: date_end, dtype: object
16180    2020-03-13
Name: date_start, dtype: object
16180    2020-06-16
Name: date_end, dtype: object
16230    2020-05-11
Name: date_start, dtype: object
16230    2020-05-11
Name: date_end, dtype: object
16194    2020-03-16
Name: date_start, dtype: object
16194    2020-05-25
Name: date_end, dtype: object
16201    2020-03-16
Name: date_start, dtype: object
16201    2020-05-30
Name: date_end, dtype: object
16246    2020-06-02
Name: date_start, dtype: object
16246    2020-06-02
Name: date_end, dtype: object
16199    2020-03-16
Name: date_start, dtype: object
16199    2020-06-22
Name: date_end, dtype: object
16248    2020-06-02
Name: date_start, dtype: object
16248    2020-06-02
Name: date_end, dtype: object
16197    2020-03-16
Name: date_start, dtype: object
16197    2020-05-31
Name: date_end, dtype: object
16245    2020-06-02
Name: date_start, dtype: object
16245    2021-06-02
Name: date_end, dtype: object
16236    2020-05-28
Name: date_start, dtype: object
16236    2020-06-28
Name: date_end, dtype: object
16208    2020-03-24
Name: date_start, dtype: object
16208    2020-03-24
Name: date_end, dtype: object
16247    2020-06-02
Name: date_start, dtype: object
16247    2020-06-02
Name: date_end, dtype: object
16214    2020-03-30
Name: date_start, dtype: object
16214    2020-05-11
Name: date_end, dtype: object
16244    2020-06-02
Name: date_start, dtype: object
16244
Name: date_end, dtype: object
16243    2020-06-02
Name: date_start, dtype: object
16243    2020-06-02
Name: date_end, dtype: object
16269    2020-10-16
Name: date_start, dtype: object
16269    2020-10-16
Name: date_end, dtype: object
16270    2020-10-16
Name: date_start, dtype: object
16270    2020-10-16
Name: date_end, dtype: object
16266    2020-10-06
Name: date_start, dtype: object
16266    2020-10-19
Name: date_end, dtype: object
16271    2020-10-16
Name: date_start, dtype: object
16271    2020-10-16
Name: date_end, dtype: object
16255    2020-06-22
Name: date_start, dtype: object
16255    2020-06-22
Name: date_end, dtype: object
16254    2020-06-22
Name: date_start, dtype: object
16254    2020-06-22
Name: date_end, dtype: object
16256    2020-06-22
Name: date_start, dtype: object
16256    2020-06-22
Name: date_end, dtype: object
16257    2020-06-22
Name: date_start, dtype: object
16257    2020-06-22
Name: date_end, dtype: object
16260    2020-07-11
Name: date_start, dtype: object
16260    2020-07-11
Name: date_end, dtype: object
16267    2020-10-06
Name: date_start, dtype: object
16267    2020-10-19
Name: date_end, dtype: object
16279    2020-10-30
Name: date_start, dtype: object
16279    2020-12-01
Name: date_end, dtype: object
16283    2020-11-28
Name: date_start, dtype: object
16283    2020-11-28
Name: date_end, dtype: object
16329    2020-05-13
Name: date_start, dtype: object
16329    2020-05-13
Name: date_end, dtype: object
16331    2020-05-23
Name: date_start, dtype: object
16331    2020-05-23
Name: date_end, dtype: object
16336    2020-06-23
Name: date_start, dtype: object
16336
Name: date_end, dtype: object
16342    2021-03-07
Name: date_start, dtype: object
16342    2021-06-13
Name: date_end, dtype: object
16354    2020-04-08
Name: date_start, dtype: object
16354    2020-04-09
Name: date_end, dtype: object
16379    2020-06-02
Name: date_start, dtype: object
16379    2020-06-02
Name: date_end, dtype: object
16372    2020-05-15
Name: date_start, dtype: object
16372
Name: date_end, dtype: object
16398    2020-10-16
Name: date_start, dtype: object
16398    2020-10-16
Name: date_end, dtype: object
16399    2020-10-16
Name: date_start, dtype: object
16399    2020-10-16
Name: date_end, dtype: object
16400    2020-10-16
Name: date_start, dtype: object
16400    2020-10-16
Name: date_end, dtype: object
16405    2020-10-16
Name: date_start, dtype: object
16405    2020-10-16
Name: date_end, dtype: object
16390    2020-07-11
Name: date_start, dtype: object
16390    2020-07-11
Name: date_end, dtype: object
16401    2020-10-16
Name: date_start, dtype: object
16401    2020-10-16
Name: date_end, dtype: object
16402    2020-10-16
Name: date_start, dtype: object
16402    2020-10-16
Name: date_end, dtype: object
16403    2020-10-16
Name: date_start, dtype: object
16403    2020-10-16
Name: date_end, dtype: object
16404    2020-10-16
Name: date_start, dtype: object
16404    2020-10-16
Name: date_end, dtype: object
16388    2020-07-11
Name: date_start, dtype: object
16388    2020-07-11
Name: date_end, dtype: object
16389    2020-07-11
Name: date_start, dtype: object
16389    2020-07-11
Name: date_end, dtype: object
16410    2020-10-30
Name: date_start, dtype: object
16410    2020-10-30
Name: date_end, dtype: object
16411    2020-10-30
Name: date_start, dtype: object
16411    2020-10-30
Name: date_end, dtype: object
16412    2020-10-30
Name: date_start, dtype: object
16412    2020-12-01
Name: date_end, dtype: object
16413    2020-10-30
Name: date_start, dtype: object
16413    2020-12-01
Name: date_end, dtype: object
16451    2020-04-10
Name: date_start, dtype: object
16451    2020-05-11
Name: date_end, dtype: object
16466    2020-03-07
Name: date_start, dtype: object
16466    2020-03-21
Name: date_end, dtype: object
16471    2020-04-03
Name: date_start, dtype: object
16471
Name: date_end, dtype: object
16475    2020-04-04
Name: date_start, dtype: object
16475    2020-04-18
Name: date_end, dtype: object
16501    2020-04-03
Name: date_start, dtype: object
16501    2020-04-17
Name: date_end, dtype: object
16503    2020-04-17
Name: date_start, dtype: object
16503    2020-05-01
Name: date_end, dtype: object
16507    2020-07-11
Name: date_start, dtype: object
16507
Name: date_end, dtype: object
16510    2020-10-29
Name: date_start, dtype: object
16510
Name: date_end, dtype: object
16512    2020-04-15
Name: date_start, dtype: object
16512
Name: date_end, dtype: object
16514    2020-07-07
Name: date_start, dtype: object
16514
Name: date_end, dtype: object
16518    2020-04-27
Name: date_start, dtype: object
16518
Name: date_end, dtype: object
16520    2020-07-01
Name: date_start, dtype: object
16520    2020-10-29
Name: date_end, dtype: object
16523    2020-10-29
Name: date_start, dtype: object
16523
Name: date_end, dtype: object
16529    2020-03-07
Name: date_start, dtype: object
16529
Name: date_end, dtype: object
16532    2020-03-13
Name: date_start, dtype: object
16532    2020-03-27
Name: date_end, dtype: object
16549    2020-03-13
Name: date_start, dtype: object
16549    2020-03-20
Name: date_end, dtype: object
16570    2020-04-27
Name: date_start, dtype: object
16570    2020-10-30
Name: date_end, dtype: object
16600    2020-06-24
Name: date_start, dtype: object
16600    2020-06-24
Name: date_end, dtype: object
16604    2020-09-17
Name: date_start, dtype: object
16604
Name: date_end, dtype: object
16614    2020-09-17
Name: date_start, dtype: object
16614    2020-05-18
Name: date_end, dtype: object

16623    2020-10-01
Name: date_start, dtype: object
16623
Name: date_end, dtype: object
16723    2020-04-12
Name: date_start, dtype: object
16723    2020-04-28
Name: date_end, dtype: object
16726    2020-04-15
Name: date_start, dtype: object
16726    2020-04-15
Name: date_end, dtype: object
16732    2020-05-05
Name: date_start, dtype: object
16732    2020-04-25
Name: date_end, dtype: object
16736    2020-04-13
Name: date_start, dtype: object
16736    2020-04-28
Name: date_end, dtype: object
16757    2020-03-23
Name: date_start, dtype: object
16757    2020-04-27
Name: date_end, dtype: object
16764    2020-05-02
Name: date_start, dtype: object
16764
Name: date_end, dtype: object
16811    2020-03-15
Name: date_start, dtype: object
16811    2020-03-15
Name: date_end, dtype: object
17083    2020-06-15
Name: date_start, dtype: object
17083
Name: date_end, dtype: object
17094    2020-06-18
Name: date_start, dtype: object
17094    2020-06-18
Name: date_end, dtype: object
16944    2020-04-27
Name: date_start, dtype: object
16944    2020-05-04
Name: date_end, dtype: object
16926    2020-04-23
Name: date_start, dtype: object
16926    2020-04-19
Name: date_end, dtype: object
17429    2020-03-16
Name: date_start, dtype: object
17429    2020-05-06
Name: date_end, dtype: object
16849    2020-03-16
Name: date_start, dtype: object
16849    2020-06-22
Name: date_end, dtype: object
17218    2020-10-01
Name: date_start, dtype: object
17218    2020-10-01
Name: date_end, dtype: object
17087    2020-06-15
Name: date_start, dtype: object
17087    2020-06-15
Name: date_end, dtype: object
17089    2020-06-15
Name: date_start, dtype: object
17089    2020-06-15
Name: date_end, dtype: object
17017    2020-05-11
Name: date_start, dtype: object
17017    2020-05-11
Name: date_end, dtype: object
17031    2020-05-18
Name: date_start, dtype: object
17031
Name: date_end, dtype: object
17034    2020-05-18
Name: date_start, dtype: object
17034    2020-05-18
Name: date_end, dtype: object
16915    2020-04-20
Name: date_start, dtype: object
16915    2020-04-20
Name: date_end, dtype: object
16943    2020-04-27
Name: date_start, dtype: object
16943
Name: date_end, dtype: object
16995    2020-05-06
Name: date_start, dtype: object
16995    2020-05-13
Name: date_end, dtype: object
17003    2020-05-06
Name: date_start, dtype: object
17003    2020-06-14
Name: date_end, dtype: object
16955    2020-04-29
Name: date_start, dtype: object
16955    2020-05-05
Name: date_end, dtype: object
17215    2020-09-19
Name: date_start, dtype: object
17215    2020-09-19
Name: date_end, dtype: object
17043    2020-05-25
Name: date_start, dtype: object
17043    2020-05-25
Name: date_end, dtype: object
17039    2020-05-20
Name: date_start, dtype: object
17039    2020-08-10
Name: date_end, dtype: object
17038    2020-05-20
Name: date_start, dtype: object
17038    2020-06-14
Name: date_end, dtype: object
16967    2020-05-04
Name: date_start, dtype: object
16967
Name: date_end, dtype: object
17018    2020-05-13
Name: date_start, dtype: object
17018    2020-05-19
Name: date_end, dtype: object
17006    2020-05-06
Name: date_start, dtype: object
17006    2020-08-16
Name: date_end, dtype: object
17046    2020-05-25
Name: date_start, dtype: object
17046    2020-05-25
Name: date_end, dtype: object
17136    2020-07-13
Name: date_start, dtype: object
17136    2020-07-13
Name: date_end, dtype: object
17131    2020-07-01
Name: date_start, dtype: object
17131    2020-07-01
Name: date_end, dtype: object
17205    2020-09-02
Name: date_start, dtype: object
17205    2020-09-02
Name: date_end, dtype: object
17201    2020-08-31
Name: date_start, dtype: object
17201    2020-08-30
Name: date_end, dtype: object
17174    2020-08-28
Name: date_start, dtype: object
17174    2021-02-15
Name: date_end, dtype: object
17117    2020-06-26
Name: date_start, dtype: object
17117    2020-08-10
Name: date_end, dtype: object
17118    2020-06-26
Name: date_start, dtype: object
17118    2020-08-10
Name: date_end, dtype: object
17281    2020-12-16
Name: date_start, dtype: object
17281    2020-12-16
Name: date_end, dtype: object
17173    2020-08-28
Name: date_start, dtype: object
17173    2020-12-13
Name: date_end, dtype: object
17165    2020-08-17
Name: date_start, dtype: object
17165    2020-12-16
Name: date_end, dtype: object
17228    2020-10-17
Name: date_start, dtype: object
17228    2020-10-17
Name: date_end, dtype: object
17229    2020-10-17
Name: date_start, dtype: object
17229    2020-10-17
Name: date_end, dtype: object
17241    2020-11-02
Name: date_start, dtype: object
17241    2020-11-02
Name: date_end, dtype: object
17254    2020-12-01
Name: date_start, dtype: object
17254    2020-12-01
Name: date_end, dtype: object
17278    2020-12-16
Name: date_start, dtype: object
17278    2020-12-16
Name: date_end, dtype: object
17357    2020-03-25
Name: date_start, dtype: object
17357    2020-03-25
Name: date_end, dtype: object
17355    2020-03-22
Name: date_start, dtype: object
17355    2020-04-10
Name: date_end, dtype: object
17359    2020-03-27
Name: date_start, dtype: object
17359    2020-03-27
Name: date_end, dtype: object
17362    2020-03-31
Name: date_start, dtype: object
17362    2020-03-31
Name: date_end, dtype: object
17366    2020-04-03
Name: date_start, dtype: object
17366    2020-04-03
Name: date_end, dtype: object
17364    2020-04-01
Name: date_start, dtype: object
17364    2020-09-23
Name: date_end, dtype: object
17368    2020-04-10
Name: date_start, dtype: object
17368    2020-04-10
Name: date_end, dtype: object
17566    2020-06-01
Name: date_start, dtype: object
17566    2020-06-01
Name: date_end, dtype: object
17482    2020-03-27
Name: date_start, dtype: object
17482    2020-04-19
Name: date_end, dtype: object
17554    2020-05-04
Name: date_start, dtype: object
17554    2020-05-25
Name: date_end, dtype: object
17558    2020-05-06
Name: date_start, dtype: object
17558    2020-06-22
Name: date_end, dtype: object
17559    2020-05-06
Name: date_start, dtype: object
17559    2020-06-02
Name: date_end, dtype: object
17576    2020-07-09
Name: date_start, dtype: object
17576    2020-07-09
Name: date_end, dtype: object
17629    2020-12-31
Name: date_start, dtype: object
17629    2020-12-31
Name: date_end, dtype: object
17636    2020-12-31
Name: date_start, dtype: object
17636    2020-12-31
Name: date_end, dtype: object
17597    2020-08-14
Name: date_start, dtype: object
17597    2020-09-15
Name: date_end, dtype: object
17673    2020-05-27
Name: date_start, dtype: object
17673    2020-05-27
Name: date_end, dtype: object
17658    2020-03-24
Name: date_start, dtype: object
17658    2020-03-24
Name: date_end, dtype: object
17707    2020-08-08
Name: date_start, dtype: object
17707    2020-08-08
Name: date_end, dtype: object
17785    2020-05-06
Name: date_start, dtype: object
17785    2020-05-06
Name: date_end, dtype: object
17769    2020-03-17
Name: date_start, dtype: object
17769    2020-05-25
Name: date_end, dtype: object
17786    2020-05-09
Name: date_start, dtype: object
17786    2020-04-19
Name: date_end, dtype: object
17804    2020-03-18
Name: date_start, dtype: object
17804    2020-03-18
Name: date_end, dtype: object
17826    2020-04-20
Name: date_start, dtype: object
17826    2020-04-20
Name: date_end, dtype: object
17808    2020-03-21
Name: date_start, dtype: object
17808    2020-03-21
Name: date_end, dtype: object
17833    2020-05-10
Name: date_start, dtype: object
17833    2020-05-10
Name: date_end, dtype: object
17844    2020-06-29
Name: date_start, dtype: object
17844    2020-06-29
Name: date_end, dtype: object
18211    2020-07-16
Name: date_start, dtype: object
18211    2020-08-30
Name: date_end, dtype: object
17816    2020-03-31
Name: date_start, dtype: object
17816    2020-05-18
Name: date_end, dtype: object
17842    2020-06-23
Name: date_start, dtype: object
17842    2020-07-07
Name: date_end, dtype: object
17851    2020-08-30
Name: date_start, dtype: object
17851    2020-09-30
Name: date_end, dtype: object
17867    2020-12-09
Name: date_start, dtype: object
17867    2020-12-09
Name: date_end, dtype: object
17879    2021-03-08
Name: date_start, dtype: object
17879    2021-03-08
Name: date_end, dtype: object
17872    2021-01-05
Name: date_start, dtype: object
17872    2021-03-07
Name: date_end, dtype: object
17881    2021-03-23
Name: date_start, dtype: object
17881    2021-03-23
Name: date_end, dtype: object
17882    2021-03-23
Name: date_start, dtype: object
17882    2021-03-23
Name: date_end, dtype: object
17883    2021-03-24
Name: date_start, dtype: object
17883    2021-03-24
Name: date_end, dtype: object
17924    2020-07-29
Name: date_start, dtype: object
17924
Name: date_end, dtype: object
17907    2020-04-02
Name: date_start, dtype: object
17907    2020-04-30
Name: date_end, dtype: object
17918    2020-06-16
Name: date_start, dtype: object
17918    2020-06-16
Name: date_end, dtype: object

17961    2020-06-01
Name: date_start, dtype: object
17961    2020-05-04
Name: date_end, dtype: object
18092    2020-04-11
Name: date_start, dtype: object
18092    2020-04-11
Name: date_end, dtype: object
18130    2020-05-20
Name: date_start, dtype: object
18130    2020-07-05
Name: date_end, dtype: object
18059    2020-03-13
Name: date_start, dtype: object
18059    2020-05-09
Name: date_end, dtype: object
18126    2020-05-18
Name: date_start, dtype: object
18126    2020-05-18
Name: date_end, dtype: object
18078    2020-04-09
Name: date_start, dtype: object
18078    2020-06-18
Name: date_end, dtype: object
18127    2020-05-18
Name: date_start, dtype: object
18127    2020-05-31
Name: date_end, dtype: object
18123    2020-05-17
Name: date_start, dtype: object
18123    2020-05-17
Name: date_end, dtype: object
18091    2020-04-11
Name: date_start, dtype: object
18091    2020-08-09
Name: date_end, dtype: object
18122    2020-05-17
Name: date_start, dtype: object
18122    2020-05-17
Name: date_end, dtype: object
18297    2020-09-16
Name: date_start, dtype: object
18297    2020-11-17
Name: date_end, dtype: object
18131    2020-05-20
Name: date_start, dtype: object
18131    2020-06-05
Name: date_end, dtype: object
18115    2020-05-13
Name: date_start, dtype: object
18115    2020-06-21
Name: date_end, dtype: object
18164    2020-06-16
Name: date_start, dtype: object
18164    2020-06-16
Name: date_end, dtype: object
18144    2020-06-06
Name: date_start, dtype: object
18144    2020-06-06
Name: date_end, dtype: object
18138    2020-05-27
Name: date_start, dtype: object
18138    2020-06-26
Name: date_end, dtype: object
18162    2020-06-16
Name: date_start, dtype: object
18162    2020-07-15
Name: date_end, dtype: object
18149    2020-06-10
Name: date_start, dtype: object
18149    2020-06-10
Name: date_end, dtype: object
18151    2020-06-11
Name: date_start, dtype: object
18151    2020-06-11
Name: date_end, dtype: object
18153    2020-06-12
Name: date_start, dtype: object
18153    2020-06-12
Name: date_end, dtype: object
18163    2020-06-16
Name: date_start, dtype: object
18163    2020-06-16
Name: date_end, dtype: object
18175    2020-06-23
Name: date_start, dtype: object
18175    2020-06-23
Name: date_end, dtype: object
18168    2020-06-19
Name: date_start, dtype: object
18168    2020-06-19
Name: date_end, dtype: object
18184    2020-06-26
Name: date_start, dtype: object
18184    2020-06-26
Name: date_end, dtype: object
18183    2020-06-26
Name: date_start, dtype: object
18183    2020-10-12
Name: date_end, dtype: object
18180    2020-06-26
Name: date_start, dtype: object
18180    2020-06-26
Name: date_end, dtype: object
18194    2020-07-02
Name: date_start, dtype: object
18194    2020-07-02
Name: date_end, dtype: object
18189    2020-07-01
Name: date_start, dtype: object
18189    2020-07-01
Name: date_end, dtype: object
18198    2020-07-03
Name: date_start, dtype: object
18198    2020-07-03
Name: date_end, dtype: object
18200    2020-07-06
Name: date_start, dtype: object
18200    2020-07-06
Name: date_end, dtype: object
18205    2020-07-14
Name: date_start, dtype: object
18205    2020-07-14
Name: date_end, dtype: object
18207    2020-07-15
Name: date_start, dtype: object
18207    2020-07-15
Name: date_end, dtype: object
18215    2020-07-17
Name: date_start, dtype: object
18215    2020-07-17
Name: date_end, dtype: object
18214    2020-07-17
Name: date_start, dtype: object
18214    2020-07-17
Name: date_end, dtype: object
18219    2020-07-22
Name: date_start, dtype: object
18219    2020-07-22
Name: date_end, dtype: object
18217    2020-07-20
Name: date_start, dtype: object
18217    2020-07-20
Name: date_end, dtype: object
18229    2020-07-31
Name: date_start, dtype: object
18229    2020-07-31
Name: date_end, dtype: object
18228    2020-07-31
Name: date_start, dtype: object
18228    2020-07-31
Name: date_end, dtype: object
18233    2020-08-03
Name: date_start, dtype: object
18233    2020-08-03
Name: date_end, dtype: object
18235    2020-08-05
Name: date_start, dtype: object
18235    2020-08-05
Name: date_end, dtype: object
18237    2020-08-06
Name: date_start, dtype: object
18237    2020-08-06
Name: date_end, dtype: object
18239    2020-08-07
Name: date_start, dtype: object
18239    2020-08-07
Name: date_end, dtype: object
18243    2020-08-10
Name: date_start, dtype: object
18243    2020-08-10
Name: date_end, dtype: object
18247    2020-08-11
Name: date_start, dtype: object
18247    2020-08-11
Name: date_end, dtype: object
18250    2020-08-12
Name: date_start, dtype: object
18250    2020-08-12
Name: date_end, dtype: object
18251    2020-08-12
Name: date_start, dtype: object
18251    2020-08-12
Name: date_end, dtype: object
18254    2020-08-13
Name: date_start, dtype: object
18254    2020-08-13
Name: date_end, dtype: object
18256    2020-08-14
Name: date_start, dtype: object
18256    2020-08-14
Name: date_end, dtype: object
18259    2020-08-17
Name: date_start, dtype: object
18259    2020-08-17
Name: date_end, dtype: object
18261    2020-08-20
Name: date_start, dtype: object
18261    2020-08-20
Name: date_end, dtype: object
18264    2020-08-21
Name: date_start, dtype: object
18264    2020-08-21
Name: date_end, dtype: object
18265    2020-08-21
Name: date_start, dtype: object
18265    2020-08-21
Name: date_end, dtype: object
18268    2020-08-24
Name: date_start, dtype: object
18268    2020-08-24
Name: date_end, dtype: object
18269    2020-08-24
Name: date_start, dtype: object
18269    2020-08-24
Name: date_end, dtype: object
18273    2020-08-26
Name: date_start, dtype: object
18273    2020-08-26
Name: date_end, dtype: object
18274    2020-08-26
Name: date_start, dtype: object
18274    2020-08-26
Name: date_end, dtype: object
18282    2020-09-02
Name: date_start, dtype: object
18282    2020-09-02
Name: date_end, dtype: object
18283    2020-09-02
Name: date_start, dtype: object
18283    2020-09-02
Name: date_end, dtype: object
18290    2020-09-09
Name: date_start, dtype: object
18290    2020-09-09
Name: date_end, dtype: object
18291    2020-09-09
Name: date_start, dtype: object
18291    2020-09-09
Name: date_end, dtype: object
18294    2020-09-16
Name: date_start, dtype: object
18294    2020-09-16
Name: date_end, dtype: object
18296    2020-09-16
Name: date_start, dtype: object
18296    2020-09-16
Name: date_end, dtype: object
18301    2020-09-23
Name: date_start, dtype: object
18301    2020-09-23
Name: date_end, dtype: object
18302    2020-09-23
Name: date_start, dtype: object
18302    2020-09-23
Name: date_end, dtype: object
18305    2020-09-25
Name: date_start, dtype: object
18305    2020-09-25
Name: date_end, dtype: object
18306    2020-09-25
Name: date_start, dtype: object
18306    2020-09-25
Name: date_end, dtype: object
18310    2020-09-30
Name: date_start, dtype: object
18310    2020-09-30
Name: date_end, dtype: object
18311    2020-09-30
Name: date_start, dtype: object
18311    2020-09-30
Name: date_end, dtype: object
18314    2020-10-02
Name: date_start, dtype: object
18314    2020-10-02
Name: date_end, dtype: object
18315    2020-10-02
Name: date_start, dtype: object
18315    2020-10-02
Name: date_end, dtype: object
18318    2020-10-07
Name: date_start, dtype: object
18318    2020-10-07
Name: date_end, dtype: object
18320    2020-10-07
Name: date_start, dtype: object
18320    2020-10-07
Name: date_end, dtype: object
18324    2020-10-17
Name: date_start, dtype: object
18324    2020-10-17
Name: date_end, dtype: object
18325    2020-10-17
Name: date_start, dtype: object
18325    2020-10-17
Name: date_end, dtype: object
18329    2020-10-24
Name: date_start, dtype: object
18329    2020-10-24
Name: date_end, dtype: object
18330    2020-10-24
Name: date_start, dtype: object
18330    2020-10-24
Name: date_end, dtype: object
18332    2020-11-01
Name: date_start, dtype: object
18332    2020-11-01
Name: date_end, dtype: object
18340    2020-11-08
Name: date_start, dtype: object
18340    2020-11-08
Name: date_end, dtype: object
18344    2020-11-11
Name: date_start, dtype: object
18344    2020-12-30
Name: date_end, dtype: object
18341    2020-11-08
Name: date_start, dtype: object
18341    2020-11-08
Name: date_end, dtype: object
18347    2020-11-15
Name: date_start, dtype: object
18347    2020-11-15
Name: date_end, dtype: object
18351    2020-11-22
Name: date_start, dtype: object
18351    2020-11-22
Name: date_end, dtype: object
18357    2020-12-01
Name: date_start, dtype: object
18357    2021-01-09
Name: date_end, dtype: object
18353    2020-11-29
Name: date_start, dtype: object
18353    2020-11-29
Name: date_end, dtype: object
18358    2020-12-01
Name: date_start, dtype: object
18358    2020-12-01
Name: date_end, dtype: object
18361    2020-12-06
Name: date_start, dtype: object
18361    2020-12-06
Name: date_end, dtype: object

18687    2020-04-19
Name: date_start, dtype: object
18687
Name: date_end, dtype: object
18894    2020-05-09
Name: date_start, dtype: object
18894    2020-04-19
Name: date_end, dtype: object
18737    2020-04-20
Name: date_start, dtype: object
18737    2020-04-20
Name: date_end, dtype: object
18491    2020-03-18
Name: date_start, dtype: object
18491    2020-03-18
Name: date_end, dtype: object
18604    2020-03-29
Name: date_start, dtype: object
18604    2020-03-29
Name: date_end, dtype: object
19134    2020-06-15
Name: date_start, dtype: object
19134    2020-06-15
Name: date_end, dtype: object
18537    2020-03-21
Name: date_start, dtype: object
18537    2020-03-21
Name: date_end, dtype: object
19133    2020-06-15
Name: date_start, dtype: object
19133    2020-08-16
Name: date_end, dtype: object
18992    2020-05-18
Name: date_start, dtype: object
18992    2020-05-18
Name: date_end, dtype: object
18529    2020-03-21
Name: date_start, dtype: object
18529    2020-03-21
Name: date_end, dtype: object
18533    2020-03-21
Name: date_start, dtype: object
18533    2020-03-21
Name: date_end, dtype: object
19033    2020-05-29
Name: date_start, dtype: object
19033    2020-05-29
Name: date_end, dtype: object
18534    2020-03-21
Name: date_start, dtype: object
18534    2020-03-21
Name: date_end, dtype: object
18641    2020-04-03
Name: date_start, dtype: object
18641    2020-04-03
Name: date_end, dtype: object
18643    2020-04-03
Name: date_start, dtype: object
18643    2020-04-03
Name: date_end, dtype: object
18615    2020-03-31
Name: date_start, dtype: object
18615    2020-04-03
Name: date_end, dtype: object
18851    2020-05-04
Name: date_start, dtype: object
18851    2020-05-04
Name: date_end, dtype: object
18573    2020-03-23
Name: date_start, dtype: object
18573    2020-03-23
Name: date_end, dtype: object
18577    2020-03-23
Name: date_start, dtype: object
18577    2020-03-23
Name: date_end, dtype: object
19002    2020-05-18
Name: date_start, dtype: object
19002    2020-05-18
Name: date_end, dtype: object
18955    2020-05-15
Name: date_start, dtype: object
18955    2020-05-15
Name: date_end, dtype: object
18755    2020-04-20
Name: date_start, dtype: object
18755
Name: date_end, dtype: object
18571    2020-03-23
Name: date_start, dtype: object
18571    2020-05-04
Name: date_end, dtype: object
18599    2020-03-29
Name: date_start, dtype: object
18599    2020-03-29
Name: date_end, dtype: object
18603    2020-03-29
Name: date_start, dtype: object
18603    2020-03-29
Name: date_end, dtype: object
18588    2020-03-27
Name: date_start, dtype: object
18588    2020-04-19
Name: date_end, dtype: object
18673    2020-04-10
Name: date_start, dtype: object
18673    2020-04-10
Name: date_end, dtype: object
18677    2020-04-10
Name: date_start, dtype: object
18677    2020-04-10
Name: date_end, dtype: object
18912    2020-05-11
Name: date_start, dtype: object
18912    2020-05-11
Name: date_end, dtype: object
18756    2020-04-20
Name: date_start, dtype: object
18756    2020-04-20
Name: date_end, dtype: object
18644    2020-04-03
Name: date_start, dtype: object
18644    2020-04-03
Name: date_end, dtype: object
18663    2020-04-08
Name: date_start, dtype: object
18663    2020-04-19
Name: date_end, dtype: object
18747    2020-04-20
Name: date_start, dtype: object
18747    2020-04-20
Name: date_end, dtype: object
18751    2020-04-20
Name: date_start, dtype: object
18751    2020-04-20
Name: date_end, dtype: object
18819    2020-05-04
Name: date_start, dtype: object
18819    2020-05-04
Name: date_end, dtype: object
18757    2020-04-20
Name: date_start, dtype: object
18757    2020-06-10
Name: date_end, dtype: object
18864    2020-05-04
Name: date_start, dtype: object
18864    2020-05-04
Name: date_end, dtype: object
18772    2020-04-27
Name: date_start, dtype: object
18772    2020-04-27
Name: date_end, dtype: object
18776    2020-04-27
Name: date_start, dtype: object
18776    2020-04-27
Name: date_end, dtype: object
18874    2020-05-06
Name: date_start, dtype: object
18874    2020-05-26
Name: date_end, dtype: object
18878    2020-05-06
Name: date_start, dtype: object
18878    2020-05-17
Name: date_end, dtype: object
18881    2020-05-06
Name: date_start, dtype: object
18881    2020-05-19
Name: date_end, dtype: object
18883    2020-05-06
Name: date_start, dtype: object
18883    2020-09-02
Name: date_end, dtype: object
18946    2020-05-13
Name: date_start, dtype: object
18946    2020-06-12
Name: date_end, dtype: object
18884    2020-05-06
Name: date_start, dtype: object
18884    2020-05-20
Name: date_end, dtype: object
18875    2020-05-06
Name: date_start, dtype: object
18875    2020-05-26
Name: date_end, dtype: object
18876    2020-05-06
Name: date_start, dtype: object
18876    2020-09-08
Name: date_end, dtype: object
18877    2020-05-06
Name: date_start, dtype: object
18877    2020-05-26
Name: date_end, dtype: object
18882    2020-05-06
Name: date_start, dtype: object
18882    2020-05-13
Name: date_end, dtype: object
18879    2020-05-06
Name: date_start, dtype: object
18879    2020-05-17
Name: date_end, dtype: object
19018    2020-05-25
Name: date_start, dtype: object
19018    2020-05-25
Name: date_end, dtype: object
18861    2020-05-04
Name: date_start, dtype: object
18861    2020-05-04
Name: date_end, dtype: object
19051    2020-05-30
Name: date_start, dtype: object
19051    2020-05-30
Name: date_end, dtype: object
18818    2020-05-04
Name: date_start, dtype: object
18818    2020-05-04
Name: date_end, dtype: object
18832    2020-05-04
Name: date_start, dtype: object
18832
Name: date_end, dtype: object
19001    2020-05-18
Name: date_start, dtype: object
19001    2020-05-18
Name: date_end, dtype: object
19097    2020-06-09
Name: date_start, dtype: object
19097    2020-06-09
Name: date_end, dtype: object
18896    2020-05-10
Name: date_start, dtype: object
18896    2020-05-10
Name: date_end, dtype: object
18944    2020-05-13
Name: date_start, dtype: object
18944    2020-06-05
Name: date_end, dtype: object
18909    2020-05-11
Name: date_start, dtype: object
18909    2020-05-11
Name: date_end, dtype: object
19007    2020-05-18
Name: date_start, dtype: object
19007    2020-05-31
Name: date_end, dtype: object
18908    2020-05-11
Name: date_start, dtype: object
18908    2020-05-11
Name: date_end, dtype: object
18885    2020-05-06
Name: date_start, dtype: object
18885    2020-12-16
Name: date_end, dtype: object
19191    2020-07-01
Name: date_start, dtype: object
19191    2020-07-01
Name: date_end, dtype: object
19149    2020-06-22
Name: date_start, dtype: object
19149    2020-06-22
Name: date_end, dtype: object
19203    2020-07-01
Name: date_start, dtype: object
19203    2020-07-01
Name: date_end, dtype: object
19120    2020-06-13
Name: date_start, dtype: object
19120    2020-07-15
Name: date_end, dtype: object
19053    2020-06-01
Name: date_start, dtype: object
19053    2020-06-01
Name: date_end, dtype: object
19015    2020-05-25
Name: date_start, dtype: object
19015    2020-05-25
Name: date_end, dtype: object
19034    2020-05-29
Name: date_start, dtype: object
19034    2020-05-29
Name: date_end, dtype: object
19050    2020-05-30
Name: date_start, dtype: object
19050    2020-05-30
Name: date_end, dtype: object
19043    2020-05-30
Name: date_start, dtype: object
19043    2020-05-30
Name: date_end, dtype: object
19016    2020-05-25
Name: date_start, dtype: object
19016    2020-06-15
Name: date_end, dtype: object
19234    2020-07-22
Name: date_start, dtype: object
19234    2020-10-29
Name: date_end, dtype: object
19062    2020-06-03
Name: date_start, dtype: object
19062    2020-07-01
Name: date_end, dtype: object
19028    2020-05-27
Name: date_start, dtype: object
19028    2020-12-16
Name: date_end, dtype: object
19029    2020-05-27
Name: date_start, dtype: object
19029    2020-12-16
Name: date_end, dtype: object
19135    2020-06-15
Name: date_start, dtype: object
19135    2020-07-01
Name: date_end, dtype: object
19136    2020-06-15
Name: date_start, dtype: object
19136    2020-07-01
Name: date_end, dtype: object
19161    2020-06-26
Name: date_start, dtype: object
19161    2020-06-26
Name: date_end, dtype: object
19192    2020-07-01
Name: date_start, dtype: object
19192    2020-07-01
Name: date_end, dtype: object
19146    2020-06-22
Name: date_start, dtype: object
19146    2020-06-22
Name: date_end, dtype: object
19150    2020-06-22
Name: date_start, dtype: object
19150    2020-06-22
Name: date_end, dtype: object
19061    2020-06-02
Name: date_start, dtype: object
19061    2020-06-02
Name: date_end, dtype: object
19173    2020-06-29
Name: date_start, dtype: object
19173    2020-06-29
Name: date_end, dtype: object
19202    2020-07-01
Name: date_start, dtype: object
19202    2020-07-01
Name: date_end, dtype: object

19189    2020-07-01
Name: date_start, dtype: object
19189    2020-07-01
Name: date_end, dtype: object
19113    2020-06-10
Name: date_start, dtype: object
19113    2020-12-16
Name: date_end, dtype: object
19284    2020-08-30
Name: date_start, dtype: object
19284    2020-09-30
Name: date_end, dtype: object
19211    2020-07-08
Name: date_start, dtype: object
19211    2020-07-08
Name: date_end, dtype: object
19190    2020-07-01
Name: date_start, dtype: object
19190    2020-07-01
Name: date_end, dtype: object
19248    2020-07-29
Name: date_start, dtype: object
19248    2020-07-29
Name: date_end, dtype: object
19249    2020-07-29
Name: date_start, dtype: object
19249    2020-07-29
Name: date_end, dtype: object
19250    2020-07-29
Name: date_start, dtype: object
19250    2020-07-29
Name: date_end, dtype: object
19229    2020-07-16
Name: date_start, dtype: object
19229    2020-07-16
Name: date_end, dtype: object
19260    2020-07-29
Name: date_start, dtype: object
19260    2020-07-29
Name: date_end, dtype: object
19262    2020-07-29
Name: date_start, dtype: object
19262    2020-07-29
Name: date_end, dtype: object
19251    2020-07-29
Name: date_start, dtype: object
19251    2020-07-29
Name: date_end, dtype: object
19307    2020-09-23
Name: date_start, dtype: object
19307    2020-09-23
Name: date_end, dtype: object
19308    2020-09-23
Name: date_start, dtype: object
19308    2020-09-23
Name: date_end, dtype: object
19309    2020-09-23
Name: date_start, dtype: object
19309    2020-09-23
Name: date_end, dtype: object
19331    2020-10-21
Name: date_start, dtype: object
19331    2020-10-21
Name: date_end, dtype: object
19376    2020-11-02
Name: date_start, dtype: object
19376    2020-11-02
Name: date_end, dtype: object
19313    2020-09-23
Name: date_start, dtype: object
19313    2020-09-23
Name: date_end, dtype: object
19370    2020-11-02
Name: date_start, dtype: object
19370    2020-11-02
Name: date_end, dtype: object
19371    2020-11-02
Name: date_start, dtype: object
19371    2020-11-02
Name: date_end, dtype: object
19372    2020-11-02
Name: date_start, dtype: object
19372    2020-11-02
Name: date_end, dtype: object
19375    2020-11-02
Name: date_start, dtype: object
19375    2020-11-02
Name: date_end, dtype: object
19321    2020-10-16
Name: date_start, dtype: object
19321    2020-10-16
Name: date_end, dtype: object
19329    2020-10-17
Name: date_start, dtype: object
19329    2020-11-02
Name: date_end, dtype: object
19373    2020-11-02
Name: date_start, dtype: object
19373    2020-11-02
Name: date_end, dtype: object
19448    2020-03-13
Name: date_start, dtype: object
19448    2020-04-17
Name: date_end, dtype: object
19556    2020-05-12
Name: date_start, dtype: object
19556    2020-05-13
Name: date_end, dtype: object
19512    2020-04-20
Name: date_start, dtype: object
19512    2020-05-04
Name: date_end, dtype: object
19453    2020-03-14
Name: date_start, dtype: object
19453    2020-04-17
Name: date_end, dtype: object
19522    2020-04-27
Name: date_start, dtype: object
19522    2020-04-27
Name: date_end, dtype: object
19540    2020-05-06
Name: date_start, dtype: object
19540    2020-05-06
Name: date_end, dtype: object
19554    2020-05-11
Name: date_start, dtype: object
19554    2020-05-11
Name: date_end, dtype: object
19542    2020-05-06
Name: date_start, dtype: object
19542    2020-05-06
Name: date_end, dtype: object
19509    2020-04-20
Name: date_start, dtype: object
19509    2020-04-20
Name: date_end, dtype: object
19541    2020-05-06
Name: date_start, dtype: object
19541    2020-05-06
Name: date_end, dtype: object
19525    2020-05-01
Name: date_start, dtype: object
19525    2020-06-30
Name: date_end, dtype: object
19514    2020-04-20
Name: date_start, dtype: object
19514    2020-04-20
Name: date_end, dtype: object
19497    2020-04-03
Name: date_start, dtype: object
19497    2020-04-03
Name: date_end, dtype: object
19565    2020-05-29
Name: date_start, dtype: object
19565
Name: date_end, dtype: object
19535    2020-05-04
Name: date_start, dtype: object
19535    2020-05-04
Name: date_end, dtype: object
19562    2020-05-18
Name: date_start, dtype: object
19562    2020-05-18
Name: date_end, dtype: object
19543    2020-05-06
Name: date_start, dtype: object
19543    2020-05-06
Name: date_end, dtype: object
19485    2020-03-22
Name: date_start, dtype: object
19485    2020-06-05
Name: date_end, dtype: object
19547    2020-05-10
Name: date_start, dtype: object
19547    2020-05-10
Name: date_end, dtype: object
19526    2020-05-03
Name: date_start, dtype: object
19526    2020-05-06
Name: date_end, dtype: object
19548    2020-05-10
Name: date_start, dtype: object
19548    2020-05-10
Name: date_end, dtype: object
19553    2020-05-11
Name: date_start, dtype: object
19553    2020-05-11
Name: date_end, dtype: object
19568    2020-06-02
Name: date_start, dtype: object
19568    2020-06-02
Name: date_end, dtype: object
19582    2020-06-22
Name: date_start, dtype: object
19582    2020-06-22
Name: date_end, dtype: object
19573    2020-06-15
Name: date_start, dtype: object
19573    2020-08-10
Name: date_end, dtype: object
19586    2020-07-01
Name: date_start, dtype: object
19586    2020-07-01
Name: date_end, dtype: object
19590    2020-07-15
Name: date_start, dtype: object
19590    2020-07-15
Name: date_end, dtype: object
19652    2020-03-17
Name: date_start, dtype: object
19652    2020-03-17
Name: date_end, dtype: object
19653    2020-03-17
Name: date_start, dtype: object
19653    2020-03-17
Name: date_end, dtype: object
19838    2020-06-17
Name: date_start, dtype: object
19838    2020-10-31
Name: date_end, dtype: object
19643    2020-03-16
Name: date_start, dtype: object
19643    2020-03-16
Name: date_end, dtype: object
19634    2020-03-13
Name: date_start, dtype: object
19634    2020-06-05
Name: date_end, dtype: object
19741    2020-05-01
Name: date_start, dtype: object
19741    2020-05-01
Name: date_end, dtype: object
19797    2020-05-27
Name: date_start, dtype: object
19797    2020-05-27
Name: date_end, dtype: object
19806    2020-05-31
Name: date_start, dtype: object
19806    2020-05-31
Name: date_end, dtype: object
19762    2020-05-06
Name: date_start, dtype: object
19762    2020-08-31
Name: date_end, dtype: object
19791    2020-05-21
Name: date_start, dtype: object
19791
Name: date_end, dtype: object
19662    2020-03-18
Name: date_start, dtype: object
19662    2020-03-18
Name: date_end, dtype: object
19671    2020-03-21
Name: date_start, dtype: object
19671    2020-03-21
Name: date_end, dtype: object
19758    2020-05-04
Name: date_start, dtype: object
19758
Name: date_end, dtype: object
19729    2020-04-20
Name: date_start, dtype: object
19729    2020-04-20
Name: date_end, dtype: object
19690    2020-03-23
Name: date_start, dtype: object
19690    2020-03-23
Name: date_end, dtype: object
19674    2020-03-22
Name: date_start, dtype: object
19674    2020-05-01
Name: date_end, dtype: object
19689    2020-03-23
Name: date_start, dtype: object
19689    2020-06-15
Name: date_end, dtype: object
19876    2020-07-01
Name: date_start, dtype: object
19876    2020-07-01
Name: date_end, dtype: object
19697    2020-03-31
Name: date_start, dtype: object
19697    2020-05-31
Name: date_end, dtype: object
19763    2020-05-06
Name: date_start, dtype: object
19763    2020-05-20
Name: date_end, dtype: object
19764    2020-05-06
Name: date_start, dtype: object
19764    2020-05-07
Name: date_end, dtype: object
19738    2020-04-28
Name: date_start, dtype: object
19738    2020-05-27
Name: date_end, dtype: object
19991    2020-10-29
Name: date_start, dtype: object
19991    2020-10-29
Name: date_end, dtype: object
19885    2020-07-06
Name: date_start, dtype: object
19885    2020-07-06
Name: date_end, dtype: object
19967    2020-10-01
Name: date_start, dtype: object
19967    2020-10-01
Name: date_end, dtype: object
19833    2020-06-13
Name: date_start, dtype: object
19833    2020-07-15
Name: date_end, dtype: object
19875    2020-07-01
Name: date_start, dtype: object
19875    2020-07-01
Name: date_end, dtype: object
19813    2020-06-02
Name: date_start, dtype: object
19813    2020-06-16
Name: date_end, dtype: object
19897    2020-07-15
Name: date_start, dtype: object
19897    2020-11-02
Name: date_end, dtype: object
19899    2020-07-15
Name: date_start, dtype: object
19899    2020-11-02
Name: date_end, dtype: object

19830    2020-06-11
Name: date_start, dtype: object
19830    2020-10-16
Name: date_end, dtype: object
19968    2020-10-01
Name: date_start, dtype: object
19968
Name: date_end, dtype: object
19831    2020-06-11
Name: date_start, dtype: object
19831    2020-10-16
Name: date_end, dtype: object
19906    2020-07-16
Name: date_start, dtype: object
19906    2020-08-30
Name: date_end, dtype: object
20001    2020-11-02
Name: date_start, dtype: object
20001    2020-11-02
Name: date_end, dtype: object
19901    2020-07-15
Name: date_start, dtype: object
19901    2020-12-15
Name: date_end, dtype: object
19898    2020-07-15
Name: date_start, dtype: object
19898    2020-11-02
Name: date_end, dtype: object
20003    2020-11-02
Name: date_start, dtype: object
20003    2020-11-01
Name: date_end, dtype: object
19988    2020-10-27
Name: date_start, dtype: object
19988    2020-10-29
Name: date_end, dtype: object
19972    2020-10-12
Name: date_start, dtype: object
19972    2020-10-17
Name: date_end, dtype: object
19978    2020-10-17
Name: date_start, dtype: object
19978    2020-11-01
Name: date_end, dtype: object
19977    2020-10-17
Name: date_start, dtype: object
19977    2020-11-01
Name: date_end, dtype: object
19979    2020-10-17
Name: date_start, dtype: object
19979    2020-11-01
Name: date_end, dtype: object
20012    2020-11-11
Name: date_start, dtype: object
20012    2020-11-30
Name: date_end, dtype: object
20024    2020-12-16
Name: date_start, dtype: object
20024    2021-02-14
Name: date_end, dtype: object
20088    2020-04-19
Name: date_start, dtype: object
20088    2020-05-19
Name: date_end, dtype: object
20075    2020-04-03
Name: date_start, dtype: object
20075    2020-04-03
Name: date_end, dtype: object
20115    2020-04-20
Name: date_start, dtype: object
20115    2020-04-20
Name: date_end, dtype: object
20384    2020-06-06
Name: date_start, dtype: object
20384    2020-06-05
Name: date_end, dtype: object
20487    2020-06-27
Name: date_start, dtype: object
20487    2020-08-01
Name: date_end, dtype: object
20054    2020-03-22
Name: date_start, dtype: object
20054    2020-05-12
Name: date_end, dtype: object
20217    2020-05-04
Name: date_start, dtype: object
20217    2020-05-04
Name: date_end, dtype: object
20062    2020-03-23
Name: date_start, dtype: object
20062    2020-05-20
Name: date_end, dtype: object
20132    2020-04-24
Name: date_start, dtype: object
20132    2020-06-05
Name: date_end, dtype: object
20232    2020-05-06
Name: date_start, dtype: object
20232    2020-05-13
Name: date_end, dtype: object
20211    2020-05-04
Name: date_start, dtype: object
20211    2020-05-04
Name: date_end, dtype: object
20247    2020-05-10
Name: date_start, dtype: object
20247    2020-05-10
Name: date_end, dtype: object
20168    2020-04-27
Name: date_start, dtype: object
20168    2020-04-27
Name: date_end, dtype: object
20238    2020-05-06
Name: date_start, dtype: object
20238    2020-07-01
Name: date_end, dtype: object
20480    2020-06-22
Name: date_start, dtype: object
20480    2020-06-22
Name: date_end, dtype: object
20286    2020-05-13
Name: date_start, dtype: object
20286    2020-06-05
Name: date_end, dtype: object
20210    2020-05-04
Name: date_start, dtype: object
20210    2020-05-04
Name: date_end, dtype: object
20270    2020-05-11
Name: date_start, dtype: object
20270    2020-05-11
Name: date_end, dtype: object
20250    2020-05-10
Name: date_start, dtype: object
20250    2020-05-10
Name: date_end, dtype: object
20905    2021-01-25
Name: date_start, dtype: object
20905
Name: date_end, dtype: object
20334    2020-05-20
Name: date_start, dtype: object
20334    2020-08-10
Name: date_end, dtype: object
20400    2020-06-09
Name: date_start, dtype: object
20400    2020-06-09
Name: date_end, dtype: object
20333    2020-05-20
Name: date_start, dtype: object
20333    2020-06-14
Name: date_end, dtype: object
20245    2020-05-10
Name: date_start, dtype: object
20245    2020-05-10
Name: date_end, dtype: object
20246    2020-05-10
Name: date_start, dtype: object
20246    2020-05-10
Name: date_end, dtype: object
20351    2020-05-27
Name: date_start, dtype: object
20351    2020-05-27
Name: date_end, dtype: object
20378    2020-06-02
Name: date_start, dtype: object
20378    2020-06-02
Name: date_end, dtype: object
20281    2020-05-13
Name: date_start, dtype: object
20281    2020-05-19
Name: date_end, dtype: object
20268    2020-05-11
Name: date_start, dtype: object
20268    2020-05-11
Name: date_end, dtype: object
20269    2020-05-11
Name: date_start, dtype: object
20269    2020-05-11
Name: date_end, dtype: object
20288    2020-05-13
Name: date_start, dtype: object
20288    2020-07-01
Name: date_end, dtype: object
20515    2020-07-01
Name: date_start, dtype: object
20515    2020-07-01
Name: date_end, dtype: object
20471    2020-06-22
Name: date_start, dtype: object
20471    2020-06-22
Name: date_end, dtype: object
20472    2020-06-22
Name: date_start, dtype: object
20472    2020-06-22
Name: date_end, dtype: object
20329    2020-05-18
Name: date_start, dtype: object
20329    2020-05-18
Name: date_end, dtype: object
20415    2020-06-13
Name: date_start, dtype: object
20415    2020-07-15
Name: date_end, dtype: object
20341    2020-05-25
Name: date_start, dtype: object
20341    2020-05-25
Name: date_end, dtype: object
20342    2020-05-25
Name: date_start, dtype: object
20342    2020-05-25
Name: date_end, dtype: object
20539    2020-07-01
Name: date_start, dtype: object
20539    2020-07-01
Name: date_end, dtype: object
20362    2020-05-30
Name: date_start, dtype: object
20362    2020-05-30
Name: date_end, dtype: object
20363    2020-05-30
Name: date_start, dtype: object
20363    2020-05-30
Name: date_end, dtype: object
20379    2020-06-03
Name: date_start, dtype: object
20379    2020-07-01
Name: date_end, dtype: object
20380    2020-06-03
Name: date_start, dtype: object
20380    2020-07-01
Name: date_end, dtype: object
20540    2020-07-01
Name: date_start, dtype: object
20540    2020-07-01
Name: date_end, dtype: object
20484    2020-06-26
Name: date_start, dtype: object
20484    2020-06-26
Name: date_end, dtype: object
20516    2020-07-01
Name: date_start, dtype: object
20516    2020-07-01
Name: date_end, dtype: object
20465    2020-06-22
Name: date_start, dtype: object
20465    2020-06-22
Name: date_end, dtype: object
20466    2020-06-22
Name: date_start, dtype: object
20466    2020-06-22
Name: date_end, dtype: object
20473    2020-06-22
Name: date_start, dtype: object
20473    2020-06-22
Name: date_end, dtype: object
20474    2020-06-22
Name: date_start, dtype: object
20474    2020-06-22
Name: date_end, dtype: object
20513    2020-07-01
Name: date_start, dtype: object
20513    2020-07-01
Name: date_end, dtype: object
20688    2020-09-02
Name: date_start, dtype: object
20688    2020-09-02
Name: date_end, dtype: object
20485    2020-06-26
Name: date_start, dtype: object
20485    2020-08-10
Name: date_end, dtype: object
20556    2020-07-08
Name: date_start, dtype: object
20556    2020-07-08
Name: date_end, dtype: object
20557    2020-07-08
Name: date_start, dtype: object
20557    2020-07-08
Name: date_end, dtype: object
20750    2020-10-02
Name: date_start, dtype: object
20750    2020-10-02
Name: date_end, dtype: object
20514    2020-07-01
Name: date_start, dtype: object
20514    2020-07-01
Name: date_end, dtype: object
20608    2020-07-29
Name: date_start, dtype: object
20608    2020-07-29
Name: date_end, dtype: object
20609    2020-07-29
Name: date_start, dtype: object
20609    2020-07-29
Name: date_end, dtype: object
20610    2020-07-29
Name: date_start, dtype: object
20610    2020-07-29
Name: date_end, dtype: object
20586    2020-07-16
Name: date_start, dtype: object
20586    2020-07-16
Name: date_end, dtype: object
20631    2020-07-29
Name: date_start, dtype: object
20631    2020-07-29
Name: date_end, dtype: object
20611    2020-07-29
Name: date_start, dtype: object
20611    2020-07-29
Name: date_end, dtype: object
20724    2020-09-23
Name: date_start, dtype: object
20724    2020-09-23
Name: date_end, dtype: object
20725    2020-09-23
Name: date_start, dtype: object
20725    2020-09-23
Name: date_end, dtype: object
20726    2020-09-23
Name: date_start, dtype: object
20726    2020-09-23
Name: date_end, dtype: object
20791    2020-10-21
Name: date_start, dtype: object
20791    2020-10-21
Name: date_end, dtype: object
20733    2020-09-23
Name: date_start, dtype: object
20733    2020-09-23
Name: date_end, dtype: object

20668    2020-08-28
Name: date_start, dtype: object
20668    2020-12-13
Name: date_end, dtype: object
20770    2020-10-17
Name: date_start, dtype: object
20770    2020-10-17
Name: date_end, dtype: object
20771    2020-10-17
Name: date_start, dtype: object
20771    2020-10-17
Name: date_end, dtype: object
20772    2020-10-17
Name: date_start, dtype: object
20772    2020-10-17
Name: date_end, dtype: object
20816    2020-11-02
Name: date_start, dtype: object
20816    2020-11-02
Name: date_end, dtype: object
20817    2020-11-02
Name: date_start, dtype: object
20817    2020-11-02
Name: date_end, dtype: object
20818    2020-11-02
Name: date_start, dtype: object
20818    2020-11-02
Name: date_end, dtype: object
20821    2020-11-02
Name: date_start, dtype: object
20821    2020-11-02
Name: date_end, dtype: object
20762    2020-10-10
Name: date_start, dtype: object
20762    2020-10-10
Name: date_end, dtype: object
20831    2020-11-02
Name: date_start, dtype: object
20831    2020-11-02
Name: date_end, dtype: object
20787    2020-10-19
Name: date_start, dtype: object
20787    2020-10-19
Name: date_end, dtype: object
20826    2020-11-02
Name: date_start, dtype: object
20826    2020-11-02
Name: date_end, dtype: object
20827    2020-11-02
Name: date_start, dtype: object
20827    2020-11-02
Name: date_end, dtype: object
20819    2020-11-02
Name: date_start, dtype: object
20819    2020-11-02
Name: date_end, dtype: object
20864    2020-12-01
Name: date_start, dtype: object
20864    2020-12-01
Name: date_end, dtype: object
20865    2020-12-01
Name: date_start, dtype: object
20865    2020-12-01
Name: date_end, dtype: object
20900    2021-01-18
Name: date_start, dtype: object
20900    2021-01-18
Name: date_end, dtype: object
20885    2020-12-16
Name: date_start, dtype: object
20885    2020-12-16
Name: date_end, dtype: object
20945    2020-09-01
Name: date_start, dtype: object
20945
Name: date_end, dtype: object
20986    2020-07-26
Name: date_start, dtype: object
20986
Name: date_end, dtype: object
21080    2020-09-07
Name: date_start, dtype: object
21080    2020-08-31
Name: date_end, dtype: object
21088    2020-04-27
Name: date_start, dtype: object
21088    2020-05-05
Name: date_end, dtype: object
21202    2020-07-07
Name: date_start, dtype: object
21202    2020-06-09
Name: date_end, dtype: object
21267    2020-12-15
Name: date_start, dtype: object
21267
Name: date_end, dtype: object
21287    2020-12-15
Name: date_start, dtype: object
21287
Name: date_end, dtype: object
21339    2020-05-15
Name: date_start, dtype: object
21339    2020-05-15
Name: date_end, dtype: object
21347    2020-10-01
Name: date_start, dtype: object
21347    2021-10-01
Name: date_end, dtype: object
21363    2020-03-12
Name: date_start, dtype: object
21363    2021-03-12
Name: date_end, dtype: object
21364    2020-03-17
Name: date_start, dtype: object
21364    2021-03-17
Name: date_end, dtype: object
21447    2020-05-10
Name: date_start, dtype: object
21447    2020-06-03
Name: date_end, dtype: object
21449    2020-05-21
Name: date_start, dtype: object
21449    2020-06-21
Name: date_end, dtype: object
21492    2020-03-12
Name: date_start, dtype: object
21492    2021-03-12
Name: date_end, dtype: object
21497    2020-09-18
Name: date_start, dtype: object
21497    2020-09-18
Name: date_end, dtype: object
21612    2020-06-25
Name: date_start, dtype: object
21612
Name: date_end, dtype: object
21707    2020-08-10
Name: date_start, dtype: object
21707
Name: date_end, dtype: object
21753    2020-03-19
Name: date_start, dtype: object
21753    2020-08-10
Name: date_end, dtype: object
21755    2020-03-19
Name: date_start, dtype: object
21755    2020-07-05
Name: date_end, dtype: object
21762    2020-03-19
Name: date_start, dtype: object
21762    2020-07-01
Name: date_end, dtype: object
21768    2020-03-19
Name: date_start, dtype: object
21768    2020-07-06
Name: date_end, dtype: object
21800    2020-02-10
Name: date_start, dtype: object
21800    2020-03-21
Name: date_end, dtype: object
21811    2020-08-20
Name: date_start, dtype: object
21811    2020-08-22
Name: date_end, dtype: object
21833    2020-08-17
Name: date_start, dtype: object
21833
Name: date_end, dtype: object
21827    2020-06-19
Name: date_start, dtype: object
21827    2020-08-10
Name: date_end, dtype: object
21886    2020-08-22
Name: date_start, dtype: object
21886    2020-08-22
Name: date_end, dtype: object
21989    2020-03-18
Name: date_start, dtype: object
21989    2020-03-18
Name: date_end, dtype: object
21999    2020-05-04
Name: date_start, dtype: object
21999    2020-05-04
Name: date_end, dtype: object
21998    2020-05-04
Name: date_start, dtype: object
21998    2020-05-31
Name: date_end, dtype: object
22010    2020-06-08
Name: date_start, dtype: object
22010    2020-06-21
Name: date_end, dtype: object
22043    2020-08-03
Name: date_start, dtype: object
22043    2020-08-03
Name: date_end, dtype: object
22076    2020-05-27
Name: date_start, dtype: object
22076    2020-03-02
Name: date_end, dtype: object
22150    2020-03-29
Name: date_start, dtype: object
22150    2020-05-28
Name: date_end, dtype: object
22206    2020-05-04
Name: date_start, dtype: object
22206
Name: date_end, dtype: object
22235    2020-05-18
Name: date_start, dtype: object
22235    2020-04-11
Name: date_end, dtype: object
22240    2020-06-18
Name: date_start, dtype: object
22240
Name: date_end, dtype: object
22263    2020-06-29
Name: date_start, dtype: object
22263
Name: date_end, dtype: object
22298    2020-03-28
Name: date_start, dtype: object
22298    2020-04-25
Name: date_end, dtype: object
22340    2020-06-12
Name: date_start, dtype: object
22340
Name: date_end, dtype: object
22350    2020-05-04
Name: date_start, dtype: object
22350    2020-04-13
Name: date_end, dtype: object
22352    2020-05-25
Name: date_start, dtype: object
22352
Name: date_end, dtype: object
22363    2020-08-19
Name: date_start, dtype: object
22363
Name: date_end, dtype: object
22380    2020-05-18
Name: date_start, dtype: object
22380    2020-05-18
Name: date_end, dtype: object
22408    2020-08-05
Name: date_start, dtype: object
22408    2020-08-13
Name: date_end, dtype: object
22461    2020-04-20
Name: date_start, dtype: object
22461    2020-04-21
Name: date_end, dtype: object
22728    2020-06-04
Name: date_start, dtype: object
22728    2020-06-04
Name: date_end, dtype: object
22732    2020-06-26
Name: date_start, dtype: object
22732    2020-06-26
Name: date_end, dtype: object
22740    2020-08-20
Name: date_start, dtype: object
22740    2020-10-01
Name: date_end, dtype: object
22756    2020-02-07
Name: date_start, dtype: object
22756
Name: date_end, dtype: object
22857    2020-09-15
Name: date_start, dtype: object
22857    2020-09-15
Name: date_end, dtype: object
23119    2020-08-23
Name: date_start, dtype: object
23119    2020-08-24
Name: date_end, dtype: object
22978    2020-05-16
Name: date_start, dtype: object
22978    2020-05-27
Name: date_end, dtype: object
23008    2020-06-17
Name: date_start, dtype: object
23008
Name: date_end, dtype: object
23012    2020-06-18
Name: date_start, dtype: object
23012
Name: date_end, dtype: object
23206    2020-07-05
Name: date_start, dtype: object
23206    2020-07-06
Name: date_end, dtype: object
23235    2020-08-02
Name: date_start, dtype: object
23235    2020-09-02
Name: date_end, dtype: object
23450    2020-07-02
Name: date_start, dtype: object
23450    2020-07-31
Name: date_end, dtype: object
23460    2020-07-09
Name: date_start, dtype: object
23460    2020-10-01
Name: date_end, dtype: object
23469    2020-07-18
Name: date_start, dtype: object
23469    2020-07-31
Name: date_end, dtype: object
23481    2020-07-24
Name: date_start, dtype: object
23481    2020-09-02
Name: date_end, dtype: object
23484    2020-07-25
Name: date_start, dtype: object
23484    2020-09-08
Name: date_end, dtype: object
23506    2020-08-21
Name: date_start, dtype: object
23506    2020-10-01
Name: date_end, dtype: object
23513    2020-08-31
Name: date_start, dtype: object
23513    2020-09-01
Name: date_end, dtype: object
23616    2020-03-31
Name: date_start, dtype: object
23616    2020-04-14
Name: date_end, dtype: object

23696    2020-02-21
Name: date_start, dtype: object
23696
Name: date_end, dtype: object
23756    2020-02-01
Name: date_start, dtype: object
23756    2020-03-31
Name: date_end, dtype: object
23793    2020-03-19
Name: date_start, dtype: object
23793
Name: date_end, dtype: object
23945    2020-03-25
Name: date_start, dtype: object
23945    2020-05-28
Name: date_end, dtype: object
23966    2020-04-16
Name: date_start, dtype: object
23966
Name: date_end, dtype: object
24072    2020-09-03
Name: date_start, dtype: object
24072
Name: date_end, dtype: object
24266    2020-08-22
Name: date_start, dtype: object
24266    2020-09-01
Name: date_end, dtype: object
24433    2020-08-12
Name: date_start, dtype: object
24433    2020-09-01
Name: date_end, dtype: object
24436    2020-08-22
Name: date_start, dtype: object
24436    2020-09-01
Name: date_end, dtype: object
24466    2020-03-15
Name: date_start, dtype: object
24466    2020-06-15
Name: date_end, dtype: object
24667    2020-08-18
Name: date_start, dtype: object
24667    2020-08-18
Name: date_end, dtype: object
24666    2020-08-18
Name: date_start, dtype: object
24666    2020-08-18
Name: date_end, dtype: object
24508    2020-03-17
Name: date_start, dtype: object
24508    2020-06-15
Name: date_end, dtype: object
24656    2020-06-19
Name: date_start, dtype: object
24656    2020-07-13
Name: date_end, dtype: object
24662    2020-07-20
Name: date_start, dtype: object
24662    2020-07-20
Name: date_end, dtype: object
24695    2020-09-19
Name: date_start, dtype: object
24695    2020-09-19
Name: date_end, dtype: object
24776    2020-09-11
Name: date_start, dtype: object
24776    2020-09-11
Name: date_end, dtype: object
24763    2020-05-01
Name: date_start, dtype: object
24763
Name: date_end, dtype: object
24774    2020-07-17
Name: date_start, dtype: object
24774    2020-07-17
Name: date_end, dtype: object
24877    2020-06-18
Name: date_start, dtype: object
24877    2020-06-18
Name: date_end, dtype: object
24931    2020-06-01
Name: date_start, dtype: object
24931    2020-06-01
Name: date_end, dtype: object
25121    2020-07-20
Name: date_start, dtype: object
25121    2020-07-20
Name: date_end, dtype: object
25198    2020-03-15
Name: date_start, dtype: object
25198    2020-05-11
Name: date_end, dtype: object
25267    2020-04-09
Name: date_start, dtype: object
25267    2020-07-01
Name: date_end, dtype: object
25322    2020-06-07
Name: date_start, dtype: object
25322    2020-06-15
Name: date_end, dtype: object
25326    2020-06-16
Name: date_start, dtype: object
25326    2020-06-16
Name: date_end, dtype: object
25323    2020-06-08
Name: date_start, dtype: object
25323    2020-06-08
Name: date_end, dtype: object
25270    2020-04-10
Name: date_start, dtype: object
25270    2020-06-08
Name: date_end, dtype: object
25310    2020-05-20
Name: date_start, dtype: object
25310    2020-05-30
Name: date_end, dtype: object
25510    2020-04-11
Name: date_start, dtype: object
25510    2020-04-08
Name: date_end, dtype: object
25559    2020-05-30
Name: date_start, dtype: object
25559
Name: date_end, dtype: object
25569    2020-05-25
Name: date_start, dtype: object
25569    2020-05-04
Name: date_end, dtype: object
25570    2020-05-26
Name: date_start, dtype: object
25570
Name: date_end, dtype: object
25637    2020-04-28
Name: date_start, dtype: object
25637    2020-05-22
Name: date_end, dtype: object
25640    2020-05-10
Name: date_start, dtype: object
25640    2020-05-22
Name: date_end, dtype: object
25646    2020-02-20
Name: date_start, dtype: object
25646    2020-08-22
Name: date_end, dtype: object
25649    2020-02-24
Name: date_start, dtype: object
25649    2020-09-20
Name: date_end, dtype: object
25680    2021-01-14
Name: date_start, dtype: object
25680
Name: date_end, dtype: object
25724    2020-08-15
Name: date_start, dtype: object
25724    2020-09-20
Name: date_end, dtype: object
25762    2020-06-29
Name: date_start, dtype: object
25762    2020-07-28
Name: date_end, dtype: object
25769    2020-04-08
Name: date_start, dtype: object
25769    2020-07-05
Name: date_end, dtype: object
25768    2020-04-08
Name: date_start, dtype: object
25768    2020-07-05
Name: date_end, dtype: object
25816    2020-09-08
Name: date_start, dtype: object
25816    2020-09-20
Name: date_end, dtype: object
25822    2020-02-25
Name: date_start, dtype: object
25822    2020-09-12
Name: date_end, dtype: object
25863    2020-04-10
Name: date_start, dtype: object
25863    2020-05-15
Name: date_end, dtype: object
25875    2020-07-20
Name: date_start, dtype: object
25875    2020-09-07
Name: date_end, dtype: object
25890    2020-12-30
Name: date_start, dtype: object
25890    2021-01-11
Name: date_end, dtype: object
26019    2020-09-28
Name: date_start, dtype: object
26019
Name: date_end, dtype: object
26020    2020-10-12
Name: date_start, dtype: object
26020
Name: date_end, dtype: object
26100    2021-01-06
Name: date_start, dtype: object
26100    2021-01-12
Name: date_end, dtype: object
26132    2020-05-01
Name: date_start, dtype: object
26132    2020-05-18
Name: date_end, dtype: object
26139    2020-06-08
Name: date_start, dtype: object
26139
Name: date_end, dtype: object
26155    2020-09-25
Name: date_start, dtype: object
26155    2020-10-16
Name: date_end, dtype: object
26182    2020-12-01
Name: date_start, dtype: object
26182    2021-04-15
Name: date_end, dtype: object
26202    2020-03-24
Name: date_start, dtype: object
26202    2020-04-19
Name: date_end, dtype: object
26209    2020-06-08
Name: date_start, dtype: object
26209
Name: date_end, dtype: object
26257    2020-05-01
Name: date_start, dtype: object
26257    2020-05-18
Name: date_end, dtype: object
26279    2020-06-08
Name: date_start, dtype: object
26279
Name: date_end, dtype: object
26364    2020-09-25
Name: date_start, dtype: object
26364    2020-10-16
Name: date_end, dtype: object
26365    2020-09-25
Name: date_start, dtype: object
26365    2020-10-16
Name: date_end, dtype: object
26410    2020-12-30
Name: date_start, dtype: object
26410    2021-01-11
Name: date_end, dtype: object
26411    2020-12-30
Name: date_start, dtype: object
26411    2021-01-11
Name: date_end, dtype: object
26398    2020-12-01
Name: date_start, dtype: object
26398    2021-04-15
Name: date_end, dtype: object
26399    2020-12-01
Name: date_start, dtype: object
26399    2021-04-15
Name: date_end, dtype: object
26523    2020-07-17
Name: date_start, dtype: object
26523
Name: date_end, dtype: object
26526    2020-04-02
Name: date_start, dtype: object
26526    2020-04-20
Name: date_end, dtype: object
26542    2020-05-04
Name: date_start, dtype: object
26542    2020-05-04
Name: date_end, dtype: object
26573    2020-03-22
Name: date_start, dtype: object
26573    2020-07-27
Name: date_end, dtype: object
26585    2020-02-02
Name: date_start, dtype: object
26585    2020-03-09
Name: date_end, dtype: object
26587    2020-02-16
Name: date_start, dtype: object
26587    2020-03-09
Name: date_end, dtype: object
26591    2020-02-23
Name: date_start, dtype: object
26591    2020-03-09
Name: date_end, dtype: object
26593    2020-02-26
Name: date_start, dtype: object
26593    2020-03-09
Name: date_end, dtype: object
26599    2020-03-04
Name: date_start, dtype: object
26599    2020-03-09
Name: date_end, dtype: object
26602    2020-03-09
Name: date_start, dtype: object
26602    2020-08-16
Name: date_end, dtype: object
26660    2020-04-26
Name: date_start, dtype: object
26660    2020-05-03
Name: date_end, dtype: object
26676    2020-05-27
Name: date_start, dtype: object
26676
Name: date_end, dtype: object
26682    2020-07-17
Name: date_start, dtype: object
26682    2020-07-21
Name: date_end, dtype: object
26683    2020-07-17
Name: date_start, dtype: object
26683    2020-08-07
Name: date_end, dtype: object
26692    2020-04-20
Name: date_start, dtype: object
26692
Name: date_end, dtype: object
26696    2020-05-28
Name: date_start, dtype: object
26696
Name: date_end, dtype: object
26722    2020-07-06
Name: date_start, dtype: object
26722    2020-07-14
Name: date_end, dtype: object
26739    2020-04-18
Name: date_start, dtype: object
26739    2020-08-31
Name: date_end, dtype: object

26991    2020-08-15
Name: date_start, dtype: object
26991    2020-12-03
Name: date_end, dtype: object
27013    2021-01-14
Name: date_start, dtype: object
27013
Name: date_end, dtype: object
26998    2020-10-14
Name: date_start, dtype: object
26998    2021-04-15
Name: date_end, dtype: object
27006    2020-12-09
Name: date_start, dtype: object
27006
Name: date_end, dtype: object
27546    2020-12-03
Name: date_start, dtype: object
27546    2020-10-25
Name: date_end, dtype: object
27213    2020-05-04
Name: date_start, dtype: object
27213    2020-05-17
Name: date_end, dtype: object
27211    2020-05-04
Name: date_start, dtype: object
27211    2020-05-17
Name: date_end, dtype: object
27212    2020-05-04
Name: date_start, dtype: object
27212    2020-05-17
Name: date_end, dtype: object
27232    2020-03-18
Name: date_start, dtype: object
27232    2020-03-18
Name: date_end, dtype: object
27255    2020-03-08
Name: date_start, dtype: object
27255    2020-04-03
Name: date_end, dtype: object
27278    2020-03-23
Name: date_start, dtype: object
27278    2020-04-11
Name: date_end, dtype: object
27469    2020-04-04
Name: date_start, dtype: object
27469
Name: date_end, dtype: object
27534    2020-06-11
Name: date_start, dtype: object
27534
Name: date_end, dtype: object
27548    2020-12-03
Name: date_start, dtype: object
27548
Name: date_end, dtype: object
27553    2020-03-06
Name: date_start, dtype: object
27553    2020-03-15
Name: date_end, dtype: object
27565    2020-03-08
Name: date_start, dtype: object
27565    2020-05-18
Name: date_end, dtype: object
27599    2020-03-12
Name: date_start, dtype: object
27599
Name: date_end, dtype: object
27578    2020-03-10
Name: date_start, dtype: object
27578    2020-03-11
Name: date_end, dtype: object
27580    2020-03-11
Name: date_start, dtype: object
27580    2020-05-18
Name: date_end, dtype: object
27616    2020-03-21
Name: date_start, dtype: object
27616
Name: date_end, dtype: object
27797    2020-05-04
Name: date_start, dtype: object
27797    2020-05-17
Name: date_end, dtype: object
27770    2020-04-24
Name: date_start, dtype: object
27770    2020-05-03
Name: date_end, dtype: object
27898    2020-03-02
Name: date_start, dtype: object
27898    2020-03-02
Name: date_end, dtype: object
27961    2020-05-04
Name: date_start, dtype: object
27961    2020-05-17
Name: date_end, dtype: object
27962    2020-05-04
Name: date_start, dtype: object
27962    2020-05-17
Name: date_end, dtype: object
27964    2020-05-04
Name: date_start, dtype: object
27964    2020-05-17
Name: date_end, dtype: object
28145    2020-05-04
Name: date_start, dtype: object
28145    2020-05-17
Name: date_end, dtype: object
28146    2020-05-04
Name: date_start, dtype: object
28146    2020-05-17
Name: date_end, dtype: object
28142    2020-05-04
Name: date_start, dtype: object
28142    2020-05-17
Name: date_end, dtype: object
28147    2020-05-04
Name: date_start, dtype: object
28147    2020-05-17
Name: date_end, dtype: object
28033    2020-03-21
Name: date_start, dtype: object
28033    2020-05-04
Name: date_end, dtype: object
28096    2020-04-24
Name: date_start, dtype: object
28096    2020-05-03
Name: date_end, dtype: object
28098    2020-04-24
Name: date_start, dtype: object
28098    2020-05-03
Name: date_end, dtype: object
28097    2020-04-24
Name: date_start, dtype: object
28097    2020-08-13
Name: date_end, dtype: object
28405    2020-05-15
Name: date_start, dtype: object
28405    2020-04-22
Name: date_end, dtype: object
28483    2020-05-13
Name: date_start, dtype: object
28483
Name: date_end, dtype: object
28512    2020-05-08
Name: date_start, dtype: object
28512
Name: date_end, dtype: object
28520    2020-07-31
Name: date_start, dtype: object
28520    2020-06-30
Name: date_end, dtype: object
28547    2020-06-15
Name: date_start, dtype: object
28547
Name: date_end, dtype: object
28687    2020-03-09
Name: date_start, dtype: object
28687    2020-03-09
Name: date_end, dtype: object
28739    2020-04-10
Name: date_start, dtype: object
28739    2020-05-31
Name: date_end, dtype: object
28743    2020-04-10
Name: date_start, dtype: object
28743    2020-05-26
Name: date_end, dtype: object
28811    2020-05-15
Name: date_start, dtype: object
28811    2020-05-31
Name: date_end, dtype: object
28927    2020-09-09
Name: date_start, dtype: object
28927    2020-09-09
Name: date_end, dtype: object
28979    2020-04-16
Name: date_start, dtype: object
28979    2020-04-16
Name: date_end, dtype: object
28968    2020-04-10
Name: date_start, dtype: object
28968    2020-05-26
Name: date_end, dtype: object
29087    2020-05-29
Name: date_start, dtype: object
29087    2020-05-29
Name: date_end, dtype: object
29091    2020-06-19
Name: date_start, dtype: object
29091    2020-06-19
Name: date_end, dtype: object
29144    2020-02-20
Name: date_start, dtype: object
29144    2020-02-20
Name: date_end, dtype: object
29176    2020-06-19
Name: date_start, dtype: object
29176    2020-06-23
Name: date_end, dtype: object
29200    2020-01-28
Name: date_start, dtype: object
29200    2020-02-06
Name: date_end, dtype: object
29212    2020-02-05
Name: date_start, dtype: object
29212    2020-02-25
Name: date_end, dtype: object
29256    2020-02-25
Name: date_start, dtype: object
29256    2020-05-01
Name: date_end, dtype: object
29542    2020-06-20
Name: date_start, dtype: object
29542    2020-06-20
Name: date_end, dtype: object
29360    2020-04-14
Name: date_start, dtype: object
29360    2020-05-22
Name: date_end, dtype: object
29399    2020-04-24
Name: date_start, dtype: object
29399    2020-05-15
Name: date_end, dtype: object
29488    2020-05-22
Name: date_start, dtype: object
29488    2020-07-27
Name: date_end, dtype: object
29596    2020-08-29
Name: date_start, dtype: object
29596    2021-08-29
Name: date_end, dtype: object
29809    2020-05-14
Name: date_start, dtype: object
29809    2020-05-25
Name: date_end, dtype: object
29870    2020-05-15
Name: date_start, dtype: object
29870    2020-05-15
Name: date_end, dtype: object
29855    2020-04-16
Name: date_start, dtype: object
29855    2020-06-19
Name: date_end, dtype: object
29868    2020-05-14
Name: date_start, dtype: object
29868    2020-05-25
Name: date_end, dtype: object
29876    2020-06-01
Name: date_start, dtype: object
29876    2020-06-01
Name: date_end, dtype: object
29878    2020-06-19
Name: date_start, dtype: object
29878    2020-06-19
Name: date_end, dtype: object
29948    2020-04-20
Name: date_start, dtype: object
29948    2020-05-01
Name: date_end, dtype: object
30118    2020-04-21
Name: date_start, dtype: object
30118    2020-06-30
Name: date_end, dtype: object
30137    2020-05-14
Name: date_start, dtype: object
30137    2020-05-25
Name: date_end, dtype: object
30138    2020-05-14
Name: date_start, dtype: object
30138    2020-05-25
Name: date_end, dtype: object
30157    2020-05-25
Name: date_start, dtype: object
30157    2020-07-08
Name: date_end, dtype: object
30159    2020-05-25
Name: date_start, dtype: object
30159    2020-07-08
Name: date_end, dtype: object
30158    2020-05-25
Name: date_start, dtype: object
30158    2020-07-08
Name: date_end, dtype: object
30171    2020-06-19
Name: date_start, dtype: object
30171    2020-09-29
Name: date_end, dtype: object
30378    2020-03-12
Name: date_start, dtype: object
30378    2020-03-12
Name: date_end, dtype: object
30399    2020-04-01
Name: date_start, dtype: object
30399    2020-04-01
Name: date_end, dtype: object
30401    2020-04-02
Name: date_start, dtype: object
30401    2020-04-10
Name: date_end, dtype: object
30596    2020-06-01
Name: date_start, dtype: object
30596    2020-05-31
Name: date_end, dtype: object
30537    2020-05-14
Name: date_start, dtype: object
30537    2020-05-06
Name: date_end, dtype: object
30554    2020-05-15
Name: date_start, dtype: object
30554    2020-05-31
Name: date_end, dtype: object
30555    2020-05-15
Name: date_start, dtype: object
30555    2020-05-31
Name: date_end, dtype: object
30522    2020-05-11
Name: date_start, dtype: object
30522    2020-05-10
Name: date_end, dtype: object
30541    2020-05-14
Name: date_start, dtype: object
30541    2020-05-25
Name: date_end, dtype: object
30540    2020-05-14
Name: date_start, dtype: object
30540    2020-05-25
Name: date_end, dtype: object
30543    2020-05-14
Name: date_start, dtype: object
30543    2020-05-25
Name: date_end, dtype: object
30544    2020-05-14
Name: date_start, dtype: object
30544    2020-05-25
Name: date_end, dtype: object
30545    2020-05-14
Name: date_start, dtype: object
30545    2020-05-25
Name: date_end, dtype: object
30562    2020-05-20
Name: date_start, dtype: object
30562    2020-05-20
Name: date_end, dtype: object
30587    2020-05-25
Name: date_start, dtype: object
30587    2020-07-08
Name: date_end, dtype: object
30588    2020-05-25
Name: date_start, dtype: object
30588    2020-07-08
Name: date_end, dtype: object
30589    2020-05-25
Name: date_start, dtype: object
30589    2020-07-08
Name: date_end, dtype: object
30601    2020-06-01
Name: date_start, dtype: object
30601    2020-07-08
Name: date_end, dtype: object

30611    2020-07-10
Name: date_start, dtype: object
30611    2020-08-01
Name: date_end, dtype: object
30612    2020-07-10
Name: date_start, dtype: object
30612    2020-08-01
Name: date_end, dtype: object
30613    2020-07-10
Name: date_start, dtype: object
30613    2020-08-01
Name: date_end, dtype: object
30723    2020-03-05
Name: date_start, dtype: object
30723    2020-03-31
Name: date_end, dtype: object
30724    2020-03-05
Name: date_start, dtype: object
30724    2020-06-30
Name: date_end, dtype: object
30714    2020-02-27
Name: date_start, dtype: object
30714    2020-06-02
Name: date_end, dtype: object
30726    2020-03-06
Name: date_start, dtype: object
30726    2020-04-06
Name: date_end, dtype: object
30730    2020-03-13
Name: date_start, dtype: object
30730    2020-06-02
Name: date_end, dtype: object
30733    2020-03-27
Name: date_start, dtype: object
30733    2020-06-02
Name: date_end, dtype: object
30821    2020-06-19
Name: date_start, dtype: object
30821    2020-07-12
Name: date_end, dtype: object
30825    2020-07-06
Name: date_start, dtype: object
30825    2020-07-06
Name: date_end, dtype: object
30803    2020-05-15
Name: date_start, dtype: object
30803    2020-05-31
Name: date_end, dtype: object
30776    2020-04-22
Name: date_start, dtype: object
30776    2020-05-18
Name: date_end, dtype: object
30796    2020-05-08
Name: date_start, dtype: object
30796    2020-05-31
Name: date_end, dtype: object
30968    2020-05-28
Name: date_start, dtype: object
30968    2020-05-28
Name: date_end, dtype: object
30917    2020-05-06
Name: date_start, dtype: object
30917    2020-05-31
Name: date_end, dtype: object
30933    2020-05-14
Name: date_start, dtype: object
30933    2020-05-25
Name: date_end, dtype: object
30939    2020-05-14
Name: date_start, dtype: object
30939    2020-05-25
Name: date_end, dtype: object
30937    2020-05-14
Name: date_start, dtype: object
30937    2020-05-25
Name: date_end, dtype: object
30938    2020-05-14
Name: date_start, dtype: object
30938    2020-05-25
Name: date_end, dtype: object
30940    2020-05-14
Name: date_start, dtype: object
30940    2020-05-25
Name: date_end, dtype: object
30941    2020-05-14
Name: date_start, dtype: object
30941    2020-05-25
Name: date_end, dtype: object
30958    2020-05-25
Name: date_start, dtype: object
30958    2020-07-08
Name: date_end, dtype: object
30959    2020-05-25
Name: date_start, dtype: object
30959    2020-07-08
Name: date_end, dtype: object
30960    2020-05-25
Name: date_start, dtype: object
30960    2020-07-08
Name: date_end, dtype: object
30990    2020-06-19
Name: date_start, dtype: object
30990    2020-07-08
Name: date_end, dtype: object
31009    2020-07-10
Name: date_start, dtype: object
31009    2020-08-01
Name: date_end, dtype: object
31010    2020-07-10
Name: date_start, dtype: object
31010    2020-08-01
Name: date_end, dtype: object
31012    2020-07-10
Name: date_start, dtype: object
31012    2020-08-01
Name: date_end, dtype: object
31013    2020-07-10
Name: date_start, dtype: object
31013    2020-08-01
Name: date_end, dtype: object
31210    2020-07-10
Name: date_start, dtype: object
31210    2020-08-01
Name: date_end, dtype: object
31265    2020-04-29
Name: date_start, dtype: object
31265
Name: date_end, dtype: object
31277    2020-04-27
Name: date_start, dtype: object
31277    2020-04-27
Name: date_end, dtype: object
31289    2020-03-31
Name: date_start, dtype: object
31289    2020-03-31
Name: date_end, dtype: object
31492    2020-04-28
Name: date_start, dtype: object
31492    2020-04-28
Name: date_end, dtype: object
31570    2020-10-05
Name: date_start, dtype: object
31570    2020-10-05
Name: date_end, dtype: object
31737    2020-06-07
Name: date_start, dtype: object
31737    2020-07-06
Name: date_end, dtype: object
31740    2020-02-28
Name: date_start, dtype: object
31740    2020-07-30
Name: date_end, dtype: object
31743    2020-06-20
Name: date_start, dtype: object
31743    2020-06-20
Name: date_end, dtype: object
31783    2020-07-06
Name: date_start, dtype: object
31783    2020-07-06
Name: date_end, dtype: object
31782    2020-06-07
Name: date_start, dtype: object
31782    2020-06-07
Name: date_end, dtype: object
31788    2020-06-07
Name: date_start, dtype: object
31788    2020-06-07
Name: date_end, dtype: object
31820    2020-08-01
Name: date_start, dtype: object
31820    2020-08-01
Name: date_end, dtype: object
31854    2020-04-26
Name: date_start, dtype: object
31854    2020-04-26
Name: date_end, dtype: object
31863    2020-03-26
Name: date_start, dtype: object
31863
Name: date_end, dtype: object
31886    2020-07-05
Name: date_start, dtype: object
31886
Name: date_end, dtype: object
31891    2020-03-13
Name: date_start, dtype: object
31891    2021-06-01
Name: date_end, dtype: object
31890    2020-03-13
Name: date_start, dtype: object
31890    2020-06-28
Name: date_end, dtype: object
31925    2020-04-06
Name: date_start, dtype: object
31925    2020-05-10
Name: date_end, dtype: object
31942    2020-08-01
Name: date_start, dtype: object
31942
Name: date_end, dtype: object
31951    2020-08-01
Name: date_start, dtype: object
31951
Name: date_end, dtype: object
31959    2020-05-10
Name: date_start, dtype: object
31959    2020-05-30
Name: date_end, dtype: object
31965    2020-07-19
Name: date_start, dtype: object
31965    2020-07-19
Name: date_end, dtype: object
31964    2020-07-09
Name: date_start, dtype: object
31964    2020-07-09
Name: date_end, dtype: object
31976    2020-06-30
Name: date_start, dtype: object
31976    2021-06-30
Name: date_end, dtype: object
31972    2020-04-19
Name: date_start, dtype: object
31972    2020-05-07
Name: date_end, dtype: object
31997    2020-07-31
Name: date_start, dtype: object
31997    2020-07-31
Name: date_end, dtype: object
32012    2020-03-25
Name: date_start, dtype: object
32012    2020-05-10
Name: date_end, dtype: object
32016    2020-03-22
Name: date_start, dtype: object
32016    2020-04-30
Name: date_end, dtype: object
32195    2020-03-21
Name: date_start, dtype: object
32195    2020-05-06
Name: date_end, dtype: object
32082    2020-04-21
Name: date_start, dtype: object
32082    2020-04-30
Name: date_end, dtype: object
32086    2020-03-20
Name: date_start, dtype: object
32086    2020-05-11
Name: date_end, dtype: object
32150    2020-03-20
Name: date_start, dtype: object
32150    2020-06-01
Name: date_end, dtype: object
32170    2020-03-22
Name: date_start, dtype: object
32170    2020-06-01
Name: date_end, dtype: object
32174    2020-03-24
Name: date_start, dtype: object
32174    2020-05-11
Name: date_end, dtype: object
32182    2020-06-27
Name: date_start, dtype: object
32182    2020-07-02
Name: date_end, dtype: object
32222    2020-05-18
Name: date_start, dtype: object
32222    2020-04-21
Name: date_end, dtype: object
32230    2020-06-15
Name: date_start, dtype: object
32230    2020-05-18
Name: date_end, dtype: object
32260    2020-03-30
Name: date_start, dtype: object
32260    2020-05-04
Name: date_end, dtype: object
32277    2020-03-23
Name: date_start, dtype: object
32277    2020-05-29
Name: date_end, dtype: object
32283    2020-04-02
Name: date_start, dtype: object
32283    2020-05-04
Name: date_end, dtype: object
32301    2020-05-07
Name: date_start, dtype: object
32301    2020-06-09
Name: date_end, dtype: object
32346    2020-06-09
Name: date_start, dtype: object
32346    2020-08-17
Name: date_end, dtype: object
32357    2020-06-09
Name: date_start, dtype: object
32357    2020-07-01
Name: date_end, dtype: object
32387    2020-05-28
Name: date_start, dtype: object
32387    2020-05-28
Name: date_end, dtype: object
32406    2020-07-10
Name: date_start, dtype: object
32406    2020-07-10
Name: date_end, dtype: object
32426    2020-07-01
Name: date_start, dtype: object
32426    2020-07-01
Name: date_end, dtype: object
32480    2020-06-14
Name: date_start, dtype: object
32480    2020-06-14
Name: date_end, dtype: object
32622    2020-06-17
Name: date_start, dtype: object
32622
Name: date_end, dtype: object
32580    2020-05-14
Name: date_start, dtype: object
32580    2020-05-14
Name: date_end, dtype: object
32620    2020-05-31
Name: date_start, dtype: object
32620    2020-05-31
Name: date_end, dtype: object
32644    2020-06-06
Name: date_start, dtype: object
32644
Name: date_end, dtype: object

32681    2020-05-06
Name: date_start, dtype: object
32681    2020-05-19
Name: date_end, dtype: object
32713    2020-05-06
Name: date_start, dtype: object
32713    2020-05-19
Name: date_end, dtype: object
32723    2020-05-17
Name: date_start, dtype: object
32723
Name: date_end, dtype: object
32736    2020-03-09
Name: date_start, dtype: object
32736    2020-04-20
Name: date_end, dtype: object
32750    2020-04-26
Name: date_start, dtype: object
32750    2020-04-26
Name: date_end, dtype: object
32744    2020-03-23
Name: date_start, dtype: object
32744    2020-04-20
Name: date_end, dtype: object
32795    2020-03-30
Name: date_start, dtype: object
32795    2020-04-04
Name: date_end, dtype: object
32876    2020-09-07
Name: date_start, dtype: object
32876    2020-09-07
Name: date_end, dtype: object
32879    2020-12-21
Name: date_start, dtype: object
32879    2020-12-21
Name: date_end, dtype: object
32881    2020-12-28
Name: date_start, dtype: object
32881    2020-12-28
Name: date_end, dtype: object
32919    2020-06-06
Name: date_start, dtype: object
32919    2020-06-06
Name: date_end, dtype: object
32915    2020-05-15
Name: date_start, dtype: object
32915    2020-05-15
Name: date_end, dtype: object
32909    2020-03-17
Name: date_start, dtype: object
32909    2020-05-15
Name: date_end, dtype: object
32926    2020-10-24
Name: date_start, dtype: object
32926    2020-10-24
Name: date_end, dtype: object
32964    2020-10-24
Name: date_start, dtype: object
32964    2020-10-24
Name: date_end, dtype: object
33028    2021-01-11
Name: date_start, dtype: object
33028
Name: date_end, dtype: object
33043    2021-01-01
Name: date_start, dtype: object
33043
Name: date_end, dtype: object
33066    2020-04-28
Name: date_start, dtype: object
33066
Name: date_end, dtype: object
33084    2021-01-11
Name: date_start, dtype: object
33084    2021-01-10
Name: date_end, dtype: object
33090    2020-05-29
Name: date_start, dtype: object
33090
Name: date_end, dtype: object
33149    2020-04-05
Name: date_start, dtype: object
33149
Name: date_end, dtype: object
33167    2020-10-18
Name: date_start, dtype: object
33167    2020-10-18
Name: date_end, dtype: object
33172    2020-10-22
Name: date_start, dtype: object
33172
Name: date_end, dtype: object
33221    2020-04-17
Name: date_start, dtype: object
33221    2020-04-17
Name: date_end, dtype: object
33355    2020-03-19
Name: date_start, dtype: object
33355    2020-03-31
Name: date_end, dtype: object
33372    2020-03-24
Name: date_start, dtype: object
33372    2020-03-31
Name: date_end, dtype: object
33424    2020-03-24
Name: date_start, dtype: object
33424    2020-03-31
Name: date_end, dtype: object
33425    2020-03-24
Name: date_start, dtype: object
33425    2020-03-31
Name: date_end, dtype: object
33461    2020-07-15
Name: date_start, dtype: object
33461
Name: date_end, dtype: object
33464    2020-07-15
Name: date_start, dtype: object
33464
Name: date_end, dtype: object
33468    2020-07-15
Name: date_start, dtype: object
33468
Name: date_end, dtype: object
33465    2020-07-15
Name: date_start, dtype: object
33465
Name: date_end, dtype: object
33467    2020-07-15
Name: date_start, dtype: object
33467
Name: date_end, dtype: object
33462    2020-07-15
Name: date_start, dtype: object
33462
Name: date_end, dtype: object
33463    2020-07-15
Name: date_start, dtype: object
33463
Name: date_end, dtype: object
33466    2020-07-15
Name: date_start, dtype: object
33466
Name: date_end, dtype: object
33493    2020-03-19
Name: date_start, dtype: object
33493    2020-05-09
Name: date_end, dtype: object
33502    2020-06-25
Name: date_start, dtype: object
33502
Name: date_end, dtype: object
33533    2020-08-01
Name: date_start, dtype: object
33533
Name: date_end, dtype: object
33548    2020-03-07
Name: date_start, dtype: object
33548    2020-06-30
Name: date_end, dtype: object
33557    2020-07-01
Name: date_start, dtype: object
33557    2020-06-15
Name: date_end, dtype: object
33568    2020-04-03
Name: date_start, dtype: object
33568    2020-05-04
Name: date_end, dtype: object
33578    2020-02-25
Name: date_start, dtype: object
33578    2020-02-27
Name: date_end, dtype: object
33580    2020-02-27
Name: date_start, dtype: object
33580    2020-03-11
Name: date_end, dtype: object
33584    2020-03-11
Name: date_start, dtype: object
33584    2020-03-13
Name: date_end, dtype: object
33597    2020-03-23
Name: date_start, dtype: object
33597    2020-05-04
Name: date_end, dtype: object
33626    2020-03-16
Name: date_start, dtype: object
33626    2020-09-01
Name: date_end, dtype: object
33695    2020-03-19
Name: date_start, dtype: object
33695    2020-06-24
Name: date_end, dtype: object
33711    2020-04-02
Name: date_start, dtype: object
33711    2020-06-23
Name: date_end, dtype: object
33749    2020-07-01
Name: date_start, dtype: object
33749
Name: date_end, dtype: object
33745    2020-04-06
Name: date_start, dtype: object
33745    2020-08-01
Name: date_end, dtype: object
33757    2020-08-01
Name: date_start, dtype: object
33757
Name: date_end, dtype: object
33762    2020-05-30
Name: date_start, dtype: object
33762    2020-04-15
Name: date_end, dtype: object
33764    2020-02-02
Name: date_start, dtype: object
33764    2020-03-19
Name: date_end, dtype: object
33766    2020-02-28
Name: date_start, dtype: object
33766    2020-03-19
Name: date_end, dtype: object
33768    2020-03-18
Name: date_start, dtype: object
33768    2020-03-19
Name: date_end, dtype: object
33771    2020-10-01
Name: date_start, dtype: object
33771    2020-04-03
Name: date_end, dtype: object
33776    2020-05-05
Name: date_start, dtype: object
33776    2021-04-15
Name: date_end, dtype: object
33782    2020-04-10
Name: date_start, dtype: object
33782    2020-04-24
Name: date_end, dtype: object
33784    2020-04-15
Name: date_start, dtype: object
33784    2020-04-29
Name: date_end, dtype: object
33786    2020-04-22
Name: date_start, dtype: object
33786    2021-04-15
Name: date_end, dtype: object
33790    2020-05-05
Name: date_start, dtype: object
33790    2020-05-19
Name: date_end, dtype: object
33802    2020-06-15
Name: date_start, dtype: object
33802    2020-06-01
Name: date_end, dtype: object
33805    2020-04-04
Name: date_start, dtype: object
33805
Name: date_end, dtype: object
33808    2020-05-15
Name: date_start, dtype: object
33808
Name: date_end, dtype: object
33810    2020-05-02
Name: date_start, dtype: object
33810    2021-04-15
Name: date_end, dtype: object
33812    2020-01-23
Name: date_start, dtype: object
33812    2020-03-19
Name: date_end, dtype: object
33814    2020-02-28
Name: date_start, dtype: object
33814    2020-03-19
Name: date_end, dtype: object
33816    2020-03-16
Name: date_start, dtype: object
33816    2020-03-19
Name: date_end, dtype: object
33821    2020-03-20
Name: date_start, dtype: object
33821    2021-04-15
Name: date_end, dtype: object
33823    2020-10-01
Name: date_start, dtype: object
33823    2021-04-15
Name: date_end, dtype: object
33851    2020-03-23
Name: date_start, dtype: object
33851    2020-05-30
Name: date_end, dtype: object
33863    2020-05-15
Name: date_start, dtype: object
33863    2020-05-30
Name: date_end, dtype: object
33910    2020-03-30
Name: date_start, dtype: object
33910    2020-03-30
Name: date_end, dtype: object
33914    2020-01-10
Name: date_start, dtype: object
33914    2020-01-10
Name: date_end, dtype: object
33918    2020-03-16
Name: date_start, dtype: object
33918    2020-04-16
Name: date_end, dtype: object
33926    2020-04-16
Name: date_start, dtype: object
33926    2020-04-16
Name: date_end, dtype: object
33929    2020-01-10
Name: date_start, dtype: object
33929    2020-01-10
Name: date_end, dtype: object
33987    2020-04-17
Name: date_start, dtype: object
33987    2020-04-18
Name: date_end, dtype: object
33992    2020-04-23
Name: date_start, dtype: object
33992    2020-06-23
Name: date_end, dtype: object
33994    2020-04-27
Name: date_start, dtype: object
33994    2020-04-27
Name: date_end, dtype: object
34013    2020-03-29
Name: date_start, dtype: object
34013    2020-04-09
Name: date_end, dtype: object
34016    2020-03-30
Name: date_start, dtype: object
34016    2020-04-09
Name: date_end, dtype: object
34017    2020-03-30
Name: date_start, dtype: object
34017    2020-04-09
Name: date_end, dtype: object

34070    2020-03-24
Name: date_start, dtype: object
34070    2020-05-31
Name: date_end, dtype: object
34091    2020-03-23
Name: date_start, dtype: object
34091    2020-08-12
Name: date_end, dtype: object
34099    2020-03-30
Name: date_start, dtype: object
34099    2020-05-30
Name: date_end, dtype: object
34138    2020-06-17
Name: date_start, dtype: object
34138    2020-06-17
Name: date_end, dtype: object
34106    2020-04-02
Name: date_start, dtype: object
34106    2020-06-01
Name: date_end, dtype: object
34119    2020-05-13
Name: date_start, dtype: object
34119    2020-06-01
Name: date_end, dtype: object
34182    2020-04-01
Name: date_start, dtype: object
34182    2020-06-15
Name: date_end, dtype: object
34185    2020-04-06
Name: date_start, dtype: object
34185    2020-06-01
Name: date_end, dtype: object
34208    2020-04-14
Name: date_start, dtype: object
34208    2020-05-31
Name: date_end, dtype: object
34199    2020-03-17
Name: date_start, dtype: object
34199    2020-03-23
Name: date_end, dtype: object
34214    2020-03-14
Name: date_start, dtype: object
34214    2020-03-30
Name: date_end, dtype: object
34289    2020-03-12
Name: date_start, dtype: object
34289    2020-05-25
Name: date_end, dtype: object
34292    2020-03-13
Name: date_start, dtype: object
34292    2020-06-15
Name: date_end, dtype: object
34327    2020-03-24
Name: date_start, dtype: object
34327    2020-06-27
Name: date_end, dtype: object
34334    2020-03-10
Name: date_start, dtype: object
34334    2020-05-27
Name: date_end, dtype: object
34356    2020-04-16
Name: date_start, dtype: object
34356
Name: date_end, dtype: object
34371    2020-04-25
Name: date_start, dtype: object
34371    2020-08-31
Name: date_end, dtype: object
34387    2020-07-14
Name: date_start, dtype: object
34387    2020-07-14
Name: date_end, dtype: object
34411    2020-05-04
Name: date_start, dtype: object
34411
Name: date_end, dtype: object
34469    2020-11-12
Name: date_start, dtype: object
34469    2020-12-11
Name: date_end, dtype: object
34471    2020-12-23
Name: date_start, dtype: object
34471    2021-01-11
Name: date_end, dtype: object
34502    2020-03-31
Name: date_start, dtype: object
34502    2020-04-20
Name: date_end, dtype: object
34517    2020-04-16
Name: date_start, dtype: object
34517    2020-04-16
Name: date_end, dtype: object
34519    2020-04-21
Name: date_start, dtype: object
34519    2020-04-21
Name: date_end, dtype: object
34564    2020-03-21
Name: date_start, dtype: object
34564    2020-06-01
Name: date_end, dtype: object
34581    2020-09-07
Name: date_start, dtype: object
34581    2020-09-07
Name: date_end, dtype: object
34585    2020-10-05
Name: date_start, dtype: object
34585    2020-10-05
Name: date_end, dtype: object
34591    2021-01-28
Name: date_start, dtype: object
34591    2021-02-12
Name: date_end, dtype: object
34617    2020-03-07
Name: date_start, dtype: object
34617
Name: date_end, dtype: object
34638    2020-03-02
Name: date_start, dtype: object
34638    2020-05-11
Name: date_end, dtype: object
34643    2020-03-21
Name: date_start, dtype: object
34643    2021-03-13
Name: date_end, dtype: object
34706    2020-06-25
Name: date_start, dtype: object
34706    2020-06-25
Name: date_end, dtype: object
34715    2020-03-18
Name: date_start, dtype: object
34715    2020-03-18
Name: date_end, dtype: object
34741    2020-07-13
Name: date_start, dtype: object
34741    2020-07-13
Name: date_end, dtype: object
34732    2020-06-10
Name: date_start, dtype: object
34732
Name: date_end, dtype: object
34733    2020-06-25
Name: date_start, dtype: object
34733
Name: date_end, dtype: object
34737    2020-06-25
Name: date_start, dtype: object
34737    2020-06-25
Name: date_end, dtype: object
34735    2020-06-25
Name: date_start, dtype: object
34735    2020-06-25
Name: date_end, dtype: object
34736    2020-06-25
Name: date_start, dtype: object
34736    2020-06-25
Name: date_end, dtype: object
34739    2020-06-25
Name: date_start, dtype: object
34739    2020-06-25
Name: date_end, dtype: object
34734    2020-06-25
Name: date_start, dtype: object
34734    2020-06-25
Name: date_end, dtype: object
34738    2020-06-25
Name: date_start, dtype: object
34738    2020-06-25
Name: date_end, dtype: object
34740    2020-06-25
Name: date_start, dtype: object
34740    2020-06-25
Name: date_end, dtype: object
34744    2020-09-08
Name: date_start, dtype: object
34744    2020-09-08
Name: date_end, dtype: object
34773    2020-05-29
Name: date_start, dtype: object
34773    2020-05-29
Name: date_end, dtype: object
34794    2020-06-11
Name: date_start, dtype: object
34794    2020-06-11
Name: date_end, dtype: object
34793    2020-05-26
Name: date_start, dtype: object
34793    2020-05-26
Name: date_end, dtype: object
34809    2020-10-10
Name: date_start, dtype: object
34809    2020-10-11
Name: date_end, dtype: object
34842    2020-05-13
Name: date_start, dtype: object
34842    2020-05-31
Name: date_end, dtype: object
34852    2020-07-21
Name: date_start, dtype: object
34852    2020-08-27
Name: date_end, dtype: object
34872    2020-05-16
Name: date_start, dtype: object
34872    2020-05-16
Name: date_end, dtype: object
34903    2020-04-25
Name: date_start, dtype: object
34903    2020-05-15
Name: date_end, dtype: object
34904    2020-05-14
Name: date_start, dtype: object
34904    2020-05-31
Name: date_end, dtype: object
34997    2020-12-17
Name: date_start, dtype: object
34997    2020-12-17
Name: date_end, dtype: object
35002    2020-05-29
Name: date_start, dtype: object
35002    2020-05-29
Name: date_end, dtype: object
35004    2020-05-29
Name: date_start, dtype: object
35004    2020-07-01
Name: date_end, dtype: object
35036    2020-11-04
Name: date_start, dtype: object
35036
Name: date_end, dtype: object
35072    2020-03-16
Name: date_start, dtype: object
35072    2020-08-18
Name: date_end, dtype: object
35102    2020-04-29
Name: date_start, dtype: object
35102    2020-05-15
Name: date_end, dtype: object
35106    2020-05-14
Name: date_start, dtype: object
35106
Name: date_end, dtype: object
35082    2020-03-28
Name: date_start, dtype: object
35082    2020-06-15
Name: date_end, dtype: object
35098    2020-04-08
Name: date_start, dtype: object
35098    2020-04-08
Name: date_end, dtype: object
35097    2020-04-08
Name: date_start, dtype: object
35097    2020-04-08
Name: date_end, dtype: object
35104    2020-05-12
Name: date_start, dtype: object
35104    2020-05-12
Name: date_end, dtype: object
35107    2020-05-14
Name: date_start, dtype: object
35107    2020-09-08
Name: date_end, dtype: object
35124    2020-11-01
Name: date_start, dtype: object
35124    2020-11-15
Name: date_end, dtype: object
35131    2020-12-06
Name: date_start, dtype: object
35131    2020-12-18
Name: date_end, dtype: object
35154    2020-04-26
Name: date_start, dtype: object
35154    2020-05-15
Name: date_end, dtype: object
35155    2020-04-29
Name: date_start, dtype: object
35155    2020-05-15
Name: date_end, dtype: object
35168    2020-04-08
Name: date_start, dtype: object
35168    2020-04-08
Name: date_end, dtype: object
35172    2020-05-09
Name: date_start, dtype: object
35172    2020-05-15
Name: date_end, dtype: object
35186    2020-12-06
Name: date_start, dtype: object
35186    2020-12-18
Name: date_end, dtype: object
35187    2020-12-06
Name: date_start, dtype: object
35187    2020-12-18
Name: date_end, dtype: object
35288    2020-03-16
Name: date_start, dtype: object
35288    2020-04-13
Name: date_end, dtype: object
35296    2020-08-04
Name: date_start, dtype: object
35296    2020-08-04
Name: date_end, dtype: object
35393    2020-04-08
Name: date_start, dtype: object
35393
Name: date_end, dtype: object
35385    2020-03-15
Name: date_start, dtype: object
35385    2020-03-15
Name: date_end, dtype: object
35409    2020-08-17
Name: date_start, dtype: object
35409    2020-08-17
Name: date_end, dtype: object
35411    2020-09-13
Name: date_start, dtype: object
35411    2020-09-13
Name: date_end, dtype: object
35435    2020-09-21
Name: date_start, dtype: object
35435    2021-09-21
Name: date_end, dtype: object
35444    2020-06-15
Name: date_start, dtype: object
35444    2020-06-15
Name: date_end, dtype: object
35445    2020-06-22
Name: date_start, dtype: object
35445    2020-07-22
Name: date_end, dtype: object
35454    2020-06-12
Name: date_start, dtype: object
35454
Name: date_end, dtype: object

35475    2020-06-15
Name: date_start, dtype: object
35475    2020-06-15
Name: date_end, dtype: object
35487    2020-06-15
Name: date_start, dtype: object
35487    2020-06-15
Name: date_end, dtype: object
35508    2020-04-21
Name: date_start, dtype: object
35508    2020-05-11
Name: date_end, dtype: object
35567    2020-03-14
Name: date_start, dtype: object
35567    2020-06-01
Name: date_end, dtype: object
35550    2020-03-23
Name: date_start, dtype: object
35550    2020-05-11
Name: date_end, dtype: object
35563    2020-03-06
Name: date_start, dtype: object
35563    2020-03-12
Name: date_end, dtype: object
35615    2020-04-21
Name: date_start, dtype: object
35615    2020-04-28
Name: date_end, dtype: object
35629    2020-06-01
Name: date_start, dtype: object
35629    2020-07-01
Name: date_end, dtype: object
35649    2020-06-01
Name: date_start, dtype: object
35649    2020-07-01
Name: date_end, dtype: object
35663    2020-03-22
Name: date_start, dtype: object
35663    2020-03-26
Name: date_end, dtype: object
35677    2020-08-31
Name: date_start, dtype: object
35677    2020-08-31
Name: date_end, dtype: object
35683    2020-02-14
Name: date_start, dtype: object
35683    2021-02-14
Name: date_end, dtype: object
35698    2020-06-08
Name: date_start, dtype: object
35698    2020-06-08
Name: date_end, dtype: object
35700    2020-08-12
Name: date_start, dtype: object
35700    2020-08-12
Name: date_end, dtype: object
35709    2020-10-07
Name: date_start, dtype: object
35709    2020-10-07
Name: date_end, dtype: object
35710    2020-10-07
Name: date_start, dtype: object
35710    2020-10-07
Name: date_end, dtype: object
35732    2020-02-28
Name: date_start, dtype: object
35732    2020-03-10
Name: date_end, dtype: object
35740    2020-07-03
Name: date_start, dtype: object
35740    2020-07-03
Name: date_end, dtype: object
35751    2020-09-07
Name: date_start, dtype: object
35751    2020-09-07
Name: date_end, dtype: object
35840    2020-06-12
Name: date_start, dtype: object
35840    2020-06-14
Name: date_end, dtype: object
35836    2020-05-28
Name: date_start, dtype: object
35836    2020-06-01
Name: date_end, dtype: object
35791    2020-03-26
Name: date_start, dtype: object
35791    2020-05-14
Name: date_end, dtype: object
35792    2020-03-26
Name: date_start, dtype: object
35792    2020-05-14
Name: date_end, dtype: object
35798    2020-03-27
Name: date_start, dtype: object
35798    2020-05-16
Name: date_end, dtype: object
35837    2020-05-28
Name: date_start, dtype: object
35837    2020-05-28
Name: date_end, dtype: object
35800    2020-03-28
Name: date_start, dtype: object
35800    2020-06-01
Name: date_end, dtype: object
35803    2020-03-30
Name: date_start, dtype: object
35803    2020-05-14
Name: date_end, dtype: object
35869    2021-01-15
Name: date_start, dtype: object
35869    2021-01-25
Name: date_end, dtype: object
35880    2020-03-21
Name: date_start, dtype: object
35880    2020-04-26
Name: date_end, dtype: object
35883    2020-04-26
Name: date_start, dtype: object
35883    2020-05-12
Name: date_end, dtype: object
35892    2020-08-30
Name: date_start, dtype: object
35892    2020-08-30
Name: date_end, dtype: object
35891    2020-08-30
Name: date_start, dtype: object
35891    2020-08-30
Name: date_end, dtype: object
35907    2020-05-22
Name: date_start, dtype: object
35907    2020-05-22
Name: date_end, dtype: object
35963    2020-03-14
Name: date_start, dtype: object
35963    2020-04-09
Name: date_end, dtype: object
35987    2020-06-09
Name: date_start, dtype: object
35987    2020-08-12
Name: date_end, dtype: object
36018    2020-03-23
Name: date_start, dtype: object
36018    2020-05-29
Name: date_end, dtype: object
36020    2020-03-25
Name: date_start, dtype: object
36020    2020-04-30
Name: date_end, dtype: object
36022    2020-03-30
Name: date_start, dtype: object
36022    2020-04-30
Name: date_end, dtype: object
36028    2020-04-30
Name: date_start, dtype: object
36028    2020-05-14
Name: date_end, dtype: object
36029    2020-04-30
Name: date_start, dtype: object
36029    2020-05-14
Name: date_end, dtype: object
36033    2020-05-13
Name: date_start, dtype: object
36033    2020-06-08
Name: date_end, dtype: object
36049    2020-09-21
Name: date_start, dtype: object
36049    2020-09-21
Name: date_end, dtype: object
36130    2020-08-01
Name: date_start, dtype: object
36130
Name: date_end, dtype: object
36135    2020-05-14
Name: date_start, dtype: object
36135    2020-05-14
Name: date_end, dtype: object
36161    2020-04-16
Name: date_start, dtype: object
36161    2020-04-17
Name: date_end, dtype: object
36173    2020-03-03
Name: date_start, dtype: object
36173    2020-08-10
Name: date_end, dtype: object
36206    2020-03-20
Name: date_start, dtype: object
36206    2020-10-20
Name: date_end, dtype: object
36368    2020-08-04
Name: date_start, dtype: object
36368
Name: date_end, dtype: object
36373    2020-08-04
Name: date_start, dtype: object
36373    2020-08-04
Name: date_end, dtype: object
36203    2020-03-20
Name: date_start, dtype: object
36203    2020-07-06
Name: date_end, dtype: object
36354    2020-08-03
Name: date_start, dtype: object
36354
Name: date_end, dtype: object
36394    2020-08-10
Name: date_start, dtype: object
36394
Name: date_end, dtype: object
36290    2020-03-23
Name: date_start, dtype: object
36290    2020-10-05
Name: date_end, dtype: object
36329    2020-03-28
Name: date_start, dtype: object
36329    2020-04-22
Name: date_end, dtype: object
36419    2020-09-21
Name: date_start, dtype: object
36419    2020-09-21
Name: date_end, dtype: object
36382    2020-08-05
Name: date_start, dtype: object
36382
Name: date_end, dtype: object
36305    2020-03-24
Name: date_start, dtype: object
36305    2020-06-09
Name: date_end, dtype: object
36426    2020-09-21
Name: date_start, dtype: object
36426    2020-09-21
Name: date_end, dtype: object
36375    2020-08-04
Name: date_start, dtype: object
36375
Name: date_end, dtype: object
36422    2020-09-21
Name: date_start, dtype: object
36422    2020-09-21
Name: date_end, dtype: object
36437    2020-09-28
Name: date_start, dtype: object
36437    2020-12-18
Name: date_end, dtype: object
36454    2020-12-15
Name: date_start, dtype: object
36454    2021-01-18
Name: date_end, dtype: object
36460    2020-12-17
Name: date_start, dtype: object
36460    2021-02-01
Name: date_end, dtype: object
36502    2020-06-05
Name: date_start, dtype: object
36502    2020-06-19
Name: date_end, dtype: object
36537    2020-03-23
Name: date_start, dtype: object
36537    2020-04-25
Name: date_end, dtype: object
36555    2020-04-01
Name: date_start, dtype: object
36555
Name: date_end, dtype: object
36561    2020-04-10
Name: date_start, dtype: object
36561
Name: date_end, dtype: object
36861    2020-04-10
Name: date_start, dtype: object
36861    2020-04-11
Name: date_end, dtype: object
36907    2020-03-31
Name: date_start, dtype: object
36907
Name: date_end, dtype: object
36920    2020-06-04
Name: date_start, dtype: object
36920
Name: date_end, dtype: object
36973    2020-05-26
Name: date_start, dtype: object
36973    2020-05-26
Name: date_end, dtype: object
36962    2020-04-30
Name: date_start, dtype: object
36962    2020-04-30
Name: date_end, dtype: object
36963    2020-04-30
Name: date_start, dtype: object
36963    2020-05-03
Name: date_end, dtype: object
36979    2020-06-04
Name: date_start, dtype: object
36979
Name: date_end, dtype: object
36971    2020-05-21
Name: date_start, dtype: object
36971    2020-05-21
Name: date_end, dtype: object
36980    2020-06-05
Name: date_start, dtype: object
36980    2020-06-15
Name: date_end, dtype: object
36984    2020-07-13
Name: date_start, dtype: object
36984
Name: date_end, dtype: object
37007    2020-03-23
Name: date_start, dtype: object
37007    2020-03-24
Name: date_end, dtype: object
37266    2020-05-04
Name: date_start, dtype: object
37266    2020-05-04
Name: date_end, dtype: object
37265    2020-05-04
Name: date_start, dtype: object
37265    2020-03-31
Name: date_end, dtype: object
37305    2020-08-14
Name: date_start, dtype: object
37305
Name: date_end, dtype: object
37284    2020-06-30
Name: date_start, dtype: object
37284    2020-06-30
Name: date_end, dtype: object
37320    2020-12-21
Name: date_start, dtype: object
37320
Name: date_end, dtype: object

37248    2020-04-26
Name: date_start, dtype: object
37248    2020-04-26
Name: date_end, dtype: object
37277    2020-06-04
Name: date_start, dtype: object
37277
Name: date_end, dtype: object
37293    2020-07-09
Name: date_start, dtype: object
37293
Name: date_end, dtype: object
37251    2020-04-30
Name: date_start, dtype: object
37251    2020-04-15
Name: date_end, dtype: object
37275    2020-06-01
Name: date_start, dtype: object
37275    2020-06-01
Name: date_end, dtype: object
37292    2020-07-07
Name: date_start, dtype: object
37292    2020-10-04
Name: date_end, dtype: object
37387    2020-06-01
Name: date_start, dtype: object
37387    2020-06-01
Name: date_end, dtype: object
37337    2020-03-23
Name: date_start, dtype: object
37337    2020-05-04
Name: date_end, dtype: object
37367    2020-03-27
Name: date_start, dtype: object
37367    2020-04-06
Name: date_end, dtype: object
37383    2020-04-27
Name: date_start, dtype: object
37383    2020-04-27
Name: date_end, dtype: object
37396    2020-06-22
Name: date_start, dtype: object
37396    2020-06-22
Name: date_end, dtype: object
37399    2020-11-02
Name: date_start, dtype: object
37399    2020-11-02
Name: date_end, dtype: object
37398    2020-08-04
Name: date_start, dtype: object
37398
Name: date_end, dtype: object
37487    2020-06-03
Name: date_start, dtype: object
37487    2020-06-17
Name: date_end, dtype: object
37498    2020-07-17
Name: date_start, dtype: object
37498    2020-07-17
Name: date_end, dtype: object
37473    2020-04-30
Name: date_start, dtype: object
37473
Name: date_end, dtype: object
37462    2020-04-09
Name: date_start, dtype: object
37462
Name: date_end, dtype: object
37484    2020-05-29
Name: date_start, dtype: object
37484    2020-04-07
Name: date_end, dtype: object
37513    2020-12-21
Name: date_start, dtype: object
37513
Name: date_end, dtype: object
37480    2020-05-19
Name: date_start, dtype: object
37480    2020-06-02
Name: date_end, dtype: object
37452    2020-03-27
Name: date_start, dtype: object
37452    2020-04-08
Name: date_end, dtype: object
37479    2020-05-16
Name: date_start, dtype: object
37479    2020-05-30
Name: date_end, dtype: object
37481    2020-05-21
Name: date_start, dtype: object
37481    2020-05-21
Name: date_end, dtype: object
37527    2020-04-02
Name: date_start, dtype: object
37527    2020-04-02
Name: date_end, dtype: object
37572    2020-09-21
Name: date_start, dtype: object
37572    2020-09-21
Name: date_end, dtype: object
37573    2020-09-21
Name: date_start, dtype: object
37573    2020-09-21
Name: date_end, dtype: object
37601    2020-02-20
Name: date_start, dtype: object
37601    2020-04-17
Name: date_end, dtype: object
37604    2020-02-20
Name: date_start, dtype: object
37604    2020-06-01
Name: date_end, dtype: object
37626    2020-03-26
Name: date_start, dtype: object
37626
Name: date_end, dtype: object
37629    2020-07-24
Name: date_start, dtype: object
37629    2020-08-14
Name: date_end, dtype: object
37672    2020-05-25
Name: date_start, dtype: object
37672    2020-05-27
Name: date_end, dtype: object
37676    2020-03-18
Name: date_start, dtype: object
37676    2020-06-12
Name: date_end, dtype: object
37678    2020-06-16
Name: date_start, dtype: object
37678    2020-08-31
Name: date_end, dtype: object
37737    2020-03-05
Name: date_start, dtype: object
37737    2020-03-14
Name: date_end, dtype: object
37741    2020-03-14
Name: date_start, dtype: object
37741    2020-03-19
Name: date_end, dtype: object
37750    2020-07-01
Name: date_start, dtype: object
37750    2020-07-05
Name: date_end, dtype: object
37751    2020-07-01
Name: date_start, dtype: object
37751    2020-07-05
Name: date_end, dtype: object
37752    2020-07-01
Name: date_start, dtype: object
37752    2020-07-05
Name: date_end, dtype: object
37781    2020-07-01
Name: date_start, dtype: object
37781    2020-07-05
Name: date_end, dtype: object
37800    2020-03-31
Name: date_start, dtype: object
37800    2020-07-07
Name: date_end, dtype: object
37855    2020-05-11
Name: date_start, dtype: object
37855    2020-05-11
Name: date_end, dtype: object
37873    2020-05-07
Name: date_start, dtype: object
37873    2020-05-07
Name: date_end, dtype: object
37861    2020-03-13
Name: date_start, dtype: object
37861    2020-05-13
Name: date_end, dtype: object
37877    2020-06-15
Name: date_start, dtype: object
37877    2020-08-20
Name: date_end, dtype: object
37884    2020-07-15
Name: date_start, dtype: object
37884    2020-07-15
Name: date_end, dtype: object
37893    2020-06-15
Name: date_start, dtype: object
37893    2020-06-15
Name: date_end, dtype: object
37909    2020-05-29
Name: date_start, dtype: object
37909    2020-05-29
Name: date_end, dtype: object
37913    2020-07-21
Name: date_start, dtype: object
37913
Name: date_end, dtype: object
37919    2020-06-01
Name: date_start, dtype: object
37919    2020-08-20
Name: date_end, dtype: object
37947    2020-05-13
Name: date_start, dtype: object
37947    2020-05-13
Name: date_end, dtype: object
37954    2020-06-25
Name: date_start, dtype: object
37954    2020-04-13
Name: date_end, dtype: object
37960    2020-04-07
Name: date_start, dtype: object
37960    2020-04-20
Name: date_end, dtype: object
37963    2020-04-07
Name: date_start, dtype: object
37963    2020-05-07
Name: date_end, dtype: object
37972    2020-08-10
Name: date_start, dtype: object
37972
Name: date_end, dtype: object
37992    2020-06-15
Name: date_start, dtype: object
37992    2020-09-01
Name: date_end, dtype: object
38093    2020-04-28
Name: date_start, dtype: object
38093
Name: date_end, dtype: object
38099    2020-04-16
Name: date_start, dtype: object
38099    2020-06-06
Name: date_end, dtype: object
38109    2020-07-25
Name: date_start, dtype: object
38109    2020-08-08
Name: date_end, dtype: object
38208    2020-04-29
Name: date_start, dtype: object
38208
Name: date_end, dtype: object
38462    2020-03-01
Name: date_start, dtype: object
38462    2020-03-31
Name: date_end, dtype: object
38519    2020-03-17
Name: date_start, dtype: object
38519    2020-05-30
Name: date_end, dtype: object
38563    2020-04-03
Name: date_start, dtype: object
38563    2020-05-03
Name: date_end, dtype: object
38646    2020-04-30
Name: date_start, dtype: object
38646
Name: date_end, dtype: object
38799    2020-03-24
Name: date_start, dtype: object
38799    2020-04-27
Name: date_end, dtype: object
38833    2020-08-16
Name: date_start, dtype: object
38833
Name: date_end, dtype: object
38877    2020-04-27
Name: date_start, dtype: object
38877    2020-04-30
Name: date_end, dtype: object
38890    2020-08-27
Name: date_start, dtype: object
38890    2020-08-27
Name: date_end, dtype: object
38885    2020-04-07
Name: date_start, dtype: object
38885    2020-04-28
Name: date_end, dtype: object
38989    2020-04-03
Name: date_start, dtype: object
38989    2020-04-10
Name: date_end, dtype: object
39020    2020-07-01
Name: date_start, dtype: object
39020    2020-07-31
Name: date_end, dtype: object
39023    2020-08-13
Name: date_start, dtype: object
39023    2020-09-16
Name: date_end, dtype: object
39031    2020-09-15
Name: date_start, dtype: object
39031    2020-08-30
Name: date_end, dtype: object
39044    2020-03-19
Name: date_start, dtype: object
39044    2020-05-23
Name: date_end, dtype: object
39046    2020-05-25
Name: date_start, dtype: object
39046    2020-06-30
Name: date_end, dtype: object
39189    2020-05-17
Name: date_start, dtype: object
39189
Name: date_end, dtype: object
39198    2020-03-31
Name: date_start, dtype: object
39198    2020-04-20
Name: date_end, dtype: object
39221    2020-03-14
Name: date_start, dtype: object
39221    2020-04-19
Name: date_end, dtype: object
39232    2020-04-20
Name: date_start, dtype: object
39232    2020-05-04
Name: date_end, dtype: object
39238    2020-05-18
Name: date_start, dtype: object
39238
Name: date_end, dtype: object
39240    2020-06-06
Name: date_start, dtype: object
39240
Name: date_end, dtype: object
39264    2020-06-01
Name: date_start, dtype: object
39264    2020-04-09
Name: date_end, dtype: object
39341    2020-05-18
Name: date_start, dtype: object
39341    2020-04-09
Name: date_end, dtype: object
39359    2020-06-01
Name: date_start, dtype: object
39359    2020-04-02
Name: date_end, dtype: object
39368    2020-06-01
Name: date_start, dtype: object
39368    2020-04-09
Name: date_end, dtype: object
39367    2020-05-18
Name: date_start, dtype: object
39367
Name: date_end, dtype: object
39384    2020-03-31
Name: date_start, dtype: object
39384    2020-05-07
Name: date_end, dtype: object

39688    2020-06-15
Name: date_start, dtype: object
39688    2020-06-15
Name: date_end, dtype: object
39670    2020-05-12
Name: date_start, dtype: object
39670    2020-05-12
Name: date_end, dtype: object
39669    2020-05-12
Name: date_start, dtype: object
39669    2020-05-12
Name: date_end, dtype: object
39717    2020-05-12
Name: date_start, dtype: object
39717
Name: date_end, dtype: object
39866    2020-03-22
Name: date_start, dtype: object
39866    2020-05-15
Name: date_end, dtype: object
39900    2020-06-16
Name: date_start, dtype: object
39900    2020-06-16
Name: date_end, dtype: object
39905    2020-08-16
Name: date_start, dtype: object
39905    2020-08-16
Name: date_end, dtype: object
39922    2020-06-01
Name: date_start, dtype: object
39922    2020-06-01
Name: date_end, dtype: object
39926    2020-05-15
Name: date_start, dtype: object
39926    2020-06-15
Name: date_end, dtype: object
39925    2020-04-04
Name: date_start, dtype: object
39925    2020-05-11
Name: date_end, dtype: object
39950    2020-03-18
Name: date_start, dtype: object
39950    2020-06-15
Name: date_end, dtype: object
39966    2020-03-11
Name: date_start, dtype: object
39966    2020-03-14
Name: date_end, dtype: object
40283    2020-03-19
Name: date_start, dtype: object
40283    2020-04-12
Name: date_end, dtype: object
40277    2020-03-19
Name: date_start, dtype: object
40277    2020-03-22
Name: date_end, dtype: object
40537    2020-04-06
Name: date_start, dtype: object
40537    2020-04-06
Name: date_end, dtype: object
40538    2020-04-06
Name: date_start, dtype: object
40538    2020-04-06
Name: date_end, dtype: object
40280    2020-03-19
Name: date_start, dtype: object
40280    2020-04-12
Name: date_end, dtype: object
40160    2020-03-17
Name: date_start, dtype: object
40160
Name: date_end, dtype: object
40163    2020-03-17
Name: date_start, dtype: object
40163    2020-07-25
Name: date_end, dtype: object
40334    2020-03-26
Name: date_start, dtype: object
40334    2020-04-04
Name: date_end, dtype: object
40917    2020-08-31
Name: date_start, dtype: object
40917
Name: date_end, dtype: object
40526    2020-04-06
Name: date_start, dtype: object
40526    2020-03-23
Name: date_end, dtype: object
40546    2020-04-06
Name: date_start, dtype: object
40546    2020-04-20
Name: date_end, dtype: object
40654    2020-05-07
Name: date_start, dtype: object
40654    2020-05-15
Name: date_end, dtype: object
40716    2020-05-15
Name: date_start, dtype: object
40716    2020-06-05
Name: date_end, dtype: object
40890    2020-08-01
Name: date_start, dtype: object
40890
Name: date_end, dtype: object
40912    2020-08-19
Name: date_start, dtype: object
40912
Name: date_end, dtype: object
40699    2020-05-12
Name: date_start, dtype: object
40699    2020-05-31
Name: date_end, dtype: object
40354    2020-03-27
Name: date_start, dtype: object
40354    2020-04-05
Name: date_end, dtype: object
40951    2020-09-01
Name: date_start, dtype: object
40951    2020-08-09
Name: date_end, dtype: object
40948    2020-09-01
Name: date_start, dtype: object
40948    2020-04-12
Name: date_end, dtype: object
41017    2021-01-19
Name: date_start, dtype: object
41017
Name: date_end, dtype: object
40461    2020-04-04
Name: date_start, dtype: object
40461    2020-06-22
Name: date_end, dtype: object
40964    2020-09-01
Name: date_start, dtype: object
40964    2020-09-01
Name: date_end, dtype: object
40954    2020-09-01
Name: date_start, dtype: object
40954    2020-08-31
Name: date_end, dtype: object
40536    2020-04-06
Name: date_start, dtype: object
40536    2020-08-26
Name: date_end, dtype: object
40820    2020-06-15
Name: date_start, dtype: object
40820    2020-07-14
Name: date_end, dtype: object
40751    2020-05-25
Name: date_start, dtype: object
40751    2020-06-08
Name: date_end, dtype: object
40701    2020-05-12
Name: date_start, dtype: object
40701    2020-09-01
Name: date_end, dtype: object
40752    2020-05-25
Name: date_start, dtype: object
40752    2020-07-15
Name: date_end, dtype: object
40828    2020-06-20
Name: date_start, dtype: object
40828    2020-08-03
Name: date_end, dtype: object
40966    2020-09-01
Name: date_start, dtype: object
40966    2020-09-01
Name: date_end, dtype: object
40892    2020-08-03
Name: date_start, dtype: object
40892    2020-09-01
Name: date_end, dtype: object
41002    2020-11-12
Name: date_start, dtype: object
41002    2020-11-12
Name: date_end, dtype: object
41039    2020-03-28
Name: date_start, dtype: object
41039
Name: date_end, dtype: object
41046    2020-05-17
Name: date_start, dtype: object
41046    2020-05-11
Name: date_end, dtype: object
41134    2020-04-12
Name: date_start, dtype: object
41134    2020-04-19
Name: date_end, dtype: object
41149    2020-06-22
Name: date_start, dtype: object
41149    2020-06-22
Name: date_end, dtype: object
41282    2020-03-18
Name: date_start, dtype: object
41282    2021-03-18
Name: date_end, dtype: object
41343    2020-03-30
Name: date_start, dtype: object
41343    2020-03-30
Name: date_end, dtype: object
41283    2020-03-18
Name: date_start, dtype: object
41283    2020-03-18
Name: date_end, dtype: object
41305    2020-03-23
Name: date_start, dtype: object
41305    2020-03-23
Name: date_end, dtype: object
41284    2020-03-18
Name: date_start, dtype: object
41284    2020-03-18
Name: date_end, dtype: object
41285    2020-03-18
Name: date_start, dtype: object
41285    2020-03-18
Name: date_end, dtype: object
41286    2020-03-18
Name: date_start, dtype: object
41286    2020-03-18
Name: date_end, dtype: object
41371    2020-04-18
Name: date_start, dtype: object
41371    2020-04-18
Name: date_end, dtype: object
41306    2020-03-23
Name: date_start, dtype: object
41306    2020-03-23
Name: date_end, dtype: object
41323    2020-03-27
Name: date_start, dtype: object
41323    2020-03-27
Name: date_end, dtype: object
41287    2020-03-18
Name: date_start, dtype: object
41287    2020-03-18
Name: date_end, dtype: object
41288    2020-03-18
Name: date_start, dtype: object
41288    2020-03-18
Name: date_end, dtype: object
41290    2020-03-18
Name: date_start, dtype: object
41290    2020-03-18
Name: date_end, dtype: object
41291    2020-03-18
Name: date_start, dtype: object
41291    2020-03-18
Name: date_end, dtype: object
41324    2020-03-27
Name: date_start, dtype: object
41324    2020-03-27
Name: date_end, dtype: object
41292    2020-03-18
Name: date_start, dtype: object
41292    2020-03-18
Name: date_end, dtype: object
41326    2020-03-27
Name: date_start, dtype: object
41326    2020-03-27
Name: date_end, dtype: object
41325    2020-03-27
Name: date_start, dtype: object
41325    2020-03-27
Name: date_end, dtype: object
41327    2020-03-27
Name: date_start, dtype: object
41327    2020-03-27
Name: date_end, dtype: object
41293    2020-03-18
Name: date_start, dtype: object
41293    2020-03-18
Name: date_end, dtype: object
41294    2020-03-18
Name: date_start, dtype: object
41294    2020-03-18
Name: date_end, dtype: object
41222    2020-03-13
Name: date_start, dtype: object
41222    2020-04-04
Name: date_end, dtype: object
41328    2020-03-27
Name: date_start, dtype: object
41328    2020-03-27
Name: date_end, dtype: object
41295    2020-03-18
Name: date_start, dtype: object
41295    2020-03-18
Name: date_end, dtype: object
41329    2020-03-27
Name: date_start, dtype: object
41329    2020-03-27
Name: date_end, dtype: object
41247    2020-03-16
Name: date_start, dtype: object
41247    2020-04-19
Name: date_end, dtype: object
41357    2020-04-06
Name: date_start, dtype: object
41357    2020-04-06
Name: date_end, dtype: object
41310    2020-03-26
Name: date_start, dtype: object
41310    2020-04-04
Name: date_end, dtype: object
41415    2020-07-24
Name: date_start, dtype: object
41415    2020-07-24
Name: date_end, dtype: object
41298    2020-03-19
Name: date_start, dtype: object
41298    2020-03-19
Name: date_end, dtype: object
41330    2020-03-27
Name: date_start, dtype: object
41330    2020-03-27
Name: date_end, dtype: object
41331    2020-03-27
Name: date_start, dtype: object
41331    2020-03-27
Name: date_end, dtype: object
41421    2020-08-01
Name: date_start, dtype: object
41421    2020-08-01
Name: date_end, dtype: object
41342    2020-03-30
Name: date_start, dtype: object
41342    2020-06-22
Name: date_end, dtype: object
41399    2020-06-11
Name: date_start, dtype: object
41399    2020-06-11
Name: date_end, dtype: object
41351    2020-04-03
Name: date_start, dtype: object
41351    2020-07-14
Name: date_end, dtype: object
41354    2020-04-04
Name: date_start, dtype: object
41354    2020-05-12
Name: date_end, dtype: object
41404    2020-06-20
Name: date_start, dtype: object
41404
Name: date_end, dtype: object

41393    2020-06-01
Name: date_start, dtype: object
41393
Name: date_end, dtype: object
41672    2020-06-26
Name: date_start, dtype: object
41672    2020-06-26
Name: date_end, dtype: object
41669    2020-06-12
Name: date_start, dtype: object
41669
Name: date_end, dtype: object
41591    2020-03-30
Name: date_start, dtype: object
41591    2020-06-22
Name: date_end, dtype: object
41676    2020-07-14
Name: date_start, dtype: object
41676    2020-07-14
Name: date_end, dtype: object
41611    2020-04-03
Name: date_start, dtype: object
41611    2020-07-14
Name: date_end, dtype: object
41625    2020-04-11
Name: date_start, dtype: object
41625
Name: date_end, dtype: object
41659    2020-05-12
Name: date_start, dtype: object
41659    2020-05-12
Name: date_end, dtype: object
41658    2020-05-12
Name: date_start, dtype: object
41658    2020-05-12
Name: date_end, dtype: object
41657    2020-05-12
Name: date_start, dtype: object
41657    2020-05-12
Name: date_end, dtype: object
41791    2020-03-13
Name: date_start, dtype: object
41791    2020-04-04
Name: date_end, dtype: object
41796    2020-03-13
Name: date_start, dtype: object
41796    2020-04-04
Name: date_end, dtype: object
41891    2020-03-17
Name: date_start, dtype: object
41891    2020-06-05
Name: date_end, dtype: object
42889    2020-07-17
Name: date_start, dtype: object
42889    2020-04-30
Name: date_end, dtype: object
42148    2020-03-30
Name: date_start, dtype: object
42148    2020-06-22
Name: date_end, dtype: object
42277    2020-04-04
Name: date_start, dtype: object
42277    2020-05-12
Name: date_end, dtype: object
42282    2020-04-04
Name: date_start, dtype: object
42282    2020-05-12
Name: date_end, dtype: object
42458    2020-04-20
Name: date_start, dtype: object
42458
Name: date_end, dtype: object
42457    2020-04-20
Name: date_start, dtype: object
42457
Name: date_end, dtype: object
42934    2020-08-17
Name: date_start, dtype: object
42934    2020-08-18
Name: date_end, dtype: object
42552    2020-05-01
Name: date_start, dtype: object
42552    2020-06-26
Name: date_end, dtype: object
42790    2020-06-11
Name: date_start, dtype: object
42790    2020-06-12
Name: date_end, dtype: object
42821    2020-06-24
Name: date_start, dtype: object
42821
Name: date_end, dtype: object
42827    2020-06-25
Name: date_start, dtype: object
42827    2020-07-01
Name: date_end, dtype: object
42940    2020-08-22
Name: date_start, dtype: object
42940    2020-08-23
Name: date_end, dtype: object
42951    2020-09-11
Name: date_start, dtype: object
42951    2020-09-12
Name: date_end, dtype: object
42959    2020-09-15
Name: date_start, dtype: object
42959    2020-09-16
Name: date_end, dtype: object
42965    2020-09-28
Name: date_start, dtype: object
42965
Name: date_end, dtype: object
43014    2020-11-11
Name: date_start, dtype: object
43014    2020-11-25
Name: date_end, dtype: object
43022    2020-12-02
Name: date_start, dtype: object
43022    2020-12-03
Name: date_end, dtype: object
43106    2020-04-13
Name: date_start, dtype: object
43106    2020-07-14
Name: date_end, dtype: object
43133    2020-06-07
Name: date_start, dtype: object
43133
Name: date_end, dtype: object
43160    2020-08-19
Name: date_start, dtype: object
43160    2021-04-15
Name: date_end, dtype: object
43165    2020-08-31
Name: date_start, dtype: object
43165    2020-09-01
Name: date_end, dtype: object
43173    2020-11-19
Name: date_start, dtype: object
43173    2021-04-15
Name: date_end, dtype: object
43177    2020-12-08
Name: date_start, dtype: object
43177    2020-12-22
Name: date_end, dtype: object
43388    2020-05-01
Name: date_start, dtype: object
43388    2020-05-01
Name: date_end, dtype: object
43252    2020-03-18
Name: date_start, dtype: object
43252    2020-04-07
Name: date_end, dtype: object
43302    2020-03-30
Name: date_start, dtype: object
43302    2020-06-22
Name: date_end, dtype: object
43321    2020-04-03
Name: date_start, dtype: object
43321    2020-04-04
Name: date_end, dtype: object
43343    2020-04-11
Name: date_start, dtype: object
43343
Name: date_end, dtype: object
43394    2020-05-12
Name: date_start, dtype: object
43394    2020-05-26
Name: date_end, dtype: object
43421    2020-06-26
Name: date_start, dtype: object
43421    2020-07-03
Name: date_end, dtype: object
43423    2020-07-13
Name: date_start, dtype: object
43423    2020-07-13
Name: date_end, dtype: object
43432    2020-08-11
Name: date_start, dtype: object
43432    2020-08-12
Name: date_end, dtype: object
43487    2020-03-28
Name: date_start, dtype: object
43487    2020-04-29
Name: date_end, dtype: object
43502    2020-03-30
Name: date_start, dtype: object
43502    2020-05-16
Name: date_end, dtype: object
43516    2020-03-31
Name: date_start, dtype: object
43516    2020-04-29
Name: date_end, dtype: object
43687    2020-05-12
Name: date_start, dtype: object
43687
Name: date_end, dtype: object
43587    2020-04-09
Name: date_start, dtype: object
43587    2020-06-16
Name: date_end, dtype: object
43740    2020-06-08
Name: date_start, dtype: object
43740    2020-04-05
Name: date_end, dtype: object
43753    2020-06-26
Name: date_start, dtype: object
43753    2020-06-26
Name: date_end, dtype: object
43726    2020-05-28
Name: date_start, dtype: object
43726    2020-05-30
Name: date_end, dtype: object
43558    2020-04-03
Name: date_start, dtype: object
43558    2020-07-14
Name: date_end, dtype: object
43559    2020-04-03
Name: date_start, dtype: object
43559    2020-07-31
Name: date_end, dtype: object
43556    2020-04-03
Name: date_start, dtype: object
43556    2020-04-13
Name: date_end, dtype: object
43575    2020-04-06
Name: date_start, dtype: object
43575    2020-06-29
Name: date_end, dtype: object
43576    2020-04-06
Name: date_start, dtype: object
43576    2020-05-12
Name: date_end, dtype: object
43586    2020-04-09
Name: date_start, dtype: object
43586
Name: date_end, dtype: object
43602    2020-04-14
Name: date_start, dtype: object
43602    2020-06-09
Name: date_end, dtype: object
43616    2020-04-16
Name: date_start, dtype: object
43616    2020-08-23
Name: date_end, dtype: object
43750    2020-06-20
Name: date_start, dtype: object
43750    2020-06-20
Name: date_end, dtype: object
43752    2020-06-20
Name: date_start, dtype: object
43752    2020-06-20
Name: date_end, dtype: object
43751    2020-06-20
Name: date_start, dtype: object
43751    2020-06-20
Name: date_end, dtype: object
43688    2020-05-12
Name: date_start, dtype: object
43688    2020-05-12
Name: date_end, dtype: object
43645    2020-04-28
Name: date_start, dtype: object
43645    2020-06-09
Name: date_end, dtype: object
43646    2020-04-28
Name: date_start, dtype: object
43646    2020-05-11
Name: date_end, dtype: object
43653    2020-04-29
Name: date_start, dtype: object
43653    2020-07-01
Name: date_end, dtype: object
43674    2020-05-07
Name: date_start, dtype: object
43674    2020-05-26
Name: date_end, dtype: object
43679    2020-05-08
Name: date_start, dtype: object
43679    2020-06-19
Name: date_end, dtype: object
43680    2020-05-08
Name: date_start, dtype: object
43680    2020-06-26
Name: date_end, dtype: object
43698    2020-05-14
Name: date_start, dtype: object
43698    2020-06-11
Name: date_end, dtype: object
43697    2020-05-14
Name: date_start, dtype: object
43697    2020-06-11
Name: date_end, dtype: object
43702    2020-05-15
Name: date_start, dtype: object
43702    2020-07-31
Name: date_end, dtype: object
43708    2020-05-18
Name: date_start, dtype: object
43708    2020-06-11
Name: date_end, dtype: object
43709    2020-05-18
Name: date_start, dtype: object
43709    2020-06-11
Name: date_end, dtype: object
43722    2020-05-26
Name: date_start, dtype: object
43722    2020-06-11
Name: date_end, dtype: object
43943    2020-04-04
Name: date_start, dtype: object
43943    2020-04-04
Name: date_end, dtype: object
44167    2020-06-27
Name: date_start, dtype: object
44167    2020-07-12
Name: date_end, dtype: object
44128    2020-06-08
Name: date_start, dtype: object
44128    2020-06-08
Name: date_end, dtype: object
43836    2020-03-30
Name: date_start, dtype: object
43836    2020-04-05
Name: date_end, dtype: object
44133    2020-06-09
Name: date_start, dtype: object
44133
Name: date_end, dtype: object
44174    2020-07-01
Name: date_start, dtype: object
44174    2020-05-31
Name: date_end, dtype: object
43960    2020-04-07
Name: date_start, dtype: object
43960    2020-04-07
Name: date_end, dtype: object
43835    2020-03-30
Name: date_start, dtype: object
43835    2020-06-22
Name: date_end, dtype: object
43990    2020-04-18
Name: date_start, dtype: object
43990    2020-04-18
Name: date_end, dtype: object
44058    2020-05-12
Name: date_start, dtype: object
44058    2020-05-31
Name: date_end, dtype: object

43968    2020-04-10
Name: date_start, dtype: object
43968
Name: date_end, dtype: object
44090    2020-05-19
Name: date_start, dtype: object
44090    2020-05-31
Name: date_end, dtype: object
44153    2020-06-19
Name: date_start, dtype: object
44153
Name: date_end, dtype: object
43900    2020-03-31
Name: date_start, dtype: object
43900    2020-05-12
Name: date_end, dtype: object
44024    2020-05-01
Name: date_start, dtype: object
44024
Name: date_end, dtype: object
44076    2020-05-14
Name: date_start, dtype: object
44076    2020-04-30
Name: date_end, dtype: object
44136    2020-06-11
Name: date_start, dtype: object
44136    2020-06-10
Name: date_end, dtype: object
43922    2020-04-01
Name: date_start, dtype: object
43922    2020-06-15
Name: date_end, dtype: object
44165    2020-06-26
Name: date_start, dtype: object
44165    2020-06-26
Name: date_end, dtype: object
44123    2020-06-01
Name: date_start, dtype: object
44123    2020-06-01
Name: date_end, dtype: object
44147    2020-06-15
Name: date_start, dtype: object
44147    2020-06-30
Name: date_end, dtype: object
44190    2020-07-20
Name: date_start, dtype: object
44190    2020-07-20
Name: date_end, dtype: object
44118    2020-06-01
Name: date_start, dtype: object
44118    2020-04-19
Name: date_end, dtype: object
44057    2020-05-12
Name: date_start, dtype: object
44057
Name: date_end, dtype: object
44201    2020-08-01
Name: date_start, dtype: object
44201    2020-04-30
Name: date_end, dtype: object
44053    2020-05-11
Name: date_start, dtype: object
44053
Name: date_end, dtype: object
44117    2020-06-01
Name: date_start, dtype: object
44117    2020-05-11
Name: date_end, dtype: object
44189    2020-07-20
Name: date_start, dtype: object
44189
Name: date_end, dtype: object
44074    2020-05-14
Name: date_start, dtype: object
44074
Name: date_end, dtype: object
44132    2020-06-09
Name: date_start, dtype: object
44132
Name: date_end, dtype: object
44149    2020-06-15
Name: date_start, dtype: object
44149    2020-06-22
Name: date_end, dtype: object
44323    2020-03-17
Name: date_start, dtype: object
44323    2020-03-31
Name: date_end, dtype: object
44348    2020-03-23
Name: date_start, dtype: object
44348    2021-04-15
Name: date_end, dtype: object
44400    2020-04-04
Name: date_start, dtype: object
44400    2020-05-12
Name: date_end, dtype: object
44409    2020-04-07
Name: date_start, dtype: object
44409
Name: date_end, dtype: object
44473    2020-03-13
Name: date_start, dtype: object
44473    2020-04-04
Name: date_end, dtype: object
44624    2020-06-28
Name: date_start, dtype: object
44624    2020-04-05
Name: date_end, dtype: object
44620    2020-06-03
Name: date_start, dtype: object
44620    2020-06-03
Name: date_end, dtype: object
44544    2020-04-04
Name: date_start, dtype: object
44544    2020-05-12
Name: date_end, dtype: object
44559    2020-04-14
Name: date_start, dtype: object
44559    2020-06-18
Name: date_end, dtype: object
44589    2020-04-28
Name: date_start, dtype: object
44589    2020-04-29
Name: date_end, dtype: object
44671    2020-03-13
Name: date_start, dtype: object
44671    2020-04-04
Name: date_end, dtype: object
44672    2020-03-13
Name: date_start, dtype: object
44672    2020-04-04
Name: date_end, dtype: object
44825    2020-04-04
Name: date_start, dtype: object
44825    2020-05-12
Name: date_end, dtype: object
44826    2020-04-04
Name: date_start, dtype: object
44826    2020-05-12
Name: date_end, dtype: object
45076    2020-03-19
Name: date_start, dtype: object
45076    2020-03-19
Name: date_end, dtype: object
45078    2020-03-19
Name: date_start, dtype: object
45078    2020-03-19
Name: date_end, dtype: object
45077    2020-03-19
Name: date_start, dtype: object
45077    2021-03-19
Name: date_end, dtype: object
45079    2020-03-19
Name: date_start, dtype: object
45079    2020-03-19
Name: date_end, dtype: object
45080    2020-03-19
Name: date_start, dtype: object
45080    2020-03-19
Name: date_end, dtype: object
44969    2020-03-10
Name: date_start, dtype: object
44969    2020-06-01
Name: date_end, dtype: object
44985    2020-03-13
Name: date_start, dtype: object
44985
Name: date_end, dtype: object
44983    2020-03-13
Name: date_start, dtype: object
44983    2020-04-04
Name: date_end, dtype: object
44984    2020-03-13
Name: date_start, dtype: object
44984    2020-04-04
Name: date_end, dtype: object
45282    2020-04-29
Name: date_start, dtype: object
45282
Name: date_end, dtype: object
45331    2020-06-26
Name: date_start, dtype: object
45331    2020-06-26
Name: date_end, dtype: object
45099    2020-03-24
Name: date_start, dtype: object
45099    2020-03-24
Name: date_end, dtype: object
45161    2020-03-31
Name: date_start, dtype: object
45161    2020-03-31
Name: date_end, dtype: object
45285    2020-04-30
Name: date_start, dtype: object
45285    2020-04-30
Name: date_end, dtype: object
45344    2020-07-15
Name: date_start, dtype: object
45344    2020-07-15
Name: date_end, dtype: object
45196    2020-04-06
Name: date_start, dtype: object
45196
Name: date_end, dtype: object
45325    2020-06-17
Name: date_start, dtype: object
45325
Name: date_end, dtype: object
45133    2020-03-30
Name: date_start, dtype: object
45133    2020-07-09
Name: date_end, dtype: object
45187    2020-04-04
Name: date_start, dtype: object
45187    2020-05-12
Name: date_end, dtype: object
45238    2020-04-16
Name: date_start, dtype: object
45238
Name: date_end, dtype: object
45250    2020-04-18
Name: date_start, dtype: object
45250    2020-04-18
Name: date_end, dtype: object
45251    2020-04-18
Name: date_start, dtype: object
45251    2020-04-18
Name: date_end, dtype: object
45296    2020-05-12
Name: date_start, dtype: object
45296
Name: date_end, dtype: object
45221    2020-04-13
Name: date_start, dtype: object
45221    2020-07-14
Name: date_end, dtype: object
45246    2020-04-17
Name: date_start, dtype: object
45246    2020-06-22
Name: date_end, dtype: object
45329    2020-06-22
Name: date_start, dtype: object
45329    2020-06-22
Name: date_end, dtype: object
45264    2020-04-22
Name: date_start, dtype: object
45264    2020-06-03
Name: date_end, dtype: object
45321    2020-06-08
Name: date_start, dtype: object
45321    2020-06-08
Name: date_end, dtype: object
45359    2020-09-10
Name: date_start, dtype: object
45359
Name: date_end, dtype: object
45300    2020-05-14
Name: date_start, dtype: object
45300
Name: date_end, dtype: object
45376    2021-02-15
Name: date_start, dtype: object
45376    2021-02-15
Name: date_end, dtype: object
45335    2020-06-30
Name: date_start, dtype: object
45335    2020-07-13
Name: date_end, dtype: object
45349    2020-07-17
Name: date_start, dtype: object
45349    2021-07-17
Name: date_end, dtype: object
45348    2020-07-17
Name: date_start, dtype: object
45348    2020-06-15
Name: date_end, dtype: object
45382    2020-03-05
Name: date_start, dtype: object
45382    2020-04-05
Name: date_end, dtype: object
45390    2020-03-13
Name: date_start, dtype: object
45390    2020-04-04
Name: date_end, dtype: object
45411    2020-03-16
Name: date_start, dtype: object
45411    2020-04-04
Name: date_end, dtype: object
45499    2020-03-19
Name: date_start, dtype: object
45499
Name: date_end, dtype: object
47096    2020-05-15
Name: date_start, dtype: object
47096    2020-05-31
Name: date_end, dtype: object
47847    2020-09-01
Name: date_start, dtype: object
47847    2020-06-24
Name: date_end, dtype: object
47405    2020-06-11
Name: date_start, dtype: object
47405
Name: date_end, dtype: object
47605    2020-07-01
Name: date_start, dtype: object
47605
Name: date_end, dtype: object
45523    2020-03-24
Name: date_start, dtype: object
45523    2020-07-09
Name: date_end, dtype: object
45581    2020-03-25
Name: date_start, dtype: object
45581    2020-08-03
Name: date_end, dtype: object
46056    2020-03-28
Name: date_start, dtype: object
46056    2020-04-30
Name: date_end, dtype: object
45575    2020-03-25
Name: date_start, dtype: object
45575    2020-03-27
Name: date_end, dtype: object
45588    2020-03-25
Name: date_start, dtype: object
45588    2020-06-01
Name: date_end, dtype: object
47795    2020-08-10
Name: date_start, dtype: object
47795
Name: date_end, dtype: object
47660    2020-07-09
Name: date_start, dtype: object
47660    2020-07-09
Name: date_end, dtype: object
47758    2020-08-01
Name: date_start, dtype: object
47758
Name: date_end, dtype: object
47615    2020-07-02
Name: date_start, dtype: object
47615
Name: date_end, dtype: object
47107    2020-05-18
Name: date_start, dtype: object
47107
Name: date_end, dtype: object
47521    2020-06-24
Name: date_start, dtype: object
47521    2020-06-24
Name: date_end, dtype: object
45617    2020-03-26
Name: date_start, dtype: object
45617    2020-06-01
Name: date_end, dtype: object
46493    2020-04-03
Name: date_start, dtype: object
46493    2020-04-03
Name: date_end, dtype: object
47320    2020-06-03
Name: date_start, dtype: object
47320
Name: date_end, dtype: object
47755    2020-08-01
Name: date_start, dtype: object
47755
Name: date_end, dtype: object
47428    2020-06-15
Name: date_start, dtype: object
47428
Name: date_end, dtype: object

45710    2020-03-27
Name: date_start, dtype: object
45710    2020-06-04
Name: date_end, dtype: object
46857    2020-04-27
Name: date_start, dtype: object
46857
Name: date_end, dtype: object
47907    2020-11-12
Name: date_start, dtype: object
47907    2020-11-12
Name: date_end, dtype: object
47906    2020-11-12
Name: date_start, dtype: object
47906    2020-11-12
Name: date_end, dtype: object
47100    2020-05-16
Name: date_start, dtype: object
47100    2020-05-16
Name: date_end, dtype: object
47363    2020-06-08
Name: date_start, dtype: object
47363    2020-04-05
Name: date_end, dtype: object
46079    2020-03-28
Name: date_start, dtype: object
46079    2020-07-22
Name: date_end, dtype: object
46088    2020-03-28
Name: date_start, dtype: object
46088    2020-04-25
Name: date_end, dtype: object
47752    2020-07-31
Name: date_start, dtype: object
47752    2020-07-31
Name: date_end, dtype: object
47289    2020-06-01
Name: date_start, dtype: object
47289    2020-04-05
Name: date_end, dtype: object
47542    2020-06-26
Name: date_start, dtype: object
47542    2020-06-26
Name: date_end, dtype: object
47303    2020-06-01
Name: date_start, dtype: object
47303    2020-12-30
Name: date_end, dtype: object
47424    2020-06-15
Name: date_start, dtype: object
47424    2020-06-29
Name: date_end, dtype: object
46074    2020-03-28
Name: date_start, dtype: object
46074    2020-07-08
Name: date_end, dtype: object
47583    2020-06-30
Name: date_start, dtype: object
47583    2020-06-24
Name: date_end, dtype: object
47813    2020-08-14
Name: date_start, dtype: object
47813    2020-04-15
Name: date_end, dtype: object
46168    2020-03-28
Name: date_start, dtype: object
46168    2020-06-24
Name: date_end, dtype: object
47492    2020-06-20
Name: date_start, dtype: object
47492    2020-06-21
Name: date_end, dtype: object
47692    2020-07-15
Name: date_start, dtype: object
47692    2020-07-15
Name: date_end, dtype: object
47344    2020-06-06
Name: date_start, dtype: object
47344
Name: date_end, dtype: object
46851    2020-04-27
Name: date_start, dtype: object
46851    2020-04-05
Name: date_end, dtype: object
47249    2020-05-29
Name: date_start, dtype: object
47249    2020-05-30
Name: date_end, dtype: object
47339    2020-06-05
Name: date_start, dtype: object
47339    2020-04-05
Name: date_end, dtype: object
46170    2020-03-28
Name: date_start, dtype: object
46170    2020-04-05
Name: date_end, dtype: object
46617    2020-04-08
Name: date_start, dtype: object
46617    2020-04-08
Name: date_end, dtype: object
47074    2020-05-12
Name: date_start, dtype: object
47074    2020-05-12
Name: date_end, dtype: object
47077    2020-05-12
Name: date_start, dtype: object
47077    2020-05-31
Name: date_end, dtype: object
47661    2020-07-09
Name: date_start, dtype: object
47661    2020-07-09
Name: date_end, dtype: object
46198    2020-03-28
Name: date_start, dtype: object
46198    2020-04-05
Name: date_end, dtype: object
47251    2020-05-29
Name: date_start, dtype: object
47251    2020-05-29
Name: date_end, dtype: object
47544    2020-06-26
Name: date_start, dtype: object
47544    2020-06-26
Name: date_end, dtype: object
47903    2020-11-12
Name: date_start, dtype: object
47903
Name: date_end, dtype: object
47835    2020-08-28
Name: date_start, dtype: object
47835    2020-08-09
Name: date_end, dtype: object
46413    2020-04-01
Name: date_start, dtype: object
46413    2020-04-05
Name: date_end, dtype: object
47307    2020-06-01
Name: date_start, dtype: object
47307
Name: date_end, dtype: object
46677    2020-04-10
Name: date_start, dtype: object
46677    2020-04-10
Name: date_end, dtype: object
46678    2020-04-10
Name: date_start, dtype: object
46678    2020-04-10
Name: date_end, dtype: object
47322    2020-06-03
Name: date_start, dtype: object
47322    2020-04-05
Name: date_end, dtype: object
46200    2020-03-28
Name: date_start, dtype: object
46200    2020-06-01
Name: date_end, dtype: object
47696    2020-07-15
Name: date_start, dtype: object
47696    2020-04-05
Name: date_end, dtype: object
47315    2020-06-01
Name: date_start, dtype: object
47315    2020-06-01
Name: date_end, dtype: object
47714    2020-07-20
Name: date_start, dtype: object
47714    2020-07-31
Name: date_end, dtype: object
47235    2020-05-29
Name: date_start, dtype: object
47235    2020-06-30
Name: date_end, dtype: object
47610    2020-07-02
Name: date_start, dtype: object
47610    2020-05-31
Name: date_end, dtype: object
47186    2020-05-27
Name: date_start, dtype: object
47186    2020-05-12
Name: date_end, dtype: object
46965    2020-05-01
Name: date_start, dtype: object
46965
Name: date_end, dtype: object
47932    2021-06-11
Name: date_start, dtype: object
47932    2020-06-10
Name: date_end, dtype: object
47058    2020-05-12
Name: date_start, dtype: object
47058    2020-05-11
Name: date_end, dtype: object
47138    2020-05-22
Name: date_start, dtype: object
47138    2020-06-07
Name: date_end, dtype: object
46482    2020-04-03
Name: date_start, dtype: object
46482    2020-06-20
Name: date_end, dtype: object
47631    2020-07-06
Name: date_start, dtype: object
47631
Name: date_end, dtype: object
47515    2020-06-23
Name: date_start, dtype: object
47515
Name: date_end, dtype: object
47522    2020-06-24
Name: date_start, dtype: object
47522    2020-06-24
Name: date_end, dtype: object
46673    2020-04-10
Name: date_start, dtype: object
46673    2020-06-18
Name: date_end, dtype: object
47078    2020-05-13
Name: date_start, dtype: object
47078    2021-05-13
Name: date_end, dtype: object
47585    2020-06-30
Name: date_start, dtype: object
47585    2020-06-30
Name: date_end, dtype: object
47683    2020-07-13
Name: date_start, dtype: object
47683
Name: date_end, dtype: object
46872    2020-04-28
Name: date_start, dtype: object
46872    2020-05-11
Name: date_end, dtype: object
47086    2020-05-14
Name: date_start, dtype: object
47086    2020-05-14
Name: date_end, dtype: object
47641    2020-07-09
Name: date_start, dtype: object
47641    2020-07-09
Name: date_end, dtype: object
47640    2020-07-09
Name: date_start, dtype: object
47640    2020-07-09
Name: date_end, dtype: object
47488    2020-06-19
Name: date_start, dtype: object
47488    2021-06-19
Name: date_end, dtype: object
47848    2020-09-04
Name: date_start, dtype: object
47848    2020-09-20
Name: date_end, dtype: object
47518    2020-06-23
Name: date_start, dtype: object
47518
Name: date_end, dtype: object
47178    2020-05-26
Name: date_start, dtype: object
47178    2020-06-14
Name: date_end, dtype: object
47451    2020-06-17
Name: date_start, dtype: object
47451    2020-06-17
Name: date_end, dtype: object
47296    2020-06-01
Name: date_start, dtype: object
47296
Name: date_end, dtype: object
47537    2020-06-26
Name: date_start, dtype: object
47537    2020-06-26
Name: date_end, dtype: object
47462    2020-06-18
Name: date_start, dtype: object
47462    2020-07-27
Name: date_end, dtype: object
47753    2020-07-31
Name: date_start, dtype: object
47753    2020-07-31
Name: date_end, dtype: object
47940    2020-03-13
Name: date_start, dtype: object
47940    2020-04-04
Name: date_end, dtype: object
48646    2020-08-18
Name: date_start, dtype: object
48646    2020-04-12
Name: date_end, dtype: object
48602    2020-07-02
Name: date_start, dtype: object
48602
Name: date_end, dtype: object
47983    2020-03-18
Name: date_start, dtype: object
47983    2021-04-15
Name: date_end, dtype: object
48657    2020-10-01
Name: date_start, dtype: object
48657    2020-10-01
Name: date_end, dtype: object
48636    2020-08-04
Name: date_start, dtype: object
48636
Name: date_end, dtype: object
48052    2020-03-25
Name: date_start, dtype: object
48052    2020-05-29
Name: date_end, dtype: object
48253    2020-04-03
Name: date_start, dtype: object
48253    2020-04-12
Name: date_end, dtype: object
48181    2020-03-30
Name: date_start, dtype: object
48181    2020-04-03
Name: date_end, dtype: object
48489    2020-05-29
Name: date_start, dtype: object
48489    2020-05-29
Name: date_end, dtype: object
48488    2020-05-29
Name: date_start, dtype: object
48488    2020-05-29
Name: date_end, dtype: object
48573    2020-06-19
Name: date_start, dtype: object
48573    2020-04-30
Name: date_end, dtype: object

48187    2020-03-30
Name: date_start, dtype: object
48187    2020-03-30
Name: date_end, dtype: object
48572    2020-06-19
Name: date_start, dtype: object
48572    2020-07-05
Name: date_end, dtype: object
48611    2020-07-10
Name: date_start, dtype: object
48611    2020-04-05
Name: date_end, dtype: object
48499    2020-06-01
Name: date_start, dtype: object
48499    2020-05-31
Name: date_end, dtype: object
48238    2020-04-02
Name: date_start, dtype: object
48238
Name: date_end, dtype: object
48506    2020-06-01
Name: date_start, dtype: object
48506    2020-05-30
Name: date_end, dtype: object
48578    2020-06-24
Name: date_start, dtype: object
48578    2020-06-24
Name: date_end, dtype: object
48518    2020-06-03
Name: date_start, dtype: object
48518
Name: date_end, dtype: object
48554    2020-06-15
Name: date_start, dtype: object
48554
Name: date_end, dtype: object
48279    2020-04-04
Name: date_start, dtype: object
48279    2020-05-12
Name: date_end, dtype: object
48280    2020-04-04
Name: date_start, dtype: object
48280    2020-05-12
Name: date_end, dtype: object
48316    2020-04-08
Name: date_start, dtype: object
48316    2020-08-17
Name: date_end, dtype: object
48353    2020-04-16
Name: date_start, dtype: object
48353    2020-08-14
Name: date_end, dtype: object
48417    2020-05-01
Name: date_start, dtype: object
48417    2020-06-15
Name: date_end, dtype: object
48538    2020-06-11
Name: date_start, dtype: object
48538    2020-06-11
Name: date_end, dtype: object
48453    2020-05-12
Name: date_start, dtype: object
48453    2020-06-16
Name: date_end, dtype: object
48598    2020-07-01
Name: date_start, dtype: object
48598    2020-07-01
Name: date_end, dtype: object
48624    2020-07-20
Name: date_start, dtype: object
48624    2020-07-20
Name: date_end, dtype: object
48634    2020-07-31
Name: date_start, dtype: object
48634    2020-07-31
Name: date_end, dtype: object
49044    2020-06-21
Name: date_start, dtype: object
49044
Name: date_end, dtype: object
48695    2020-03-14
Name: date_start, dtype: object
48695    2020-04-14
Name: date_end, dtype: object
48905    2020-04-03
Name: date_start, dtype: object
48905    2020-04-30
Name: date_end, dtype: object
48728    2020-03-16
Name: date_start, dtype: object
48728    2020-04-04
Name: date_end, dtype: object
48970    2020-04-30
Name: date_start, dtype: object
48970    2020-04-30
Name: date_end, dtype: object
49093    2020-08-01
Name: date_start, dtype: object
49093
Name: date_end, dtype: object
48837    2020-03-26
Name: date_start, dtype: object
48837    2020-04-04
Name: date_end, dtype: object
48840    2020-03-26
Name: date_start, dtype: object
48840    2020-03-26
Name: date_end, dtype: object
48819    2020-03-23
Name: date_start, dtype: object
48819
Name: date_end, dtype: object
49023    2020-06-12
Name: date_start, dtype: object
49023
Name: date_end, dtype: object
49048    2020-06-24
Name: date_start, dtype: object
49048    2020-06-24
Name: date_end, dtype: object
49069    2020-07-09
Name: date_start, dtype: object
49069
Name: date_end, dtype: object
49011    2020-06-05
Name: date_start, dtype: object
49011
Name: date_end, dtype: object
49042    2020-06-19
Name: date_start, dtype: object
49042
Name: date_end, dtype: object
49058    2020-06-30
Name: date_start, dtype: object
49058    2020-04-30
Name: date_end, dtype: object
49123    2020-09-04
Name: date_start, dtype: object
49123
Name: date_end, dtype: object
48951    2020-04-20
Name: date_start, dtype: object
48951
Name: date_end, dtype: object
48952    2020-04-20
Name: date_start, dtype: object
48952
Name: date_end, dtype: object
48859    2020-03-27
Name: date_start, dtype: object
48859    2020-06-09
Name: date_end, dtype: object
49010    2020-06-03
Name: date_start, dtype: object
49010    2020-04-28
Name: date_end, dtype: object
49145    2020-11-12
Name: date_start, dtype: object
49145
Name: date_end, dtype: object
49026    2020-06-13
Name: date_start, dtype: object
49026    2020-09-14
Name: date_end, dtype: object
49097    2020-08-03
Name: date_start, dtype: object
49097    2020-09-14
Name: date_end, dtype: object
49741    2020-07-25
Name: date_start, dtype: object
49741
Name: date_end, dtype: object
49575    2020-06-01
Name: date_start, dtype: object
49575    2020-04-14
Name: date_end, dtype: object
49819    2020-09-30
Name: date_start, dtype: object
49819
Name: date_end, dtype: object
49256    2020-03-30
Name: date_start, dtype: object
49256    2020-05-22
Name: date_end, dtype: object
49523    2020-05-18
Name: date_start, dtype: object
49523    2020-05-18
Name: date_end, dtype: object
49408    2020-04-27
Name: date_start, dtype: object
49408    2020-05-23
Name: date_end, dtype: object
49711    2020-07-09
Name: date_start, dtype: object
49711    2020-07-09
Name: date_end, dtype: object
49710    2020-07-09
Name: date_start, dtype: object
49710    2020-07-09
Name: date_end, dtype: object
49576    2020-06-01
Name: date_start, dtype: object
49576    2020-05-29
Name: date_end, dtype: object
49811    2020-09-28
Name: date_start, dtype: object
49811
Name: date_end, dtype: object
49878    2020-06-18
Name: date_start, dtype: object
49878    2021-04-15
Name: date_end, dtype: object
49880    2020-08-01
Name: date_start, dtype: object
49880    2021-04-15
Name: date_end, dtype: object
49911    2020-03-22
Name: date_start, dtype: object
49911    2020-04-05
Name: date_end, dtype: object
49931    2020-03-19
Name: date_start, dtype: object
49931    2020-08-01
Name: date_end, dtype: object
49973    2020-08-29
Name: date_start, dtype: object
49973    2020-04-03
Name: date_end, dtype: object
49986    2020-08-29
Name: date_start, dtype: object
49986    2020-08-31
Name: date_end, dtype: object
50039    2020-08-29
Name: date_start, dtype: object
50039    2020-04-09
Name: date_end, dtype: object
50145    2020-05-04
Name: date_start, dtype: object
50145
Name: date_end, dtype: object
50147    2020-03-21
Name: date_start, dtype: object
50147    2020-05-01
Name: date_end, dtype: object
50180    2020-06-25
Name: date_start, dtype: object
50180
Name: date_end, dtype: object
50190    2020-04-17
Name: date_start, dtype: object
50190
Name: date_end, dtype: object
50191    2020-05-30
Name: date_start, dtype: object
50191
Name: date_end, dtype: object
50195    2020-03-25
Name: date_start, dtype: object
50195    2020-04-05
Name: date_end, dtype: object
50204    2020-06-11
Name: date_start, dtype: object
50204
Name: date_end, dtype: object
50216    2020-06-11
Name: date_start, dtype: object
50216
Name: date_end, dtype: object
50244    2020-05-30
Name: date_start, dtype: object
50244
Name: date_end, dtype: object
50225    2020-04-15
Name: date_start, dtype: object
50225
Name: date_end, dtype: object
50238    2020-05-21
Name: date_start, dtype: object
50238
Name: date_end, dtype: object
50236    2020-05-14
Name: date_start, dtype: object
50236
Name: date_end, dtype: object
50249    2020-06-03
Name: date_start, dtype: object
50249
Name: date_end, dtype: object
50251    2020-06-18
Name: date_start, dtype: object
50251
Name: date_end, dtype: object
50253    2020-06-21
Name: date_start, dtype: object
50253
Name: date_end, dtype: object
50263    2020-04-27
Name: date_start, dtype: object
50263
Name: date_end, dtype: object
50272    2020-05-03
Name: date_start, dtype: object
50272
Name: date_end, dtype: object
50276    2020-05-30
Name: date_start, dtype: object
50276
Name: date_end, dtype: object
50283    2020-06-18
Name: date_start, dtype: object
50283
Name: date_end, dtype: object
50274    2020-05-09
Name: date_start, dtype: object
50274
Name: date_end, dtype: object
50280    2020-06-11
Name: date_start, dtype: object
50280
Name: date_end, dtype: object
50284    2020-06-18
Name: date_start, dtype: object
50284
Name: date_end, dtype: object
50290    2020-06-11
Name: date_start, dtype: object
50290
Name: date_end, dtype: object
50330    2020-05-05
Name: date_start, dtype: object
50330    2020-05-31
Name: date_end, dtype: object
50334    2020-08-14
Name: date_start, dtype: object
50334    2020-12-31
Name: date_end, dtype: object
50407    2020-05-18
Name: date_start, dtype: object
50407    2020-03-08
Name: date_end, dtype: object
50405    2020-05-18
Name: date_start, dtype: object
50405    2020-05-18
Name: date_end, dtype: object
50422    2020-09-02
Name: date_start, dtype: object
50422    2020-12-31
Name: date_end, dtype: object
50430    2020-05-05
Name: date_start, dtype: object
50430    2020-05-31
Name: date_end, dtype: object
50446    2020-03-03
Name: date_start, dtype: object
50446    2020-07-17
Name: date_end, dtype: object
50463    2020-05-06
Name: date_start, dtype: object
50463    2020-06-15
Name: date_end, dtype: object
50509    2020-06-21
Name: date_start, dtype: object
50509    2020-06-21
Name: date_end, dtype: object

50510    2020-06-21
Name: date_start, dtype: object
50510    2020-06-20
Name: date_end, dtype: object
50555    2020-08-05
Name: date_start, dtype: object
50555
Name: date_end, dtype: object
50560    2020-09-13
Name: date_start, dtype: object
50560
Name: date_end, dtype: object
50612    2020-04-30
Name: date_start, dtype: object
50612
Name: date_end, dtype: object
50615    2020-05-31
Name: date_start, dtype: object
50615    2020-04-04
Name: date_end, dtype: object
50617    2020-06-21
Name: date_start, dtype: object
50617    2020-06-21
Name: date_end, dtype: object
50622    2020-04-26
Name: date_start, dtype: object
50622
Name: date_end, dtype: object
50624    2020-05-31
Name: date_start, dtype: object
50624    2020-08-31
Name: date_end, dtype: object
50689    2020-05-28
Name: date_start, dtype: object
50689    2020-05-13
Name: date_end, dtype: object
50690    2020-05-31
Name: date_start, dtype: object
50690
Name: date_end, dtype: object
50701    2020-06-21
Name: date_start, dtype: object
50701    2020-06-21
Name: date_end, dtype: object
50711    2020-06-14
Name: date_start, dtype: object
50711    2020-06-14
Name: date_end, dtype: object
50730    2020-06-21
Name: date_start, dtype: object
50730
Name: date_end, dtype: object
50732    2020-06-22
Name: date_start, dtype: object
50732
Name: date_end, dtype: object
50723    2020-05-31
Name: date_start, dtype: object
50723
Name: date_end, dtype: object
50731    2020-06-21
Name: date_start, dtype: object
50731
Name: date_end, dtype: object
50733    2020-06-26
Name: date_start, dtype: object
50733    2020-06-26
Name: date_end, dtype: object
50762    2020-04-23
Name: date_start, dtype: object
50762    2020-06-30
Name: date_end, dtype: object
50774    2020-03-17
Name: date_start, dtype: object
50774    2020-10-23
Name: date_end, dtype: object
50798    2020-03-16
Name: date_start, dtype: object
50798    2020-05-06
Name: date_end, dtype: object
50803    2020-03-10
Name: date_start, dtype: object
50803    2020-03-15
Name: date_end, dtype: object
50805    2020-03-12
Name: date_start, dtype: object
50805
Name: date_end, dtype: object
50829    2020-12-20
Name: date_start, dtype: object
50829
Name: date_end, dtype: object
50831    2020-12-20
Name: date_start, dtype: object
50831
Name: date_end, dtype: object
50835    2020-12-22
Name: date_start, dtype: object
50835
Name: date_end, dtype: object
50843    2020-04-16
Name: date_start, dtype: object
50843    2020-03-29
Name: date_end, dtype: object
50847    2020-01-29
Name: date_start, dtype: object
50847    2020-08-01
Name: date_end, dtype: object
50850    2020-01-31
Name: date_start, dtype: object
50850    2020-02-25
Name: date_end, dtype: object
50863    2020-03-23
Name: date_start, dtype: object
50863    2020-06-01
Name: date_end, dtype: object
50869    2020-01-31
Name: date_start, dtype: object
50869    2020-02-16
Name: date_end, dtype: object
50917    2020-04-08
Name: date_start, dtype: object
50917    2020-06-01
Name: date_end, dtype: object
50974    2020-06-17
Name: date_start, dtype: object
50974    2020-06-17
Name: date_end, dtype: object
50969    2020-06-02
Name: date_start, dtype: object
50969    2020-06-01
Name: date_end, dtype: object
50972    2020-06-02
Name: date_start, dtype: object
50972    2020-06-01
Name: date_end, dtype: object
50983    2020-06-29
Name: date_start, dtype: object
50983
Name: date_end, dtype: object
50986    2020-06-29
Name: date_start, dtype: object
50986    2020-06-29
Name: date_end, dtype: object
51011    2020-03-18
Name: date_start, dtype: object
51011    2020-03-18
Name: date_end, dtype: object
51012    2020-03-18
Name: date_start, dtype: object
51012    2020-03-18
Name: date_end, dtype: object
51099    2020-03-18
Name: date_start, dtype: object
51099    2020-03-18
Name: date_end, dtype: object
50996    2020-01-28
Name: date_start, dtype: object
50996    2020-01-28
Name: date_end, dtype: object
51013    2020-03-23
Name: date_start, dtype: object
51013    2020-03-23
Name: date_end, dtype: object
51005    2020-03-04
Name: date_start, dtype: object
51005    2020-03-04
Name: date_end, dtype: object
51006    2020-03-04
Name: date_start, dtype: object
51006    2020-03-04
Name: date_end, dtype: object
51009    2020-03-15
Name: date_start, dtype: object
51009    2020-03-15
Name: date_end, dtype: object
51014    2020-03-23
Name: date_start, dtype: object
51014    2020-03-23
Name: date_end, dtype: object
51016    2020-03-24
Name: date_start, dtype: object
51016    2020-06-02
Name: date_end, dtype: object
51035    2020-01-31
Name: date_start, dtype: object
51035    2020-01-31
Name: date_end, dtype: object
51039    2020-03-18
Name: date_start, dtype: object
51039    2020-03-18
Name: date_end, dtype: object
51078    2020-06-02
Name: date_start, dtype: object
51078    2020-06-02
Name: date_end, dtype: object
51205    2020-06-02
Name: date_start, dtype: object
51205    2020-05-04
Name: date_end, dtype: object
51128    2020-02-18
Name: date_start, dtype: object
51128    2020-02-17
Name: date_end, dtype: object
51131    2020-03-20
Name: date_start, dtype: object
51131
Name: date_end, dtype: object
51170    2020-05-18
Name: date_start, dtype: object
51170    2020-05-04
Name: date_end, dtype: object
51177    2020-06-18
Name: date_start, dtype: object
51177    2020-05-04
Name: date_end, dtype: object
51185    2020-09-23
Name: date_start, dtype: object
51185
Name: date_end, dtype: object
51202    2020-04-08
Name: date_start, dtype: object
51202    2020-04-07
Name: date_end, dtype: object
51194    2020-02-07
Name: date_start, dtype: object
51194    2020-04-07
Name: date_end, dtype: object
51213    2020-10-03
Name: date_start, dtype: object
51213    2020-04-30
Name: date_end, dtype: object
51228    2020-04-14
Name: date_start, dtype: object
51228    2020-04-14
Name: date_end, dtype: object
51226    2020-04-08
Name: date_start, dtype: object
51226    2020-04-07
Name: date_end, dtype: object
51234    2020-06-18
Name: date_start, dtype: object
51234    2020-06-18
Name: date_end, dtype: object
51237    2020-08-13
Name: date_start, dtype: object
51237    2020-08-13
Name: date_end, dtype: object
51424    2020-08-15
Name: date_start, dtype: object
51424    2020-04-02
Name: date_end, dtype: object
51429    2020-08-03
Name: date_start, dtype: object
51429    2020-04-01
Name: date_end, dtype: object
51480    2020-09-22
Name: date_start, dtype: object
51480
Name: date_end, dtype: object
51482    2021-02-16
Name: date_start, dtype: object
51482
Name: date_end, dtype: object
51562    2020-08-17
Name: date_start, dtype: object
51562    2020-09-20
Name: date_end, dtype: object
51569    2021-01-12
Name: date_start, dtype: object
51569    2021-02-01
Name: date_end, dtype: object
51570    2021-01-12
Name: date_start, dtype: object
51570    2021-02-01
Name: date_end, dtype: object
51608    2020-05-12
Name: date_start, dtype: object
51608    2020-05-31
Name: date_end, dtype: object
51609    2020-05-12
Name: date_start, dtype: object
51609    2020-06-11
Name: date_end, dtype: object
51625    2021-02-02
Name: date_start, dtype: object
51625
Name: date_end, dtype: object
51636    2020-04-09
Name: date_start, dtype: object
51636    2020-06-11
Name: date_end, dtype: object
51645    2020-07-31
Name: date_start, dtype: object
51645    2020-08-17
Name: date_end, dtype: object
51652    2021-01-12
Name: date_start, dtype: object
51652    2021-02-01
Name: date_end, dtype: object
51812    2020-10-05
Name: date_start, dtype: object
51812
Name: date_end, dtype: object
51821    2020-04-28
Name: date_start, dtype: object
51821
Name: date_end, dtype: object
51823    2020-05-10
Name: date_start, dtype: object
51823
Name: date_end, dtype: object
51849    2020-05-17
Name: date_start, dtype: object
51849
Name: date_end, dtype: object
51881    2020-10-05
Name: date_start, dtype: object
51881
Name: date_end, dtype: object
51957    2020-03-14
Name: date_start, dtype: object
51957    2020-03-14
Name: date_end, dtype: object
51905    2020-03-12
Name: date_start, dtype: object
51905    2020-03-14
Name: date_end, dtype: object
51930    2020-03-13
Name: date_start, dtype: object
51930    2020-05-25
Name: date_end, dtype: object
51927    2020-03-13
Name: date_start, dtype: object
51927
Name: date_end, dtype: object
51939    2020-03-13
Name: date_start, dtype: object
51939    2020-05-29
Name: date_end, dtype: object
51952    2020-03-14
Name: date_start, dtype: object
51952    2020-03-14
Name: date_end, dtype: object
51951    2020-03-14
Name: date_start, dtype: object
51951    2020-03-14
Name: date_end, dtype: object
51953    2020-03-14
Name: date_start, dtype: object
51953    2020-03-14
Name: date_end, dtype: object
51961    2020-03-14
Name: date_start, dtype: object
51961    2020-03-14
Name: date_end, dtype: object
51989    2020-05-18
Name: date_start, dtype: object
51989    2020-05-25
Name: date_end, dtype: object
52006    2020-05-25
Name: date_start, dtype: object
52006    2020-06-19
Name: date_end, dtype: object
52008    2020-05-25
Name: date_start, dtype: object
52008    2020-06-19
Name: date_end, dtype: object
52016    2020-05-29
Name: date_start, dtype: object
52016    2020-06-15
Name: date_end, dtype: object
52030    2020-06-15
Name: date_start, dtype: object
52030    2020-09-01
Name: date_end, dtype: object
52082    2020-05-04
Name: date_start, dtype: object
52082    2020-05-04
Name: date_end, dtype: object
52081    2020-05-04
Name: date_start, dtype: object
52081    2020-12-04
Name: date_end, dtype: object
52091    2020-06-21
Name: date_start, dtype: object
52091    2020-06-21
Name: date_end, dtype: object

52083    2020-05-04
Name: date_start, dtype: object
52083    2020-05-27
Name: date_end, dtype: object
52084    2020-05-04
Name: date_start, dtype: object
52084    2020-05-27
Name: date_end, dtype: object
52085    2020-05-04
Name: date_start, dtype: object
52085    2020-05-27
Name: date_end, dtype: object
52087    2020-05-27
Name: date_start, dtype: object
52087    2020-06-01
Name: date_end, dtype: object
52100    2020-03-14
Name: date_start, dtype: object
52100    2020-03-29
Name: date_end, dtype: object
52124    2020-05-19
Name: date_start, dtype: object
52124    2020-05-19
Name: date_end, dtype: object
52143    2020-05-11
Name: date_start, dtype: object
52143    2020-05-11
Name: date_end, dtype: object
52144    2020-05-11
Name: date_start, dtype: object
52144    2020-05-18
Name: date_end, dtype: object
52149    2020-07-12
Name: date_start, dtype: object
52149    2020-07-12
Name: date_end, dtype: object
52171    2020-03-12
Name: date_start, dtype: object
52171    2020-03-14
Name: date_end, dtype: object
52198    2020-03-24
Name: date_start, dtype: object
52198    2020-04-07
Name: date_end, dtype: object
52327    2020-05-04
Name: date_start, dtype: object
52327    2020-05-04
Name: date_end, dtype: object
52326    2020-05-04
Name: date_start, dtype: object
52326    2020-05-04
Name: date_end, dtype: object
52328    2020-05-04
Name: date_start, dtype: object
52328    2020-05-04
Name: date_end, dtype: object
52329    2020-05-04
Name: date_start, dtype: object
52329    2020-05-04
Name: date_end, dtype: object
52332    2020-06-21
Name: date_start, dtype: object
52332    2020-06-21
Name: date_end, dtype: object
52338    2020-03-12
Name: date_start, dtype: object
52338    2020-03-14
Name: date_end, dtype: object
52342    2020-03-14
Name: date_start, dtype: object
52342    2020-03-14
Name: date_end, dtype: object
52346    2020-03-30
Name: date_start, dtype: object
52346    2020-03-30
Name: date_end, dtype: object
52347    2020-03-30
Name: date_start, dtype: object
52347    2020-04-13
Name: date_end, dtype: object
52349    2020-04-13
Name: date_start, dtype: object
52349    2020-04-26
Name: date_end, dtype: object
52355    2020-05-02
Name: date_start, dtype: object
52355    2020-12-02
Name: date_end, dtype: object
52366    2020-05-04
Name: date_start, dtype: object
52366    2020-05-04
Name: date_end, dtype: object
52364    2020-05-04
Name: date_start, dtype: object
52364    2020-05-04
Name: date_end, dtype: object
52365    2020-05-04
Name: date_start, dtype: object
52365    2020-05-04
Name: date_end, dtype: object
52371    2020-06-21
Name: date_start, dtype: object
52371    2020-06-21
Name: date_end, dtype: object
52438    2020-05-15
Name: date_start, dtype: object
52438    2020-06-21
Name: date_end, dtype: object
52449    2020-07-01
Name: date_start, dtype: object
52449    2020-07-01
Name: date_end, dtype: object
52484    2020-03-14
Name: date_start, dtype: object
52484    2020-03-14
Name: date_end, dtype: object
52498    2020-03-15
Name: date_start, dtype: object
52498    2020-06-02
Name: date_end, dtype: object
52512    2020-03-30
Name: date_start, dtype: object
52512    2021-06-02
Name: date_end, dtype: object
52551    2020-05-11
Name: date_start, dtype: object
52551    2020-05-18
Name: date_end, dtype: object
52554    2020-05-16
Name: date_start, dtype: object
52554    2020-06-21
Name: date_end, dtype: object
52585    2020-05-25
Name: date_start, dtype: object
52585    2020-06-01
Name: date_end, dtype: object
52601    2020-06-02
Name: date_start, dtype: object
52601    2020-06-15
Name: date_end, dtype: object
52614    2020-06-15
Name: date_start, dtype: object
52614    2020-06-21
Name: date_end, dtype: object
52623    2020-06-21
Name: date_start, dtype: object
52623    2021-07-18
Name: date_end, dtype: object
52626    2020-06-21
Name: date_start, dtype: object
52626    2020-09-11
Name: date_end, dtype: object
52625    2020-06-21
Name: date_start, dtype: object
52625    2020-08-18
Name: date_end, dtype: object
52757    2020-06-09
Name: date_start, dtype: object
52757
Name: date_end, dtype: object
52679    2020-03-14
Name: date_start, dtype: object
52679    2020-05-25
Name: date_end, dtype: object
52748    2020-06-01
Name: date_start, dtype: object
52748    2020-06-01
Name: date_end, dtype: object
52700    2020-03-15
Name: date_start, dtype: object
52700    2020-06-21
Name: date_end, dtype: object
52695    2020-03-15
Name: date_start, dtype: object
52695    2020-05-16
Name: date_end, dtype: object
52707    2020-03-16
Name: date_start, dtype: object
52707    2020-07-12
Name: date_end, dtype: object
52771    2020-09-24
Name: date_start, dtype: object
52771    2020-09-24
Name: date_end, dtype: object
52717    2020-03-20
Name: date_start, dtype: object
52717    2020-05-12
Name: date_end, dtype: object
52723    2020-04-01
Name: date_start, dtype: object
52723    2020-05-15
Name: date_end, dtype: object
52731    2020-05-11
Name: date_start, dtype: object
52731    2020-05-18
Name: date_end, dtype: object
52755    2020-06-08
Name: date_start, dtype: object
52755    2020-06-08
Name: date_end, dtype: object
52786    2020-03-12
Name: date_start, dtype: object
52786    2020-03-12
Name: date_end, dtype: object
52780    2020-03-11
Name: date_start, dtype: object
52780    2020-03-26
Name: date_end, dtype: object
52788    2020-03-12
Name: date_start, dtype: object
52788    2020-03-26
Name: date_end, dtype: object
52791    2020-03-15
Name: date_start, dtype: object
52791    2020-04-24
Name: date_end, dtype: object
52804    2020-05-11
Name: date_start, dtype: object
52804    2020-05-18
Name: date_end, dtype: object
52806    2020-05-12
Name: date_start, dtype: object
52806    2020-03-14
Name: date_end, dtype: object
52813    2020-05-18
Name: date_start, dtype: object
52813    2020-05-25
Name: date_end, dtype: object
52817    2020-05-25
Name: date_start, dtype: object
52817    2020-06-01
Name: date_end, dtype: object
52837    2020-06-21
Name: date_start, dtype: object
52837    2020-09-11
Name: date_end, dtype: object
52842    2020-08-14
Name: date_start, dtype: object
52842    2020-08-28
Name: date_end, dtype: object
52843    2020-08-14
Name: date_start, dtype: object
52843    2020-08-28
Name: date_end, dtype: object
52849    2020-08-28
Name: date_start, dtype: object
52849    2020-09-11
Name: date_end, dtype: object
52906    2020-05-03
Name: date_start, dtype: object
52906    2020-05-03
Name: date_end, dtype: object
52920    2020-05-11
Name: date_start, dtype: object
52920    2020-05-18
Name: date_end, dtype: object
52945    2020-05-25
Name: date_start, dtype: object
52945    2020-06-01
Name: date_end, dtype: object
52950    2020-05-29
Name: date_start, dtype: object
52950    2020-06-15
Name: date_end, dtype: object
52951    2020-05-29
Name: date_start, dtype: object
52951    2020-06-15
Name: date_end, dtype: object
52974    2020-06-15
Name: date_start, dtype: object
52974    2020-09-01
Name: date_end, dtype: object
52975    2020-06-15
Name: date_start, dtype: object
52975    2020-09-01
Name: date_end, dtype: object
52991    2020-06-21
Name: date_start, dtype: object
52991    2021-07-18
Name: date_end, dtype: object
52996    2020-06-21
Name: date_start, dtype: object
52996    2020-07-17
Name: date_end, dtype: object
53095    2020-03-23
Name: date_start, dtype: object
53095    2020-03-31
Name: date_end, dtype: object
53138    2020-04-14
Name: date_start, dtype: object
53138    2020-04-14
Name: date_end, dtype: object
53143    2020-05-03
Name: date_start, dtype: object
53143    2020-05-03
Name: date_end, dtype: object
53144    2020-05-26
Name: date_start, dtype: object
53144    2020-05-26
Name: date_end, dtype: object
53142    2020-05-03
Name: date_start, dtype: object
53142    2020-05-03
Name: date_end, dtype: object
53145    2020-07-11
Name: date_start, dtype: object
53145    2020-07-11
Name: date_end, dtype: object
53166    2020-10-21
Name: date_start, dtype: object
53166    2020-10-21
Name: date_end, dtype: object
53181    2020-06-15
Name: date_start, dtype: object
53181    2020-06-15
Name: date_end, dtype: object
53180    2020-05-17
Name: date_start, dtype: object
53180    2020-05-18
Name: date_end, dtype: object
53229    2020-06-29
Name: date_start, dtype: object
53229    2020-06-29
Name: date_end, dtype: object
53268    2020-07-01
Name: date_start, dtype: object
53268    2020-07-01
Name: date_end, dtype: object

53267    2020-06-15
Name: date_start, dtype: object
53267    2020-06-15
Name: date_end, dtype: object
53284    2020-05-20
Name: date_start, dtype: object
53284    2020-05-20
Name: date_end, dtype: object
53290    2020-10-07
Name: date_start, dtype: object
53290    2020-10-07
Name: date_end, dtype: object
53336    2020-07-08
Name: date_start, dtype: object
53336    2020-07-08
Name: date_end, dtype: object
53338    2020-09-16
Name: date_start, dtype: object
53338    2020-09-16
Name: date_end, dtype: object
53337    2020-09-16
Name: date_start, dtype: object
53337    2020-09-16
Name: date_end, dtype: object
53339    2020-09-16
Name: date_start, dtype: object
53339    2020-09-16
Name: date_end, dtype: object
53353    2020-03-16
Name: date_start, dtype: object
53353    2020-07-09
Name: date_end, dtype: object
53493    2020-09-08
Name: date_start, dtype: object
53493    2020-09-08
Name: date_end, dtype: object
53538    2020-09-28
Name: date_start, dtype: object
53538    2020-04-13
Name: date_end, dtype: object
53544    2020-09-28
Name: date_start, dtype: object
53544
Name: date_end, dtype: object
53587    2020-03-18
Name: date_start, dtype: object
53587    2020-08-30
Name: date_end, dtype: object
53590    2020-04-14
Name: date_start, dtype: object
53590    2020-06-29
Name: date_end, dtype: object
53595    2020-07-15
Name: date_start, dtype: object
53595    2020-08-31
Name: date_end, dtype: object
53602    2020-09-14
Name: date_start, dtype: object
53602    2020-09-23
Name: date_end, dtype: object
53596    2020-07-29
Name: date_start, dtype: object
53596    2020-07-29
Name: date_end, dtype: object
53629    2020-03-02
Name: date_start, dtype: object
53629
Name: date_end, dtype: object
53636    2020-04-30
Name: date_start, dtype: object
53636
Name: date_end, dtype: object
53639    2020-05-29
Name: date_start, dtype: object
53639
Name: date_end, dtype: object
53648    2020-09-30
Name: date_start, dtype: object
53648    2020-09-30
Name: date_end, dtype: object
53678    2020-07-01
Name: date_start, dtype: object
53678    2020-07-02
Name: date_end, dtype: object
53694    2020-05-08
Name: date_start, dtype: object
53694
Name: date_end, dtype: object
53850    2020-03-16
Name: date_start, dtype: object
53850    2020-03-16
Name: date_end, dtype: object
53775    2020-03-13
Name: date_start, dtype: object
53775    2020-03-13
Name: date_end, dtype: object
54044    2020-05-11
Name: date_start, dtype: object
54044    2020-04-04
Name: date_end, dtype: object
54061    2020-05-11
Name: date_start, dtype: object
54061    2020-05-11
Name: date_end, dtype: object
53767    2020-03-13
Name: date_start, dtype: object
53767    2020-05-11
Name: date_end, dtype: object
53873    2020-03-16
Name: date_start, dtype: object
53873    2020-03-16
Name: date_end, dtype: object
54070    2020-05-11
Name: date_start, dtype: object
54070    2020-05-11
Name: date_end, dtype: object
54125    2020-06-08
Name: date_start, dtype: object
54125    2020-06-08
Name: date_end, dtype: object
54029    2020-05-11
Name: date_start, dtype: object
54029    2020-05-10
Name: date_end, dtype: object
54025    2020-05-11
Name: date_start, dtype: object
54025    2020-05-11
Name: date_end, dtype: object
54033    2020-05-11
Name: date_start, dtype: object
54033
Name: date_end, dtype: object
53853    2020-03-16
Name: date_start, dtype: object
53853    2020-05-11
Name: date_end, dtype: object
53854    2020-03-16
Name: date_start, dtype: object
53854    2020-05-11
Name: date_end, dtype: object
54082    2020-05-11
Name: date_start, dtype: object
54082    2020-05-11
Name: date_end, dtype: object
54058    2020-05-11
Name: date_start, dtype: object
54058    2020-05-11
Name: date_end, dtype: object
54066    2020-05-11
Name: date_start, dtype: object
54066    2020-05-11
Name: date_end, dtype: object
54074    2020-05-11
Name: date_start, dtype: object
54074    2020-05-11
Name: date_end, dtype: object
53947    2020-04-27
Name: date_start, dtype: object
53947    2020-04-27
Name: date_end, dtype: object
53914    2020-04-05
Name: date_start, dtype: object
53914    2020-04-05
Name: date_end, dtype: object
54064    2020-05-11
Name: date_start, dtype: object
54064    2020-05-11
Name: date_end, dtype: object
54149    2020-08-10
Name: date_start, dtype: object
54149    2020-08-10
Name: date_end, dtype: object
53967    2020-05-08
Name: date_start, dtype: object
53967    2020-05-08
Name: date_end, dtype: object
54121    2020-06-08
Name: date_start, dtype: object
54121
Name: date_end, dtype: object
54134    2020-06-10
Name: date_start, dtype: object
54134    2020-06-10
Name: date_end, dtype: object
54035    2020-05-11
Name: date_start, dtype: object
54035    2020-06-08
Name: date_end, dtype: object
54128    2020-06-08
Name: date_start, dtype: object
54128    2020-06-08
Name: date_end, dtype: object
54156    2020-08-11
Name: date_start, dtype: object
54156    2020-08-11
Name: date_end, dtype: object
54130    2020-06-08
Name: date_start, dtype: object
54130    2020-06-08
Name: date_end, dtype: object
54132    2020-06-08
Name: date_start, dtype: object
54132    2020-06-08
Name: date_end, dtype: object
54097    2020-06-01
Name: date_start, dtype: object
54097    2020-07-03
Name: date_end, dtype: object
54140    2020-07-06
Name: date_start, dtype: object
54140
Name: date_end, dtype: object
54122    2020-06-08
Name: date_start, dtype: object
54122    2020-08-09
Name: date_end, dtype: object
54167    2020-08-17
Name: date_start, dtype: object
54167    2020-08-17
Name: date_end, dtype: object
54142    2020-07-17
Name: date_start, dtype: object
54142    2020-07-17
Name: date_end, dtype: object
54168    2020-08-17
Name: date_start, dtype: object
54168    2020-08-17
Name: date_end, dtype: object
54227    2020-06-19
Name: date_start, dtype: object
54227    2020-06-19
Name: date_end, dtype: object
54230    2020-06-19
Name: date_start, dtype: object
54230
Name: date_end, dtype: object
54219    2020-05-31
Name: date_start, dtype: object
54219    2020-05-31
Name: date_end, dtype: object
54229    2020-06-19
Name: date_start, dtype: object
54229    2020-06-19
Name: date_end, dtype: object
54225    2020-06-19
Name: date_start, dtype: object
54225
Name: date_end, dtype: object
54226    2020-06-19
Name: date_start, dtype: object
54226
Name: date_end, dtype: object
54228    2020-06-19
Name: date_start, dtype: object
54228    2020-06-18
Name: date_end, dtype: object
54221    2020-06-12
Name: date_start, dtype: object
54221    2020-06-12
Name: date_end, dtype: object
54223    2020-06-18
Name: date_start, dtype: object
54223    2020-06-18
Name: date_end, dtype: object
54220    2020-06-06
Name: date_start, dtype: object
54220    2020-06-06
Name: date_end, dtype: object
54211    2020-03-17
Name: date_start, dtype: object
54211    2020-06-19
Name: date_end, dtype: object
54233    2020-02-04
Name: date_start, dtype: object
54233    2020-02-04
Name: date_end, dtype: object
54235    2020-03-01
Name: date_start, dtype: object
54235    2020-03-01
Name: date_end, dtype: object
54239    2020-03-11
Name: date_start, dtype: object
54239    2020-06-15
Name: date_end, dtype: object
54244    2020-03-16
Name: date_start, dtype: object
54244    2020-03-16
Name: date_end, dtype: object
54281    2020-06-15
Name: date_start, dtype: object
54281    2020-06-15
Name: date_end, dtype: object
54249    2020-03-18
Name: date_start, dtype: object
54249    2020-03-18
Name: date_end, dtype: object
54258    2020-03-25
Name: date_start, dtype: object
54258    2020-03-25
Name: date_end, dtype: object
54257    2020-03-25
Name: date_start, dtype: object
54257    2020-03-25
Name: date_end, dtype: object
54259    2020-03-25
Name: date_start, dtype: object
54259    2020-03-25
Name: date_end, dtype: object
54267    2020-05-11
Name: date_start, dtype: object
54267
Name: date_end, dtype: object
54563    2020-06-14
Name: date_start, dtype: object
54563    2020-06-14
Name: date_end, dtype: object
54278    2020-06-15
Name: date_start, dtype: object
54278    2020-06-15
Name: date_end, dtype: object
54277    2020-06-15
Name: date_start, dtype: object
54277    2020-06-15
Name: date_end, dtype: object
54279    2020-06-15
Name: date_start, dtype: object
54279    2020-06-15
Name: date_end, dtype: object
54282    2020-07-02
Name: date_start, dtype: object
54282    2020-07-02
Name: date_end, dtype: object
54288    2020-07-20
Name: date_start, dtype: object
54288    2020-07-20
Name: date_end, dtype: object

54562    2020-06-12
Name: date_start, dtype: object
54562    2020-06-12
Name: date_end, dtype: object
54514    2020-04-24
Name: date_start, dtype: object
54514    2020-04-27
Name: date_end, dtype: object
54520    2020-04-27
Name: date_start, dtype: object
54520
Name: date_end, dtype: object
54517    2020-04-27
Name: date_start, dtype: object
54517    2020-04-27
Name: date_end, dtype: object
54547    2020-05-20
Name: date_start, dtype: object
54547    2020-06-01
Name: date_end, dtype: object
54557    2020-06-05
Name: date_start, dtype: object
54557    2020-06-05
Name: date_end, dtype: object
54565    2020-06-22
Name: date_start, dtype: object
54565    2020-06-22
Name: date_end, dtype: object
54561    2020-06-09
Name: date_start, dtype: object
54561    2020-06-09
Name: date_end, dtype: object
54516    2020-04-24
Name: date_start, dtype: object
54516
Name: date_end, dtype: object
54551    2020-05-26
Name: date_start, dtype: object
54551    2020-05-26
Name: date_end, dtype: object
54439    2020-03-26
Name: date_start, dtype: object
54439    2020-05-14
Name: date_end, dtype: object
54539    2020-05-07
Name: date_start, dtype: object
54539    2020-05-07
Name: date_end, dtype: object
54545    2020-05-12
Name: date_start, dtype: object
54545    2020-05-12
Name: date_end, dtype: object
54473    2020-04-03
Name: date_start, dtype: object
54473    2020-06-07
Name: date_end, dtype: object
54556    2020-06-05
Name: date_start, dtype: object
54556    2020-06-30
Name: date_end, dtype: object
54626    2020-04-21
Name: date_start, dtype: object
54626    2020-04-21
Name: date_end, dtype: object
54608    2020-03-08
Name: date_start, dtype: object
54608    2020-03-08
Name: date_end, dtype: object
54612    2020-03-10
Name: date_start, dtype: object
54612    2020-05-07
Name: date_end, dtype: object
54619    2020-03-25
Name: date_start, dtype: object
54619    2020-05-29
Name: date_end, dtype: object
54646    2020-06-26
Name: date_start, dtype: object
54646    2020-06-26
Name: date_end, dtype: object
54637    2020-05-14
Name: date_start, dtype: object
54637    2020-05-14
Name: date_end, dtype: object
54642    2020-06-24
Name: date_start, dtype: object
54642    2020-06-24
Name: date_end, dtype: object
54643    2020-06-24
Name: date_start, dtype: object
54643    2020-06-24
Name: date_end, dtype: object
54660    2020-11-05
Name: date_start, dtype: object
54660    2020-11-05
Name: date_end, dtype: object
54657    2020-11-01
Name: date_start, dtype: object
54657    2020-11-01
Name: date_end, dtype: object
54666    2020-12-20
Name: date_start, dtype: object
54666    2020-12-20
Name: date_end, dtype: object
54673    2021-03-23
Name: date_start, dtype: object
54673    2021-03-23
Name: date_end, dtype: object
54672    2021-03-14
Name: date_start, dtype: object
54672    2021-03-14
Name: date_end, dtype: object
54699    2020-05-11
Name: date_start, dtype: object
54699
Name: date_end, dtype: object
54698    2020-05-11
Name: date_start, dtype: object
54698    2020-05-11
Name: date_end, dtype: object
54701    2020-05-11
Name: date_start, dtype: object
54701    2020-05-11
Name: date_end, dtype: object
54700    2020-05-11
Name: date_start, dtype: object
54700    2020-05-11
Name: date_end, dtype: object
54801    2020-05-25
Name: date_start, dtype: object
54801
Name: date_end, dtype: object
54824    2020-07-03
Name: date_start, dtype: object
54824    2020-07-03
Name: date_end, dtype: object
54780    2020-05-08
Name: date_start, dtype: object
54780    2020-05-08
Name: date_end, dtype: object
54765    2020-04-17
Name: date_start, dtype: object
54765    2020-04-17
Name: date_end, dtype: object
54714    2020-03-12
Name: date_start, dtype: object
54714    2020-04-08
Name: date_end, dtype: object
54786    2020-05-11
Name: date_start, dtype: object
54786    2020-05-11
Name: date_end, dtype: object
54804    2020-05-28
Name: date_start, dtype: object
54804    2020-05-28
Name: date_end, dtype: object
55174    2020-06-05
Name: date_start, dtype: object
55174    2020-06-05
Name: date_end, dtype: object
54791    2020-05-11
Name: date_start, dtype: object
54791    2020-06-30
Name: date_end, dtype: object
54818    2020-06-19
Name: date_start, dtype: object
54818    2021-04-15
Name: date_end, dtype: object
54788    2020-05-11
Name: date_start, dtype: object
54788    2020-05-11
Name: date_end, dtype: object
54772    2020-04-29
Name: date_start, dtype: object
54772    2020-05-10
Name: date_end, dtype: object
54800    2020-05-25
Name: date_start, dtype: object
54800    2020-05-25
Name: date_end, dtype: object
54738    2020-03-16
Name: date_start, dtype: object
54738    2020-05-09
Name: date_end, dtype: object
54783    2020-05-10
Name: date_start, dtype: object
54783    2020-05-10
Name: date_end, dtype: object
54740    2020-03-16
Name: date_start, dtype: object
54740    2020-05-18
Name: date_end, dtype: object
54810    2020-06-06
Name: date_start, dtype: object
54810    2020-06-06
Name: date_end, dtype: object
54776    2020-05-01
Name: date_start, dtype: object
54776    2020-05-01
Name: date_end, dtype: object
54792    2020-05-11
Name: date_start, dtype: object
54792    2020-05-11
Name: date_end, dtype: object
54802    2020-05-25
Name: date_start, dtype: object
54802
Name: date_end, dtype: object
54748    2020-03-19
Name: date_start, dtype: object
54748    2020-03-19
Name: date_end, dtype: object
54771    2020-04-27
Name: date_start, dtype: object
54771    2020-04-27
Name: date_end, dtype: object
54781    2020-05-08
Name: date_start, dtype: object
54781    2020-05-08
Name: date_end, dtype: object
54798    2020-05-22
Name: date_start, dtype: object
54798    2020-05-22
Name: date_end, dtype: object
54799    2020-05-23
Name: date_start, dtype: object
54799    2020-05-23
Name: date_end, dtype: object
54773    2020-04-30
Name: date_start, dtype: object
54773    2020-04-30
Name: date_end, dtype: object
54760    2020-04-08
Name: date_start, dtype: object
54760    2020-05-07
Name: date_end, dtype: object
54807    2020-05-30
Name: date_start, dtype: object
54807    2020-05-30
Name: date_end, dtype: object
54806    2020-05-30
Name: date_start, dtype: object
54806    2020-05-30
Name: date_end, dtype: object
54778    2020-05-07
Name: date_start, dtype: object
54778    2020-06-06
Name: date_end, dtype: object
54821    2020-06-29
Name: date_start, dtype: object
54821    2020-06-29
Name: date_end, dtype: object
54808    2020-05-30
Name: date_start, dtype: object
54808    2020-05-30
Name: date_end, dtype: object
54816    2020-06-09
Name: date_start, dtype: object
54816    2020-06-08
Name: date_end, dtype: object
54887    2020-06-19
Name: date_start, dtype: object
54887    2020-06-19
Name: date_end, dtype: object
54886    2020-06-19
Name: date_start, dtype: object
54886    2020-06-19
Name: date_end, dtype: object
54838    2020-02-28
Name: date_start, dtype: object
54838    2020-06-19
Name: date_end, dtype: object
54884    2020-06-12
Name: date_start, dtype: object
54884    2020-06-12
Name: date_end, dtype: object
54841    2020-03-03
Name: date_start, dtype: object
54841    2020-07-06
Name: date_end, dtype: object
54881    2020-06-05
Name: date_start, dtype: object
54881    2020-06-05
Name: date_end, dtype: object
54853    2020-03-16
Name: date_start, dtype: object
54853    2020-05-31
Name: date_end, dtype: object
54876    2020-05-06
Name: date_start, dtype: object
54876    2020-05-06
Name: date_end, dtype: object
54858    2020-03-17
Name: date_start, dtype: object
54858    2020-06-19
Name: date_end, dtype: object
54888    2020-06-25
Name: date_start, dtype: object
54888    2020-06-25
Name: date_end, dtype: object
54874    2020-04-14
Name: date_start, dtype: object
54874    2020-06-15
Name: date_end, dtype: object
54896    2020-08-21
Name: date_start, dtype: object
54896    2020-08-21
Name: date_end, dtype: object
55061    2020-06-05
Name: date_start, dtype: object
55061    2020-06-26
Name: date_end, dtype: object
54985    2020-03-14
Name: date_start, dtype: object
54985    2020-03-27
Name: date_end, dtype: object
55069    2020-06-30
Name: date_start, dtype: object
55069    2020-06-30
Name: date_end, dtype: object
55058    2020-05-29
Name: date_start, dtype: object
55058    2020-05-29
Name: date_end, dtype: object
55018    2020-03-30
Name: date_start, dtype: object
55018    2020-06-14
Name: date_end, dtype: object

55111    2020-02-26
Name: date_start, dtype: object
55111    2020-02-26
Name: date_end, dtype: object
55119    2020-03-08
Name: date_start, dtype: object
55119    2020-03-08
Name: date_end, dtype: object
55128    2020-03-09
Name: date_start, dtype: object
55128    2020-03-09
Name: date_end, dtype: object
55116    2020-03-02
Name: date_start, dtype: object
55116    2020-03-02
Name: date_end, dtype: object
55147    2020-03-18
Name: date_start, dtype: object
55147    2020-03-18
Name: date_end, dtype: object
55151    2020-03-18
Name: date_start, dtype: object
55151    2020-03-18
Name: date_end, dtype: object
55149    2020-03-18
Name: date_start, dtype: object
55149    2020-03-18
Name: date_end, dtype: object
55133    2020-03-11
Name: date_start, dtype: object
55133    2020-05-14
Name: date_end, dtype: object
55169    2020-05-08
Name: date_start, dtype: object
55169    2020-05-08
Name: date_end, dtype: object
55141    2020-03-14
Name: date_start, dtype: object
55141    2020-05-18
Name: date_end, dtype: object
55145    2020-03-17
Name: date_start, dtype: object
55145    2020-05-18
Name: date_end, dtype: object
55186    2020-07-22
Name: date_start, dtype: object
55186    2020-07-22
Name: date_end, dtype: object
55206    2020-09-06
Name: date_start, dtype: object
55206    2020-09-06
Name: date_end, dtype: object
55451    2020-06-22
Name: date_start, dtype: object
55451    2020-06-22
Name: date_end, dtype: object
55404    2020-04-17
Name: date_start, dtype: object
55404    2020-04-17
Name: date_end, dtype: object
55449    2020-06-22
Name: date_start, dtype: object
55449    2020-06-22
Name: date_end, dtype: object
55433    2020-05-11
Name: date_start, dtype: object
55433    2020-03-21
Name: date_end, dtype: object
55297    2020-03-16
Name: date_start, dtype: object
55297    2020-03-16
Name: date_end, dtype: object
55358    2020-03-19
Name: date_start, dtype: object
55358    2020-03-20
Name: date_end, dtype: object
55338    2020-03-17
Name: date_start, dtype: object
55338    2020-03-17
Name: date_end, dtype: object
55301    2020-03-16
Name: date_start, dtype: object
55301    2020-03-16
Name: date_end, dtype: object
55248    2020-03-14
Name: date_start, dtype: object
55248    2020-03-17
Name: date_end, dtype: object
55294    2020-03-16
Name: date_start, dtype: object
55294    2020-03-16
Name: date_end, dtype: object
55298    2020-03-16
Name: date_start, dtype: object
55298    2020-04-27
Name: date_end, dtype: object
55306    2020-03-16
Name: date_start, dtype: object
55306    2020-03-16
Name: date_end, dtype: object
55339    2020-03-17
Name: date_start, dtype: object
55339    2020-03-17
Name: date_end, dtype: object
55435    2020-05-11
Name: date_start, dtype: object
55435    2020-05-11
Name: date_end, dtype: object
55448    2020-06-22
Name: date_start, dtype: object
55448    2020-06-22
Name: date_end, dtype: object
55374    2020-03-27
Name: date_start, dtype: object
55374    2020-06-22
Name: date_end, dtype: object
55373    2020-03-27
Name: date_start, dtype: object
55373    2020-06-22
Name: date_end, dtype: object
55382    2020-04-01
Name: date_start, dtype: object
55382    2020-04-27
Name: date_end, dtype: object
55434    2020-05-11
Name: date_start, dtype: object
55434    2020-05-11
Name: date_end, dtype: object
55450    2020-06-22
Name: date_start, dtype: object
55450    2020-06-22
Name: date_end, dtype: object
55420    2020-05-01
Name: date_start, dtype: object
55420    2020-05-01
Name: date_end, dtype: object
55547    2020-10-01
Name: date_start, dtype: object
55547    2020-10-01
Name: date_end, dtype: object
55464    2020-07-04
Name: date_start, dtype: object
55464    2020-12-22
Name: date_end, dtype: object
55579    2020-12-22
Name: date_start, dtype: object
55579    2020-12-22
Name: date_end, dtype: object
55543    2020-09-30
Name: date_start, dtype: object
55543    2020-09-30
Name: date_end, dtype: object
55499    2020-07-17
Name: date_start, dtype: object
55499    2020-12-22
Name: date_end, dtype: object
55544    2020-09-30
Name: date_start, dtype: object
55544    2020-09-30
Name: date_end, dtype: object
55530    2020-09-17
Name: date_start, dtype: object
55530    2020-10-29
Name: date_end, dtype: object
55553    2020-10-17
Name: date_start, dtype: object
55553    2020-12-21
Name: date_end, dtype: object
55558    2020-10-18
Name: date_start, dtype: object
55558    2020-10-22
Name: date_end, dtype: object
55697    2020-03-20
Name: date_start, dtype: object
55697    2020-04-19
Name: date_end, dtype: object
55640    2020-03-16
Name: date_start, dtype: object
55640    2020-03-16
Name: date_end, dtype: object
55719    2020-03-29
Name: date_start, dtype: object
55719    2020-03-29
Name: date_end, dtype: object
55641    2020-03-16
Name: date_start, dtype: object
55641    2020-05-04
Name: date_end, dtype: object
55864    2020-06-08
Name: date_start, dtype: object
55864    2020-06-08
Name: date_end, dtype: object
55856    2020-06-02
Name: date_start, dtype: object
55856
Name: date_end, dtype: object
55816    2020-05-11
Name: date_start, dtype: object
55816    2020-05-11
Name: date_end, dtype: object
55643    2020-03-16
Name: date_start, dtype: object
55643    2020-05-11
Name: date_end, dtype: object
55814    2020-05-11
Name: date_start, dtype: object
55814    2020-05-11
Name: date_end, dtype: object
55863    2020-06-08
Name: date_start, dtype: object
55863    2020-06-08
Name: date_end, dtype: object
55850    2020-05-29
Name: date_start, dtype: object
55850    2020-05-29
Name: date_end, dtype: object
55663    2020-03-17
Name: date_start, dtype: object
55663    2020-05-11
Name: date_end, dtype: object
55861    2020-06-08
Name: date_start, dtype: object
55861
Name: date_end, dtype: object
55822    2020-05-11
Name: date_start, dtype: object
55822    2020-05-11
Name: date_end, dtype: object
55869    2020-06-19
Name: date_start, dtype: object
55869    2020-06-19
Name: date_end, dtype: object
55802    2020-05-10
Name: date_start, dtype: object
55802    2020-05-10
Name: date_end, dtype: object
55777    2020-04-27
Name: date_start, dtype: object
55777    2020-04-27
Name: date_end, dtype: object
55821    2020-05-11
Name: date_start, dtype: object
55821    2020-05-11
Name: date_end, dtype: object
55682    2020-03-19
Name: date_start, dtype: object
55682    2020-04-27
Name: date_end, dtype: object
55681    2020-03-19
Name: date_start, dtype: object
55681    2020-06-08
Name: date_end, dtype: object
55760    2020-04-20
Name: date_start, dtype: object
55760    2020-04-19
Name: date_end, dtype: object
55859    2020-06-06
Name: date_start, dtype: object
55859    2020-06-06
Name: date_end, dtype: object
55790    2020-05-04
Name: date_start, dtype: object
55790    2020-05-04
Name: date_end, dtype: object
55788    2020-05-03
Name: date_start, dtype: object
55788    2020-05-03
Name: date_end, dtype: object
55770    2020-04-24
Name: date_start, dtype: object
55770
Name: date_end, dtype: object
55855    2020-06-01
Name: date_start, dtype: object
55855    2020-06-01
Name: date_end, dtype: object
55709    2020-03-23
Name: date_start, dtype: object
55709    2020-05-18
Name: date_end, dtype: object
55841    2020-05-20
Name: date_start, dtype: object
55841    2020-05-20
Name: date_end, dtype: object
55853    2020-05-30
Name: date_start, dtype: object
55853    2020-05-30
Name: date_end, dtype: object
55873    2020-06-25
Name: date_start, dtype: object
55873    2020-06-25
Name: date_end, dtype: object
55874    2020-06-25
Name: date_start, dtype: object
55874    2020-06-25
Name: date_end, dtype: object
55875    2020-06-25
Name: date_start, dtype: object
55875    2020-06-25
Name: date_end, dtype: object
55876    2020-06-25
Name: date_start, dtype: object
55876    2020-06-25
Name: date_end, dtype: object
55897    2020-12-31
Name: date_start, dtype: object
55897    2020-12-31
Name: date_end, dtype: object
55831    2020-05-15
Name: date_start, dtype: object
55831    2020-05-15
Name: date_end, dtype: object
55896    2020-12-31
Name: date_start, dtype: object
55896    2020-12-31
Name: date_end, dtype: object
55895    2020-12-31
Name: date_start, dtype: object
55895    2020-12-31
Name: date_end, dtype: object
55826    2020-05-12
Name: date_start, dtype: object
55826    2020-05-12
Name: date_end, dtype: object
55860    2020-06-06
Name: date_start, dtype: object
55860    2020-06-06
Name: date_end, dtype: object
55843    2020-05-22
Name: date_start, dtype: object
55843    2020-05-22
Name: date_end, dtype: object
55819    2020-05-11
Name: date_start, dtype: object
55819    2020-05-11
Name: date_end, dtype: object
55886    2020-08-25
Name: date_start, dtype: object
55886    2020-08-25
Name: date_end, dtype: object
55858    2020-06-05
Name: date_start, dtype: object
55858    2020-06-05
Name: date_end, dtype: object
55872    2020-06-22
Name: date_start, dtype: object
55872    2020-06-22
Name: date_end, dtype: object

55889    2020-09-27
Name: date_start, dtype: object
55889    2020-09-27
Name: date_end, dtype: object
55885    2020-08-22
Name: date_start, dtype: object
55885
Name: date_end, dtype: object
55898    2021-02-15
Name: date_start, dtype: object
55898    2021-02-15
Name: date_end, dtype: object
55979    2020-03-13
Name: date_start, dtype: object
55979    2020-03-13
Name: date_end, dtype: object
55970    2020-03-13
Name: date_start, dtype: object
55970    2020-03-13
Name: date_end, dtype: object
55967    2020-03-13
Name: date_start, dtype: object
55967    2020-03-13
Name: date_end, dtype: object
55987    2020-03-13
Name: date_start, dtype: object
55987    2020-03-13
Name: date_end, dtype: object
55968    2020-03-13
Name: date_start, dtype: object
55968    2020-03-13
Name: date_end, dtype: object
55921    2020-02-28
Name: date_start, dtype: object
55921    2020-03-11
Name: date_end, dtype: object
55969    2020-03-13
Name: date_start, dtype: object
55969    2020-03-13
Name: date_end, dtype: object
55949    2020-03-05
Name: date_start, dtype: object
55949    2020-03-05
Name: date_end, dtype: object
55982    2020-03-13
Name: date_start, dtype: object
55982    2020-03-13
Name: date_end, dtype: object
55948    2020-03-05
Name: date_start, dtype: object
55948    2020-03-05
Name: date_end, dtype: object
55986    2020-03-13
Name: date_start, dtype: object
55986    2020-03-13
Name: date_end, dtype: object
55950    2020-03-05
Name: date_start, dtype: object
55950    2020-03-05
Name: date_end, dtype: object
55981    2020-03-13
Name: date_start, dtype: object
55981    2020-03-13
Name: date_end, dtype: object
56026    2020-03-17
Name: date_start, dtype: object
56026    2020-03-17
Name: date_end, dtype: object
56024    2020-03-17
Name: date_start, dtype: object
56024    2020-03-17
Name: date_end, dtype: object
55980    2020-03-13
Name: date_start, dtype: object
55980    2020-03-13
Name: date_end, dtype: object
56025    2020-03-17
Name: date_start, dtype: object
56025    2020-03-17
Name: date_end, dtype: object
55978    2020-03-13
Name: date_start, dtype: object
55978    2020-03-13
Name: date_end, dtype: object
55972    2020-03-13
Name: date_start, dtype: object
55972    2020-03-13
Name: date_end, dtype: object
56027    2020-03-17
Name: date_start, dtype: object
56027    2020-03-17
Name: date_end, dtype: object
55985    2020-03-13
Name: date_start, dtype: object
55985    2020-03-13
Name: date_end, dtype: object
55998    2020-03-15
Name: date_start, dtype: object
55998    2020-03-15
Name: date_end, dtype: object
56013    2020-03-16
Name: date_start, dtype: object
56013    2020-03-16
Name: date_end, dtype: object
55971    2020-03-13
Name: date_start, dtype: object
55971    2020-03-13
Name: date_end, dtype: object
55991    2020-03-13
Name: date_start, dtype: object
55991    2020-03-13
Name: date_end, dtype: object
55994    2020-03-13
Name: date_start, dtype: object
55994    2020-03-13
Name: date_end, dtype: object
55995    2020-03-13
Name: date_start, dtype: object
55995    2020-03-13
Name: date_end, dtype: object
55988    2020-03-13
Name: date_start, dtype: object
55988    2020-03-13
Name: date_end, dtype: object
55989    2020-03-13
Name: date_start, dtype: object
55989    2020-03-13
Name: date_end, dtype: object
55966    2020-03-13
Name: date_start, dtype: object
55966    2020-03-13
Name: date_end, dtype: object
56009    2020-03-16
Name: date_start, dtype: object
56009    2020-03-16
Name: date_end, dtype: object
56008    2020-03-16
Name: date_start, dtype: object
56008    2020-03-16
Name: date_end, dtype: object
56007    2020-03-16
Name: date_start, dtype: object
56007    2020-03-16
Name: date_end, dtype: object
56014    2020-03-16
Name: date_start, dtype: object
56014    2020-03-16
Name: date_end, dtype: object
56010    2020-03-16
Name: date_start, dtype: object
56010    2020-03-16
Name: date_end, dtype: object
56011    2020-03-16
Name: date_start, dtype: object
56011    2020-03-16
Name: date_end, dtype: object
56076    2020-05-27
Name: date_start, dtype: object
56076    2020-05-27
Name: date_end, dtype: object
56047    2020-03-21
Name: date_start, dtype: object
56047    2020-03-21
Name: date_end, dtype: object
56060    2020-04-24
Name: date_start, dtype: object
56060    2020-05-24
Name: date_end, dtype: object
56042    2020-03-21
Name: date_start, dtype: object
56042    2020-03-21
Name: date_end, dtype: object
56043    2020-03-21
Name: date_start, dtype: object
56043    2020-03-21
Name: date_end, dtype: object
56151    2020-10-29
Name: date_start, dtype: object
56151    2020-10-29
Name: date_end, dtype: object
56148    2020-10-29
Name: date_start, dtype: object
56148    2020-10-29
Name: date_end, dtype: object
56136    2020-10-18
Name: date_start, dtype: object
56136    2020-10-18
Name: date_end, dtype: object
56158    2020-12-13
Name: date_start, dtype: object
56158
Name: date_end, dtype: object
56137    2020-10-19
Name: date_start, dtype: object
56137    2020-10-19
Name: date_end, dtype: object
56149    2020-10-29
Name: date_start, dtype: object
56149    2020-10-29
Name: date_end, dtype: object
56198    2020-03-16
Name: date_start, dtype: object
56198    2020-03-16
Name: date_end, dtype: object
56200    2020-03-16
Name: date_start, dtype: object
56200    2020-03-16
Name: date_end, dtype: object
56195    2020-03-16
Name: date_start, dtype: object
56195    2020-03-16
Name: date_end, dtype: object
56239    2020-05-29
Name: date_start, dtype: object
56239    2020-05-29
Name: date_end, dtype: object
56253    2020-06-22
Name: date_start, dtype: object
56253    2020-06-22
Name: date_end, dtype: object
56237    2020-05-19
Name: date_start, dtype: object
56237    2020-05-19
Name: date_end, dtype: object
56213    2020-03-30
Name: date_start, dtype: object
56213    2020-05-11
Name: date_end, dtype: object
56232    2020-05-11
Name: date_start, dtype: object
56232    2020-05-11
Name: date_end, dtype: object
56252    2020-06-22
Name: date_start, dtype: object
56252    2020-06-22
Name: date_end, dtype: object
56304    2020-08-20
Name: date_start, dtype: object
56304    2020-08-20
Name: date_end, dtype: object
56273    2020-07-08
Name: date_start, dtype: object
56273    2020-10-19
Name: date_end, dtype: object
56325    2020-08-28
Name: date_start, dtype: object
56325    2020-10-18
Name: date_end, dtype: object
56362    2020-10-19
Name: date_start, dtype: object
56362    2020-10-19
Name: date_end, dtype: object
56353    2020-10-17
Name: date_start, dtype: object
56353    2020-10-19
Name: date_end, dtype: object
56355    2020-10-17
Name: date_start, dtype: object
56355    2020-12-21
Name: date_end, dtype: object
56367    2020-10-22
Name: date_start, dtype: object
56367    2020-10-22
Name: date_end, dtype: object
56382    2020-05-06
Name: date_start, dtype: object
56382    2020-05-31
Name: date_end, dtype: object
56722    2020-06-15
Name: date_start, dtype: object
56722    2020-06-15
Name: date_end, dtype: object
56807    2020-05-06
Name: date_start, dtype: object
56807    2020-04-09
Name: date_end, dtype: object
56838    2020-04-20
Name: date_start, dtype: object
56838    2020-04-20
Name: date_end, dtype: object
56918    2020-06-15
Name: date_start, dtype: object
56918    2020-06-15
Name: date_end, dtype: object
56927    2021-01-18
Name: date_start, dtype: object
56927    2021-04-15
Name: date_end, dtype: object
56950    2020-03-28
Name: date_start, dtype: object
56950    2020-03-28
Name: date_end, dtype: object
56962    2020-09-04
Name: date_start, dtype: object
56962    2020-09-04
Name: date_end, dtype: object
56959    2020-08-12
Name: date_start, dtype: object
56959    2020-08-12
Name: date_end, dtype: object
56965    2021-01-03
Name: date_start, dtype: object
56965    2021-01-07
Name: date_end, dtype: object
57008    2021-03-04
Name: date_start, dtype: object
57008    2021-04-02
Name: date_end, dtype: object
57015    2020-06-30
Name: date_start, dtype: object
57015
Name: date_end, dtype: object
57062    2020-03-21
Name: date_start, dtype: object
57062    2020-05-28
Name: date_end, dtype: object
57142    2020-04-05
Name: date_start, dtype: object
57142    2020-04-12
Name: date_end, dtype: object
57301    2020-08-24
Name: date_start, dtype: object
57301    2020-09-05
Name: date_end, dtype: object
57293    2020-04-13
Name: date_start, dtype: object
57293    2020-07-08
Name: date_end, dtype: object
57309    2020-06-08
Name: date_start, dtype: object
57309    2020-04-04
Name: date_end, dtype: object
57311    2020-08-21
Name: date_start, dtype: object
57311    2020-09-03
Name: date_end, dtype: object
57313    2020-09-04
Name: date_start, dtype: object
57313    2020-09-14
Name: date_end, dtype: object
57315    2020-10-02
Name: date_start, dtype: object
57315    2020-10-16
Name: date_end, dtype: object
57317    2020-10-07
Name: date_start, dtype: object
57317    2020-10-21
Name: date_end, dtype: object
57319    2020-10-11
Name: date_start, dtype: object
57319    2020-10-26
Name: date_end, dtype: object
57336    2020-06-28
Name: date_start, dtype: object
57336
Name: date_end, dtype: object
57349    2020-04-07
Name: date_start, dtype: object
57349    2021-04-15
Name: date_end, dtype: object
57356    2020-03-26
Name: date_start, dtype: object
57356    2021-04-15
Name: date_end, dtype: object
57363    2020-03-10
Name: date_start, dtype: object
57363    2021-04-15
Name: date_end, dtype: object
57371    2020-03-14
Name: date_start, dtype: object
57371    2020-06-16
Name: date_end, dtype: object
57375    2020-05-04
Name: date_start, dtype: object
57375    2020-06-14
Name: date_end, dtype: object
57391    2020-06-14
Name: date_start, dtype: object
57391
Name: date_end, dtype: object
57397    2020-06-06
Name: date_start, dtype: object
57397
Name: date_end, dtype: object
57402    2020-06-18
Name: date_start, dtype: object
57402    2021-04-15
Name: date_end, dtype: object
57404    2020-03-18
Name: date_start, dtype: object
57404    2020-04-04
Name: date_end, dtype: object
57420    2020-06-14
Name: date_start, dtype: object
57420
Name: date_end, dtype: object
57421    2020-06-24
Name: date_start, dtype: object
57421
Name: date_end, dtype: object
57457    2020-08-14
Name: date_start, dtype: object
57457    2020-08-14
Name: date_end, dtype: object
57459    2020-08-17
Name: date_start, dtype: object
57459    2020-08-17
Name: date_end, dtype: object
57470    2020-09-26
Name: date_start, dtype: object
57470
Name: date_end, dtype: object
57471    2020-11-20
Name: date_start, dtype: object
57471
Name: date_end, dtype: object
57469    2020-06-01
Name: date_start, dtype: object
57469
Name: date_end, dtype: object
57503    2020-05-26
Name: date_start, dtype: object
57503    2020-06-03
Name: date_end, dtype: object
57534    2020-06-01
Name: date_start, dtype: object
57534    2020-06-01
Name: date_end, dtype: object
57538    2020-07-25
Name: date_start, dtype: object
57538    2020-07-25
Name: date_end, dtype: object
57513    2020-04-04

Name: date_start, dtype: object
57513    2020-04-04
Name: date_end, dtype: object
57531    2020-05-30
Name: date_start, dtype: object
57531    2020-05-30
Name: date_end, dtype: object
57535    2020-06-09
Name: date_start, dtype: object
57535    2020-06-09
Name: date_end, dtype: object
57536    2020-06-09
Name: date_start, dtype: object
57536    2020-06-09
Name: date_end, dtype: object
57540    2020-08-01
Name: date_start, dtype: object
57540    2020-08-01
Name: date_end, dtype: object
57542    2020-09-01
Name: date_start, dtype: object
57542    2020-09-01
Name: date_end, dtype: object
57566    2020-05-31
Name: date_start, dtype: object
57566
Name: date_end, dtype: object
57612    2020-05-29
Name: date_start, dtype: object
57612
Name: date_end, dtype: object
57615    2020-06-01
Name: date_start, dtype: object
57615
Name: date_end, dtype: object
57616    2020-06-08
Name: date_start, dtype: object
57616
Name: date_end, dtype: object
57701    2020-04-19
Name: date_start, dtype: object
57701
Name: date_end, dtype: object
57785    2020-04-07
Name: date_start, dtype: object
57785
Name: date_end, dtype: object
57787    2020-04-15
Name: date_start, dtype: object
57787
Name: date_end, dtype: object
57822    2020-05-05
Name: date_start, dtype: object
57822
Name: date_end, dtype: object
57880    2020-05-11
Name: date_start, dtype: object
57880    2020-05-11
Name: date_end, dtype: object
57886    2020-05-30
Name: date_start, dtype: object
57886
Name: date_end, dtype: object
57933    2020-04-06
Name: date_start, dtype: object
57933    2020-04-25
Name: date_end, dtype: object
57935    2020-04-23
Name: date_start, dtype: object
57935    2020-05-20
Name: date_end, dtype: object
57938    2020-04-25
Name: date_start, dtype: object
57938    2020-05-20
Name: date_end, dtype: object
57941    2020-05-20
Name: date_start, dtype: object
57941    2020-05-30
Name: date_end, dtype: object
57944    2020-05-27
Name: date_start, dtype: object
57944    2020-06-25
Name: date_end, dtype: object
57948    2020-05-30
Name: date_start, dtype: object
57948    2020-06-24
Name: date_end, dtype: object
57947    2020-05-30
Name: date_start, dtype: object
57947    2020-06-24
Name: date_end, dtype: object
57951    2020-01-23
Name: date_start, dtype: object
57951    2020-02-05
Name: date_end, dtype: object
58075    2020-04-04
Name: date_start, dtype: object
58075    2020-04-18
Name: date_end, dtype: object
58132    2020-02-28
Name: date_start, dtype: object
58132    2020-03-14
Name: date_end, dtype: object
58134    2020-03-02
Name: date_start, dtype: object
58134    2020-03-16
Name: date_end, dtype: object
58137    2020-03-06
Name: date_start, dtype: object
58137    2020-03-20
Name: date_end, dtype: object
58254    2020-10-05
Name: date_start, dtype: object
58254
Name: date_end, dtype: object
58266    2020-01-28
Name: date_start, dtype: object
58266    2020-04-04
Name: date_end, dtype: object
58275    2020-03-14
Name: date_start, dtype: object
58275
Name: date_end, dtype: object
58273    2020-03-13
Name: date_start, dtype: object
58273    2020-04-04
Name: date_end, dtype: object
58280    2020-03-17
Name: date_start, dtype: object
58280    2020-04-04
Name: date_end, dtype: object
58385    2020-09-04
Name: date_start, dtype: object
58385    2020-09-05
Name: date_end, dtype: object
58658    2020-07-10
Name: date_start, dtype: object
58658
Name: date_end, dtype: object
58439    2020-07-10
Name: date_start, dtype: object
58439    2020-07-11
Name: date_end, dtype: object
58433    2020-06-15
Name: date_start, dtype: object
58433    2020-05-05
Name: date_end, dtype: object
58437    2020-07-02
Name: date_start, dtype: object
58437    2020-07-07
Name: date_end, dtype: object
58442    2020-08-24
Name: date_start, dtype: object
58442    2020-08-26
Name: date_end, dtype: object
58445    2020-09-11
Name: date_start, dtype: object
58445
Name: date_end, dtype: object
58516    2020-06-08
Name: date_start, dtype: object
58516
Name: date_end, dtype: object
58519    2020-07-11
Name: date_start, dtype: object
58519
Name: date_end, dtype: object
58602    2020-07-22
Name: date_start, dtype: object
58602
Name: date_end, dtype: object
58593    2020-07-15
Name: date_start, dtype: object
58593
Name: date_end, dtype: object
58614    2020-11-02
Name: date_start, dtype: object
58614
Name: date_end, dtype: object
58615    2020-11-02
Name: date_start, dtype: object
58615
Name: date_end, dtype: object
58641    2020-10-12
Name: date_start, dtype: object
58641
Name: date_end, dtype: object
58640    2020-09-22
Name: date_start, dtype: object
58640
Name: date_end, dtype: object
58681    2020-07-15
Name: date_start, dtype: object
58681
Name: date_end, dtype: object
59271    2020-06-15
Name: date_start, dtype: object
59271
Name: date_end, dtype: object
59254    2020-06-01
Name: date_start, dtype: object
59254    2020-05-31
Name: date_end, dtype: object
59118    2020-04-23
Name: date_start, dtype: object
59118    2020-04-28
Name: date_end, dtype: object
58825    2020-03-16
Name: date_start, dtype: object
58825    2020-08-17
Name: date_end, dtype: object
58879    2020-03-18
Name: date_start, dtype: object
58879    2020-07-01
Name: date_end, dtype: object
58891    2020-03-19
Name: date_start, dtype: object
58891    2020-05-12
Name: date_end, dtype: object
59233    2020-05-29
Name: date_start, dtype: object
59233    2020-05-29
Name: date_end, dtype: object
58996    2020-03-27
Name: date_start, dtype: object
58996    2020-06-15
Name: date_end, dtype: object
59229    2020-05-29
Name: date_start, dtype: object
59229    2020-05-29
Name: date_end, dtype: object
59287    2020-06-26
Name: date_start, dtype: object
59287    2020-06-26
Name: date_end, dtype: object
59283    2020-06-26
Name: date_start, dtype: object
59283    2020-06-26
Name: date_end, dtype: object
59322    2020-07-24
Name: date_start, dtype: object
59322    2020-07-24
Name: date_end, dtype: object
59367    2020-08-22
Name: date_start, dtype: object
59367    2020-08-22
Name: date_end, dtype: object
59399    2020-09-19
Name: date_start, dtype: object
59399    2020-09-19
Name: date_end, dtype: object
59421    2021-01-31
Name: date_start, dtype: object
59421    2021-01-31
Name: date_end, dtype: object
59361    2020-08-16
Name: date_start, dtype: object
59361    2020-08-31
Name: date_end, dtype: object
59413    2020-11-30
Name: date_start, dtype: object
59413    2020-11-30
Name: date_end, dtype: object
59419    2021-01-20
Name: date_start, dtype: object
59419    2021-01-31
Name: date_end, dtype: object
59507    2020-07-09
Name: date_start, dtype: object
59507
Name: date_end, dtype: object
59456    2020-03-16
Name: date_start, dtype: object
59456    2020-03-25
Name: date_end, dtype: object
59467    2020-03-29
Name: date_start, dtype: object
59467    2020-03-29
Name: date_end, dtype: object
59496    2020-05-11
Name: date_start, dtype: object
59496    2020-05-12
Name: date_end, dtype: object
59505    2020-06-30
Name: date_start, dtype: object
59505    2020-06-30
Name: date_end, dtype: object
59829    2020-05-29
Name: date_start, dtype: object
59829    2020-05-29
Name: date_end, dtype: object
59817    2020-04-15
Name: date_start, dtype: object
59817    2020-04-30
Name: date_end, dtype: object
59821    2020-05-01
Name: date_start, dtype: object
59821
Name: date_end, dtype: object
59825    2020-05-16
Name: date_start, dtype: object
59825    2020-05-16
Name: date_end, dtype: object
59903    2020-06-05
Name: date_start, dtype: object
59903    2020-06-24
Name: date_end, dtype: object
60036    2020-03-17
Name: date_start, dtype: object
60036    2020-06-03
Name: date_end, dtype: object
60234    2020-03-28
Name: date_start, dtype: object
60234    2020-04-06
Name: date_end, dtype: object
60596    2020-04-28
Name: date_start, dtype: object
60596    2020-04-28
Name: date_end, dtype: object
60780    2020-08-22
Name: date_start, dtype: object
60780    2020-08-22
Name: date_end, dtype: object
60559    2020-04-26
Name: date_start, dtype: object
60559
Name: date_end, dtype: object
60220    2020-03-27
Name: date_start, dtype: object
60220    2020-05-26
Name: date_end, dtype: object
60287    2020-03-31
Name: date_start, dtype: object
60287    2020-04-30
Name: date_end, dtype: object
60676    2020-05-20
Name: date_start, dtype: object
60676
Name: date_end, dtype: object
60618    2020-04-30
Name: date_start, dtype: object
60618    2020-04-30
Name: date_end, dtype: object
60759    2020-07-28
Name: date_start, dtype: object
60759    2020-07-28
Name: date_end, dtype: object
60353    2020-04-03
Name: date_start, dtype: object
60353    2020-04-27
Name: date_end, dtype: object

60665    2020-05-13
Name: date_start, dtype: object
60665    2020-05-13
Name: date_end, dtype: object
60723    2020-06-05
Name: date_start, dtype: object
60723
Name: date_end, dtype: object
60921    2020-06-04
Name: date_start, dtype: object
60921    2020-06-04
Name: date_end, dtype: object
60978    2020-03-14
Name: date_start, dtype: object
60978    2020-09-15
Name: date_end, dtype: object
61076    2021-03-01
Name: date_start, dtype: object
61076    2021-03-02
Name: date_end, dtype: object
61062    2020-05-29
Name: date_start, dtype: object
61062    2020-05-29
Name: date_end, dtype: object
61029    2020-03-22
Name: date_start, dtype: object
61029    2020-05-15
Name: date_end, dtype: object
61050    2020-04-15
Name: date_start, dtype: object
61050    2020-04-30
Name: date_end, dtype: object
61060    2020-05-16
Name: date_start, dtype: object
61060    2021-05-16
Name: date_end, dtype: object
61061    2020-05-28
Name: date_start, dtype: object
61061    2020-05-28
Name: date_end, dtype: object
61082    2020-03-12
Name: date_start, dtype: object
61082    2020-06-15
Name: date_end, dtype: object
61226    2021-01-26
Name: date_start, dtype: object
61226
Name: date_end, dtype: object
61099    2020-03-21
Name: date_start, dtype: object
61099    2020-06-09
Name: date_end, dtype: object
61203    2020-05-29
Name: date_start, dtype: object
61203    2020-05-29
Name: date_end, dtype: object
61153    2020-04-06
Name: date_start, dtype: object
61153    2020-04-06
Name: date_end, dtype: object
61179    2020-04-28
Name: date_start, dtype: object
61179    2020-04-28
Name: date_end, dtype: object
61178    2020-04-28
Name: date_start, dtype: object
61178    2020-04-28
Name: date_end, dtype: object
61175    2020-04-24
Name: date_start, dtype: object
61175    2020-04-30
Name: date_end, dtype: object
61204    2020-05-29
Name: date_start, dtype: object
61204    2020-05-29
Name: date_end, dtype: object
61205    2020-05-29
Name: date_start, dtype: object
61205    2020-05-29
Name: date_end, dtype: object
61420    2020-03-16
Name: date_start, dtype: object
61420    2020-05-29
Name: date_end, dtype: object
61675    2020-05-01
Name: date_start, dtype: object
61675    2020-05-01
Name: date_end, dtype: object
61534    2020-04-07
Name: date_start, dtype: object
61534    2020-04-07
Name: date_end, dtype: object
61691    2020-05-07
Name: date_start, dtype: object
61691    2020-05-07
Name: date_end, dtype: object
61647    2020-04-24
Name: date_start, dtype: object
61647    2020-04-24
Name: date_end, dtype: object
61500    2020-03-30
Name: date_start, dtype: object
61500    2020-03-31
Name: date_end, dtype: object
61546    2020-04-09
Name: date_start, dtype: object
61546    2020-04-09
Name: date_end, dtype: object
61646    2020-04-24
Name: date_start, dtype: object
61646    2020-05-24
Name: date_end, dtype: object
61968    2020-05-29
Name: date_start, dtype: object
61968    2020-05-29
Name: date_end, dtype: object
61967    2020-05-29
Name: date_start, dtype: object
61967    2020-05-29
Name: date_end, dtype: object
62078    2020-03-18
Name: date_start, dtype: object
62078    2020-03-18
Name: date_end, dtype: object
62087    2020-03-23
Name: date_start, dtype: object
62087    2020-05-16
Name: date_end, dtype: object
62089    2020-03-23
Name: date_start, dtype: object
62089    2020-05-01
Name: date_end, dtype: object
62173    2020-05-01
Name: date_start, dtype: object
62173
Name: date_end, dtype: object
62113    2020-03-29
Name: date_start, dtype: object
62113    2020-03-29
Name: date_end, dtype: object
62139    2020-04-03
Name: date_start, dtype: object
62139    2020-06-26
Name: date_end, dtype: object
62163    2020-04-24
Name: date_start, dtype: object
62163    2020-06-01
Name: date_end, dtype: object
62190    2020-05-30
Name: date_start, dtype: object
62190    2020-05-30
Name: date_end, dtype: object
62185    2020-05-18
Name: date_start, dtype: object
62185    2020-06-16
Name: date_end, dtype: object
62198    2020-06-13
Name: date_start, dtype: object
62198    2020-06-13
Name: date_end, dtype: object
62224    2020-09-13
Name: date_start, dtype: object
62224
Name: date_end, dtype: object
62241    2020-12-30
Name: date_start, dtype: object
62241    2020-12-30
Name: date_end, dtype: object
62244    2021-02-02
Name: date_start, dtype: object
62244    2021-02-02
Name: date_end, dtype: object
62265    2020-03-15
Name: date_start, dtype: object
62265    2020-06-15
Name: date_end, dtype: object
62267    2020-03-15
Name: date_start, dtype: object
62267
Name: date_end, dtype: object
62303    2020-03-16
Name: date_start, dtype: object
62303    2020-05-22
Name: date_end, dtype: object
62866    2020-04-20
Name: date_start, dtype: object
62866    2020-04-20
Name: date_end, dtype: object
62307    2020-03-16
Name: date_start, dtype: object
62307    2020-06-15
Name: date_end, dtype: object
62309    2020-03-16
Name: date_start, dtype: object
62309    2020-09-04
Name: date_end, dtype: object
62311    2020-03-16
Name: date_start, dtype: object
62311    2020-09-09
Name: date_end, dtype: object
62480    2020-03-21
Name: date_start, dtype: object
62480    2020-03-21
Name: date_end, dtype: object
62350    2020-03-17
Name: date_start, dtype: object
62350    2020-06-03
Name: date_end, dtype: object
62349    2020-03-17
Name: date_start, dtype: object
62349    2020-05-27
Name: date_end, dtype: object
63279    2020-05-22
Name: date_start, dtype: object
63279    2020-05-22
Name: date_end, dtype: object
63657    2020-11-02
Name: date_start, dtype: object
63657
Name: date_end, dtype: object
63049    2020-05-04
Name: date_start, dtype: object
63049    2020-05-04
Name: date_end, dtype: object
63154    2020-05-11
Name: date_start, dtype: object
63154    2020-05-15
Name: date_end, dtype: object
62415    2020-03-19
Name: date_start, dtype: object
62415    2020-06-03
Name: date_end, dtype: object
63050    2020-05-04
Name: date_start, dtype: object
63050    2020-05-04
Name: date_end, dtype: object
64312    2020-04-04
Name: date_start, dtype: object
64312    2020-04-30
Name: date_end, dtype: object
62964    2020-04-30
Name: date_start, dtype: object
62964    2020-04-30
Name: date_end, dtype: object
62963    2020-04-30
Name: date_start, dtype: object
62963    2020-04-30
Name: date_end, dtype: object
62479    2020-03-21
Name: date_start, dtype: object
62479    2020-05-18
Name: date_end, dtype: object
63343    2020-05-29
Name: date_start, dtype: object
63343    2020-05-29
Name: date_end, dtype: object
62975    2020-04-30
Name: date_start, dtype: object
62975    2020-04-30
Name: date_end, dtype: object
62917    2020-04-24
Name: date_start, dtype: object
62917    2020-04-14
Name: date_end, dtype: object
62952    2020-04-28
Name: date_start, dtype: object
62952    2020-04-28
Name: date_end, dtype: object
63105    2020-05-08
Name: date_start, dtype: object
63105
Name: date_end, dtype: object
62558    2020-03-24
Name: date_start, dtype: object
62558    2020-04-01
Name: date_end, dtype: object
62595    2020-03-25
Name: date_start, dtype: object
62595    2020-06-01
Name: date_end, dtype: object
63157    2020-05-11
Name: date_start, dtype: object
63157    2020-05-15
Name: date_end, dtype: object
62678    2020-03-31
Name: date_start, dtype: object
62678    2020-05-29
Name: date_end, dtype: object
62751    2020-04-03
Name: date_start, dtype: object
62751    2020-06-01
Name: date_end, dtype: object
62902    2020-04-24
Name: date_start, dtype: object
62902    2020-04-24
Name: date_end, dtype: object
62926    2020-04-25
Name: date_start, dtype: object
62926    2020-04-25
Name: date_end, dtype: object
62776    2020-04-06
Name: date_start, dtype: object
62776    2020-05-19
Name: date_end, dtype: object
62773    2020-04-06
Name: date_start, dtype: object
62773    2020-05-04
Name: date_end, dtype: object
62775    2020-04-06
Name: date_start, dtype: object
62775    2020-05-18
Name: date_end, dtype: object
62774    2020-04-06
Name: date_start, dtype: object
62774    2020-05-06
Name: date_end, dtype: object
62778    2020-04-06
Name: date_start, dtype: object
62778    2020-04-20
Name: date_end, dtype: object
62815    2020-04-10
Name: date_start, dtype: object
62815    2020-05-18
Name: date_end, dtype: object
63052    2020-05-04
Name: date_start, dtype: object
63052    2020-05-04
Name: date_end, dtype: object
62825    2020-04-13
Name: date_start, dtype: object
62825    2020-09-09
Name: date_end, dtype: object
62867    2020-04-20
Name: date_start, dtype: object
62867    2020-06-11
Name: date_end, dtype: object
62910    2020-04-24
Name: date_start, dtype: object
62910    2020-05-11
Name: date_end, dtype: object
62913    2020-04-24
Name: date_start, dtype: object
62913    2020-06-01
Name: date_end, dtype: object
63152    2020-05-11
Name: date_start, dtype: object
63152    2020-05-15
Name: date_end, dtype: object
63158    2020-05-11
Name: date_start, dtype: object
63158    2020-05-15
Name: date_end, dtype: object
63333    2020-05-29
Name: date_start, dtype: object
63333    2020-05-29
Name: date_end, dtype: object
63334    2020-05-29
Name: date_start, dtype: object
63334    2020-05-29
Name: date_end, dtype: object
63336    2020-05-29
Name: date_start, dtype: object
63336    2020-05-29
Name: date_end, dtype: object
63335    2020-05-29
Name: date_start, dtype: object
63335    2020-05-29
Name: date_end, dtype: object
63332    2020-05-29
Name: date_start, dtype: object
63332    2020-05-29
Name: date_end, dtype: object
63273    2020-05-22
Name: date_start, dtype: object
63273
Name: date_end, dtype: object

63342    2020-05-29
Name: date_start, dtype: object
63342    2020-05-29
Name: date_end, dtype: object
63344    2020-05-29
Name: date_start, dtype: object
63344    2020-05-29
Name: date_end, dtype: object
63126    2020-05-09
Name: date_start, dtype: object
63126    2020-07-09
Name: date_end, dtype: object
63541    2020-07-16
Name: date_start, dtype: object
63541    2020-07-03
Name: date_end, dtype: object
63160    2020-05-11
Name: date_start, dtype: object
63160    2020-06-05
Name: date_end, dtype: object
63284    2020-05-22
Name: date_start, dtype: object
63284    2020-06-05
Name: date_end, dtype: object
63494    2020-06-26
Name: date_start, dtype: object
63494    2020-06-26
Name: date_end, dtype: object
63490    2020-06-26
Name: date_start, dtype: object
63490    2020-06-26
Name: date_end, dtype: object
63493    2020-06-26
Name: date_start, dtype: object
63493    2020-06-26
Name: date_end, dtype: object
63491    2020-06-26
Name: date_start, dtype: object
63491    2020-06-26
Name: date_end, dtype: object
63489    2020-06-26
Name: date_start, dtype: object
63489    2020-06-26
Name: date_end, dtype: object
63487    2020-06-26
Name: date_start, dtype: object
63487    2020-06-26
Name: date_end, dtype: object
63488    2020-06-26
Name: date_start, dtype: object
63488    2020-06-26
Name: date_end, dtype: object
63492    2020-06-26
Name: date_start, dtype: object
63492    2020-06-26
Name: date_end, dtype: object
63453    2020-06-21
Name: date_start, dtype: object
63453    2020-06-21
Name: date_end, dtype: object
63400    2020-06-05
Name: date_start, dtype: object
63400    2020-09-11
Name: date_end, dtype: object
63450    2020-06-17
Name: date_start, dtype: object
63450    2020-10-08
Name: date_end, dtype: object
63628    2020-09-13
Name: date_start, dtype: object
63628    2020-09-13
Name: date_end, dtype: object
63596    2020-08-22
Name: date_start, dtype: object
63596    2020-08-22
Name: date_end, dtype: object
63589    2020-08-22
Name: date_start, dtype: object
63589    2020-08-22
Name: date_end, dtype: object
63592    2020-08-22
Name: date_start, dtype: object
63592    2020-08-22
Name: date_end, dtype: object
63586    2020-08-22
Name: date_start, dtype: object
63586    2020-08-22
Name: date_end, dtype: object
63594    2020-08-22
Name: date_start, dtype: object
63594    2020-08-22
Name: date_end, dtype: object
63582    2020-08-22
Name: date_start, dtype: object
63582    2020-08-22
Name: date_end, dtype: object
63602    2020-08-22
Name: date_start, dtype: object
63602    2020-08-22
Name: date_end, dtype: object
63584    2020-08-22
Name: date_start, dtype: object
63584    2020-08-22
Name: date_end, dtype: object
63580    2020-08-22
Name: date_start, dtype: object
63580    2020-08-22
Name: date_end, dtype: object
63611    2020-08-26
Name: date_start, dtype: object
63611    2020-08-26
Name: date_end, dtype: object
63604    2020-08-22
Name: date_start, dtype: object
63604    2020-08-22
Name: date_end, dtype: object
63675    2020-11-20
Name: date_start, dtype: object
63675    2021-01-15
Name: date_end, dtype: object
63771    2020-03-16
Name: date_start, dtype: object
63771    2020-03-16
Name: date_end, dtype: object
63772    2020-03-16
Name: date_start, dtype: object
63772    2020-03-16
Name: date_end, dtype: object
63894    2020-03-28
Name: date_start, dtype: object
63894    2020-03-28
Name: date_end, dtype: object
63744    2020-03-13
Name: date_start, dtype: object
63744    2020-05-08
Name: date_end, dtype: object
64035    2020-05-02
Name: date_start, dtype: object
64035
Name: date_end, dtype: object
63747    2020-03-14
Name: date_start, dtype: object
63747    2020-06-03
Name: date_end, dtype: object
63748    2020-03-14
Name: date_start, dtype: object
63748    2020-05-18
Name: date_end, dtype: object
64030    2020-05-01
Name: date_start, dtype: object
64030    2020-05-01
Name: date_end, dtype: object
63798    2020-03-17
Name: date_start, dtype: object
63798    2020-03-17
Name: date_end, dtype: object
64060    2020-05-22
Name: date_start, dtype: object
64060    2020-05-22
Name: date_end, dtype: object
64083    2020-06-01
Name: date_start, dtype: object
64083    2020-06-01
Name: date_end, dtype: object
63839    2020-03-20
Name: date_start, dtype: object
63839    2020-06-03
Name: date_end, dtype: object
63842    2020-03-20
Name: date_start, dtype: object
63842
Name: date_end, dtype: object
64072    2020-05-29
Name: date_start, dtype: object
64072    2020-05-29
Name: date_end, dtype: object
64069    2020-05-29
Name: date_start, dtype: object
64069    2020-05-29
Name: date_end, dtype: object
64011    2020-04-30
Name: date_start, dtype: object
64011    2020-04-30
Name: date_end, dtype: object
64111    2020-07-03
Name: date_start, dtype: object
64111
Name: date_end, dtype: object
64000    2020-04-28
Name: date_start, dtype: object
64000    2020-04-28
Name: date_end, dtype: object
64084    2020-06-01
Name: date_start, dtype: object
64084    2020-06-14
Name: date_end, dtype: object
64127    2020-08-25
Name: date_start, dtype: object
64127    2020-08-25
Name: date_end, dtype: object
63906    2020-03-30
Name: date_start, dtype: object
63906    2020-04-21
Name: date_end, dtype: object
64052    2020-05-11
Name: date_start, dtype: object
64052    2020-05-11
Name: date_end, dtype: object
64056    2020-05-18
Name: date_start, dtype: object
64056    2020-05-18
Name: date_end, dtype: object
64059    2020-05-21
Name: date_start, dtype: object
64059    2020-05-21
Name: date_end, dtype: object
64041    2020-05-04
Name: date_start, dtype: object
64041    2020-05-04
Name: date_end, dtype: object
64034    2020-05-02
Name: date_start, dtype: object
64034    2020-05-02
Name: date_end, dtype: object
64042    2020-05-04
Name: date_start, dtype: object
64042    2020-05-04
Name: date_end, dtype: object
64051    2020-05-11
Name: date_start, dtype: object
64051    2020-05-15
Name: date_end, dtype: object
64068    2020-05-29
Name: date_start, dtype: object
64068    2020-05-29
Name: date_end, dtype: object
64101    2020-06-15
Name: date_start, dtype: object
64101    2020-06-15
Name: date_end, dtype: object
64124    2020-08-19
Name: date_start, dtype: object
64124    2020-08-19
Name: date_end, dtype: object
64422    2020-05-29
Name: date_start, dtype: object
64422    2020-05-29
Name: date_end, dtype: object
64449    2020-06-22
Name: date_start, dtype: object
64449
Name: date_end, dtype: object
64212    2020-03-17
Name: date_start, dtype: object
64212    2020-06-10
Name: date_end, dtype: object
64209    2020-03-17
Name: date_start, dtype: object
64209    2020-04-22
Name: date_end, dtype: object
64216    2020-03-18
Name: date_start, dtype: object
64216    2020-06-11
Name: date_end, dtype: object
64384    2020-05-04
Name: date_start, dtype: object
64384    2020-04-30
Name: date_end, dtype: object
64399    2020-05-11
Name: date_start, dtype: object
64399    2020-05-15
Name: date_end, dtype: object
64495    2020-08-22
Name: date_start, dtype: object
64495    2020-08-22
Name: date_end, dtype: object
64363    2020-04-28
Name: date_start, dtype: object
64363    2020-04-28
Name: date_end, dtype: object
64409    2020-05-18
Name: date_start, dtype: object
64409    2020-06-10
Name: date_end, dtype: object
64470    2020-07-27
Name: date_start, dtype: object
64470    2020-07-27
Name: date_end, dtype: object
64398    2020-05-11
Name: date_start, dtype: object
64398    2020-05-31
Name: date_end, dtype: object
64311    2020-04-04
Name: date_start, dtype: object
64311    2020-04-24
Name: date_end, dtype: object
64382    2020-05-04
Name: date_start, dtype: object
64382    2020-05-04
Name: date_end, dtype: object
64383    2020-05-04
Name: date_start, dtype: object
64383    2020-05-04
Name: date_end, dtype: object
64381    2020-05-04
Name: date_start, dtype: object
64381    2020-05-04
Name: date_end, dtype: object
64351    2020-04-16
Name: date_start, dtype: object
64351    2020-05-31
Name: date_end, dtype: object
64356    2020-04-17
Name: date_start, dtype: object
64356    2020-06-10
Name: date_end, dtype: object
64483    2020-08-14
Name: date_start, dtype: object
64483    2020-09-07
Name: date_end, dtype: object
64528    2020-11-13
Name: date_start, dtype: object
64528    2020-11-13
Name: date_end, dtype: object
64527    2020-11-13
Name: date_start, dtype: object
64527    2020-11-13
Name: date_end, dtype: object
64540    2020-11-30
Name: date_start, dtype: object
64540    2020-11-30
Name: date_end, dtype: object
64702    2020-04-21
Name: date_start, dtype: object
64702    2020-04-21
Name: date_end, dtype: object

64580    2020-03-17
Name: date_start, dtype: object
64580    2020-05-15
Name: date_end, dtype: object
64724    2020-04-30
Name: date_start, dtype: object
64724    2020-04-30
Name: date_end, dtype: object
64723    2020-04-30
Name: date_start, dtype: object
64723    2020-04-30
Name: date_end, dtype: object
64622    2020-03-24
Name: date_start, dtype: object
64622
Name: date_end, dtype: object
64718    2020-04-28
Name: date_start, dtype: object
64718    2020-04-28
Name: date_end, dtype: object
64703    2020-04-21
Name: date_start, dtype: object
64703
Name: date_end, dtype: object
64712    2020-04-24
Name: date_start, dtype: object
64712    2020-08-03
Name: date_end, dtype: object
64850    2020-05-29
Name: date_start, dtype: object
64850    2020-05-29
Name: date_end, dtype: object
64851    2020-05-29
Name: date_start, dtype: object
64851    2020-05-29
Name: date_end, dtype: object
64852    2020-05-29
Name: date_start, dtype: object
64852    2020-05-29
Name: date_end, dtype: object
64853    2020-05-29
Name: date_start, dtype: object
64853    2020-05-29
Name: date_end, dtype: object
64856    2020-05-29
Name: date_start, dtype: object
64856    2020-05-29
Name: date_end, dtype: object
64857    2020-05-29
Name: date_start, dtype: object
64857    2020-05-29
Name: date_end, dtype: object
64854    2020-05-29
Name: date_start, dtype: object
64854    2020-05-29
Name: date_end, dtype: object
64855    2020-05-29
Name: date_start, dtype: object
64855    2020-05-29
Name: date_end, dtype: object
64848    2020-05-29
Name: date_start, dtype: object
64848    2020-05-29
Name: date_end, dtype: object
64849    2020-05-29
Name: date_start, dtype: object
64849    2020-05-29
Name: date_end, dtype: object
64864    2020-05-29
Name: date_start, dtype: object
64864    2020-05-29
Name: date_end, dtype: object
64865    2020-05-29
Name: date_start, dtype: object
64865    2020-05-29
Name: date_end, dtype: object
64868    2020-05-29
Name: date_start, dtype: object
64868    2020-05-29
Name: date_end, dtype: object
64788    2020-05-16
Name: date_start, dtype: object
64788    2021-04-15
Name: date_end, dtype: object
64991    2020-06-26
Name: date_start, dtype: object
64991    2020-06-26
Name: date_end, dtype: object
64992    2020-06-26
Name: date_start, dtype: object
64992    2020-06-26
Name: date_end, dtype: object
64983    2020-06-26
Name: date_start, dtype: object
64983    2020-06-26
Name: date_end, dtype: object
64984    2020-06-26
Name: date_start, dtype: object
64984    2020-06-26
Name: date_end, dtype: object
64975    2020-06-26
Name: date_start, dtype: object
64975    2020-06-26
Name: date_end, dtype: object
64976    2020-06-26
Name: date_start, dtype: object
64976    2020-06-26
Name: date_end, dtype: object
64981    2020-06-26
Name: date_start, dtype: object
64981    2020-06-26
Name: date_end, dtype: object
64982    2020-06-26
Name: date_start, dtype: object
64982    2020-06-26
Name: date_end, dtype: object
64977    2020-06-26
Name: date_start, dtype: object
64977    2020-06-26
Name: date_end, dtype: object
64978    2020-06-26
Name: date_start, dtype: object
64978    2020-06-26
Name: date_end, dtype: object
64973    2020-06-26
Name: date_start, dtype: object
64973    2020-06-26
Name: date_end, dtype: object
64974    2020-06-26
Name: date_start, dtype: object
64974    2020-06-26
Name: date_end, dtype: object
64963    2020-06-26
Name: date_start, dtype: object
64963    2020-06-26
Name: date_end, dtype: object
64964    2020-06-26
Name: date_start, dtype: object
64964    2020-06-26
Name: date_end, dtype: object
64971    2020-06-26
Name: date_start, dtype: object
64971    2020-06-26
Name: date_end, dtype: object
64972    2020-06-26
Name: date_start, dtype: object
64972    2020-06-26
Name: date_end, dtype: object
64979    2020-06-26
Name: date_start, dtype: object
64979    2020-06-26
Name: date_end, dtype: object
64980    2020-06-26
Name: date_start, dtype: object
64980    2020-06-26
Name: date_end, dtype: object
65162    2020-08-22
Name: date_start, dtype: object
65162    2020-08-22
Name: date_end, dtype: object
65163    2020-08-22
Name: date_start, dtype: object
65163    2020-08-22
Name: date_end, dtype: object
64969    2020-06-26
Name: date_start, dtype: object
64969    2020-06-26
Name: date_end, dtype: object
64970    2020-06-26
Name: date_start, dtype: object
64970    2020-06-26
Name: date_end, dtype: object
65199    2020-09-13
Name: date_start, dtype: object
65199    2020-09-13
Name: date_end, dtype: object
65200    2020-09-13
Name: date_start, dtype: object
65200    2020-09-13
Name: date_end, dtype: object
65057    2020-07-24
Name: date_start, dtype: object
65057    2020-07-24
Name: date_end, dtype: object
65058    2020-07-24
Name: date_start, dtype: object
65058    2020-07-24
Name: date_end, dtype: object
65144    2020-08-22
Name: date_start, dtype: object
65144    2020-08-22
Name: date_end, dtype: object
65145    2020-08-22
Name: date_start, dtype: object
65145    2020-08-22
Name: date_end, dtype: object
65094    2020-08-22
Name: date_start, dtype: object
65094    2020-08-22
Name: date_end, dtype: object
65095    2020-08-22
Name: date_start, dtype: object
65095    2020-08-22
Name: date_end, dtype: object
65130    2020-08-22
Name: date_start, dtype: object
65130    2020-08-22
Name: date_end, dtype: object
65131    2020-08-22
Name: date_start, dtype: object
65131    2020-08-22
Name: date_end, dtype: object
65136    2020-08-22
Name: date_start, dtype: object
65136    2020-08-22
Name: date_end, dtype: object
65137    2020-08-22
Name: date_start, dtype: object
65137    2020-08-22
Name: date_end, dtype: object
65124    2020-08-22
Name: date_start, dtype: object
65124    2020-08-22
Name: date_end, dtype: object
65125    2020-08-22
Name: date_start, dtype: object
65125    2020-08-22
Name: date_end, dtype: object
65140    2020-08-22
Name: date_start, dtype: object
65140    2020-08-22
Name: date_end, dtype: object
65141    2020-08-22
Name: date_start, dtype: object
65141    2020-08-22
Name: date_end, dtype: object
65116    2020-08-22
Name: date_start, dtype: object
65116    2020-08-22
Name: date_end, dtype: object
65117    2020-08-22
Name: date_start, dtype: object
65117    2020-08-22
Name: date_end, dtype: object
65156    2020-08-22
Name: date_start, dtype: object
65156    2020-08-22
Name: date_end, dtype: object
65157    2020-08-22
Name: date_start, dtype: object
65157    2020-08-22
Name: date_end, dtype: object
65120    2020-08-22
Name: date_start, dtype: object
65120    2020-08-22
Name: date_end, dtype: object
65121    2020-08-22
Name: date_start, dtype: object
65121    2020-08-22
Name: date_end, dtype: object
65112    2020-08-22
Name: date_start, dtype: object
65112    2020-08-22
Name: date_end, dtype: object
65113    2020-08-22
Name: date_start, dtype: object
65113    2020-08-22
Name: date_end, dtype: object
65174    2020-08-26
Name: date_start, dtype: object
65174    2020-08-26
Name: date_end, dtype: object
65175    2020-08-26
Name: date_start, dtype: object
65175    2020-08-26
Name: date_end, dtype: object
65216    2020-09-19
Name: date_start, dtype: object
65216    2020-09-19
Name: date_end, dtype: object
65217    2020-09-19
Name: date_start, dtype: object
65217    2020-09-19
Name: date_end, dtype: object
65080    2020-08-04
Name: date_start, dtype: object
65080    2021-03-03
Name: date_end, dtype: object
65319    2020-12-21
Name: date_start, dtype: object
65319    2021-01-31
Name: date_end, dtype: object
65352    2020-03-15
Name: date_start, dtype: object
65352    2020-10-13
Name: date_end, dtype: object
65360    2020-03-19
Name: date_start, dtype: object
65360    2020-06-03
Name: date_end, dtype: object
65363    2020-03-23
Name: date_start, dtype: object
65363    2020-07-07
Name: date_end, dtype: object
65397    2020-03-13
Name: date_start, dtype: object
65397    2020-03-22
Name: date_end, dtype: object
65417    2020-04-01
Name: date_start, dtype: object
65417    2020-06-17
Name: date_end, dtype: object
65443    2020-03-23
Name: date_start, dtype: object
65443
Name: date_end, dtype: object
65442    2020-03-23
Name: date_start, dtype: object
65442
Name: date_end, dtype: object
65444    2020-03-23
Name: date_start, dtype: object
65444
Name: date_end, dtype: object
65454    2020-10-01
Name: date_start, dtype: object
65454
Name: date_end, dtype: object

65503    2020-03-27
Name: date_start, dtype: object
65503
Name: date_end, dtype: object
65508    2020-05-18
Name: date_start, dtype: object
65508
Name: date_end, dtype: object
65517    2020-04-30
Name: date_start, dtype: object
65517    2020-05-10
Name: date_end, dtype: object
65519    2020-04-30
Name: date_start, dtype: object
65519    2020-05-10
Name: date_end, dtype: object
65518    2020-04-30
Name: date_start, dtype: object
65518    2020-05-10
Name: date_end, dtype: object
65578    2020-03-23
Name: date_start, dtype: object
65578
Name: date_end, dtype: object
65583    2020-10-01
Name: date_start, dtype: object
65583
Name: date_end, dtype: object
65614    2020-09-05
Name: date_start, dtype: object
65614
Name: date_end, dtype: object
65612    2020-08-15
Name: date_start, dtype: object
65612
Name: date_end, dtype: object
65611    2020-07-01
Name: date_start, dtype: object
65611
Name: date_end, dtype: object
65628    2020-04-20
Name: date_start, dtype: object
65628
Name: date_end, dtype: object
65634    2020-04-11
Name: date_start, dtype: object
65634    2020-04-11
Name: date_end, dtype: object
65651    2020-04-29
Name: date_start, dtype: object
65651
Name: date_end, dtype: object
65658    2020-04-14
Name: date_start, dtype: object
65658
Name: date_end, dtype: object
65660    2020-06-15
Name: date_start, dtype: object
65660
Name: date_end, dtype: object
65664    2020-07-03
Name: date_start, dtype: object
65664    2020-07-04
Name: date_end, dtype: object
65719    2020-06-01
Name: date_start, dtype: object
65719    2020-06-26
Name: date_end, dtype: object
65720    2020-06-01
Name: date_start, dtype: object
65720    2020-05-03
Name: date_end, dtype: object
65701    2020-03-11
Name: date_start, dtype: object
65701    2020-05-12
Name: date_end, dtype: object
65751    2020-11-30
Name: date_start, dtype: object
65751    2020-11-30
Name: date_end, dtype: object
65742    2020-04-08
Name: date_start, dtype: object
65742    2020-04-08
Name: date_end, dtype: object
65750    2020-05-31
Name: date_start, dtype: object
65750    2020-05-31
Name: date_end, dtype: object
65763    2020-03-17
Name: date_start, dtype: object
65763    2020-03-17
Name: date_end, dtype: object
65774    2020-08-21
Name: date_start, dtype: object
65774    2020-08-21
Name: date_end, dtype: object
65850    2020-06-19
Name: date_start, dtype: object
65850    2020-06-19
Name: date_end, dtype: object
65876    2020-05-09
Name: date_start, dtype: object
65876    2020-05-09
Name: date_end, dtype: object
65883    2020-06-23
Name: date_start, dtype: object
65883    2020-06-23
Name: date_end, dtype: object
65890    2020-03-16
Name: date_start, dtype: object
65890    2020-03-17
Name: date_end, dtype: object
65898    2020-05-31
Name: date_start, dtype: object
65898    2020-05-31
Name: date_end, dtype: object
65915    2020-08-23
Name: date_start, dtype: object
65915    2020-08-23
Name: date_end, dtype: object
65918    2020-09-07
Name: date_start, dtype: object
65918    2020-09-07
Name: date_end, dtype: object
65936    2020-03-22
Name: date_start, dtype: object
65936    2020-08-31
Name: date_end, dtype: object
65954    2020-08-27
Name: date_start, dtype: object
65954    2020-12-31
Name: date_end, dtype: object
65950    2020-05-29
Name: date_start, dtype: object
65950    2021-05-29
Name: date_end, dtype: object
65948    2020-05-11
Name: date_start, dtype: object
65948    2020-05-11
Name: date_end, dtype: object
65967    2020-06-01
Name: date_start, dtype: object
65967    2020-06-01
Name: date_end, dtype: object
65971    2020-03-17
Name: date_start, dtype: object
65971    2020-03-17
Name: date_end, dtype: object
65980    2020-06-01
Name: date_start, dtype: object
65980    2020-06-01
Name: date_end, dtype: object
65994    2020-06-15
Name: date_start, dtype: object
65994    2020-06-15
Name: date_end, dtype: object
66016    2020-07-13
Name: date_start, dtype: object
66016    2020-07-13
Name: date_end, dtype: object
66077    2020-10-18
Name: date_start, dtype: object
66077    2020-10-18
Name: date_end, dtype: object
66084    2020-06-15
Name: date_start, dtype: object
66084    2020-06-15
Name: date_end, dtype: object
66088    2020-11-01
Name: date_start, dtype: object
66088    2020-11-01
Name: date_end, dtype: object
66087    2020-10-18
Name: date_start, dtype: object
66087    2020-10-18
Name: date_end, dtype: object
66090    2020-04-15
Name: date_start, dtype: object
66090    2020-04-15
Name: date_end, dtype: object
66130    2020-06-15
Name: date_start, dtype: object
66130    2020-06-15
Name: date_end, dtype: object
66131    2020-06-15
Name: date_start, dtype: object
66131    2020-06-15
Name: date_end, dtype: object
66170    2020-07-13
Name: date_start, dtype: object
66170    2020-07-13
Name: date_end, dtype: object
66171    2020-07-13
Name: date_start, dtype: object
66171    2020-07-13
Name: date_end, dtype: object
66292    2020-02-29
Name: date_start, dtype: object
66292    2020-04-30
Name: date_end, dtype: object
66335    2020-02-07
Name: date_start, dtype: object
66335
Name: date_end, dtype: object
66344    2020-03-24
Name: date_start, dtype: object
66344
Name: date_end, dtype: object
66402    2020-05-07
Name: date_start, dtype: object
66402    2020-05-10
Name: date_end, dtype: object
66412    2020-03-16
Name: date_start, dtype: object
66412    2020-06-14
Name: date_end, dtype: object
66472    2020-03-22
Name: date_start, dtype: object
66472    2020-06-14
Name: date_end, dtype: object
66499    2020-03-17
Name: date_start, dtype: object
66499    2020-06-25
Name: date_end, dtype: object
66501    2020-05-11
Name: date_start, dtype: object
66501    2020-05-15
Name: date_end, dtype: object
66534    2020-05-08
Name: date_start, dtype: object
66534    2020-09-11
Name: date_end, dtype: object
66615    2020-05-02
Name: date_start, dtype: object
66615    2020-07-21
Name: date_end, dtype: object
66619    2020-07-22
Name: date_start, dtype: object
66619    2020-08-20
Name: date_end, dtype: object
66664    2020-05-04
Name: date_start, dtype: object
66664    2020-05-17
Name: date_end, dtype: object

In [62]:
len(temp[temp.update_type=="End of Policy"])

3271

In [66]:
len(temp)

43698

In [32]:
len(df[df.update_type=="End of Policy"])

5560

In [116]:
#rearrange columns so country is at first
cols = ['country','type','date_start','date_end']  + [col for col in df if col not in  ['country','type','date_start','date_end']]
df=df[cols]

In [126]:
df["date_start"]=pd.to_datetime(df["date_start"], infer_datetime_format=True)
df["date_end"]=pd.to_datetime(df["date_end"], infer_datetime_format=True)

<ipython-input-126-f51c46ae988f>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["date_start"]=pd.to_datetime(df["date_start"], infer_datetime_format=True)
<ipython-input-126-f51c46ae988f>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["date_end"]=pd.to_datetime(df["date_end"], infer_datetime_format=True)

In [42]:
df.shape

(26786, 12)

In [122]:
df[df["country"]=="Bangladesh"].sort_values("date_start").groupby("policy_id").apply(display)

,country,type,date_start,date_end,policy_id,entry_type,correct_type,update_type,update_level,date_announced,init_country_level,type_sub_cat
6344,Bangladesh,Restrictions of Mass Gatherings,2020-05-07,2020-05-07,103689,new_entry,original,,,2020-05-07,National,

,country,type,date_start,date_end,policy_id,entry_type,correct_type,update_type,update_level,date_announced,init_country_level,type_sub_cat
6128,Bangladesh,Internal Border Restrictions,2021-03-29,2021-04-12,1037665,new_entry,original,,,2021-03-29,National,

,country,type,date_start,date_end,policy_id,entry_type,correct_type,update_type,update_level,date_announced,init_country_level,type_sub_cat
6130,Bangladesh,Internal Border Restrictions,2021-04-05,2021-04-12,1109167,new_entry,original,,,2021-04-04,National,

,country,type,date_start,date_end,policy_id,entry_type,correct_type,update_type,update_level,date_announced,init_country_level,type_sub_cat
6156,Bangladesh,Lockdown,2020-06-16,2020-07-07,1113963,new_entry,original,,,2020-06-22,National,

,country,type,date_start,date_end,policy_id,entry_type,correct_type,update_type,update_level,date_announced,init_country_level,type_sub_cat
5976,Bangladesh,External Border Restrictions,2021-04-02,2021-04-18,1289912,new_entry,original,,,2021-04-02,National,Total border crossing ban

,country,type,date_start,date_end,policy_id,entry_type,correct_type,update_type,update_level,date_announced,init_country_level,type_sub_cat
6362,Bangladesh,Social Distancing,2020-03-24,2020-04-04,159740,new_entry,original,,,2020-03-23,National,

,country,type,date_start,date_end,policy_id,entry_type,correct_type,update_type,update_level,date_announced,init_country_level,type_sub_cat
5914,Bangladesh,COVID-19 Vaccines,2021-01-04,2021-01-05,1944317,new_entry,original,,,2021-01-04,National,Purchase of COVID-19 vaccines

,country,type,date_start,date_end,policy_id,entry_type,correct_type,update_type,update_level,date_announced,init_country_level,type_sub_cat
6231,Bangladesh,Quarantine,2021-03-29,2021-04-12,1946118,new_entry,original,,,2021-03-29,National,Self-Quarantine (i.e. quarantine at home)

,country,type,date_start,date_end,policy_id,entry_type,correct_type,update_type,update_level,date_announced,init_country_level,type_sub_cat
6351,Bangladesh,Restrictions of Mass Gatherings,2020-07-30,2020-07-31,1988007,new_entry,original,,,2020-07-12,National,Attendance at religious services restricted (e...

,country,type,date_start,date_end,policy_id,entry_type,correct_type,update_type,update_level,date_announced,init_country_level,type_sub_cat
6340,Bangladesh,Restrictions of Mass Gatherings,2020-04-24,2020-05-25,2060459,update,original,End of Policy,,2020-04-24,National,

,country,type,date_start,date_end,policy_id,entry_type,correct_type,update_type,update_level,date_announced,init_country_level,type_sub_cat
5993,Bangladesh,Health Resources,2020-03-22,2020-06-30,2060755,new_entry,original,,,2020-03-22,National,Other Health Materials
6045,Bangladesh,Health Resources,2020-06-30,2020-09-30,2060755,update,original,Change of Policy,Strengthening,2020-06-30,National,Other Health Materials
6060,Bangladesh,Health Resources,2020-10-05,2020-12-31,2060755,update,original,Change of Policy,Strengthening,2020-10-05,National,Other Health Materials

,country,type,date_start,date_end,policy_id,entry_type,correct_type,update_type,update_level,date_announced,init_country_level,type_sub_cat
6163,Bangladesh,Lockdown,2020-06-20,2020-07-11,2084453,new_entry,original,,,2020-06-23,National,

,country,type,date_start,date_end,policy_id,entry_type,correct_type,update_type,update_level,date_announced,init_country_level,type_sub_cat
6211,Bangladesh,Public Awareness Measures,2021-01-13,2021-01-14,2091268,new_entry,original,,,2021-01-13,National,Disseminating information related to COVID-19 ...

,country,type,date_start,date_end,policy_id,entry_type,correct_type,update_type,update_level,date_announced,init_country_level,type_sub_cat
5922,Bangladesh,COVID-19 Vaccines,2021-01-11,2021-01-18,2145232,new_entry,original,,,2021-01-11,National,Purchase of COVID-19 vaccines

,country,type,date_start,date_end,policy_id,entry_type,correct_type,update_type,update_level,date_announced,init_country_level,type_sub_cat
5916,Bangladesh,COVID-19 Vaccines,2021-01-06,2021-01-07,2175689,new_entry,original,,,2021-01-06,National,Purchase of COVID-19 vaccines

,country,type,date_start,date_end,policy_id,entry_type,correct_type,update_type,update_level,date_announced,init_country_level,type_sub_cat
6234,Bangladesh,Restriction and Regulation of Businesses,2020-03-18,2020-04-02,2307627,new_entry,original,,,2020-03-16,National,Other Businesses
6270,Bangladesh,Restriction and Regulation of Businesses,2020-10-16,2020-04-02,2307627,update,original,End of Policy,,2020-09-21,National,Other Businesses

,country,type,date_start,date_end,policy_id,entry_type,correct_type,update_type,update_level,date_announced,init_country_level,type_sub_cat
6154,Bangladesh,Lockdown,2020-06-15,2020-07-04,2389379,new_entry,original,,,2020-06-22,National,

,country,type,date_start,date_end,policy_id,entry_type,correct_type,update_type,update_level,date_announced,init_country_level,type_sub_cat
5821,Bangladesh,Closure and Regulation of Schools,2020-03-17,2020-03-31,2462989,new_entry,original,,,2020-03-16,National,Preschool or childcare facilities (generally f...
5822,Bangladesh,Closure and Regulation of Schools,2020-03-17,2020-03-31,2462989,new_entry,original,,,2020-03-16,National,Primary Schools (generally for children ages 1...
5823,Bangladesh,Closure and Regulation of Schools,2020-03-17,2020-03-31,2462989,new_entry,original,,,2020-03-16,National,Secondary Schools (generally for children ages...
5827,Bangladesh,Closure and Regulation of Schools,2020-03-17,2021-02-28,2462989,update,original,Change of Policy,Strengthening,2020-03-16,National,Preschool or childcare facilities (generally f...
5828,Bangladesh,Closure and Regulation of Schools,2020-03-17,2021-02-28,2462989,update,original,Change of Policy,Strengthening,2020-03-16,National,Primary Schools (generally for children ages 1...
5829,Bangladesh,Closure and Regulation of Schools,2020-03-17,2021-02-28,2462989,update,original,Change of Policy,Strengthening,2020-03-16,National,Secondary Schools (generally for children ages...
5835,Bangladesh,Closure and Regulation of Schools,2020-03-24,2020-04-09,2462989,update,original,Change of Policy,Strengthening,2020-03-24,National,Primary Schools (generally for children ages 1...
5836,Bangladesh,Closure and Regulation of Schools,2020-03-24,2020-04-09,2462989,update,original,Change of Policy,Strengthening,2020-03-24,National,Secondary Schools (generally for children ages...
5834,Bangladesh,Closure and Regulation of Schools,2020-03-24,2020-04-09,2462989,update,original,Change of Policy,Strengthening,2020-03-24,National,Preschool or childcare facilities (generally f...
5839,Bangladesh,Closure and Regulation of Schools,2020-04-10,2020-04-25,2462989,update,original,Change of Policy,Strengthening,2020-04-10,National,Primary Schools (generally for children ages 1...
5840,Bangladesh,Closure and Regulation of Schools,2020-04-10,2020-04-25,2462989,update,original,Change of Policy,Strengthening,2020-04-10,National,Secondary Schools (generally for children ages...
5838,Bangladesh,Closure and Regulation of Schools,2020-04-10,2020-04-25,2462989,update,original,Change of Policy,Strengthening,2020-04-10,National,Preschool or childcare facilities (generally f...
5842,Bangladesh,Closure and Regulation of Schools,2020-04-23,2020-05-05,2462989,update,original,Change of Policy,Strengthening,2020-04-23,National,Primary Schools (generally for children ages 1...
5841,Bangladesh,Closure and Regulation of Schools,2020-04-23,2020-05-05,2462989,update,original,Change of Policy,Strengthening,2020-04-23,National,Preschool or childcare facilities (generally f...
5843,Bangladesh,Closure and Regulation of Schools,2020-04-23,2020-05-05,2462989,update,original,Change of Policy,Strengthening,2020-04-23,National,Secondary Schools (generally for children ages...
5844,Bangladesh,Closure and Regulation of Schools,2020-05-05,2020-05-30,2462989,update,original,Change of Policy,Strengthening,2020-05-05,National,Preschool or childcare facilities (generally f...
5846,Bangladesh,Closure and Regulation of Schools,2020-05-05,2020-05-30,2462989,update,original,Change of Policy,Strengthening,2020-05-05,National,Secondary Schools (generally for children ages...
5845,Bangladesh,Closure and Regulation of Schools,2020-05-05,2020-05-30,2462989,update,original,Change of Policy,Strengthening,2020-05-05,National,Primary Schools (generally for children ages 1...
5849,Bangladesh,Closure and Regulation of Schools,2020-05-27,2020-06-15,2462989,update,original,Change of Policy,Strengthening,2020-05-27,National,Secondary Schools (generally for children ages...
5847,Bangladesh,Closure and Regulation of Schools,2020-05-27,2020-06-15,2462989,update,original,Change of Policy,Strengthening,2020-05-27,National,Preschool or childcare facilities (generally f...
5848,Bangladesh,Closure and Regulation of Schools,2020-05-27,2020-06-15,2462989,update,original,Change of Policy,Strengthening,2020-05-27,National,Primary Schools (generally for children ages 1...
5853,Bangladesh,Closure and Regulation of Schools,2020-06-15,2020-08-06,2462989,update,original,Change of Policy,Strengthening,2020-06-15,National,Secondary Schools (generally for children ages...
5852,Bangladesh,Closure and Regulation of Schools,2020-06-15,2020-08-06,2462989,update,original,Change of Policy,Strengthening,2020-06-15,National,Primary Schools (generally for children ages 1...
5851,Bangladesh,Closure and Regulation of Schools,2020-06-15,2020-08-06,2462989,update,original,Change of Policy,Strengthening,2020-06-15,National,Preschool or childcare facilities (generally f...
5859,Bangladesh,Closure and Regulation of Schools,2020-07-29,2020-08-31,2462989,update,original,Change of Policy,Strengthening,2020-07-29,National,Secondary Schools (generally for children ages...
5858,Bangladesh,Closure and Regulation of Schools,2020-07-29,2020-08-31,2462989,update,original,Change of Policy,Strengthening,2020-07-29,National,Primary Schools (generally for children ages 1...
5857,Bangladesh,Closure and Regulation of Schools,2020-07-29,2020-08-31,2462989,update,original,Change of Policy,Strengthening,2020-07-29,National,Preschool or childcare facilities (generally f...
5867,Bangladesh,Closure and Regulation of Schools,2020-08-27,2020-10-03,2462989,update,original,Change of Policy,Strengthening,2020-08-27,National,Primary Schools (generally for children ages 1...
5866,Bangladesh,Closure and Regulation of Schools,2020-08-27,2020-10-03,2462989,update,original,Change of Policy,Strengthening,2020-08-27,National,Preschool or childcare facilities (generally f...
5868,Bangladesh,Closure and Regulation of Schools,2020-08-27,2020-10-03,2462989,update,original,Change of Policy,Strengthening,2020-08-27,National,Secondary Schools (generally for children ages...
5871,Bangladesh,Closure and Regulation of Schools,2020-10-01,2020-10-31,2462989,update,original,Change of Policy,Strengthening,2020-10-01,National,Preschool or childcare facilities (generally f...
5872,Bangladesh,Closure and Regulation of Schools,2020-10-01,2020-10-31,2462989,update,original,Change of Policy,Strengthening,2020-10-01,National,Primary Schools (generally for children ages 1...
5873,Bangladesh,Closure and Regulation of Schools,2020-10-01,2020-10-31,2462989,update,original,Change of Policy,Strengthening,2020-10-01,National,Secondary Schools (generally for children ages...
5879,Bangladesh,Closure and Regulation of Schools,2020-10-29,2020-11-14,2462989,update,original,Change of Policy,Strengthening,2020-10-29,National,Secondary Schools (generally for children ages...
5878,Bangladesh,Closure and Regulation of Schools,2020-10-29,2020-11-14,2462989,update,original,Change of Policy,Strengthening,2020-10-29,National,Primary Schools (generally for children ages 1...
5877,Bangladesh,Closure and Regulation of Schools,2020-10-29,2020-11-14,2462989,update,original,Change of Policy,Strengthening,2020-10-29,National,Preschool or childcare facilities (generally f...
5882,Bangladesh,Closure and Regulation of Schools,2020-11-12,2020-12-19,2462989,update,original,Change of Policy,Strengthening,2020-11-12,National,Preschool or childcare facilities (generally f...
5883,Bangladesh,Closure and Regulation of Schools,2020-11-12,2020-12-19,2462989,update,original,Change of Policy,Strengthening,2020-11-12,National,Primary Schools (generally for children ages 1...
5884,Bangladesh,Closure and Regulation of Schools,2020-11-12,2020-12-19,2462989,update,original,Change of Policy,Strengthening,2020-11-12,National,Secondary Schools (generally for children ages...
5891,Bangladesh,Closure and Regulation of Schools,2020-12-18,2021-01-16,2462989,update,original,Change of Policy,Strengthening,2020-12-18,National,Primary Schools (generally for children ages 1...
5890,Bangladesh,Closure and Regulation of Schools,2020-12-18,2021-01-16,2462989,update,original,Change of Policy,Strengthening,2020-12-18,National,Preschool or childcare facilities (generally f...
5892,Bangladesh,Closure and Regulation of Schools,2020-12-18,2021-01-16,2462989,update,original,Change of Policy,Strengthening,2020-12-18,National,Secondary Schools (generally for children ages...
5893,Bangladesh,Closure and Regulation of Schools,2021-01-15,2021-01-30,2462989,update,original,Change of Policy,Strengthening,2021-01-15,National,Preschool or childcare facilities (generally f...
5894,Bangladesh,Closure and Regulation of Schools,2021-01-15,2021-01-30,2462989,update,original,Change of Policy,Strengthening,2021-01-15,National,Primary Schools (generally for children ages 1...
5895,Bangladesh,Closure and Regulation of Schools,2021-01-15,2021-01-30,2462989,update,original,Change of Policy,Strengthening,2021-01-15,National,Secondary Schools (generally for children ages...
5898,Bangladesh,Closure and Regulation of Schools,2021-03-29,2021-04-12,2462989,update,original,Change of Policy,Strengthening,2021-03-29,National,Primary Schools (generally for children ages 1...
5899,Bangladesh,Closure and Regulation of Schools,2021-03-29,2021-04-12,2462989,update,original,Change of Policy,Strengthening,2021-03-29,National,Secondary Schools (generally for children ages...
5897,Bangladesh,Closure and Regulation of Schools,2021-03-29,2021-04-12,2462989,update,original,Change of Policy,Strengthening,2021-03-29,National,Preschool or childcare facilities (generally f...
5901,Bangladesh,Closure and Regulation of Schools,2021-03-30,2021-03-30,2462989,update,original,Change of Policy,Strengthening,2021-02-28,National,Primary Schools (generally for children ages 1...
5900,Bangladesh,Closure and Regulation of Schools,2021-03-30,2021-03-30,2462989,update,original,Change of Policy,Strengthening,2021-02-28,National,Preschool or childcare facilities (generally f...
5902,Bangladesh,Closure and Regulation of Schools,2021-03-30,2021-03-30,2462989,update,original,Change of Policy,Strengthening,2021-02-28,National,Secondary Schools (generally for children ages...

,country,type,date_start,date_end,policy_id,entry_type,correct_type,update_type,update_level,date_announced,init_country_level,type_sub_cat
6133,Bangladesh,Lockdown,2020-03-26,2020-04-04,2572859,new_entry,original,,,2020-03-22,National,
6134,Bangladesh,Lockdown,2020-04-01,2020-04-11,2572859,update,original,Change of Policy,Strengthening,2020-03-31,National,
6135,Bangladesh,Lockdown,2020-04-05,2020-04-14,2572859,update,original,Change of Policy,Strengthening,2020-04-05,National,
6137,Bangladesh,Lockdown,2020-04-10,2020-04-25,2572859,update,original,Change of Policy,Strengthening,2020-04-10,National,
6138,Bangladesh,Lockdown,2020-04-23,2020-05-05,2572859,update,original,Change of Policy,Strengthening,2020-04-23,National,
6139,Bangladesh,Lockdown,2020-05-04,2020-05-16,2572859,update,original,Change of Policy,Strengthening,2020-05-04,National,
6141,Bangladesh,Lockdown,2020-05-14,2020-05-30,2572859,update,original,Change of Policy,Strengthening,2020-05-14,National,

,country,type,date_start,date_end,policy_id,entry_type,correct_type,update_type,update_level,date_announced,init_country_level,type_sub_cat
5921,Bangladesh,COVID-19 Vaccines,2021-01-09,2021-01-25,2573660,update,original,End of Policy,,2021-01-09,National,

,country,type,date_start,date_end,policy_id,entry_type,correct_type,update_type,update_level,date_announced,init_country_level,type_sub_cat
5957,Bangladesh,External Border Restrictions,2020-03-14,2020-03-31,2615910,new_entry,original,,,2020-03-14,National,Visa restrictions (e.g. suspend issuance of visa)

,country,type,date_start,date_end,policy_id,entry_type,correct_type,update_type,update_level,date_announced,init_country_level,type_sub_cat
6147,Bangladesh,Lockdown,2020-06-11,2020-07-01,2617084,new_entry,original,,,2020-06-21,National,

,country,type,date_start,date_end,policy_id,entry_type,correct_type,update_type,update_level,date_announced,init_country_level,type_sub_cat
6096,Bangladesh,Health Resources,2021-03-25,2021-06-01,271118,new_entry,original,,,2021-03-25,National,Unspecified Health Infrastructure

,country,type,date_start,date_end,policy_id,entry_type,correct_type,update_type,update_level,date_announced,init_country_level,type_sub_cat
5910,Bangladesh,COVID-19 Vaccines,2020-12-28,2020-12-28,2801423,new_entry,original,,,2020-12-28,National,Distribution (shipping; storage; administratio...
5911,Bangladesh,COVID-19 Vaccines,2020-12-28,2021-01-09,2801423,update,original,End of Policy,,2020-12-28,National,

,country,type,date_start,date_end,policy_id,entry_type,correct_type,update_type,update_level,date_announced,init_country_level,type_sub_cat
6272,Bangladesh,Restriction and Regulation of Businesses,2020-11-01,2021-02-28,2947079,new_entry,original,,,2020-11-01,National,Supermarkets/grocery stores
6271,Bangladesh,Restriction and Regulation of Businesses,2020-11-01,2021-02-28,2947079,new_entry,original,,,2020-11-01,National,Retail Businesses

,country,type,date_start,date_end,policy_id,entry_type,correct_type,update_type,update_level,date_announced,init_country_level,type_sub_cat
6162,Bangladesh,Lockdown,2020-06-19,2020-07-09,296312,new_entry,original,,,2020-06-21,National,

,country,type,date_start,date_end,policy_id,entry_type,correct_type,update_type,update_level,date_announced,init_country_level,type_sub_cat
6064,Bangladesh,Health Resources,2020-12-02,2020-12-03,3219766,new_entry,original,,,2020-12-02,National,Health Research Facilities

,country,type,date_start,date_end,policy_id,entry_type,correct_type,update_type,update_level,date_announced,init_country_level,type_sub_cat
6158,Bangladesh,Lockdown,2020-06-17,2020-07-07,3232849,new_entry,original,,,2020-06-21,National,

,country,type,date_start,date_end,policy_id,entry_type,correct_type,update_type,update_level,date_announced,init_country_level,type_sub_cat
5945,Bangladesh,COVID-19 Vaccines,2021-03-26,2021-03-26,3322352,new_entry,original,,,2021-03-26,National,Purchase of COVID-19 vaccines

,country,type,date_start,date_end,policy_id,entry_type,correct_type,update_type,update_level,date_announced,init_country_level,type_sub_cat
6232,Bangladesh,Restriction and Regulation of Businesses,2020-03-16,2020-03-31,3497130,new_entry,original,,,2020-03-16,National,Other Businesses

,country,type,date_start,date_end,policy_id,entry_type,correct_type,update_type,update_level,date_announced,init_country_level,type_sub_cat
5930,Bangladesh,COVID-19 Vaccines,2021-01-30,2021-01-30,404468,new_entry,original,,,2021-01-30,National,Distribution (shipping; storage; administratio...

,country,type,date_start,date_end,policy_id,entry_type,correct_type,update_type,update_level,date_announced,init_country_level,type_sub_cat
6358,Bangladesh,Restrictions of Mass Gatherings,2021-04-02,2021-04-14,4084948,new_entry,original,,,2021-04-02,Provincial,

,country,type,date_start,date_end,policy_id,entry_type,correct_type,update_type,update_level,date_announced,init_country_level,type_sub_cat
5896,Bangladesh,Closure and Regulation of Schools,2021-02-01,2021-02-02,408630,new_entry,original,,,2020-12-20,National,Higher education institutions (i.e. degree gra...

,country,type,date_start,date_end,policy_id,entry_type,correct_type,update_type,update_level,date_announced,init_country_level,type_sub_cat
6073,Bangladesh,Health Resources,2021-01-06,2023-06-01,4131655,new_entry,original,,,2021-01-06,National,Nurses
6066,Bangladesh,Health Resources,2021-01-06,2023-06-01,4131655,new_entry,original,,,2021-01-06,National,Masks
6075,Bangladesh,Health Resources,2021-01-06,2023-06-01,4131655,new_entry,original,,,2021-01-06,National,Other Heath Staff
6067,Bangladesh,Health Resources,2021-01-06,2023-06-01,4131655,new_entry,original,,,2021-01-06,National,Personal Protective Equipment
6068,Bangladesh,Health Resources,2021-01-06,2023-06-01,4131655,new_entry,original,,,2021-01-06,National,Hand Sanitizer
6069,Bangladesh,Health Resources,2021-01-06,2023-06-01,4131655,new_entry,original,,,2021-01-06,National,Thermal cyclers (PCR machines/DNA amplifiers)
6070,Bangladesh,Health Resources,2021-01-06,2023-06-01,4131655,new_entry,original,,,2021-01-06,National,Hospitals
6071,Bangladesh,Health Resources,2021-01-06,2023-06-01,4131655,new_entry,original,,,2021-01-06,National,Unspecified Health Infrastructure
6072,Bangladesh,Health Resources,2021-01-06,2023-06-01,4131655,new_entry,original,,,2021-01-06,National,Doctors
6074,Bangladesh,Health Resources,2021-01-06,2023-06-01,4131655,new_entry,original,,,2021-01-06,National,Health Volunteers

,country,type,date_start,date_end,policy_id,entry_type,correct_type,update_type,update_level,date_announced,init_country_level,type_sub_cat
6083,Bangladesh,Health Resources,2021-01-24,2021-01-24,416974,new_entry,original,,,2021-01-24,National,Test Kits

,country,type,date_start,date_end,policy_id,entry_type,correct_type,update_type,update_level,date_announced,init_country_level,type_sub_cat
6354,Bangladesh,Restrictions of Mass Gatherings,2020-11-28,2020-11-30,4324726,new_entry,original,,,2020-11-15,Municipal,

,country,type,date_start,date_end,policy_id,entry_type,correct_type,update_type,update_level,date_announced,init_country_level,type_sub_cat
6109,Bangladesh,Hygiene,2020-08-01,2020-08-01,4414904,new_entry,original,,,2020-07-27,National,Hygiene measures for public areas

,country,type,date_start,date_end,policy_id,entry_type,correct_type,update_type,update_level,date_announced,init_country_level,type_sub_cat
5931,Bangladesh,COVID-19 Vaccines,2021-02-01,2021-02-01,4523253,new_entry,original,,,2021-02-01,National,Distribution (shipping; storage; administratio...

,country,type,date_start,date_end,policy_id,entry_type,correct_type,update_type,update_level,date_announced,init_country_level,type_sub_cat
5860,Bangladesh,Closure and Regulation of Schools,2020-07-29,2020-08-31,454946,update,original,Change of Policy,Strengthening,2020-07-29,National,Higher education institutions (i.e. degree gra...
5863,Bangladesh,Closure and Regulation of Schools,2020-08-24,2020-08-31,454946,update,original,End of Policy,Strengthening,2020-08-24,National,Higher education institutions (i.e. degree gra...

,country,type,date_start,date_end,policy_id,entry_type,correct_type,update_type,update_level,date_announced,init_country_level,type_sub_cat
6079,Bangladesh,Health Resources,2021-01-11,2021-01-21,4600030,new_entry,original,,,2021-01-11,National,Other Health Materials

,country,type,date_start,date_end,policy_id,entry_type,correct_type,update_type,update_level,date_announced,init_country_level,type_sub_cat
5915,Bangladesh,COVID-19 Vaccines,2021-01-04,2021-01-05,4626226,new_entry,original,,,2021-01-04,National,Distribution (shipping; storage; administratio...

,country,type,date_start,date_end,policy_id,entry_type,correct_type,update_type,update_level,date_announced,init_country_level,type_sub_cat
6214,Bangladesh,Public Awareness Measures,2021-01-25,2021-01-26,4691915,new_entry,original,,,2020-12-25,National,Disseminating information related to COVID-19 ...

,country,type,date_start,date_end,policy_id,entry_type,correct_type,update_type,update_level,date_announced,init_country_level,type_sub_cat
6264,Bangladesh,Restriction and Regulation of Businesses,2020-06-30,2020-07-03,4880777,new_entry,original,,,2020-06-30,National,All or unspecified businesses

,country,type,date_start,date_end,policy_id,entry_type,correct_type,update_type,update_level,date_announced,init_country_level,type_sub_cat
5880,Bangladesh,Closure and Regulation of Schools,2020-11-01,2020-12-31,4892923,new_entry,original,,,2020-10-31,National,Secondary Schools (generally for children ages...

,country,type,date_start,date_end,policy_id,entry_type,correct_type,update_type,update_level,date_announced,init_country_level,type_sub_cat
6121,Bangladesh,Internal Border Restrictions,2020-05-05,2020-05-16,4937474,new_entry,original,,,2020-05-05,National,

,country,type,date_start,date_end,policy_id,entry_type,correct_type,update_type,update_level,date_announced,init_country_level,type_sub_cat
6348,Bangladesh,Restrictions of Mass Gatherings,2020-05-19,2020-05-26,5156439,new_entry,original,,,2020-05-19,National,Cancellation of a recreational or commercial e...

,country,type,date_start,date_end,policy_id,entry_type,correct_type,update_type,update_level,date_announced,init_country_level,type_sub_cat
6157,Bangladesh,Lockdown,2020-06-17,2020-07-08,5200724,new_entry,original,,,2020-06-21,National,

,country,type,date_start,date_end,policy_id,entry_type,correct_type,update_type,update_level,date_announced,init_country_level,type_sub_cat
6241,Bangladesh,Restriction and Regulation of Businesses,2020-03-26,2020-04-04,5262219,new_entry,original,,,2020-03-24,National,Transportation (land; water and air)
6242,Bangladesh,Restriction and Regulation of Businesses,2020-04-04,2020-04-11,5262219,update,original,Change of Policy,Strengthening,2020-04-04,National,Transportation (land; water and air)
6243,Bangladesh,Restriction and Regulation of Businesses,2020-04-11,2020-04-25,5262219,update,original,Change of Policy,Strengthening,2020-04-11,National,Transportation (land; water and air)
6244,Bangladesh,Restriction and Regulation of Businesses,2020-04-24,2020-05-05,5262219,update,original,Change of Policy,Strengthening,2020-04-24,National,Transportation (land; water and air)
6254,Bangladesh,Restriction and Regulation of Businesses,2020-05-04,2020-06-16,5262219,update,original,Change of Policy,Strengthening,2020-05-04,National,Transportation (land; water and air)
6259,Bangladesh,Restriction and Regulation of Businesses,2020-05-14,2020-05-30,5262219,update,original,Change of Policy,Strengthening,2020-05-14,National,Transportation (land; water and air)
6260,Bangladesh,Restriction and Regulation of Businesses,2020-05-28,2020-05-30,5262219,update,original,Change of Policy,Strengthening,2020-05-28,National,Transportation (land; water and air)
6263,Bangladesh,Restriction and Regulation of Businesses,2020-06-21,2020-05-30,5262219,update,original,End of Policy,Strengthening,2020-06-21,National,Transportation (land; water and air)

,country,type,date_start,date_end,policy_id,entry_type,correct_type,update_type,update_level,date_announced,init_country_level,type_sub_cat
6355,Bangladesh,Restrictions of Mass Gatherings,2021-02-02,2021-02-03,5449704,new_entry,original,,,2021-02-02,National,

,country,type,date_start,date_end,policy_id,entry_type,correct_type,update_type,update_level,date_announced,init_country_level,type_sub_cat
6090,Bangladesh,Health Resources,2021-02-19,2021-02-19,5547595,new_entry,original,,,2021-02-19,National,Other Health Infrastructure

,country,type,date_start,date_end,policy_id,entry_type,correct_type,update_type,update_level,date_announced,init_country_level,type_sub_cat
5811,Bangladesh,Anti-Disinformation Measures,2020-03-21,2020-03-21,5576115,new_entry,original,,,2020-03-21,National,

,country,type,date_start,date_end,policy_id,entry_type,correct_type,update_type,update_level,date_announced,init_country_level,type_sub_cat
5917,Bangladesh,COVID-19 Vaccines,2021-01-06,2021-01-07,5653253,new_entry,original,,,2021-01-06,National,Distribution (shipping; storage; administratio...

,country,type,date_start,date_end,policy_id,entry_type,correct_type,update_type,update_level,date_announced,init_country_level,type_sub_cat
6111,Bangladesh,Internal Border Restrictions,2020-03-26,2020-04-04,5779045,new_entry,original,,,2020-03-24,National,
6113,Bangladesh,Internal Border Restrictions,2020-04-04,2020-04-11,5779045,update,original,Change of Policy,Strengthening,2020-04-04,National,
6117,Bangladesh,Internal Border Restrictions,2020-04-11,2020-04-25,5779045,update,original,Change of Policy,Strengthening,2020-04-11,National,
6118,Bangladesh,Internal Border Restrictions,2020-04-24,2020-05-05,5779045,update,original,Change of Policy,Strengthening,2020-04-24,National,
6120,Bangladesh,Internal Border Restrictions,2020-05-04,2020-05-16,5779045,update,original,Change of Policy,Strengthening,2020-05-04,National,
6122,Bangladesh,Internal Border Restrictions,2020-05-14,2020-05-30,5779045,update,original,Change of Policy,Strengthening,2020-05-14,National,

,country,type,date_start,date_end,policy_id,entry_type,correct_type,update_type,update_level,date_announced,init_country_level,type_sub_cat
6188,Bangladesh,Other Policy Not Listed Above,2020-04-20,2020-04-25,5792256,new_entry,original,,,2020-04-17,National,

,country,type,date_start,date_end,policy_id,entry_type,correct_type,update_type,update_level,date_announced,init_country_level,type_sub_cat
6164,Bangladesh,Lockdown,2020-06-21,2020-07-11,5968208,new_entry,original,,,2020-06-23,National,

,country,type,date_start,date_end,policy_id,entry_type,correct_type,update_type,update_level,date_announced,init_country_level,type_sub_cat
5814,Bangladesh,Anti-Disinformation Measures,2020-03-28,2020-04-05,6034402,new_entry,original,,,2020-03-28,National,

,country,type,date_start,date_end,policy_id,entry_type,correct_type,update_type,update_level,date_announced,init_country_level,type_sub_cat
5820,Bangladesh,Anti-Disinformation Measures,2021-02-22,2021-02-23,6079067,new_entry,original,,,2021-02-22,National,

,country,type,date_start,date_end,policy_id,entry_type,correct_type,update_type,update_level,date_announced,init_country_level,type_sub_cat
5971,Bangladesh,External Border Restrictions,2020-07-12,2020-07-30,6103495,update,original,End of Policy,,2020-07-12,National,Health Certificates

,country,type,date_start,date_end,policy_id,entry_type,correct_type,update_type,update_level,date_announced,init_country_level,type_sub_cat
6287,Bangladesh,Restriction and Regulation of Government Services,2020-03-29,2020-04-02,618735,update,original,End of Policy,,2020-03-24,National,Public courts

,country,type,date_start,date_end,policy_id,entry_type,correct_type,update_type,update_level,date_announced,init_country_level,type_sub_cat
6202,Bangladesh,Public Awareness Measures,2020-04-01,2020-08-11,6326565,update,original,End of Policy,,2020-04-01,National,Disseminating information related to COVID-19 ...

,country,type,date_start,date_end,policy_id,entry_type,correct_type,update_type,update_level,date_announced,init_country_level,type_sub_cat
6132,Bangladesh,Lockdown,2020-03-20,2020-05-30,6444709,update,original,End of Policy,,2020-03-20,Municipal,

,country,type,date_start,date_end,policy_id,entry_type,correct_type,update_type,update_level,date_announced,init_country_level,type_sub_cat
6356,Bangladesh,Restrictions of Mass Gatherings,2021-03-29,2021-04-12,6475173,new_entry,original,,,2021-03-29,National,Attendance at religious services restricted (e...
6357,Bangladesh,Restrictions of Mass Gatherings,2021-03-29,2021-04-12,6475173,new_entry,original,,,2021-03-29,National,Other mass gatherings not specified above rest...

,country,type,date_start,date_end,policy_id,entry_type,correct_type,update_type,update_level,date_announced,init_country_level,type_sub_cat
5960,Bangladesh,External Border Restrictions,2020-03-26,2020-04-15,6496191,new_entry,original,,,2020-03-26,National,
5961,Bangladesh,External Border Restrictions,2020-04-27,2020-05-07,6496191,update,original,Change of Policy,Strengthening,2020-04-27,National,

,country,type,date_start,date_end,policy_id,entry_type,correct_type,update_type,update_level,date_announced,init_country_level,type_sub_cat
6333,Bangladesh,Restrictions of Mass Gatherings,2020-03-25,2020-04-06,6528384,update,original,End of Policy,,2020-03-25,National,

,country,type,date_start,date_end,policy_id,entry_type,correct_type,update_type,update_level,date_announced,init_country_level,type_sub_cat
6275,Bangladesh,Restriction and Regulation of Businesses,2021-03-29,2021-03-29,6548139,new_entry,original,,,2021-03-29,National,Restaurants
6276,Bangladesh,Restriction and Regulation of Businesses,2021-03-29,2021-03-29,6548139,new_entry,original,,,2021-03-29,National,Shopping Centers
6277,Bangladesh,Restriction and Regulation of Businesses,2021-03-29,2021-03-29,6548139,new_entry,original,,,2021-03-29,National,Supermarkets/grocery stores
6278,Bangladesh,Restriction and Regulation of Businesses,2021-03-29,2021-03-29,6548139,new_entry,original,,,2021-03-29,National,Transportation (land; water and air)
6274,Bangladesh,Restriction and Regulation of Businesses,2021-03-29,2021-03-29,6548139,new_entry,original,,,2021-03-29,National,Retail Businesses

,country,type,date_start,date_end,policy_id,entry_type,correct_type,update_type,update_level,date_announced,init_country_level,type_sub_cat
6382,Bangladesh,Social Distancing,2021-03-29,2021-03-29,6548139Di,new_entry,original,,,2021-03-29,National,Keeping a distance of at least 6 feet or 1.5 m...
6380,Bangladesh,Social Distancing,2021-03-29,2021-03-29,6548139Di,new_entry,original,,,2021-03-29,National,Keeping a distance of at least 6 feet or 1.5 m...
6388,Bangladesh,Social Distancing,2021-03-29,2021-03-29,6548139Di,new_entry,original,,,2021-03-29,National,Keeping a distance of at least 6 feet or 1.5 m...
6384,Bangladesh,Social Distancing,2021-03-29,2021-03-29,6548139Di,new_entry,original,,,2021-03-29,National,Keeping a distance of at least 6 feet or 1.5 m...
6386,Bangladesh,Social Distancing,2021-03-29,2021-03-29,6548139Di,new_entry,original,,,2021-03-29,National,Keeping a distance of at least 6 feet or 1.5 m...

,country,type,date_start,date_end,policy_id,entry_type,correct_type,update_type,update_level,date_announced,init_country_level,type_sub_cat
6381,Bangladesh,Social Distancing,2021-03-29,2021-03-29,6548139Ma,new_entry,original,,,2021-03-29,National,Wearing Masks inside Retail Businesses
6383,Bangladesh,Social Distancing,2021-03-29,2021-03-29,6548139Ma,new_entry,original,,,2021-03-29,National,Wearing Masks inside Restaurants
6385,Bangladesh,Social Distancing,2021-03-29,2021-03-29,6548139Ma,new_entry,original,,,2021-03-29,National,Wearing Masks inside Shopping Centers
6389,Bangladesh,Social Distancing,2021-03-29,2021-03-29,6548139Ma,new_entry,original,,,2021-03-29,National,Wearing Masks inside Transportation (land; wat...
6387,Bangladesh,Social Distancing,2021-03-29,2021-03-29,6548139Ma,new_entry,original,,,2021-03-29,National,Wearing Masks inside Supermarkets/grocery stores

,country,type,date_start,date_end,policy_id,entry_type,correct_type,update_type,update_level,date_announced,init_country_level,type_sub_cat
6353,Bangladesh,Restrictions of Mass Gatherings,2020-10-06,2020-10-08,6555967,new_entry,original,,,2020-10-04,Municipal,

,country,type,date_start,date_end,policy_id,entry_type,correct_type,update_type,update_level,date_announced,init_country_level,type_sub_cat
6213,Bangladesh,Public Awareness Measures,2021-01-22,2021-04-15,6622602,new_entry,original,,,2021-01-22,National,Disseminating information related to COVID-19 ...

,country,type,date_start,date_end,policy_id,entry_type,correct_type,update_type,update_level,date_announced,init_country_level,type_sub_cat
6116,Bangladesh,Internal Border Restrictions,2020-04-11,2020-05-30,6752104,update,original,End of Policy,,2020-04-11,Provincial,

,country,type,date_start,date_end,policy_id,entry_type,correct_type,update_type,update_level,date_announced,init_country_level,type_sub_cat
6204,Bangladesh,Public Awareness Measures,2020-05-03,2020-05-03,6776960,new_entry,original,,,2020-05-03,National,Disseminating information related to COVID-19 ...

,country,type,date_start,date_end,policy_id,entry_type,correct_type,update_type,update_level,date_announced,init_country_level,type_sub_cat
6166,Bangladesh,Lockdown,2020-06-25,2020-07-16,6783644,new_entry,original,,,2020-06-23,National,

,country,type,date_start,date_end,policy_id,entry_type,correct_type,update_type,update_level,date_announced,init_country_level,type_sub_cat
6267,Bangladesh,Restriction and Regulation of Businesses,2020-08-03,2020-08-31,6863522,new_entry,original,,,2020-08-03,National,Other Businesses

,country,type,date_start,date_end,policy_id,entry_type,correct_type,update_type,update_level,date_announced,init_country_level,type_sub_cat
6350,Bangladesh,Restrictions of Mass Gatherings,2020-05-25,2020-05-25,7202323,update,original,End of Policy,,2020-05-24,National,Attendance at religious services restricted (e...

,country,type,date_start,date_end,policy_id,entry_type,correct_type,update_type,update_level,date_announced,init_country_level,type_sub_cat
6212,Bangladesh,Public Awareness Measures,2021-01-20,2021-04-15,7235394,new_entry,original,,,2021-01-13,National,Disseminating information related to COVID-19 ...

,country,type,date_start,date_end,policy_id,entry_type,correct_type,update_type,update_level,date_announced,init_country_level,type_sub_cat
6228,Bangladesh,Quarantine,2020-04-05,2020-04-14,7317355,new_entry,original,,,2020-04-05,National,Self-Quarantine (i.e. quarantine at home)

,country,type,date_start,date_end,policy_id,entry_type,correct_type,update_type,update_level,date_announced,init_country_level,type_sub_cat
6148,Bangladesh,Lockdown,2020-06-11,2020-07-02,734530,new_entry,original,,,2020-06-22,National,

,country,type,date_start,date_end,policy_id,entry_type,correct_type,update_type,update_level,date_announced,init_country_level,type_sub_cat
6345,Bangladesh,Restrictions of Mass Gatherings,2020-05-08,2020-05-08,7464106,new_entry,original,,,2020-04-28,National,

,country,type,date_start,date_end,policy_id,entry_type,correct_type,update_type,update_level,date_announced,init_country_level,type_sub_cat
6223,Bangladesh,Public Awareness Measures,2021-04-12,2021-04-13,7565247,new_entry,original,,,2021-03-16,National,Disseminating information related to COVID-19 ...

,country,type,date_start,date_end,policy_id,entry_type,correct_type,update_type,update_level,date_announced,init_country_level,type_sub_cat
5813,Bangladesh,Anti-Disinformation Measures,2020-03-25,2020-03-26,7596776,update,original,End of Policy,,2020-03-25,National,

,country,type,date_start,date_end,policy_id,entry_type,correct_type,update_type,update_level,date_announced,init_country_level,type_sub_cat
6187,Bangladesh,Other Policy Not Listed Above,2020-04-14,2020-04-14,7645271,new_entry,original,,,2020-04-14,National,

,country,type,date_start,date_end,policy_id,entry_type,correct_type,update_type,update_level,date_announced,init_country_level,type_sub_cat
6334,Bangladesh,Restrictions of Mass Gatherings,2020-03-26,2020-03-26,7673826,new_entry,original,,,2020-03-21,National,

,country,type,date_start,date_end,policy_id,entry_type,correct_type,update_type,update_level,date_announced,init_country_level,type_sub_cat
6107,Bangladesh,Hygiene,2020-03-29,2020-03-29,7807682,new_entry,original,,,2020-03-29,Municipal,Hygiene measures for public areas

,country,type,date_start,date_end,policy_id,entry_type,correct_type,update_type,update_level,date_announced,init_country_level,type_sub_cat
5830,Bangladesh,Closure and Regulation of Schools,2020-03-18,2020-04-09,7815348,new_entry,original,,,2020-03-16,National,Primary Schools (generally for children ages 1...
5831,Bangladesh,Closure and Regulation of Schools,2020-03-18,2020-04-09,7815348,new_entry,original,,,2020-03-16,National,Secondary Schools (generally for children ages...
5832,Bangladesh,Closure and Regulation of Schools,2020-03-18,2020-04-09,7815348,new_entry,original,,,2020-03-16,National,Higher education institutions (i.e. degree gra...

,country,type,date_start,date_end,policy_id,entry_type,correct_type,update_type,update_level,date_announced,init_country_level,type_sub_cat
5967,Bangladesh,External Border Restrictions,2020-05-31,2020-06-15,7817543,new_entry,original,,,2020-05-28,National,Other External Border Restriction

,country,type,date_start,date_end,policy_id,entry_type,correct_type,update_type,update_level,date_announced,init_country_level,type_sub_cat
5962,Bangladesh,External Border Restrictions,2020-05-09,2020-05-16,7833473,new_entry,original,,,2020-05-09,National,Visa restrictions (e.g. suspend issuance of visa)
5964,Bangladesh,External Border Restrictions,2020-05-15,2020-06-15,7833473,update,original,Change of Policy,Strengthening,2020-05-14,National,Visa restrictions (e.g. suspend issuance of visa)

,country,type,date_start,date_end,policy_id,entry_type,correct_type,update_type,update_level,date_announced,init_country_level,type_sub_cat
6151,Bangladesh,Lockdown,2020-06-14,2020-07-04,7853536,new_entry,original,,,2020-06-21,National,

,country,type,date_start,date_end,policy_id,entry_type,correct_type,update_type,update_level,date_announced,init_country_level,type_sub_cat
6153,Bangladesh,Lockdown,2020-06-15,2020-07-05,794979,new_entry,original,,,2020-06-21,National,

,country,type,date_start,date_end,policy_id,entry_type,correct_type,update_type,update_level,date_announced,init_country_level,type_sub_cat
5942,Bangladesh,COVID-19 Vaccines,2021-02-23,2021-02-23,8052088,new_entry,original,,,2021-02-23,National,Purchase of COVID-19 vaccines

,country,type,date_start,date_end,policy_id,entry_type,correct_type,update_type,update_level,date_announced,init_country_level,type_sub_cat
6235,Bangladesh,Restriction and Regulation of Businesses,2020-03-18,2020-08-17,8109668,update,original,End of Policy,,2020-03-18,National,Commercial Businesses

,country,type,date_start,date_end,policy_id,entry_type,correct_type,update_type,update_level,date_announced,init_country_level,type_sub_cat
6220,Bangladesh,Public Awareness Measures,2021-03-25,2021-03-26,8219569,new_entry,original,,,2021-03-25,National,Disseminating information related to COVID-19 ...

,country,type,date_start,date_end,policy_id,entry_type,correct_type,update_type,update_level,date_announced,init_country_level,type_sub_cat
6312,Bangladesh,Restriction and Regulation of Government Services,2020-06-01,2020-08-08,8266287,update,original,End of Policy,,2020-06-01,National,Regulated government working hours (e.g. work ...

,country,type,date_start,date_end,policy_id,entry_type,correct_type,update_type,update_level,date_announced,init_country_level,type_sub_cat
5913,Bangladesh,COVID-19 Vaccines,2021-01-04,2021-04-15,8456043,new_entry,original,,,2021-01-04,National,Regulatory approval process for administering ...

,country,type,date_start,date_end,policy_id,entry_type,correct_type,update_type,update_level,date_announced,init_country_level,type_sub_cat
6288,Bangladesh,Restriction and Regulation of Government Services,2020-04-01,2020-04-11,8503937,update,original,Change of Policy,Strengthening,2020-04-01,National,
6291,Bangladesh,Restriction and Regulation of Government Services,2020-04-05,2020-04-14,8503937,update,original,Change of Policy,Strengthening,2020-04-05,National,
6293,Bangladesh,Restriction and Regulation of Government Services,2020-04-10,2020-04-25,8503937,update,original,Change of Policy,Strengthening,2020-04-10,National,
6298,Bangladesh,Restriction and Regulation of Government Services,2020-04-23,2020-05-05,8503937,update,original,Change of Policy,Strengthening,2020-04-23,National,

,country,type,date_start,date_end,policy_id,entry_type,correct_type,update_type,update_level,date_announced,init_country_level,type_sub_cat
5963,Bangladesh,External Border Restrictions,2020-05-14,2020-05-30,8587218,new_entry,original,,,2020-05-14,National,Other External Border Restriction
5966,Bangladesh,External Border Restrictions,2020-05-30,2020-06-15,8587218,update,original,Change of Policy,Strengthening,2020-06-11,National,Other External Border Restriction

,country,type,date_start,date_end,policy_id,entry_type,correct_type,update_type,update_level,date_announced,init_country_level,type_sub_cat
5950,Bangladesh,Curfew,2020-07-01,2020-08-03,8608238,update,original,Change of Policy,Both Strengthening and Relaxing,2020-06-30,National,
5951,Bangladesh,Curfew,2020-08-03,2020-08-31,8608238,update,original,Change of Policy,Both Strengthening and Relaxing,2020-08-03,National,

,country,type,date_start,date_end,policy_id,entry_type,correct_type,update_type,update_level,date_announced,init_country_level,type_sub_cat
6359,Bangladesh,Restrictions of Mass Gatherings,2021-04-05,2021-04-12,8690562,new_entry,original,,,2021-04-04,National,Attendance at religious services restricted (e...
6360,Bangladesh,Restrictions of Mass Gatherings,2021-04-05,2021-04-12,8690562,new_entry,original,,,2021-04-04,National,Other mass gatherings not specified above rest...

,country,type,date_start,date_end,policy_id,entry_type,correct_type,update_type,update_level,date_announced,init_country_level,type_sub_cat
6349,Bangladesh,Restrictions of Mass Gatherings,2020-05-25,2020-05-25,89033,new_entry,original,,,2020-05-10,National,

,country,type,date_start,date_end,policy_id,entry_type,correct_type,update_type,update_level,date_announced,init_country_level,type_sub_cat
6150,Bangladesh,Lockdown,2020-06-13,2020-07-04,8981157,new_entry,original,,,2020-06-22,National,

,country,type,date_start,date_end,policy_id,entry_type,correct_type,update_type,update_level,date_announced,init_country_level,type_sub_cat
6327,Bangladesh,Restriction and Regulation of Government Services,2021-03-29,2021-04-12,9068345,new_entry,original,,,2021-03-29,National,Public museums/galleries
6323,Bangladesh,Restriction and Regulation of Government Services,2021-03-29,2021-04-12,9068345,new_entry,original,,,2021-03-29,National,Parks
6324,Bangladesh,Restriction and Regulation of Government Services,2021-03-29,2021-04-12,9068345,new_entry,original,,,2021-03-29,National,Tourist Sites
6325,Bangladesh,Restriction and Regulation of Government Services,2021-03-29,2021-04-12,9068345,new_entry,original,,,2021-03-29,National,Unspecified outdoor spaces
6326,Bangladesh,Restriction and Regulation of Government Services,2021-03-29,2021-04-12,9068345,new_entry,original,,,2021-03-29,National,Public libraries
6328,Bangladesh,Restriction and Regulation of Government Services,2021-03-29,2021-04-12,9068345,new_entry,original,,,2021-03-29,National,Unspecified public facilities
6329,Bangladesh,Restriction and Regulation of Government Services,2021-03-29,2021-04-12,9068345,new_entry,original,,,2021-03-29,National,Regulations on government meetings (including ...

,country,type,date_start,date_end,policy_id,entry_type,correct_type,update_type,update_level,date_announced,init_country_level,type_sub_cat
6372,Bangladesh,Social Distancing,2021-03-29,2021-04-12,9068345Di,new_entry,original,,,2021-03-29,National,Keeping a distance of at least 6 feet or 1.5 m...
6374,Bangladesh,Social Distancing,2021-03-29,2021-04-12,9068345Di,new_entry,original,,,2021-03-29,National,Keeping a distance of at least 6 feet or 1.5 m...

,country,type,date_start,date_end,policy_id,entry_type,correct_type,update_type,update_level,date_announced,init_country_level,type_sub_cat
6373,Bangladesh,Social Distancing,2021-03-29,2021-04-12,9068345Ma,new_entry,original,,,2021-03-29,National,Wearing Masks inside Parks
6375,Bangladesh,Social Distancing,2021-03-29,2021-04-12,9068345Ma,new_entry,original,,,2021-03-29,National,Wearing Masks inside Tourist Sites
6376,Bangladesh,Social Distancing,2021-03-29,2021-04-12,9068345Ma,new_entry,original,,,2021-03-29,National,Wearing Masks inside Unspecified outdoor spaces
6377,Bangladesh,Social Distancing,2021-03-29,2021-04-12,9068345Ma,new_entry,original,,,2021-03-29,National,Wearing Masks inside Public libraries
6378,Bangladesh,Social Distancing,2021-03-29,2021-04-12,9068345Ma,new_entry,original,,,2021-03-29,National,Wearing Masks inside Public museums/galleries
6379,Bangladesh,Social Distancing,2021-03-29,2021-04-12,9068345Ma,new_entry,original,,,2021-03-29,National,Wearing Masks inside Unspecified public facili...

,country,type,date_start,date_end,policy_id,entry_type,correct_type,update_type,update_level,date_announced,init_country_level,type_sub_cat
6301,Bangladesh,Restriction and Regulation of Government Services,2020-04-26,2020-05-05,9166276,new_entry,original,,,2020-04-25,National,
6304,Bangladesh,Restriction and Regulation of Government Services,2020-05-04,2020-05-16,9166276,update,original,Change of Policy,Strengthening,2020-05-04,National,
6307,Bangladesh,Restriction and Regulation of Government Services,2020-05-14,2020-05-30,9166276,update,original,Change of Policy,Strengthening,2020-05-14,National,

,country,type,date_start,date_end,policy_id,entry_type,correct_type,update_type,update_level,date_announced,init_country_level,type_sub_cat
6296,Bangladesh,Restriction and Regulation of Government Services,2020-04-23,2020-05-05,918088,new_entry,original,,,2020-04-22,National,
6302,Bangladesh,Restriction and Regulation of Government Services,2020-04-26,2020-05-05,918088,update,original,End of Policy,,2020-04-25,National,

,country,type,date_start,date_end,policy_id,entry_type,correct_type,update_type,update_level,date_announced,init_country_level,type_sub_cat
5932,Bangladesh,COVID-19 Vaccines,2021-02-02,2021-02-02,9238292,new_entry,original,,,2021-02-02,National,Distribution (shipping; storage; administratio...

,country,type,date_start,date_end,policy_id,entry_type,correct_type,update_type,update_level,date_announced,init_country_level,type_sub_cat
6152,Bangladesh,Lockdown,2020-06-14,2020-07-04,9396125,new_entry,original,,,2020-06-21,National,

,country,type,date_start,date_end,policy_id,entry_type,correct_type,update_type,update_level,date_announced,init_country_level,type_sub_cat
6169,Bangladesh,Lockdown,2021-04-05,2021-04-12,9425489,new_entry,original,,,2021-04-04,National,

,country,type,date_start,date_end,policy_id,entry_type,correct_type,update_type,update_level,date_announced,init_country_level,type_sub_cat
5925,Bangladesh,COVID-19 Vaccines,2021-01-20,2021-01-21,9496219,new_entry,original,,,2021-01-20,Provincial,Distribution (shipping; storage; administratio...

,country,type,date_start,date_end,policy_id,entry_type,correct_type,update_type,update_level,date_announced,init_country_level,type_sub_cat
6279,Bangladesh,Restriction and Regulation of Government Services,2020-03-18,2020-03-31,9516881,new_entry,original,,,2020-03-16,National,Other public facilities
6319,Bangladesh,Restriction and Regulation of Government Services,2020-10-23,2020-03-31,9516881,update,original,End of Policy,,2020-10-01,National,Other public facilities

,country,type,date_start,date_end,policy_id,entry_type,correct_type,update_type,update_level,date_announced,init_country_level,type_sub_cat
6155,Bangladesh,Lockdown,2020-06-16,2020-07-07,9581794,new_entry,original,,,2020-06-22,National,

,country,type,date_start,date_end,policy_id,entry_type,correct_type,update_type,update_level,date_announced,init_country_level,type_sub_cat
6160,Bangladesh,Lockdown,2020-06-18,2020-07-09,9620741,new_entry,original,,,2020-06-21,National,

,country,type,date_start,date_end,policy_id,entry_type,correct_type,update_type,update_level,date_announced,init_country_level,type_sub_cat
6238,Bangladesh,Restriction and Regulation of Businesses,2020-03-26,2020-04-04,9621663,new_entry,original,,,2020-03-23,National,Shopping Centers
6239,Bangladesh,Restriction and Regulation of Businesses,2020-03-26,2020-04-04,9621663,new_entry,original,,,2020-03-23,National,Commercial Businesses
6237,Bangladesh,Restriction and Regulation of Businesses,2020-03-26,2020-04-04,9621663,new_entry,original,,,2020-03-23,National,Retail Businesses
6240,Bangladesh,Restriction and Regulation of Businesses,2020-03-26,2020-04-04,9621663,new_entry,original,,,2020-03-23,National,Personal Grooming Businesses (e.g. hair salons)
6245,Bangladesh,Restriction and Regulation of Businesses,2020-04-26,2020-05-05,9621663,update,original,,Strengthening,2020-04-22,National,Retail Businesses
6247,Bangladesh,Restriction and Regulation of Businesses,2020-04-26,2020-05-05,9621663,update,original,,Strengthening,2020-04-22,National,Commercial Businesses
6248,Bangladesh,Restriction and Regulation of Businesses,2020-04-26,2020-05-05,9621663,update,original,,Strengthening,2020-04-22,National,Personal Grooming Businesses (e.g. hair salons)
6246,Bangladesh,Restriction and Regulation of Businesses,2020-04-26,2020-05-05,9621663,update,original,,Strengthening,2020-04-22,National,Shopping Centers
6251,Bangladesh,Restriction and Regulation of Businesses,2020-05-04,2020-05-16,9621663,update,original,Change of Policy,Strengthening,2020-05-04,National,Shopping Centers
6252,Bangladesh,Restriction and Regulation of Businesses,2020-05-04,2020-05-16,9621663,update,original,Change of Policy,Strengthening,2020-05-04,National,Commercial Businesses
6253,Bangladesh,Restriction and Regulation of Businesses,2020-05-04,2020-05-16,9621663,update,original,Change of Policy,Strengthening,2020-05-04,National,Personal Grooming Businesses (e.g. hair salons)
6250,Bangladesh,Restriction and Regulation of Businesses,2020-05-04,2020-05-16,9621663,update,original,Change of Policy,Strengthening,2020-05-04,National,Retail Businesses

,country,type,date_start,date_end,policy_id,entry_type,correct_type,update_type,update_level,date_announced,init_country_level,type_sub_cat
5923,Bangladesh,COVID-19 Vaccines,2021-01-16,2021-01-17,9635730,new_entry,original,,,2021-01-16,National,Regulatory approval process for administering ...

,country,type,date_start,date_end,policy_id,entry_type,correct_type,update_type,update_level,date_announced,init_country_level,type_sub_cat
6065,Bangladesh,Health Resources,2020-12-05,2020-12-06,9750495,new_entry,original,,,2020-12-05,National,Test Kits

,country,type,date_start,date_end,policy_id,entry_type,correct_type,update_type,update_level,date_announced,init_country_level,type_sub_cat
5909,Bangladesh,COVID-19 Vaccines,2020-12-22,2020-12-23,9774208,update,original,Change of Policy,Strengthening,2020-12-22,National,Purchase of COVID-19 vaccines
5912,Bangladesh,COVID-19 Vaccines,2021-01-01,2021-01-02,9774208,new_entry,original,,,2020-12-01,National,Purchase of COVID-19 vaccines

,country,type,date_start,date_end,policy_id,entry_type,correct_type,update_type,update_level,date_announced,init_country_level,type_sub_cat
6390,Bangladesh,Social Distancing,2021-04-02,2021-04-12,9933863,new_entry,original,,,2021-04-02,National,Wearing Masks in all public spaces/everywhere

,country,type,date_start,date_end,policy_id,entry_type,correct_type,update_type,update_level,date_announced,init_country_level,type_sub_cat
6286,Bangladesh,Restriction and Regulation of Government Services,2020-03-29,2020-04-02,9997026,new_entry,original,,,2020-03-24,National,Public courts
6289,Bangladesh,Restriction and Regulation of Government Services,2020-04-01,2020-04-09,9997026,update,original,Change of Policy,Strengthening,2020-04-01,National,Public courts
6292,Bangladesh,Restriction and Regulation of Government Services,2020-04-06,2020-04-13,9997026,update,original,Change of Policy,Strengthening,2020-04-06,National,Public courts
6294,Bangladesh,Restriction and Regulation of Government Services,2020-04-11,2020-04-25,9997026,update,original,Change of Policy,Strengthening,2020-04-11,National,Public courts
6303,Bangladesh,Restriction and Regulation of Government Services,2020-04-26,2020-05-05,9997026,update,original,Change of Policy,Strengthening,2020-04-26,National,Public courts
6305,Bangladesh,Restriction and Regulation of Government Services,2020-05-05,2020-05-16,9997026,update,original,Change of Policy,Strengthening,2020-05-05,National,Public courts
6308,Bangladesh,Restriction and Regulation of Government Services,2020-05-16,2020-05-30,9997026,update,original,Change of Policy,Strengthening,2020-05-16,National,Public courts

Empty DataFrame
Columns: []
Index: []

In [123]:
df[df["country"]=="Afghanistan"]

,country,type,date_start,date_end,policy_id,entry_type,correct_type,update_type,update_level,date_announced,init_country_level,type_sub_cat
18,Afghanistan,Closure and Regulation of Schools,2020-03-14,2020-04-21,3558044,update,original,Change of Policy,Strengthening,2020-03-14,National,Preschool or childcare facilities (generally f...
19,Afghanistan,Closure and Regulation of Schools,2020-03-14,2020-04-21,3558044,update,original,Change of Policy,Strengthening,2020-03-14,National,Primary Schools (generally for children ages 1...
20,Afghanistan,Closure and Regulation of Schools,2020-03-14,2020-04-21,3558044,update,original,Change of Policy,Strengthening,2020-03-14,National,Secondary Schools (generally for children ages...
21,Afghanistan,Closure and Regulation of Schools,2020-03-14,2020-04-21,3558044,update,original,Change of Policy,Strengthening,2020-03-14,National,Higher education institutions (i.e. degree gra...
25,Afghanistan,Closure and Regulation of Schools,2020-04-23,2020-05-23,1212064,update,original,Change of Policy,Strengthening,2020-06-03,National,Preschool or childcare facilities (generally f...
26,Afghanistan,Closure and Regulation of Schools,2020-04-23,2020-05-23,1212064,update,original,Change of Policy,Strengthening,2020-06-03,National,Primary Schools (generally for children ages 1...
27,Afghanistan,Closure and Regulation of Schools,2020-04-23,2020-05-23,1212064,update,original,Change of Policy,Strengthening,2020-06-03,National,Secondary Schools (generally for children ages...
28,Afghanistan,Closure and Regulation of Schools,2020-04-23,2020-05-23,1212064,update,original,Change of Policy,Strengthening,2020-06-03,National,Higher education institutions (i.e. degree gra...
32,Afghanistan,Closure and Regulation of Schools,2020-06-07,2020-09-08,1212064,update,original,Change of Policy,Strengthening,2020-06-07,National,Preschool or childcare facilities (generally f...
33,Afghanistan,Closure and Regulation of Schools,2020-06-07,2020-09-08,1212064,update,original,Change of Policy,Strengthening,2020-06-07,National,Primary Schools (generally for children ages 1...
34,Afghanistan,Closure and Regulation of Schools,2020-06-07,2020-09-08,1212064,update,original,Change of Policy,Strengthening,2020-06-07,National,Secondary Schools (generally for children ages...
35,Afghanistan,Closure and Regulation of Schools,2020-06-07,2020-09-08,1212064,update,original,Change of Policy,Strengthening,2020-06-07,National,Higher education institutions (i.e. degree gra...
70,Afghanistan,Curfew,2020-04-04,2020-04-25,5114451,new_entry,original,,,2020-04-03,Provincial,
71,Afghanistan,Curfew,2020-04-11,2020-04-25,2874945,update,original,,Strengthening,2020-04-11,National,
72,Afghanistan,Curfew,2020-04-23,2020-05-13,8713995,new_entry,original,,,2020-06-02,Provincial,
73,Afghanistan,Curfew,2020-05-21,2020-05-24,2874945,update,original,End of Policy,Strengthening,2020-05-21,National,
89,Afghanistan,External Border Restrictions,2020-06-24,2020-06-30,1983323,new_entry,original,,,2020-06-24,National,Other External Border Restriction
91,Afghanistan,External Border Restrictions,2020-06-24,2020-06-30,2035814,update,original,End of Policy,,2020-06-24,National,Health Certificates
93,Afghanistan,External Border Restrictions,2020-10-04,2020-10-17,6247123,new_entry,original,,,2020-10-04,Provincial,Other External Border Restriction
100,Afghanistan,Health Monitoring,2020-03-27,2020-04-17,7828097,new_entry,original,,,2020-03-27,Municipal,
194,Afghanistan,Internal Border Restrictions,2020-03-29,2020-04-29,6338544,new_entry,original,,,2020-03-29,Municipal,
205,Afghanistan,Lockdown,2020-03-31,2020-04-21,7600415,new_entry,original,,,2020-03-31,Provincial,
208,Afghanistan,Lockdown,2020-04-18,2020-05-09,2075503,update,original,Change of Policy,Strengthening,2020-04-17,National,
210,Afghanistan,Lockdown,2020-04-29,2020-05-13,9797489,new_entry,original,,,2020-04-29,Municipal,
211,Afghanistan,Lockdown,2020-05-02,2020-05-24,2945802,new_entry,original,,,2020-05-05,National,
212,Afghanistan,Lockdown,2020-05-02,2020-05-24,2075503,update,original,Change of Policy,Strengthening,2020-05-02,National,
213,Afghanistan,Lockdown,2020-05-21,2020-05-24,2075503,update,original,End of Policy,Strengthening,2020-05-21,National,
280,Afghanistan,Restriction and Regulation of Businesses,2020-03-31,2020-04-21,5258768,new_entry,original,,,2020-03-31,Provincial,Retail Businesses
281,Afghanistan,Restriction and Regulation of Businesses,2020-03-31,2020-04-21,5258768,new_entry,original,,,2020-03-31,Provincial,Restaurants
282,Afghanistan,Restriction and Regulation of Businesses,2020-03-31,2020-04-21,5258768,new_entry,original,,,2020-03-31,Provincial,Shopping Centers
284,Afghanistan,Restriction and Regulation of Businesses,2020-04-29,2020-05-13,1530563,new_entry,original,,,2020-04-29,Municipal,Supermarkets/grocery stores
305,Afghanistan,Restriction and Regulation of Government Services,2020-03-28,2020-04-18,5283179,new_entry,original,,,2020-03-28,Municipal,Regulated government working hours (e.g. work ...
307,Afghanistan,Restriction and Regulation of Government Services,2020-04-18,2020-05-09,5283179,update,original,Change of Policy,Strengthening,2020-04-16,Municipal,Regulated government working hours (e.g. work ...
308,Afghanistan,Restriction and Regulation of Government Services,2020-04-29,2020-05-13,3477465,new_entry,original,,,2020-04-29,National,Regulations on government meetings (including ...
309,Afghanistan,Restriction and Regulation of Government Services,2020-05-07,2020-05-23,5283179,update,original,Change of Policy,Strengthening,2020-05-07,Municipal,Regulated government working hours (e.g. work ...
324,Afghanistan,Restrictions of Mass Gatherings,2020-03-31,2020-04-21,1209591,new_entry,original,,,2020-03-31,Provincial,Other mass gatherings not specified above rest...
334,Afghanistan,Social Distancing,2020-06-06,2020-09-06,9151781,new_entry,original,,,2020-06-06,National,Wearing Masks in all public spaces/everywhere

In [124]:
df.head(100)

,country,type,date_start,date_end,policy_id,entry_type,correct_type,update_type,update_level,date_announced,init_country_level,type_sub_cat
18,Afghanistan,Closure and Regulation of Schools,2020-03-14,2020-04-21,3558044,update,original,Change of Policy,Strengthening,2020-03-14,National,Preschool or childcare facilities (generally f...
19,Afghanistan,Closure and Regulation of Schools,2020-03-14,2020-04-21,3558044,update,original,Change of Policy,Strengthening,2020-03-14,National,Primary Schools (generally for children ages 1...
20,Afghanistan,Closure and Regulation of Schools,2020-03-14,2020-04-21,3558044,update,original,Change of Policy,Strengthening,2020-03-14,National,Secondary Schools (generally for children ages...
21,Afghanistan,Closure and Regulation of Schools,2020-03-14,2020-04-21,3558044,update,original,Change of Policy,Strengthening,2020-03-14,National,Higher education institutions (i.e. degree gra...
25,Afghanistan,Closure and Regulation of Schools,2020-04-23,2020-05-23,1212064,update,original,Change of Policy,Strengthening,2020-06-03,National,Preschool or childcare facilities (generally f...
26,Afghanistan,Closure and Regulation of Schools,2020-04-23,2020-05-23,1212064,update,original,Change of Policy,Strengthening,2020-06-03,National,Primary Schools (generally for children ages 1...
27,Afghanistan,Closure and Regulation of Schools,2020-04-23,2020-05-23,1212064,update,original,Change of Policy,Strengthening,2020-06-03,National,Secondary Schools (generally for children ages...
28,Afghanistan,Closure and Regulation of Schools,2020-04-23,2020-05-23,1212064,update,original,Change of Policy,Strengthening,2020-06-03,National,Higher education institutions (i.e. degree gra...
32,Afghanistan,Closure and Regulation of Schools,2020-06-07,2020-09-08,1212064,update,original,Change of Policy,Strengthening,2020-06-07,National,Preschool or childcare facilities (generally f...
33,Afghanistan,Closure and Regulation of Schools,2020-06-07,2020-09-08,1212064,update,original,Change of Policy,Strengthening,2020-06-07,National,Primary Schools (generally for children ages 1...
34,Afghanistan,Closure and Regulation of Schools,2020-06-07,2020-09-08,1212064,update,original,Change of Policy,Strengthening,2020-06-07,National,Secondary Schools (generally for children ages...
35,Afghanistan,Closure and Regulation of Schools,2020-06-07,2020-09-08,1212064,update,original,Change of Policy,Strengthening,2020-06-07,National,Higher education institutions (i.e. degree gra...
70,Afghanistan,Curfew,2020-04-04,2020-04-25,5114451,new_entry,original,,,2020-04-03,Provincial,
71,Afghanistan,Curfew,2020-04-11,2020-04-25,2874945,update,original,,Strengthening,2020-04-11,National,
72,Afghanistan,Curfew,2020-04-23,2020-05-13,8713995,new_entry,original,,,2020-06-02,Provincial,
73,Afghanistan,Curfew,2020-05-21,2020-05-24,2874945,update,original,End of Policy,Strengthening,2020-05-21,National,
89,Afghanistan,External Border Restrictions,2020-06-24,2020-06-30,1983323,new_entry,original,,,2020-06-24,National,Other External Border Restriction
91,Afghanistan,External Border Restrictions,2020-06-24,2020-06-30,2035814,update,original,End of Policy,,2020-06-24,National,Health Certificates
93,Afghanistan,External Border Restrictions,2020-10-04,2020-10-17,6247123,new_entry,original,,,2020-10-04,Provincial,Other External Border Restriction
100,Afghanistan,Health Monitoring,2020-03-27,2020-04-17,7828097,new_entry,original,,,2020-03-27,Municipal,
194,Afghanistan,Internal Border Restrictions,2020-03-29,2020-04-29,6338544,new_entry,original,,,2020-03-29,Municipal,
205,Afghanistan,Lockdown,2020-03-31,2020-04-21,7600415,new_entry,original,,,2020-03-31,Provincial,
208,Afghanistan,Lockdown,2020-04-18,2020-05-09,2075503,update,original,Change of Policy,Strengthening,2020-04-17,National,
210,Afghanistan,Lockdown,2020-04-29,2020-05-13,9797489,new_entry,original,,,2020-04-29,Municipal,
211,Afghanistan,Lockdown,2020-05-02,2020-05-24,2945802,new_entry,original,,,2020-05-05,National,
212,Afghanistan,Lockdown,2020-05-02,2020-05-24,2075503,update,original,Change of Policy,Strengthening,2020-05-02,National,
213,Afghanistan,Lockdown,2020-05-21,2020-05-24,2075503,update,original,End of Policy,Strengthening,2020-05-21,National,
280,Afghanistan,Restriction and Regulation of Businesses,2020-03-31,2020-04-21,5258768,new_entry,original,,,2020-03-31,Provincial,Retail Businesses
281,Afghanistan,Restriction and Regulation of Businesses,2020-03-31,2020-04-21,5258768,new_entry,original,,,2020-03-31,Provincial,Restaurants
282,Afghanistan,Restriction and Regulation of Businesses,2020-03-31,2020-04-21,5258768,new_entry,original,,,2020-03-31,Provincial,Shopping Centers
284,Afghanistan,Restriction and Regulation of Businesses,2020-04-29,2020-05-13,1530563,new_entry,original,,,2020-04-29,Municipal,Supermarkets/grocery stores
305,Afghanistan,Restriction and Regulation of Government Services,2020-03-28,2020-04-18,5283179,new_entry,original,,,2020-03-28,Municipal,Regulated government working hours (e.g. work ...
307,Afghanistan,Restriction and Regulation of Government Services,2020-04-18,2020-05-09,5283179,update,original,Change of Policy,Strengthening,2020-04-16,Municipal,Regulated government working hours (e.g. work ...
308,Afghanistan,Restriction and Regulation of Government Services,2020-04-29,2020-05-13,3477465,new_entry,original,,,2020-04-29,National,Regulations on government meetings (including ...
309,Afghanistan,Restriction and Regulation of Government Services,2020-05-07,2020-05-23,5283179,update,original,Change of Policy,Strengthening,2020-05-07,Municipal,Regulated government working hours (e.g. work ...
324,Afghanistan,Restrictions of Mass Gatherings,2020-03-31,2020-04-21,1209591,new_entry,original,,,2020-03-31,Provincial,Other mass gatherings not specified above rest...
334,Afghanistan,Social Distancing,2020-06-06,2020-09-06,9151781,new_entry,original,,,2020-06-06,National,Wearing Masks in all public spaces/everywhere
348,Albania,Closure and Regulation of Schools,2020-03-09,2020-03-23,8782530,new_entry,original,,,2020-03-09,National,Preschool or childcare facilities (generally f...
349,Albania,Closure and Regulation of Schools,2020-03-09,2020-03-23,8782530,new_entry,original,,,2020-03-09,National,Primary Schools (generally for children ages 1...
350,Albania,Closure and Regulation of Schools,2020-03-09,2020-03-23,8782530,new_entry,original,,,2020-03-09,National,Secondary Schools (generally for children ages...
351,Albania,Closure and Regulation of Schools,2020-03-09,2020-03-23,8782530,new_entry,original,,,2020-03-09,National,Higher education institutions (i.e. degree gra...
352,Albania,Closure and Regulation of Schools,2020-04-01,2020-03-23,8782530,update,original,,,2020-04-01,National,Preschool or childcare facilities (generally f...
353,Albania,Closure and Regulation of Schools,2020-04-01,2020-03-23,8782530,update,original,,,2020-04-01,National,Primary Schools (generally for children ages 1...
354,Albania,Closure and Regulation of Schools,2020-04-01,2020-03-23,8782530,update,original,,,2020-04-01,National,Secondary Schools (generally for children ages...
355,Albania,Closure and Regulation of Schools,2020-04-01,2020-03-23,8782530,update,original,,,2020-04-01,National,Higher education institutions (i.e. degree gra...
356,Albania,Closure and Regulation of Schools,2020-04-28,2020-03-23,8782530,update,original,Change of Policy,Strengthening,2020-04-28,National,Preschool or childcare facilities (generally f...
357,Albania,Closure and Regulation of Schools,2020-04-28,2020-03-23,8782530,update,original,Change of Policy,Strengthening,2020-04-28,National,Primary Schools (generally for children ages 1...
358,Albania,Closure and Regulation of Schools,2020-04-28,2020-03-23,8782530,update,original,Change of Policy,Strengthening,2020-04-28,National,Secondary Schools (generally for children ages...
359,Albania,Closure and Regulation of Schools,2020-04-28,2020-03-23,8782530,update,original,Change of Policy,Strengthening,2020-04-28,National,Higher education institutions (i.e. degree gra...
360,Albania,Closure and Regulation of Schools,2020-06-01,2020-03-23,8782530,update,original,Change of Policy,Relaxing,2020-05-08,National,Preschool or childcare facilities (generally f...
361,Albania,Closure and Regulation of Schools,2020-06-01,2020-03-23,8782530,update,original,Change of Policy,Relaxing,2020-05-08,National,Primary Schools (generally for children ages 1...
362,Albania,Closure and Regulation of Schools,2020-06-01,2020-03-23,8782530,update,original,Change of Policy,Relaxing,2020-05-08,National,Secondary Schools (generally for children ages...
363,Albania,Closure and Regulation of Schools,2020-06-01,2020-03-23,8782530,update,original,Change of Policy,Relaxing,2020-05-08,National,Higher education institutions (i.e. degree gra...
371,Albania,Declaration of Emergency,2020-04-21,2020-06-23,312295,update,original,,Relaxing,2020-04-21,National,
372,Albania,External Border Restrictions,2020-03-14,2020-04-03,8237828,update,original,,,2020-03-13,National,
378,Albania,Internal Border Restrictions,2020-05-04,2020-03-15,4280948,update,original,Change of Policy,Relaxing,2020-05-02,National,
379,Albania,Lockdown,2020-03-21,2020-03-23,3417604,new_entry,original,,,2020-03-20,National,
380,Albania,Lockdown,2020-04-11,2020-04-13,4421969,new_entry,original,,,2020-04-10,National,
386,Albania,Restriction and Regulation of Businesses,2020-04-20,2020-04-03,369321,update,original,,Relaxing,2020-04-18,National,Retail Businesses
387,Albania,Restriction and Regulation of Businesses,2020-04-20,2020-04-03,369321,update,original,,Relaxing,2020-04-18,National,Restaurants/Bars
388,Albania,Restriction and Regulation of Businesses,2020-04-20,2020-04-03,369321,update,original,,Relaxing,2020-04-18,National,Shopping Centers
389,Albania,Restriction and Regulation of Businesses,2020-04-20,2020-04-03,369321,update,original,,Relaxing,2020-04-18,National,Commercial Businesses
390,Albania,Restriction and Regulation of Businesses,2020-04-20,2020-04-03,369321,update,original,,Relaxing,2020-04-18,National,Retail Businesses
391,Albania,Restriction and Regulation of Businesses,2020-04-20,2020-04-03,369321,update,original,,Relaxing,2020-04-18,National,Restaurants/Bars
392,Albania,Restriction and Regulation of Businesses,2020-04-20,2020-04-03,369321,update,original,,Relaxing,2020-04-18,National,Shopping Centers
393,Albania,Restriction and Regulation of Businesses,2020-04-20,2020-04-03,369321,update,original,,Relaxing,2020-04-18,National,Commercial Businesses
394,Albania,Restriction and Regulation of Businesses,2020-04-27,2020-04-03,369321,update,original,,Relaxing,2020-04-21,National,Retail Businesses
395,Albania,Restriction and Regulation of Businesses,2020-04-27,2020-04-03,369321,update,original,,Relaxing,2020-04-21,National,Restaurants/Bars
396,Albania,Restriction and Regulation of Businesses,2020-04-27,2020-04-03,369321,update,original,,Relaxing,2020-04-21,National,Shopping Centers
397,Albania,Restriction and Regulation of Businesses,2020-04-27,2020-04-03,369321,update,original,,Relaxing,2020-04-21,National,Commercial Businesses
398,Albania,Restriction and Regulation of Businesses,2020-05-18,2020-04-03,369321,update,original,Change of Policy,Relaxing,2020-05-17,National,Retail Businesses
399,Albania,Restriction and Regulation of Businesses,2020-05-18,2020-04-03,369321,update,original,Change of Policy,Relaxing,2020-05-17,National,Restaurants/Bars
400,Albania,Restriction and Regulation of Businesses,2020-05-18,2020-04-03,369321,update,original,Change of Policy,Relaxing,2020-05-17,National,Shopping Centers
401,Albania,Restriction and Regulation of Businesses,2020-05-18,2020-04-03,369321,update,original,Change of Policy,Relaxing,2020-05-17,National,Commercial Businesses
409,Albania,Restrictions of Mass Gatherings,2020-03-08,2020-04-03,439279,new_entry,original,,,2020-03-08,National,
421,Algeria,Closure and Regulation of Schools,2020-03-12,2020-10-04,3183625,update,original,Change of Policy,Both Strengthening and Relaxing,2020-07-13,National,Preschool or childcare facilities (generally f...
422,Algeria,Closure and Regulation of Schools,2020-03-12,2020-10-04,3183625,update,original,Change of Policy,Both Strengthening and Relaxing,2020-07-13,National,Primary Schools (generally for children ages 1...
423,Algeria,Closure and Regulation of Schools,2020-03-12,2020-10-04,3183625,update,original,Change of Policy,Both Strengthening and Relaxing,2020-07-13,National,Secondary Schools (generally for children ages...
424,Algeria,Closure and Regulation of Schools,2020-03-12,2020-10-04,3183625,update,original,Change of Policy,Both Strengthening and Relaxing,2020-07-13,National,Higher education institutions (i.e. degree gra...
425,Algeria,Closure and Regulation of Schools,2020-03-31,2020-04-05,3183625,update,original,Change of Policy,Strengthening,2020-03-31,National,Preschool or childcare facilities (generally f...
426,Algeria,Closure and Regulation of Schools,2020-03-31,2020-04-05,3183625,update,original,Change of Policy,Strengthening,2020-03-31,National,Primary Schools (generally for children ages 1...
427,Algeria,Closure and Regulation of Schools,2020-03-31,2020-04-05,3183625,update,original,Change of Policy,Strengthening,2020-03-31,National,Secondary Schools (generally for children ages...
428,Algeria,Closure and Regulation of Schools,2020-03-31,2020-04-05,3183625,update,original,Change of Policy,Strengthening,2020-03-31,National,Higher education institutions (i.e. degree gra...
429,Algeria,Closure and Regulation of Schools,2020-05-12,2020-05-29,3183625,update,original,Change of Policy,Strengthening,2020-05-12,National,Preschool or childcare facilities (generally f...
430,Algeria,Closure and Regulation of Schools,2020-05-12,2020-05-29,3183625,update,original,Change of Policy,Strengthening,2020-05-12,National,Primary Schools (generally for children ages 1...
431,Algeria,Closure and Regulation of Schools,2020-05-12,2020-05-29,3183625,update,original,Change of Policy,Strengthening,2020-05-12,National,Secondary Schools (generally for children ages...
432,Algeria,Closure and Regulation of Schools,2020-05-12,2020-05-29,3183625,update,original,Change of Policy,Strengthening,2020-05-12,National,Higher education institutions (i.e. degree gra...
433,Algeria,Closure and Regulation of Schools,2020-08-13,2020-09-17,3472660,new_entry,original,,,2020-07-22,National,Secondary Schools (generally for children ages...
434,Algeria,Closure and Regulation of Schools,2020-08-13,2020-09-17,3472660,new_entry,original,,,2020-07-22,National,Higher education institutions (i.e. degree gra...
447,Algeria,Closure and Regulation of Schools,2020-10-01,2020-04-05,3183625,update,original,Change of Policy,Strengthening,2020-10-01,National,Preschool or childcare facilities (generally f...
448,Algeria,Closure and Regulation of Schools,2020-10-01,2020-04-05,3183625,update,original,Change of Policy,Strengthening,2020-10-01,National,Primary Schools (generally for children ages 1...
449,Algeria,Closure and Regulation of Schools,2020-10-01,2020-04-05,3183625,update,original,Change of Policy,Strengthening,2020-10-01,National,Secondary Schools (generally for children ages...
450,Algeria,Closure and Regulation of Schools,2020-10-01,2020-04-05,3183625,update,original,Change of Policy,Strengthening,2020-10-01,National,Higher education institutions (i.e. degree gra...
452,Algeria,Closure and Regulation of Schools,2020-10-04,2020-10-21,3183625,update,original,End of Policy,Strengthening,2020-10-04,National,Preschool or childcare facilities (generally f...
453,Algeria,Closure and Regulation of Schools,2020-10-04,2020-10-21,3183625,update,original,End of Policy,Strengthening,2020-10-04,National,Primary Schools (generally for children ages 1...
454,Algeria,Closure and Regulation of Schools,2020-10-04,2020-10-21,3183625,update,original,End of Policy,Strengthening,2020-10-04,National,Secondary Schools (generally for children ages...
455,Algeria,Closure and Regulation of Schools,2020-10-04,2020-10-21,3183625,update,original,End of Policy,Strengthening,2020-10-04,National,Higher education institutions (i.e. degree gra...
456,Algeria,Closure and Regulation of Schools,2020-10-19,2020-10-21,4810,new_entry,original,,,2020-10-04,National,Primary Schools (generally for children ages 1...
459,Algeria,Closure and Regulation of Schools,2020-11-02,2020-11-04,126504,new_entry,original,,,2020-10-04,National,Secondary Schools (generally for children ages...
461,Algeria,Closure and Regulation of Schools,2020-11-12,2020-11-15,9153073,new_entry,original,,,2020-10-04,National,Secondary Schools (generally for children ages...

In [94]:
df["date_end"]=df["date_end"].dt.strftime("%Y-%m-%d")

In [97]:
df["date_end"].fillna('', inplace=True)

In [95]:
df.dtypes

country                       object
type                          object
date_start            datetime64[ns]
date_end                      object
policy_id                     object
entry_type                    object
correct_type                  object
update_type                   object
update_level                  object
date_announced                object
init_country_level            object
type_sub_cat                  object
dtype: object

In [70]:
df["date_end"].replace("NaT","",inplace=True)

In [131]:
df.to_csv("coronanet_shortened.csv",index=False)