In [50]:
import pandas as pd
import os
import numpy as np
from datetime import datetime, timedelta

In [51]:
#making pandas dataframe from text with added headers/
#home/zinat/Documents/Research/code/dataset_tsmc2014
#df = pd.read_csv("dataset_tsmc2014\\dataset_TMSC2014_NYC.txt", delimiter = "\t", header=None)#, names=["Case", "Event name", "Time", "unknown text"])

df = pd.read_csv("dataset_tsmc2014/dataset_TSMC2014_NYC.txt", encoding='latin1',delimiter = "\t", header=None, names=["User ID", "Venue ID", "Venue category ID", "Venue category name","Latitude","Longitude", "Timezone offset","UTC Time"])

In [60]:
df

,User ID,Venue ID,Venue category ID,Venue category name,Latitude,Longitude,Timezone offset,UTC Time,Start Time,Event attributes
0,470,Venue_ID=49bbd6c0f964a520f4531fe3,Venue category ID=4bf58dd8d48988d127951735,Arts & Crafts Store,40.719810,-74.002581,-240,Tue Apr 03 18:00:09 +0000 2012,2012-04-03 14:00:09+00:00,Venue_ID=49bbd6c0f964a520f4531fe3;Venue catego...
1,979,Venue_ID=4a43c0aef964a520c6a61fe3,Venue category ID=4bf58dd8d48988d1df941735,Bridge,40.606800,-74.044170,-240,Tue Apr 03 18:00:25 +0000 2012,2012-04-03 14:00:25+00:00,Venue_ID=4a43c0aef964a520c6a61fe3;Venue catego...
2,69,Venue_ID=4c5cc7b485a1e21e00d35711,Venue category ID=4bf58dd8d48988d103941735,Home (private),40.716162,-73.883070,-240,Tue Apr 03 18:02:24 +0000 2012,2012-04-03 14:02:24+00:00,Venue_ID=4c5cc7b485a1e21e00d35711;Venue catego...
3,395,Venue_ID=4bc7086715a7ef3bef9878da,Venue category ID=4bf58dd8d48988d104941735,Medical Center,40.745164,-73.982519,-240,Tue Apr 03 18:02:41 +0000 2012,2012-04-03 14:02:41+00:00,Venue_ID=4bc7086715a7ef3bef9878da;Venue catego...
4,87,Venue_ID=4cf2c5321d18a143951b5cec,Venue category ID=4bf58dd8d48988d1cb941735,Food Truck,40.740104,-73.989658,-240,Tue Apr 03 18:03:00 +0000 2012,2012-04-03 14:03:00+00:00,Venue_ID=4cf2c5321d18a143951b5cec;Venue catego...
...,...,...,...,...,...,...,...,...,...,...
227423,688,Venue_ID=3fd66200f964a52000e71ee3,Venue category ID=4bf58dd8d48988d1e7931735,Music Venue,40.733596,-74.003139,-300,Sat Feb 16 02:29:11 +0000 2013,2013-02-15 21:29:11+00:00,Venue_ID=3fd66200f964a52000e71ee3;Venue catego...
227424,560,Venue_ID=4bca32ff0687ef3be789dbcc,Venue category ID=4bf58dd8d48988d16c941735,Burger Joint,40.745719,-73.993720,-300,Sat Feb 16 02:31:35 +0000 2013,2013-02-15 21:31:35+00:00,Venue_ID=4bca32ff0687ef3be789dbcc;Venue catego...
227425,945,Venue_ID=50a77716e4b0b5a9492f6f56,Venue category ID=4bf58dd8d48988d103941735,Home (private),40.854364,-73.883070,-300,Sat Feb 16 02:33:16 +0000 2013,2013-02-15 21:33:16+00:00,Venue_ID=50a77716e4b0b5a9492f6f56;Venue catego...
227426,671,Venue_ID=4514efe0f964a520e7391fe3,Venue category ID=4bf58dd8d48988d11d941735,Bar,40.735981,-74.029309,-300,Sat Feb 16 02:34:31 +0000 2013,2013-02-15 21:34:31+00:00,Venue_ID=4514efe0f964a520e7391fe3;Venue catego...
227427,942,Venue_ID=4a1e0ca0f964a520bf7b1fe3,Venue category ID=4bf58dd8d48988d116941735,Bar,40.726805,-73.957422,-300,Sat Feb 16 02:35:36 +0000 2013,2013-02-15 21:35:36+00:00,Venue_ID=4a1e0ca0f964a520bf7b1fe3;Venue catego...

In [53]:
df.assign(End_Time="")

,User ID,Venue ID,Venue category ID,Venue category name,Latitude,Longitude,Timezone offset,UTC Time,End_Time
0,470,49bbd6c0f964a520f4531fe3,4bf58dd8d48988d127951735,Arts & Crafts Store,40.719810,-74.002581,-240,Tue Apr 03 18:00:09 +0000 2012,
1,979,4a43c0aef964a520c6a61fe3,4bf58dd8d48988d1df941735,Bridge,40.606800,-74.044170,-240,Tue Apr 03 18:00:25 +0000 2012,
2,69,4c5cc7b485a1e21e00d35711,4bf58dd8d48988d103941735,Home (private),40.716162,-73.883070,-240,Tue Apr 03 18:02:24 +0000 2012,
3,395,4bc7086715a7ef3bef9878da,4bf58dd8d48988d104941735,Medical Center,40.745164,-73.982519,-240,Tue Apr 03 18:02:41 +0000 2012,
4,87,4cf2c5321d18a143951b5cec,4bf58dd8d48988d1cb941735,Food Truck,40.740104,-73.989658,-240,Tue Apr 03 18:03:00 +0000 2012,
...,...,...,...,...,...,...,...,...,...
227423,688,3fd66200f964a52000e71ee3,4bf58dd8d48988d1e7931735,Music Venue,40.733596,-74.003139,-300,Sat Feb 16 02:29:11 +0000 2013,
227424,560,4bca32ff0687ef3be789dbcc,4bf58dd8d48988d16c941735,Burger Joint,40.745719,-73.993720,-300,Sat Feb 16 02:31:35 +0000 2013,
227425,945,50a77716e4b0b5a9492f6f56,4bf58dd8d48988d103941735,Home (private),40.854364,-73.883070,-300,Sat Feb 16 02:33:16 +0000 2013,
227426,671,4514efe0f964a520e7391fe3,4bf58dd8d48988d11d941735,Bar,40.735981,-74.029309,-300,Sat Feb 16 02:34:31 +0000 2013,
227427,942,4a1e0ca0f964a520bf7b1fe3,4bf58dd8d48988d116941735,Bar,40.726805,-73.957422,-300,Sat Feb 16 02:35:36 +0000 2013,

In [54]:
#df['EndDate'] = pd.to_datetime(df['StartDate']) + pd.to_timedelta(df['duration'], unit='s')
#df.drop('StartDate,'duration', axis = 1, inplace = True)

df["Start Time"]=pd.to_datetime(df["UTC Time"])+pd.to_timedelta(df["Timezone offset"], unit='m')

In [55]:
df["Venue ID"]="Venue_ID="+df["Venue ID"].astype(str)

In [56]:
df["Venue category ID"]="Venue category ID="+df["Venue category ID"].astype(str)

In [57]:
df["Event attributes"]=df["Venue ID"].astype(str) +";"+ df["Venue category ID"].astype(str)

In [58]:
df["Event attributes"]

0         Venue_ID=49bbd6c0f964a520f4531fe3;Venue catego...
1         Venue_ID=4a43c0aef964a520c6a61fe3;Venue catego...
2         Venue_ID=4c5cc7b485a1e21e00d35711;Venue catego...
3         Venue_ID=4bc7086715a7ef3bef9878da;Venue catego...
4         Venue_ID=4cf2c5321d18a143951b5cec;Venue catego...
                                ...
227423    Venue_ID=3fd66200f964a52000e71ee3;Venue catego...
227424    Venue_ID=4bca32ff0687ef3be789dbcc;Venue catego...
227425    Venue_ID=50a77716e4b0b5a9492f6f56;Venue catego...
227426    Venue_ID=4514efe0f964a520e7391fe3;Venue catego...
227427    Venue_ID=4a1e0ca0f964a520bf7b1fe3;Venue catego...
Name: Event attributes, Length: 227428, dtype: object

In [64]:
df=df.drop(columns=["Venue ID", "Venue category ID", "Latitude","Longitude", "Timezone offset","UTC Time"])

In [62]:
df["End Time"]=""

In [65]:
df

,User ID,Venue category name,Start Time,Event attributes,End Time
0,470,Arts & Crafts Store,2012-04-03 14:00:09+00:00,Venue_ID=49bbd6c0f964a520f4531fe3;Venue catego...,
1,979,Bridge,2012-04-03 14:00:25+00:00,Venue_ID=4a43c0aef964a520c6a61fe3;Venue catego...,
2,69,Home (private),2012-04-03 14:02:24+00:00,Venue_ID=4c5cc7b485a1e21e00d35711;Venue catego...,
3,395,Medical Center,2012-04-03 14:02:41+00:00,Venue_ID=4bc7086715a7ef3bef9878da;Venue catego...,
4,87,Food Truck,2012-04-03 14:03:00+00:00,Venue_ID=4cf2c5321d18a143951b5cec;Venue catego...,
...,...,...,...,...,...
227423,688,Music Venue,2013-02-15 21:29:11+00:00,Venue_ID=3fd66200f964a52000e71ee3;Venue catego...,
227424,560,Burger Joint,2013-02-15 21:31:35+00:00,Venue_ID=4bca32ff0687ef3be789dbcc;Venue catego...,
227425,945,Home (private),2013-02-15 21:33:16+00:00,Venue_ID=50a77716e4b0b5a9492f6f56;Venue catego...,
227426,671,Bar,2013-02-15 21:34:31+00:00,Venue_ID=4514efe0f964a520e7391fe3;Venue catego...,
227427,942,Bar,2013-02-15 21:35:36+00:00,Venue_ID=4a1e0ca0f964a520bf7b1fe3;Venue catego...,

In [67]:
order=[0,1,2,4,3]
df[df.columns[order]]

,User ID,Venue category name,Start Time,End Time,Event attributes
0,470,Arts & Crafts Store,2012-04-03 14:00:09+00:00,,Venue_ID=49bbd6c0f964a520f4531fe3;Venue catego...
1,979,Bridge,2012-04-03 14:00:25+00:00,,Venue_ID=4a43c0aef964a520c6a61fe3;Venue catego...
2,69,Home (private),2012-04-03 14:02:24+00:00,,Venue_ID=4c5cc7b485a1e21e00d35711;Venue catego...
3,395,Medical Center,2012-04-03 14:02:41+00:00,,Venue_ID=4bc7086715a7ef3bef9878da;Venue catego...
4,87,Food Truck,2012-04-03 14:03:00+00:00,,Venue_ID=4cf2c5321d18a143951b5cec;Venue catego...
...,...,...,...,...,...
227423,688,Music Venue,2013-02-15 21:29:11+00:00,,Venue_ID=3fd66200f964a52000e71ee3;Venue catego...
227424,560,Burger Joint,2013-02-15 21:31:35+00:00,,Venue_ID=4bca32ff0687ef3be789dbcc;Venue catego...
227425,945,Home (private),2013-02-15 21:33:16+00:00,,Venue_ID=50a77716e4b0b5a9492f6f56;Venue catego...
227426,671,Bar,2013-02-15 21:34:31+00:00,,Venue_ID=4514efe0f964a520e7391fe3;Venue catego...
227427,942,Bar,2013-02-15 21:35:36+00:00,,Venue_ID=4a1e0ca0f964a520bf7b1fe3;Venue catego...

In [71]:
df.to_csv("NYC.txt",sep='\t', index=False, header=False)

In [34]:
df["Venue category name"]="Venue category name="+df["Venue category name"].astype(str)