In [ ]:
import pandas as pd
import os
import numpy as np

In [ ]:
df = pd.read_csv("../../dataset_tsmc2014/dataset_TSMC2014_TKY.txt", encoding='latin1',delimiter = "\t", header=None, names=["User ID", "Venue ID", "Venue category ID", "Venue category name","Latitude","Longitude", "Timezone offset","UTC Time"])

In [ ]:
df

In [ ]:
df.dtypes

In [ ]:
print(df["Venue category ID"].unique())
print(df["Venue category ID"].nunique())

In [ ]:
print(df["Venue category name"].unique())
print(df["Venue category name"].nunique())

In [ ]:
print(df["Venue ID"].unique())
print(df["Venue ID"].nunique())

In [ ]:
df['UTC Time']=pd.to_datetime(df['UTC Time'],  infer_datetime_format=True)

In [ ]:
df = df[~(df['UTC Time'] < '2012-04-01')]

df = df[~(df['UTC Time'] > '2012-04-30')]

In [ ]:
df['day']=df['UTC Time'].dt.day

df['week']=df['UTC Time'].dt.week

In [ ]:
df.groupby(["User ID",'week']).count().reset_index().describe()

In [ ]:
df.to_csv("TKY_Apr_15.csv",index=False)

In [ ]:
len(df)

In [ ]:
print(df["User ID"].nunique())

In [ ]:
user_arr=np.sort(df['User ID'].unique())

In [ ]:
df2=df[df["User ID"].isin(user_arr[:50])]

In [ ]:
np.sort(df['User ID'].unique())

In [ ]:
df['User ID']

In [ ]:
pd.set_option('display.max_rows', None)
temp=(df[['User ID',"Venue ID"]].groupby('User ID').count())
print(temp)
print(temp.iloc[[temp["Venue ID"].argmax()]])

print(temp.iloc[[temp["Venue ID"].argmin()]])

print(temp["Venue ID"].median())

In [ ]:
temp=df[['User ID','UTC Time']]
temp['diff']=temp.sort_values(['UTC Time']).groupby('User ID')['UTC Time'].diff()
#diff=temp.sort_values(['UTC Time']).groupby('User ID')['UTC Time'].diff()
print(temp.sort_values(['UTC Time']).groupby('User ID')['UTC Time'].diff().head())
#temp=temp['UTC Time'].diff()
#temp.apply(print)
#temp['UTC Time'].diff()
temp = temp.dropna(subset=['diff'])
print(temp.head())
print(temp.shape)
print(temp['diff'].argmin())
print(temp['diff'].min())
print(temp['diff'].argmax())
print(temp['diff'].max())
print(temp['diff'].median())

In [ ]:
for i in df["User ID"].unique():
    #print(df.loc[df.Case==i])
    print(df.loc[df["User ID"]==i][["Venue ID"]].duplicated().any())

In [ ]:
df[df.duplicated(subset=['User ID','Venue ID'], keep=False)]

In [ ]:
df.groupby('User ID').filter(lambda x: len(x['Venue ID'].unique()) > 1)

In [ ]:
df.groupby('User ID').filter(lambda x: len(x['Venue ID'].duplicated()))

In [ ]:
pd.concat(g for _, g in df.groupby("ID") if len(g) > 1)

'Cosmetics Shop' 'Ramen /  Noodle House' 'Convenience Store'
 'Food & Drink Shop' 'Housing Development' 'Furniture / Home Store'
 'Train Station' 'Other Great Outdoors' 'Airport' 'Bus Station' 'Bridge'
 'Road' 'Subway' 'Park' 'Post Office' 'Light Rail' 'Shrine'
 'Fast Food Restaurant' 'University' 'Government Building' 'Restaurant'
 'Caf√©' 'Gym / Fitness Center' 'Candy Store' 'Mall' 'Home (private)'
 'Other Nightlife' 'Coffee Shop' 'Office' 'Japanese Restaurant'
 'Fried Chicken Joint' 'Bar' 'Toy / Game Store' 'Building'
 'Scenic Lookout' 'Flower Shop' 'Miscellaneous Shop' 'Video Store'
 'College Academic Building' 'Student Center' 'Internet Cafe'
 'Medical Center' 'Event Space' 'Smoke Shop' 'History Museum'
 'Movie Theater' 'School' 'Parking' 'Bakery' 'Pool'
 'General College & University' 'Temple' 'Burger Joint' 'Historic Site'
 'Electronics Store' 'Garden' 'Department Store' 'Spiritual Center'
 'Art Gallery' 'Sandwich Place' 'Convention Center' 'Automotive Shop'
 'Plaza' 'Mobile Phone Shop' 'Taxi' 'General Entertainment' 'Playground'
 'Sculpture Garden' 'Arts & Crafts Store' 'Stadium' 'High School'
 'Shop & Service' 'Bookstore' 'Music Venue' 'French Restaurant'
 'Clothing Store' 'Chinese Restaurant' 'Korean Restaurant' 'Museum'
 'Asian Restaurant' 'Italian Restaurant' 'Steakhouse' 'Indian Restaurant'
 'Factory' 'Neighborhood' 'Library' 'Bank' 'Sushi Restaurant'
 'Deli / Bodega' 'Dumpling Restaurant' 'Hobby Shop' 'BBQ Joint' 'Food'
 'Church' 'Thai Restaurant' 'Trade School' 'Salon / Barbershop' 'Tea Room'
 'Food Truck' 'Diner' 'Arcade' 'Drugstore / Pharmacy' 'Hotel' 'Gift Shop'
 'Bike Shop' 'Concert Hall' 'Art Museum' 'General Travel' 'Spa / Massage'
 'Camera Store' 'Soup Place' 'Music Store' 'Recycling Facility'
 'Bowling Alley' 'Record Shop' 'Donut Shop' 'Cemetery' 'Ferry'
 'Dessert Shop' 'Sporting Goods Shop' 'Snack Place' 'Gas Station / Garage'
 'Hardware Store' 'Outdoors & Recreation' 'Laundry Service'
 'Residential Building (Apartment / Condo)' 'Science Museum'
 'Seafood Restaurant' 'Gaming Cafe' 'Paper / Office Supplies Store'
 'Aquarium' 'Community College' 'River' 'American Restaurant'
 'Video Game Store' 'Beer Garden' 'Theater' 'Eastern European Restaurant'
 'Athletic & Sport' 'Financial or Legal Service' 'Caribbean Restaurant'
 'Spanish Restaurant' 'Pet Store' 'Nursery School' 'Military Base'
 'Garden Center' 'Comedy Club' 'Pizza Place' 'Nightlife Spot' 'Pool Hall'
 'Elementary School' 'Brewery' 'Vegetarian / Vegan Restaurant'
 'German Restaurant' 'Travel & Transport' 'Rest Area'
 'Vietnamese Restaurant' 'Embassy / Consulate' 'Performing Arts Venue'
 'Zoo' 'Racetrack' 'Funeral Home' 'Car Dealership' 'Harbor / Marina'
 'Thrift / Vintage Store' 'Casino' 'Swiss Restaurant' 'College Stadium'
 'Campground' 'Antique Shop' 'Professional & Other Places'
 'College Theater' 'Ice Cream Shop' 'Wings Joint' 'Rental Car Location'
 'Dim Sum Restaurant' 'Tapas Restaurant' 'Bike Rental / Bike Share'
 'Bagel Shop' 'Board Shop' 'Design Studio' 'Middle School' 'Cupcake Shop'
 'Mexican Restaurant' 'Turkish Restaurant' 'Mediterranean Restaurant'
 'Jewelry Store' 'Sorority House' 'Latin American Restaurant' 'Gastropub'
 'Arts & Entertainment' 'Travel Lounge' 'Flea Market' 'Winery'
 'Law School' 'Brazilian Restaurant' 'Breakfast Spot' 'Hot Dog Joint'
 'College & University' 'Motorcycle Shop' 'Beach' 'Bridal Shop'
 'Ethiopian Restaurant' 'Middle Eastern Restaurant' 'Mosque'
 'Medical School' 'Salad Place' 'Moving Target' 'Australian Restaurant'
 'Taco Place' 'Nail Salon' 'Peruvian Restaurant' 'Car Wash' 'Planetarium'
 'Synagogue' 'Moroccan Restaurant' 'Storage Facility' 'Fish & Chips Shop'
 'Cuban Restaurant' 'Newsstand' 'Photography Lab' 'Mac & Cheese Joint'
 'Distillery' 'Fair' 'Burrito Place' 'Animal Shelter'
 'Portuguese Restaurant' 'Scandinavian Restaurant' 'Public Art'
 'Fraternity House' 'Castle' 'African Restaurant' 'Malaysian Restaurant'
 'City' 'Music School' 'Southern / Soul Food Restaurant' 'Ski Area'
 'Argentinian Restaurant' 'Cajun / Creole Restaurant'
 'South American Restaurant' 'Tanning Salon' 'Arepa Restaurant'
 'Gluten-free Restaurant' 'Pet Service' 'Afghan Restaurant' 'Market'
 'Falafel Restaurant'