In [5]:
import numpy as np
import pandas as pd
from ast import literal_eval

In [8]:
df = pd.read_csv('fatal_only.txt', sep = '\t')

In [9]:
df['Incident'].nunique()

762

FITM- Freeway Incident Traffic Management Plans (FITM) 

SHA- State Highway Administration

CHART- Coordinated Highways Action Response Team.

In [10]:
df

,Incident,Event,Time
0,MDOT_CHART_00000000000000000000000000000006,Incident start,2010-07-21 16:35:20-04
1,MDOT_CHART_00000000000000000000000000000006,CHART Unit 9306 responded,2010-07-21 16:35:30-04
2,MDOT_CHART_00000000000000000000000000000006,CHART Unit 9300 responded,2010-07-21 16:44:10-04
3,MDOT_CHART_00000000000000000000000000000006,Arrow Board responded,2010-07-21 16:44:39-04
4,MDOT_CHART_00000000000000000000000000000006,State Police responded,2010-07-21 16:44:39-04
...,...,...,...
16759,MDOT_CHART_ffff9e3aac3105eb004d822e33235daa,Investigation-accident notified,2011-06-05 04:44:29-04
16760,MDOT_CHART_ffff9e3aac3105eb004d822e33235daa,Arrow Board arrived,2011-06-05 04:44:36-04
16761,MDOT_CHART_ffff9e3aac3105eb004d822e33235daa,Medical Examiner arrived,2011-06-05 04:44:36-04
16762,MDOT_CHART_ffff9e3aac3105eb004d822e33235daa,SHA 3404 departed,2011-06-05 08:30:45-04
16763,MDOT_CHART_ffff9e3aac3105eb004d822e33235daa,Incident closed,2011-06-05 08:31:56-04

In [11]:
df['Time']= pd.to_datetime(df['Time'])

In [ ]:
df.to_csv('high',index=False)

In [ ]:
a= df['Event'].value_counts()
x = pd.DataFrame(a)
y = x.loc[x['Event'] <100]

In [ ]:
y

Aggregating CHART actions by removing specefic unit number.

In [24]:
df.Event.replace(r'(CHART.+responded)' , 'CHART Unit responded', regex=True, inplace=True)
df.Event.replace(r'(CHART.+notified)' , 'CHART Unit notified', regex=True, inplace=True)
df.Event.replace(r'(CHART.+departed)' , 'CHART Unit departed', regex=True, inplace=True)
df.Event.replace(r'(CHART.+arrived)' , 'CHART Unit arrived', regex=True, inplace=True)
df.Event.replace(r'(CHART.+removed)' , 'CHART Unit removed', regex=True, inplace=True)
df.Event.replace(r'(SHA.+departed)' , 'SHA departed', regex=True, inplace=True)
df.Event.replace(r'(SHA.+notified)' , 'SHA notified', regex=True, inplace=True)
df.Event.replace(r'(SHA.+responded)' , 'SHA responded', regex=True, inplace=True)
df.Event.replace(r'(SHA.+arrived)' , 'SHA arrived', regex=True, inplace=True)
df.Event.replace(r'(.+Arrowboard.+notified)' , 'Arrow board notified', regex=True, inplace=True)
df.Event.replace(r'(.+Arrowboard.+responded)' , 'Arrow board responded', regex=True, inplace=True)
df.Event.replace(r'(.+Arrowboard.+departed)' , 'Arrow board departed', regex=True, inplace=True)
df.Event.replace(r'(\d{4}.+departed)' , 'SHA departed', regex=True, inplace=True)
df.Event.replace(r'(\d{4}.+notified)' , 'SHA notified', regex=True, inplace=True)
df.Event.replace(r'(\d{4}.+arrived)' , 'SHA arrived', regex=True, inplace=True)
df.Event.replace(r'(Cones.+arrived)' , 'Cones arrived', regex=True, inplace=True)
df.Event.replace(r'(Cones.+departed)' , 'Cones departed', regex=True, inplace=True)
df.Event.replace(r'(Cones.+notified)' , 'Cones notified', regex=True, inplace=True)

Removing any Incident that happened just once.

In [25]:
df = df[df.duplicated('Event', keep=False)]

In [26]:
df

,Incident,Event,Time
0,MDOT_CHART_00000000000000000000000000000006,Incident start,2010-07-21 16:35:20-04:00
1,MDOT_CHART_00000000000000000000000000000006,CHART Unit responded,2010-07-21 16:35:30-04:00
2,MDOT_CHART_00000000000000000000000000000006,CHART Unit responded,2010-07-21 16:44:10-04:00
3,MDOT_CHART_00000000000000000000000000000006,Arrow Board responded,2010-07-21 16:44:39-04:00
4,MDOT_CHART_00000000000000000000000000000006,State Police responded,2010-07-21 16:44:39-04:00
...,...,...,...
16759,MDOT_CHART_ffff9e3aac3105eb004d822e33235daa,Investigation-accident notified,2011-06-05 04:44:29-04:00
16760,MDOT_CHART_ffff9e3aac3105eb004d822e33235daa,Arrow Board arrived,2011-06-05 04:44:36-04:00
16761,MDOT_CHART_ffff9e3aac3105eb004d822e33235daa,Medical Examiner arrived,2011-06-05 04:44:36-04:00
16762,MDOT_CHART_ffff9e3aac3105eb004d822e33235daa,SHA departed,2011-06-05 08:30:45-04:00
16763,MDOT_CHART_ffff9e3aac3105eb004d822e33235daa,Incident closed,2011-06-05 08:31:56-04:00

In [27]:
df.to_csv('cleaned.txt',index=False,header=False,sep="\t")

Looking at the most commonly occuring events

In [ ]:
a= df['Event'].value_counts()
x = pd.DataFrame(a)
y = x.loc[x['Event'] >200] #Change number of instances two see occurence of events

In [ ]:
y.reset_index(level=0, inplace=True)
x.reset_index(level=0, inplace=True)

In [ ]:
y.plot(kind='bar',x= 'index',y='Event')

Making a Data Frame with just the time taken to deal with an incident

In [ ]:
df1 = df[(df['Event'] == 'Incident start') | (df['Event'] == 'Incident closed')]
df1 = df1.groupby('Incident').apply(
        lambda g: pd.Series(g['Time'].values))
df1['Time'] = (pd.to_datetime(df1[1]) - pd.to_datetime(df1[0]))
df1.reset_index(level=0, inplace=True)
df1.columns = ['Incident', 'Start', 'Close', 'Time']

In [ ]:
df1.head(1)

The following dataset has the count of unique events for each incident. Will use this to count average occurence of any event in an incident.

In [ ]:
df_avg= pd.DataFrame()
for g, temp in df.groupby('Incident'):
    et= temp['Event'].value_counts()
    df2= pd.DataFrame(et)
    df2['I']=g
    df_avg = df_avg.append(df2)
    a=a+1
    
df_avg.reset_index(level=0, inplace=True)

In [ ]:
df_avg= df_avg.groupby('index', as_index=False)['Event'].sum()
df_avg = pd.DataFrame(df_avg)
df_avg = df_avg.sort_values(by=['Event'], ascending=False)

In [ ]:
df_avg['Event']= df_avg['Event']/762

In [ ]:
df_avg.head(5)

In [ ]:
freq_100 = df_avg.loc[df_avg['Event'] >0.2]

In [ ]:
freq_100